<div class="header-breadcrumbs">
    <h1 id="manage-wallets"><i class="fa fa-briefcase"></i> <span mltag="txt_managewallets">Manage Wallets</span></h1>
</div>

<div class="wrapper wrapper-content">

    <clr-tabs *ngIf="tabsControl.length">
        <clr-tab *ngFor="let tabdata of tabsControl; let id = index">
            <button clrTabLink id="wallet-tab-{{id}}" [routerLink]="['/user-administration/wallets', id]"><i
                class="fa {{tabdata.title.icon}}"></i> {{tabdata.title.text}}
            </button>
            <clr-tab-content *clrIfActive="tabdata.active">
                <!-- Wallet list tab. -->
                <ng-container *ngIf="id === 0">
                    <ng-container *ngTemplateOutlet="staticWalletListTab">
                    </ng-container>
                </ng-container>

                <!-- Wallet add tab. -->
                <ng-container *ngIf="id === 1">
                    <ng-container *ngTemplateOutlet="staticWalletAddTab; context: {'formControl': tabdata.formControl, 'tabid': id}">
                    </ng-container>
                </ng-container>

                <!-- Wallet edit tabs. -->
                <ng-container *ngIf="id >= 2">
                    <ng-container *ngTemplateOutlet="dynamicEditTab; context: {'formControl': tabdata.formControl, 'tabid': id}">
                    </ng-container>
                </ng-container>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>

    <!-- Wallet Data Table. -->
    <ng-template #staticWalletListTab>
        <div class="panel-body">

            <clr-datagrid #walletDataGrid>
                <clr-dg-column mltag="txt_walletname">Wallet Name</clr-dg-column>
                <clr-dg-column mltag="txt_account">Account</clr-dg-column>
                <clr-dg-column mltag="txt_wallettype">Wallet Type</clr-dg-column>
                <clr-dg-column mltag="txt_walletstatus">Wallet Status</clr-dg-column>
                <clr-dg-column class="right" mltag="txt_actions">Actions</clr-dg-column>

                <clr-dg-row *clrDgItems="let wallet of walletList">
                    <clr-dg-cell>{{wallet.walletName}}</clr-dg-cell>
                    <clr-dg-cell>{{wallet.accountName}}</clr-dg-cell>
                    <clr-dg-cell>{{wallet.walletTypeName}}</clr-dg-cell>
                    <clr-dg-cell>
                        <span *ngIf="wallet.walletLocked === 0" class="label label-success" mltag="txt_unlocked">Unlocked</span>
                        <span *ngIf="wallet.walletLocked === 1" class="label label-danger"
                              mltag="txt_locked">Locked</span>
                    </clr-dg-cell>
                    <clr-dg-cell class="right">
                        <button id="edit-{{wallet.walletId}}" (click)="handleEdit(wallet.index)"
                                class="btn btn-success btn-sm">
                            <i class="fa fa-pencil-square-o"></i>
                            <span mltag="txt_edit">Edit</span>
                        </button>
                        <button id="delete-{{wallet.walletId}}" (click)="handleDelete(wallet.index)"
                                class="btn btn-danger btn-sm">
                            <i class="fa fa-trash-o"></i>
                            <span mltag="txt_delete">Delete</span>
                        </button>
                    </clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>
                    <div rowsPerPage="10" (rowsUpdate)="pageSize = $event"></div>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    <clr-dg-pagination #pagination [clrDgPageSize]="pageSize"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </div>
    </ng-template>

    <!-- User Add Form. -->
    <ng-template #staticWalletAddTab let-formControl="formControl" let-tabid="tabid">
        <div class="user-tab-panel-body panel-body">
            <form id="new-wallet-form" (ngSubmit)="handleNewWallet(tabid)" [formGroup]="formControl">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" mltag="txt_walletname">Wallet Name</label>
                            <input id="new-wallet-name" type="text" formControlName="walletName"
                                   placeholder="Wallet name" class="form-control walletname" mltag="txt_walletname">
                            <div *ngIf="formControl.controls.walletName.hasError('required') && formControl.controls.walletName.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field">Account</label>
                            <ng-select
                                id="new-wallet-account-select"
                                [items]="accountTypes"
                                [allowClear]="true"
                                placeholder="Select Type"
                                [formControl]="formControl.controls['walletAccount']"
                                mltag="txt_selecttype">
                            </ng-select>
                            <div *ngIf="formControl.controls.walletAccount.hasError('required') && formControl.controls.walletAccount.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" mltag="txt_accounttype">Account type</label>
                            <ng-select
                                id="new-wallet-usertype-select"
                                [items]="walletTypes"
                                [allowClear]="true"
                                placeholder="Select Type"
                                [formControl]="formControl.controls['walletType']"
                                mltag="txt_selecttype">
                            </ng-select>
                            <div *ngIf="formControl.controls.walletType.hasError('required') && formControl.controls.walletType.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                        </div>

                        <div class="form-group col-sm-12" *ngIf="formControl.controls.walletType.value && formControl.controls.walletType.value.length">
                            <div [ngSwitch]="formControl.value.walletType[0].id">
                                <ng-container *ngSwitchCase="'1'">
                                    <ng-container
                                        *ngTemplateOutlet="walletMetaLegal; context: {'formControl': formControl, 'tabid': tabid}"></ng-container>
                                </ng-container>

                                <ng-container *ngSwitchCase="'2'">
                                    <ng-container
                                        *ngTemplateOutlet="walletMetaIndividual; context: {'formControl': formControl, 'tabid': tabid}"></ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="form-group button-group">
                        <button id="new-wallet-submit" type="submit" class="btn btn-primary"
                                [disabled]="!formControl.valid">
                            <i class="fa fa-save"></i> <span mltag="txt_save">Save</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <!-- User Edit Form. -->
    <ng-template #dynamicEditTab let-formControl="formControl" let-tabid="tabid">
        <div class="user-tab-panel-body panel-body">
            <form id="edit-user{{tabid}}-form" (ngSubmit)="handleEditWallet(tabid)" [formGroup]="formControl">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" mltag="txt_walletname">Wallet Name</label>
                            <input id="new-wallet-name" type="text" formControlName="walletName"
                                   placeholder="Wallet name" class="form-control walletname" mltag="txt_walletname">
                            <div *ngIf="formControl.controls.walletName.hasError('required') && formControl.controls.walletName.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" mltag="txt_account">Account</label>
                            <ng-select
                                id="new-wallet-account-select"
                                [items]="accountTypes"
                                [allowClear]="true"
                                placeholder="Select Type"
                                [formControl]="formControl.controls['walletAccount']"
                                mltag="txt_selecttype">
                            </ng-select>
                            <div *ngIf="formControl.controls.walletAccount.hasError('required') && formControl.controls.walletAccount.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label" mltag="txt_walletstatus">Wallet Status</label>
                            <div class="locked-toggle">
                                <span *ngIf="!formControl.value.walletLocked" (click)="formControl.value.walletLocked = 1">
                                    <i class="fa fa-unlock"></i>
                                </span>
                                <span *ngIf="formControl.value.walletLocked" (click)="formControl.value.walletLocked = 0">
                                    <i class="fa fa-lock"></i>
                                </span>

                                <div class="toggle-switch">
                                    <input [formControl]="formControl.controls['walletLocked']"
                                           id="edit-wallet-status-toggle"
                                           type="checkbox"
                                           [checked]="formControl.value.walletLocked">
                                    <label for="edit-wallet-status-toggle"></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" mltag="txt_wallettype">Wallet Type</label>
                            <ng-select
                                id="new-wallet-usertype-select"
                                [items]="walletTypes"
                                [allowClear]="true"
                                placeholder="Select Type"
                                [formControl]="formControl.controls['walletType']"
                                mltag="txt_selecttype">
                            </ng-select>
                            <div *ngIf="formControl.controls.walletType.hasError('required') && formControl.controls.walletType.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                        </div>

                        <div class="form-group col-sm-12" *ngIf="formControl.controls.walletType.value && formControl.controls.walletType.value.length">
                            <div [ngSwitch]="formControl.value.walletType[0].id">
                                <ng-container *ngSwitchCase="'1'">
                                    <ng-container
                                        *ngTemplateOutlet="walletMetaLegal; context: {'formControl': formControl, 'tabid': tabid}"></ng-container>
                                </ng-container>

                                <ng-container *ngSwitchCase="'2'">
                                    <ng-container
                                        *ngTemplateOutlet="walletMetaIndividual; context: {'formControl': formControl, 'tabid': tabid}"></ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="form-group button-group">
                        <button id="new-wallet-submit" type="submit" class="btn btn-primary"
                                [disabled]="!formControl.valid">
                            <i class="fa fa-save"></i> <span mltag="txt_save">Save</span>
                        </button>

                        <a (click)="closeTab(tabid)" class="btn btn-secondary" mltag="txt_close">
                            Close
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <!-- This nested tab set cannot be directly inside the main one :( -->
    <ng-template #walletMetaLegal let-formControl="formControl" let-tabid="tabid">
        <clr-tabs>
            <clr-tab>
                <a clrTabLink><i class="fa fa-users"></i> <span mltag="txt_basic">Basic</span></a>
                <clr-tab-content *clrIfActive="true">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_lei">LEI</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-lei" type="text"
                                               [formControl]="formControl.controls['walletLei']"
                                               placeholder="LEI"
                                               class="form-control wallet-lei"
                                               mltag="txt_lei">
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_uniqueidentifier">Unique Identifier</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-uid" type="text"
                                               [formControl]="formControl.controls['walletUid']"
                                               placeholder="UID"
                                               class="form-control wallet-uid"
                                               mltag="txt_uid">
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_websiteurl">Website Url</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-weburl" type="text"
                                               [formControl]="formControl.controls['walletWebUrl']"
                                               placeholder="Website Url"
                                               class="form-control wallet-weburl"
                                               mltag="txt_websiteurl">
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label required-field">
                                        <span mltag="txt_incorporationdate">Incorporation Date</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="fa fa-calendar" aria-hidden="true"></span>
                                        <input type="text" id="new-wallet-incdate" autocomplete="off"
                                               [formControl]="formControl.controls['walletIncDate']"
                                               [dpDayPicker]="configFiltersDate"
                                               placeholder="Incorporation Date"
                                               mode="day"
                                               theme="dp-material"/>
                                        <div *ngIf="formControl.controls.walletIncDate.hasError('pattern') && formControl.controls.walletIncDate.touched"
                                             class="field-error">Invalid date. Format must be YYYY-MM-DD.
                                        </div>
                                        <div *ngIf="formControl.controls.walletIncDate.hasError('required') && formControl.controls.walletIncDate.touched"
                                             class="field-error" mltag="txt_thisfieldisrequired">This field is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </clr-tab-content>
            </clr-tab>

            <clr-tab>
                <a clrTabLink><i class="fa fa-users"></i>
                    <span mltag="txt_correspondenceaddress">Correspondence Address</span></a>
                <clr-tab-content *clrIfActive>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_country">Country</span>
                                    </label>
                                    <div>
                                        <ng-select
                                            [items]="countriesList"
                                            [allowClear]="true"
                                            [formControl]="formControl.controls['walletAddrCountry']">
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_addressprefix">Address Prefix</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-address-prefix" type="text"
                                               [formControl]="formControl.controls['walletAddrPrefix']"
                                               placeholder="Address Prefix"
                                               class="form-control wallet-addr-prefix"
                                               mltag="txt_addressprefix">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_postaladdress">Postal Address</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-address1" type="text"
                                               [formControl]="formControl.controls['walletAddr1']"
                                               placeholder="Line 1"
                                               class="form-control wallet-addr1"
                                               mltag="txt_line1">
                                    </div>
                                    <div>
                                        <input id="new-wallet-address2" type="text"
                                               [formControl]="formControl.controls['walletAddr2']"
                                               placeholder="Line 2"
                                               class="form-control wallet-addr2"
                                               mltag="txt_line2">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_cityortown">City or Town</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-address3" type="text"
                                               [formControl]="formControl.controls['walletAddr3']"
                                               placeholder="City or Town"
                                               class="form-control wallet-addr3"
                                               mltag="txt_cityortown">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_stateorarea">State or Area</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-address4" type="text"
                                               [formControl]="formControl.controls['walletAddr4']"
                                               placeholder="State or Area"
                                               class="form-control wallet-addr4"
                                               mltag="txt_stateorarea">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_postcode">Post code</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-postcode" type="text"
                                               [formControl]="formControl.controls['walletAddrPostcode']"
                                               placeholder="Post code"
                                               class="form-control wallet-postcode"
                                               mltag="txt_postcode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </clr-tab-content>
            </clr-tab>
        </clr-tabs>
    </ng-template>

    <!-- This nested tab set cannot be directly inside the main one :( -->
    <ng-template #walletMetaIndividual let-formControl="formControl" let-tabid="tabid">
        <clr-tabs>
            <clr-tab>
                <a clrTabLink><i class="fa fa-users"></i> <span mltag="txt_basic">Basic</span></a>
                <clr-tab-content *clrIfActive="true">
                    <div class="panel-body">
                        <div class="form-group col-sm-12">
                            <label class="control-label">
                                <span mltag="txt_aliases">Aliases</span>
                            </label>
                            <div>
                                <input id="new-wallet-aliases" type="text"
                                       [formControl]="formControl.controls['aliases']"
                                       placeholder="Aliases"
                                       class="form-control wallet-aliases"
                                       mltag="txt_aliases">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label">
                                <span mltag="txt_formername">Former Name</span>
                            </label>
                            <div>
                                <input id="new-wallet-formerName" type="text"
                                       [formControl]="formControl.controls['formerName']"
                                       placeholder="Former Name"
                                       class="form-control wallet-formername"
                                       mltag="txt_formername">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label">
                                <span mltag="txt_idcardnumber">ID Card Number</span>
                            </label>
                            <div>
                                <input id="new-wallet-idCardNum" type="text"
                                       [formControl]="formControl.controls['idCardNum']"
                                       placeholder="ID Card Number"
                                       class="form-control wallet-idcardnum"
                                       mltag="txt_idcardnumber">
                            </div>
                        </div>
                    </div>
                </clr-tab-content>
            </clr-tab>

            <clr-tab>
                <a clrTabLink><i class="fa fa-map-marker"></i>
                    <span mltag="txt_residentialaddress">Residential Address</span></a>
                <clr-tab-content *clrIfActive>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_country">Country</span>
                                    </label>
                                    <div>
                                        <ng-select
                                            [items]="countriesList"
                                            [allowClear]="true"
                                            [formControl]="formControl.controls['rdaAddrCountry']">
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_addressprefix">Address Prefix</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-rda-address-prefix" type="text"
                                               [formControl]="formControl.controls['rdaAddrPrefix']"
                                               placeholder="Address Prefix"
                                               class="form-control rda-addr-prefix"
                                               mltag="txt_addressprefix">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_postaladdress">Postal Address</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-rda-address1" type="text"
                                               [formControl]="formControl.controls['rdaAddr1']"
                                               placeholder="Line 1"
                                               class="form-control rda-addr1"
                                               mltag="txt_line1">
                                    </div>
                                    <div>
                                        <input id="new-wallet-rda-address2" type="text"
                                               [formControl]="formControl.controls['rdaAddr2']"
                                               placeholder="Line 2"
                                               class="form-control rda-addr2"
                                               mltag="txt_line2">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_cityortown">City or Town</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-rda-address3" type="text"
                                               [formControl]="formControl.controls['rdaAddr3']"
                                               placeholder="City or Town"
                                               class="form-control rda-addr3"
                                               mltag="txt_cityortown">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_stateorarea">State or Area</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-rda-address4" type="text"
                                               [formControl]="formControl.controls['rdaAddr4']"
                                               placeholder="State or Area"
                                               class="form-control rda-addr4"
                                               mltag="txt_stateorarea">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_postcode">Post code</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-rda-postcode" type="text"
                                               [formControl]="formControl.controls['rdaAddrPostcode']"
                                               placeholder="Post code"
                                               class="form-control rda-addr-postcode"
                                               mltag="txt_postcode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </clr-tab-content>
            </clr-tab>

            <clr-tab>
                <a clrTabLink><i class="fa fa-map-marker"></i>
                    <span mltag="txt_correspondenceaddress">Correspondence Address</span></a>
                <clr-tab-content *clrIfActive>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div *ngIf="tabsControl[tabid].walletId == -1" class="form-group col-sm-12">
                                    <label>
                                        <span mltag="txt_sameasresidentialaddress">Same as Residential address</span>
                                        <input type="checkbox" [formControl]="formControl.controls['caSame']">
                                    </label>
                                </div>
                            </div>
                            <div class="row" [ngClass]="{'disabled-row': formControl.value.caSame}">
                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_country">Country</span>
                                    </label>
                                    <div>
                                        <ng-select
                                            [items]="countriesList"
                                            [allowClear]="true"
                                            [formControl]="formControl.controls['caAddrCountry']">
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_addressprefix">Address Prefix</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-ca-address-prefix" type="text"
                                               [formControl]="formControl.controls['caAddrPrefix']"
                                               placeholder="Address Prefix"
                                               class="form-control ca-addr-prefix"
                                               mltag="txt_addressprefix">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_postaladdress">Postal Address</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-ca-address1" type="text"
                                               [formControl]="formControl.controls['caAddr1']"
                                               placeholder="Line 1"
                                               class="form-control ca-addr1"
                                               mltag="txt_line1">
                                    </div>
                                    <div>
                                        <input id="new-wallet-ca-address2" type="text"
                                               [formControl]="formControl.controls['caAddr2']"
                                               placeholder="Line 2"
                                               class="form-control ca-addr2"
                                               mltag="txt_line2">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_cityortown">City or Town</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-ca-address3" type="text"
                                               [formControl]="formControl.controls['caAddr3']"
                                               placeholder="City or Town"
                                               class="form-control ca-addr3"
                                               mltag="txt_cityortown">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_stateorarea">State or Area</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-ca-address4" type="text"
                                               [formControl]="formControl.controls['caAddr4']"
                                               placeholder="State or Area"
                                               class="form-control ca-addr4"
                                               mltag="txt_stateorarea">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_postcode">Post code</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-ca-postcode" type="text"
                                               [formControl]="formControl.controls['caAddrPostcode']"
                                               placeholder="Post code"
                                               class="form-control ca-addr-postcode"
                                               mltag="txt_postcode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </clr-tab-content>
            </clr-tab>

            <clr-tab>
                <a clrTabLink><i class="fa fa-chain"></i>
                    <span mltag="txt_settlementdetail">Settlement Detail</span></a>
                <clr-tab-content *clrIfActive>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_bankwallet">Bank Wallet</span>
                                    </label>
                                    <div>
                                        <ng-select
                                            [items]="filteredWalletList"
                                            [allowClear]="true"
                                            [formControl]="formControl.controls['bankWalletId']">
                                        </ng-select>
                                        <!-- <input id="new-wallet-bank-wallet-id" type="text" [formControl]="formControl.controls['bankWalletId']" placeholder="Bank wallet" class="form-control wallet-bank-wallet-id" mltag="txt_bankwallet"> -->
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_bankname">Bank Name</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-bank-name" type="text"
                                               [formControl]="formControl.controls['bankName']"
                                               placeholder="Bank name"
                                               class="form-control wallet-bank-name"
                                               mltag="txt_bankname">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_iban">IBAN</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-bank-iban" type="text"
                                               [formControl]="formControl.controls['bankIBAN']"
                                               placeholder="IBAN"
                                               class="form-control wallet-bank-iban"
                                               mltag="txt_iban">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_bankbiccode">Bank BIC Code</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-bank-bic-code" type="text"
                                               [formControl]="formControl.controls['bankBICcode']"
                                               placeholder="BIC code"
                                               class="form-control wallet-bank-bic-code"
                                               mltag="txt_biccode">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_bankaccountname">Bank Account Name</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-bank-account-name" type="text"
                                               [formControl]="formControl.controls['bankAccountName']"
                                               placeholder="Bank Account name"
                                               class="form-control wallet-bank-account-name"
                                               mltag="txt_bankaccountname">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_bankaccountnumber">Bank Account Number</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-bank-account-num" type="text"
                                               [formControl]="formControl.controls['bankAccountNum']"
                                               placeholder="Bank Account number"
                                               class="form-control wallet-bank-account-num"
                                               mltag="txt_bankaccountnumber">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_country">Country</span>
                                    </label>
                                    <div>
                                        <ng-select
                                            [items]="countriesList"
                                            [allowClear]="true"
                                            [formControl]="formControl.controls['bdAddrCountry']">
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_addressprefix">Address Prefix</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-bd-address-prefix" type="text"
                                               [formControl]="formControl.controls['bdAddrPrefix']"
                                               placeholder="Address Prefix"
                                               class="form-control bd-addr-prefix"
                                               mltag="txt_addressprefix">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_postaladdress">Postal Address</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-bd-address1" type="text"
                                               [formControl]="formControl.controls['bdAddr1']"
                                               placeholder="Line 1"
                                               class="form-control bd-addr1"
                                               mltag="txt_line1">
                                    </div>
                                    <div>
                                        <input id="new-wallet-bd-address2" type="text"
                                               [formControl]="formControl.controls['bdAddr2']"
                                               placeholder="Line 2"
                                               class="form-control bd-addr2"
                                               mltag="txt_line2">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_cityortown">City or Town</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-bd-address3" type="text"
                                               [formControl]="formControl.controls['bdAddr3']"
                                               placeholder="City or Town"
                                               class="form-control bd-addr3"
                                               mltag="txt_cityortown">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_stateorarea">State or Area</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-bd-address4" type="text"
                                               [formControl]="formControl.controls['bdAddr4']"
                                               placeholder="State or Area"
                                               class="form-control bd-addr4"
                                               mltag="txt_stateorarea">
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label class="control-label">
                                        <span mltag="txt_postcode">Post code</span>
                                    </label>
                                    <div>
                                        <input id="new-wallet-bd-postcode" type="text"
                                               [formControl]="formControl.controls['bdAddrPostcode']"
                                               placeholder="Post code"
                                               class="form-control bd-addr-postcode"
                                               mltag="txt_postcode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </clr-tab-content>
            </clr-tab>
        </clr-tabs>
    </ng-template>
</div>
