/*.wallet-status .toggle-switch,
.wallet-status > span {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-top: 10px;
}

.wallet-status .toggle-switch input[type='checkbox'] {
    width: 0;
    height: 0;
}

.wallet-status > span {
    margin-top: 5px;
    margin-left: 0;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 39px;
}

.wallet-status > span i {
    font-size: 18px;
}

.wallet-status > span i.fa-unlock {
    color: #62a420;
}

.wallet-status > span i.fa-lock {
    color: #747474;
}*/

.disabled-row {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    opacity: .4;
}
