.logo-wrap img {
    width: 75%;
    margin-top: 50px;
}

.login-container {
    width: 30%;
    margin: 20px auto 0;
    text-align: center;
    max-width: 360px;
}

.login-inner-wrapper {
    background-color: white;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 3px;
    padding: 50px 30px 30px;
    margin-top: 30px;

    p {
        margin-bottom: 20px;
        margin-top: 0;
    }

    .error-msg {
        display: block;
        width: 100%;
    }
}

.login-subheading {
    font-size: 26px;
    font-weight: 300;
}

.text-grey {
    color: #787878;
    font-weight: bold;
}

form .form-group, .form .form-group {
    padding-left: 0;

}

form .form-group > label:not(:first-child), form .form-group > span:not(:first-child),
form .form-group > input[type=text], form .form-group input[type=password], form .form-group input[type=number],
form .form-group input[type=email], form .form-group input[type=url], form .form-group input[type=tel],
form .form-group input[type=date], form .form-group input[type=time], form .form-group input[type=datetime-local],
form .form-group > .tooltip-validation, form .form-group > .select, form .form-group > .checkbox-inline,
form .form-group > .radio-inline, form .form-group > button, form .form-group > a, form
.form-group > input[type=button], form .form-group input[type=submit], form .form-group >
.btn, .form .form-group > label:not(:first-child), .form .form-group > span:not(:first-child),
.form .form-group > input[type=text], .form .form-group input[type=password],
.form .form-group input[type=number], .form .form-group input[type=email],
.form .form-group input[type=url], .form .form-group input[type=tel],
.form .form-group input[type=date], .form .form-group input[type=time],
.form .form-group input[type=datetime-local], .form .form-group > .tooltip-validation, .form .form-group > .select,
.form .form-group > .checkbox-inline, .form .form-group > .radio-inline, .form .form-group > button,
.form .form-group > a, .form .form-group > input[type=button], .form .form-group input[type=submit],
.form .form-group > .btn {
    margin-right: 0;
}

form .form-group input[type=text].error, form .form-group input[type=password].error {
    border: 1px solid #ebafa6;
}

/**
Small screen, portrait
 */
@media only screen and (max-width: 500px) {
    .login-container {
        width: 80%;
    }
}

/**
Small screen, landscape
 */
@media only screen and (max-width: 800px) {
    .login-container {
        width: 60%;
    }
}

#signup-submit {
    width: 100%;
    margin: 0 auto;
}

.toggle-parent{
    position: relative;

    .toggle-password {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 18px;
        line-height: 2em;
        color: grey;
        cursor: pointer;
    }
}