
.btn {
    padding-left: 18px;
    padding-right: 18px;
}

.btn.btn-orange {
    background-color: #ffb100;
    color: #fff;
    border-color: #ffb100;
}

.btn.btn-sm {
    line-height: calc(1rem - 1px);
    letter-spacing: 0px;
    font-size: 11px;
    font-weight: normal;
    height: 1rem;
    margin: 0px;
    padding: 0px;
    padding-left: 12px;
    padding-right: 12px;
}

clr-dg-cell .btn-danger {
    border-color: rgba(230, 39, 0, 0.75) !important;
    background-color: rgba(230, 39, 0, 0.15) !important;
    color: #c10e0e !important;
}

clr-dg-cell .btn-success {
    border-color: #62a420 !important;
    background-color: rgba(98, 164, 32, 0.20) !important;
    color: #437b0a !important;
}

clr-dg-cell .btn-orange {
    background-color: rgba(255, 177, 0, 0.18) !important;
    color: #d48506 !important;
    border-color: #ffb100 !important;
}

clr-dg-cell .btn-primary {
    border-color: #6BC6FA !important;
    background-color: rgba(107, 198, 250, 0.21) !important;
    color: #38a2de !important;
}
