.content-area {
    form, .form {
        input[type] {
            width: 95%;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .form-group textarea.form-control {
            min-height: 80px;
            width: 95%;
        }

        input[type='checkbox'] {
            // This fixes checkboxes in forms.
            width: auto;
            height: auto !important;
            display: inline-block;
        }
    }
}

form, .form {

    padding: 10px;

    .btn-secondary .btn:hover {
        border: 0px solid white !important;
        background: white;
    }

    .form-group, .form-group.row {

        padding-left: 0px;
        margin-bottom: 10px;

        // remove span here, see how it go
        // label, span {
        label {
            // side labels
            &:first-child {
                text-align: left;
                font-weight: bold;
                color: #545454;
                line-height: 20px;
                position: static;
                width: 100%;
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 12px;
            }
        }

        span {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        .input-group {
            width: 95%;
        }

        .input-group.date-pick-wrapper {

            label, span {
                &:first-child {
                    //text-align: inherit;
                    font-weight: normal;
                    color: inherit;
                    line-height: inherit;
                    position: inherit;
                    width: inherit;
                    margin-bottom: inherit;
                }
            }

            span.fa {
                width: 40px;
            }
            div {
                width: inherit;
            }
            div.dp-weekdays {
                padding: 0 5px;
            }
            div.dp-calendar-week {
                padding: 0 5px;
            }

            .dp-calendar-weekday {
                &:first-child {
                    width: 30px;
                    height: 25px;
                }

                padding: 0;
                text-align: center;
                font-size: 12px;
                margin: 5px 0;

            }

            button {
                margin: 0;
            }
        }

        .ui-select-container {
            input {
                margin-top: 6px;
                width: 200px;
                height: 40px !important;
                margin-bottom: 0px;
            }
        }
        .large-select {
            .ui-select-container {
                width: 100% !important;
            }
        }

        .ui-select-toggle {
            //margin-top: 6px !important;
            height: 40px !important;
        }

        .ui-select-choices {
            margin-top: 5px;
        }

        .ui-select-placeholder, .ui-select-match-text {
            line-height: 40px !important;
            font-weight: normal !important;
            width: 90% !important;
        }

        .ui-select-container input {
            font-size: 12.5px;
            height: 40px;
        }

        div {
            width: 100%;
        }

        [class*='col-'] > {
            background: green;
            label, span {
                &.first-child {
                    line-height: 30px;
                }
            }

        }

        input[type], textarea {
            border: 1px solid #dadada;
            background: white;
            padding: 5px;
            height: 40px;
            border-radius: 3px;
            padding-left: 10px;
            padding-right: 10px;

            &:not([readonly]) {
                &:focus {
                    border-bottom: 0px solid #b9b9b9;
                    &:not(.ui-select-search) {
                        border: 1px solid #96c8f1 !important;
                    }
                }
                background: white;
            }

            &.ng-touched.ng-invalid {
                border-color: rgba(255, 0, 0, 0.5);

                ~ .field-error {
                    display: block;
                }

            }
        }

        input[type=text].error, form .form-group input[type=password].error {
            border: 1px solid rgba(255, 0, 0, 0.5);
        }

        input[readonly] {
            background-color: #f9f9f9;
        }

        .input-group {
            input[disabled] {
                background-color: #f9f9f9 !important;
            }
            .field-error {
                width: 100%;
            }
        }

        .input-group.invalid.touched {
            + .field-error {
                display: block
            }
        }

        .field-error {
            color: red;
            height: 0px;
            font-size: 12px;
            text-align: right;
            width: 95%;
            display: none;
            border: none;
            padding: 0;
            &.force-display-error {
                display: block;
            }
        }

    }

    .has-error {

        .drop-file-zone {
            border-color: red !important;
        }

        .field-error {
            display: block;
            margin-right: 0 !important;
            width: 100%;
        }

    }

    ng-select, various-address-select {
        input {
            margin-top: 0 !important;
        }
        + .field-error {
            width: 360px !important;
        }
        &.ng-touched.ng-invalid {
            .ui-select-toggle.btn-secondary, .ui-select-choices {
                border-color: rgba(255, 0, 0, 0.5) !important;
            }
            .ui-select-container[_ngcontent-c9]:hover .ui-select-choices {
                border-color: #a4c4fa !important;
            }
            + .field-error {
                display: block;
            }
        }
    }

    ng-select.multiple + .field-error {
        width: 100% !important;
    }

    various-address-select {
        width: 100%;
        input[type=text] {
            width: 360px !important;
        }
        + .field-error {
            width: 360px !important;
            margin-top: -14px !important;
        }
    }

    .button-input {
        input[type] {
            border: 1px solid #dadada;
            background: white;
            padding: 5px;
            height: 40px;
            width: 500px;
            -webkit-border-radius: 3px 0 0 3px;
            -moz-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
            padding-left: 10px;
            padding-right: 10px;
            position: relative;
            display: table;
            border-collapse: separate;
            float: left;

            &:not([readonly]) {
                &:focus {
                    border-bottom: 0px solid #b9b9b9;
                    &:not(.ui-select-search) {
                        border: 1px solid #96c8f1 !important;
                    }
                }
                background: white;
            }
        }

        .btn {
            height: 40px;
            display: table-cell;
            position: relative;
            vertical-align: middle;
            float: left;
            -webkit-border-radius: 0 3px 3px 0;
            -moz-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
            margin: 0px;

        }

        input[type=text].error, form .form-group input[type=password].error {
            border: 1px solid rgba(255, 0, 0, 0.5);
        }

        input[readonly] {
            background-color: #f9f9f9;
        }
    }

    select {
        border: 1px solid #b9b9b9;
        padding: 0 20px;
        height: 40px;
        line-height: 31px;
        border-radius: 3px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

}

.login-container form {
    input[type] {
        margin: 0 0 10px 0 !important;
        &.ng-touched.ng-invalid {
            border-color: rgba(255, 0, 0, 0.5) !important;
        }
    }
    .field-error {
        width: 100% !important;
        margin-top: -10px;
    }
}

.select {
    select {
        border: 1px solid #b9b9b9;
        padding: 0 20px;
        height: 34px;
        line-height: 31px;
        border-radius: 5px;
        @extend .animate;

        &:hover {
            background: transparent;
            border-color: #555;
        }
    }

    &::after {
        top: 13px;
    }
}

.alert {
    width: 100%;
    padding: 5px;
}

.alert-items {
    padding: 0px;
}

form various-address-select.error .form-group input[type=text] {
    border: 1px solid #ebafa6 !important;
}

/* PRODUCT MODULE */

//textarea, input[type] {width:100%;}

.tabContent {
    width: 100%;
    background: white;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #dce1eb;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-sizing: border-box;
    min-height: 450px;
}

.customTab {
    padding: 0 20px;
    height: 45px;
    font-size: 13px;
    margin-right: 1px;
    color: #a8a8a8;
    line-height: 42px;
    margin: 0 0 -1px 0;
    border-radius: 4px 4px 0 0;
    border: 1px solid #dce1eb;
    border-color: transparent;
    display: inline-block;
    cursor: pointer;
}

.customTab:hover {
    background-color: transparent;
    color: #383d48;
}

.customTabActive {
    background: white;
    color: #383d48;
    border: 1px solid #dce1eb;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.customTabActive:hover {
    background: white;
}

// horizontal
.customHTab {
    padding: 2px 10px;
    height: 45px;
    font-size: 13px;
    color: #a8a8a8;
    line-height: 42px;
    margin: 0 -1px 0 0;
    border-radius: 4px;
    border: 1px solid #dce1eb;
    border-color: transparent;
    position: relative;
    z-index: 10;
    margin-left: 1px;
    cursor: pointer;
}

.customHTab:hover {
    background-color: transparent;
    color: #383d48;
}

.customHTabActive {
    background: white;
    color: #383d48;
    border: 1px solid #dce1eb;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.customHTabActive:hover {
    background: white;
}

.mandatory {
    font-size: 1.8em;
    margin-left: 0.2em;
    display: inline;
    position: absolute;
    top: 0.15em;
}

.mandatorySelect {
    margin: -30px 0 0 375px;
}

label.required-field, .form-group.required-field label { /* new version of mandatory */
    &:after {
        color: red;
        content: "*";
        position: absolute;
        font-size: 1.5em;
        padding-left: 3px;
    }
}

/* Custom toggle ON/OFF - Clarity sucks !! */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    margin-left: 6px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

.switch > input[type='checkbox'] {
    display: none !important;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 8px;
    left: 10px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    max-height: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}

input + .slider {
    font-size: 10px;
    font-family: 'Tahoma';
    color: white;
}

input + .slider:after {
    content: 'OFF';
    padding-left: 24px;
}

input:checked + .slider:after {
    content: 'ON';
    padding-left: 7px;
}

input:checked + .slider {
    background-color: #62a420;
}

input:focus + .slider {
    box-shadow: 0 0 1px #62a420;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25px;
    width: 50px;
    line-height: 24px;
    height: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

// fix ng-select
.ngSelectFix {
    max-width: fit-content !important;
}

// fix form-group for ng2datepicker
.customFormGroup {
    display: flex;
    font-weight: bold;
    color: #545454;
    line-height: 30px;
    font-size: 13px;
    letter-spacing: normal;
    padding: 0;
    margin: 2px 0 8px 0;
}

.customFormGroup > :nth-child(2) {
    padding: 8px 9px !important;
    font-weight: normal;
}

.customFormGroup label {
    width: 100%;
    text-align: right;
}

// input-group
.input-group {
    display: inline-table;
    width: 93.5%;
}

.input-group > input {
    background: none !important;
    width: 100% !important;
}

.input-group span {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid #dadada;
    border-radius: 3px;
    background: white;
    padding: 0 15px;
    width: 1%;
    height: 40px;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.input-group > :first-child {
    // fix for ng2-datepicker
    border: 1px solid #dadada;
    border-radius: 3px;
    background: white;
    padding: 0 15px;
    height: 40px;
    // then input-group css
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.input-group > :nth-child(2),
.input-group > .fa + input[type=time] {
    // fix for ng2-datepicker
    border: 1px solid #dadada;
    border-radius: 3px;
    background: white;
    padding: 0 15px;
    height: 40px;
    margin-right: 0;
    // then input-group css
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

span.readonly-field {
    display: block;
    padding: 2px 10px;
    background-color: #efefef;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    line-height: 32px;
    height: 36px;
}

/**
 * IMPORTS
 */

/* Input button groups. */
@import 'forms-input-buttons';

.form-block {
    margin: .5rem 0 .5rem 0 !important;
}

form .form-group label {
    font-weight: normal !important;
}

.text-danger {
    font-size: 12px !important;
    color: #d9534f !important;
    line-height: 22px !important;
}

form .form-group {
    padding-left: 0px;
    margin-bottom: 15px;
}

form .form-group input[readonly] {
    background-color: #f1f1f1;
    border: 1px solid #d0d0d0;
}

