
.jaspero__dialog table {
    border: none;
}

.jaspero__dialog {
    max-width: 500px;
}

.jaspero__dialog table td {
    text-align: left;
    line-height: 20px;
}

.jaspero__dialog table.large {
    min-width: 600px;

}
