header {
    background-color: $setl !important;
    flex: 0 0 75px;
    height: 75px;

    // everything other then the search box
    .header-actions {

        justify-content: space-between;

        .nav-link.nav-icon {
            @extend .animate;
            color: $setlHoverDarker;
            width: 100px;
            text-align: center;
            height: 75px;
            font-size: 90%;

            &::after {
                position: absolute;
                left: 0;
                content: '';
                display: inline-block;
                background: #fafafa;
                opacity: .15;
                height: 53px;
                width: 1px;
                top: 10px;
            }

            *:hover {
                cursor: pointer;
            }

            label {
                position: absolute;
                top: 70%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            clr-icon {
                top: 40%;
            }

            &:last-of-type {
                margin-right: 24px;
            }
        }

        .user-profile {
            padding-right: 20px;
            border-right: 1px solid #efefef;
        }

        .last-login {
            margin-top: 5px;
            margin-left: 55px;
            padding: 0;
            position: absolute;
            width: 160px;
            color: #8C8C8C;
            font-size: 0.5rem;
        }

        .right-buttons {
            .dropdown {
                height: 55px;
                margin-top: 10px;
                &:nth-child(n+2) {
                    //border-left: 1px solid rgba(255, 255, 255, 0.5);
                    border-left: 1px solid #efefef;
                }
            }
        }

        .nav-link.nav-icon::after {
            background: #7d7d7d;
        }

        // user icon and dropdown
        .user {
            border-left: 1px solid rgba(250, 250, 250, 0.5) !important;
            height: 55px !important;
            margin: 10px 20px 0 0 !important;
            padding: 1px 15px !important;
            width: 215px !important;
            opacity: 1.0 !important;
            //color: white;
            color: #222;

            img {
                width: 50px !important;
                border-radius: 25px !important;
                float: left !important;
                margin-right: 5px !important;
            }

            p {
                margin-top: 3px !important;
                font-size: 14px !important;
                float: left !important;
                //color: white;
                color: #222;
                width: calc(100% - 60px);
                //font-weight: 600;
            }

            span {
                font-size: 11px;
                float: left;
                opacity: 0.6;
                width: auto;
                height: 20px;
                line-height: 20px;
                color: white;
            }
        }

        .nav-button {
            position: relative;
            text-align: center;
            width: 100px;
            float: left !important;
            height: 50px !important;
            margin: 0 0 0 !important;
            padding-left: 15px !important;
            opacity: 1.0 !important;
            color: white;
            &:hover {
                color: #57a5e3;
                .icon {
                    color: #57a5e3;
                }
                p {
                    color: #57a5e3;
                }
            }

            .icon {
                position: absolute;
                left: 50%;
                width: 1rem !important;
                height: 1rem !important;
                transform: translateX(-50%) !important;
                top: 6px !important;
                //color: white;
                color: #969696;
            }

            p {
                position: absolute;
                bottom: 0px;
                line-height: 12px;
                left: 50%;
                transform: translateX(-50%);

                margin-top: 3px !important;
                font-size: 13px !important;
                float: left !important;
                //color: white;
                color: #969696;
                //font-weight: 900;
                width: 100%;
            }
        }
        .nav-button-active, .nav-button-active .icon, .nav-button-active p {
            color: #57a5e3;
        }

        .wallet {
            @extend .animate;
            float: left;
            border-left: 1px solid rgba(250, 250, 250, 0.5);
            height: 55px;
            margin-top: 10px;
            padding-left: 15px;
            margin-right: 15px;

            .decalWallet {
                margin-top: 7px;
            }

            .wallet-tile {
                color: $setlSelected;
                position: absolute;
                top: 27px;
                font-size: 12px;
                margin-left: 10px;
                z-index: 10;
            }

            .ui-select-container {
                @extend .animate;

                .dropdown {
                    .open input {
                        margin-top: 6px;
                        width: 200px;
                    }
                    .ui-select-toggle {
                        @extend .animate;
                        background: white;
                        //border: 1px solid white !important;
                        width: 200px;
                        .ui-select-match-text, .ui-select-placeholder {
                            margin-left: 25px !important;
                            &::before {
                                width: 30px;
                                height: 30px;
                                background: red;
                            }
                        }
                    }
                }
            }

            .ui-select-placeholder {
                padding: 0 45px;
            }

            .ui-select-search {
                @extend .animate;
                min-height: 40px;
                margin-top: 6px;
                //padding: 10px 55px !important;
                font-size: 12.5px;
                font-weight: none;
                border-radius: 3px;
                background: none;
            }

            .ui-select-search input:focus {
                border: 1px solid red;
            }

            .ui-select-toggle .ui-select-placeholder, .ui-select-toggle .ui-select-match-text {
                margin: -1px 2px !important;
            }

            .ui-select-toggle .ui-select-placeholder, .ui-select-toggle .ui-select-match-text {
                padding-left: 40px;
            }
        }

    }

    .branding, .header-nav, .search-box, .search, .settings, .header-actions, .divider {
        height: 75px;
    }

    // logo
    .branding {
        width: 230px;

        .nav-link {
            text-align: left;
            margin-top: 8px;
        }
    }

    // search box
    .search, .search-box {
        opacity: 1.0;

        input[type="text"] {
            color: #8a8a8a;
            width: 200px;
            font-size: 13px;
            height: 31px;
            line-height: 31px;

            &:not([readonly]):focus {

                border: 0 solid white !important;
            }
        }

        label {
            margin-left: 20px;
            float: left;
            background: white;
            height: 35px;
            padding-left: 0;
            line-height: 33px;
            border-radius: 30px;

            &::before {
                margin-top: 10px;
                margin-left: 10px;
                margin-right: 3px;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2036%2036%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23002538%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3ESearch%3C%2Ftitle%3E%3Cg%20id%3D%22icons%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M15%2C4.05A10.95%2C10.95%2C0%2C1%2C1%2C4.05%2C15%2C11%2C11%2C0%2C0%2C1%2C15%2C4.05M15%2C2A13%2C13%2C0%2C1%2C0%2C28%2C15%2C13%2C13%2C0%2C0%2C0%2C15%2C2Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20%20d%3D%22M33.71%2C32.29l-7.37-7.42-1.42%2C1.41%2C7.37%2C7.42a1%2C1%2C0%2C1%2C0%2C1.42-1.41Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
                height: 16px;
                width: 16px;
            }
        }
    }

}

header clr-dropdown .dropdown-menu {
    margin-top: 5px !important;
}

header .header-actions, header .branding + .search {
    //background: #373a49;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

header .header-actions, header .branding + .search:after {
    //background-color: transparent !important;
}

.iznes#topBarMenu .last-login {
    margin-top: 25px;
}