/**
 * New Tabs.
 */

clr-tabs.clr-tabs clr-tab-content {
    display: none;
}

clr-tab.clr-tabs > .nav-link.active {
    background: white !important;
    color: #383d48 !important;
    box-shadow: 0 0 0 white inset !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border: 1px solid #dce1eb !important;
    border-bottom: 0px !important;
}

clr-tab.clr-tabs > .nav-link {
    margin-right: 0px !important;
}

/**
 * Old Tabs.
 */

clr-tab-content,
clr-tabs > section {
    float: left;
    width: calc(100% - 40px);
    margin: 20px;
    background: white;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid rgb(220, 225, 235);
}

clr-tabs > section {
    margin-top: 0;
    border-top-left-radius: 0px;
}

clr-tab-content.active:first-of-type {
    border-top-left-radius: 0;
}

clr-tabs {
    float: left;
    width: 100%;
}

clr-tabs ul {
    padding-left: 20px;
    padding-right: 20px;
}

clr-tab-content {
    float: left;
    width: calc(100% - 40px);
    margin: 20px;
    background: white;
    border-radius: 4px;
    padding: 20px;
    margin-top: 0px;
    border-top-left-radius: 0px;
}

clr-tab-content clr-tab-content {
    margin: 0;
}

clr-tab-link i {
    margin-right: 4px;
}

clr-tabs,
clr-tab-content {
    float: left;
}

clr-tab-content.active {
    display: block;
}

.panel-body clr-tabs {
    ul {
        padding-left: 0;
        padding-right: 0;
    }
    section.active{
        margin-left: 0; 
        margin-right: 0;
        width: 100%;
    }
}

.panel-body .nav .nav-item.active > .nav-link {
    box-shadow: 0 0 0 #007cbb inset;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #dce1eb;
    border-bottom: 1px solid white;
    background: white;
    font-size: 13px;
}

.panel-body clr-tab-content {
    width: 100%;
}

.panel-body clr-tab-content.active {
    margin: 0;
    border: 1px solid #dce1eb;
}

.panel-body clr-tab-content.active:first-of-type {
    border-top-left-radius: 0;
}

.panel-body clr-tab-content {
    padding: 15px;
}

.panel-body clr-tabs {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav {
    box-shadow: 0 0 0 #dce1eb inset;
    height: 45px;

    .nav-item {
        margin-right: 10px;
    }

    .nav-item.active > .nav-link {
        background: white;
        color: rgb(56, 61, 72);
        box-shadow: 0 0 0 white inset;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid rgb(220, 225, 235);
        border-bottom: 0;
    }

    .nav-link.btn {
        padding-left: 20px;
        padding-right: 20px;
        height: 45px;
        font-size: 13px;
        margin-right: 1px;
    }

    .nav-link {
        color: #a8a8a8;
        line-height: 35px;
        font-size: 13px;
        margin-right: 1px;
    }

    .nav-link:hover, .nav-link.active {
        box-shadow: 0 0 0 #007cbb inset;
        transition: box-shadow 0.2s ease-in;
        outline: none;
        color: #000;
    }

    .nav-link.active {
        background: white;
        color: rgb(56, 61, 72);
        box-shadow: 0 0 0 white inset;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid rgb(220, 225, 235);
        border-bottom: 0;
    }

    .nav-link:focus {
        outline: none;
    }

    .nav-link.active:focus {
        outline: none;
    }
}

.datagrid {
    margin: 0;
}
