<form [formGroup]="placeFiltersFormGroup" (ngSubmit)="getMTDashboardList(true)">
  <div class="row">
    <div class="col-lg-4">
      <label class="control-label" for="From Date">
        {{ 'From Date' | translate }}
      </label>
      <div class="input-group date-pick-wrapper">
        <span class="fa fa-calendar" aria-hidden="true"></span>
        <input id="fromDate" formControlName="fromDate" [dpDayPicker]="fromConfigDate"
          [placeholder]="(!isPeriod) ? translate.translate('Choose a date') : translate.translate('Date From')"
          mode="day" theme="dp-material">
      </div>
    </div>
    <div class="col-lg-4">
      <label class="control-label" for="To Date">
        {{ 'To Date' | translate }}
      </label>
      <div class="input-group date-pick-wrapper">
        <span class="fa fa-calendar" aria-hidden="true"></span>
        <input id="toDate" formControlName="toDate" [dpDayPicker]="toConfigDate"
          [placeholder]="(!isPeriod) ? translate.translate('Choose a date') : translate.translate('Date From')"
          mode="day" theme="dp-material">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label class="control-label" for="Code ISIN">
          {{ 'ISIN' | translate }}
        </label>
        <div>
          <input id="isinCode" type="text" class="form-control" formControlName="isinCode">
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="clr-col-6">
      <div class="form-group">
        <label class="control-label" for="Share Name">
          {{ 'Share Name' | translate }}
        </label>

        <div class= "input-button-group" style="min-width: 500px;">
          <ng-select id="precentra-funds-list"
                [items]="shareNameList"
                 bindLabel="name"
                 [multiple]="true"
                 [formControl]="placeFiltersFormGroup.controls['shareName']"
                 [placeholder]="translate.translate('Select Share Name')"
                 (selected)="handleDropdownshareNameSelect($event)">
                </ng-select>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <label class="control-label" for="Depositary">
          {{ 'Depository' | translate }}
        </label>
        <div>
          <ng-select id="precentra-funds-list" [allowClear]="true" [items]="depositoryList"
            [formControl]="placeFiltersFormGroup.controls['depositary']"
            [placeholder]="translate.translate('Select Depository')"
            (selected)="handleDropdownDepositorySelect($event)">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <button id="submitbutton" type="submit" class="btn btn-primary">{{ 'Search' | translate }}</button>
    </div>
  </div>
</form>

<clr-modal [(clrModalOpen)]="isModalDisplayed" [clrModalSize]="'lg'" [clrModalClosable]="true">
  <h5 class="modal-title">SWIFT Messages Viewer</h5>

  <div class="modal-body" style="background-color: #f9f9f9;">
    <h6 class="mb-1"><i class="fa fa-sticky-note"></i>Filename : {{ mtModal.filename }}</h6>
    <clr-tabs>
      <clr-tab>
        <button clrTabLink>Detailled</button>
        <clr-tab-content *clrIfActive="true">
          <div class="jaspero__dialog-content" [innerHTML]="mtModal.body"></div>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>Full</button>
        <clr-tab-content *clrIfActive>
          <div class="jaspero__dialog-content p7" [innerText]="mtModal.bodyFull"></div>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>

  <div class="modal-footer">
    <button id='cancelModalBackButton' type="button" class="btn btn-outline btn-outline-danger" (click)="closeModal()">
      {{ 'Close' | translate }}
    </button>
    <button type="button" class="btn btn-outline mr-2" (click)="downloadFile()">
      {{ 'Download' | translate }}
    </button>
  </div>
</clr-modal>

<div class="well">
  <!-- Panel body -->
  <div class="col-xs-12">
    <clr-datagrid (clrDgRefresh)="refresh($event)" #myDataGrid>
      <clr-dg-column [clrDgField]="column.dataSource" *ngFor="let column of panelDef.columns">
        {{column.label}}
      </clr-dg-column>

      <ng-container *ngIf="!panelDef.buttons">
        <clr-dg-row *clrDgItems="let row of panelDef.data; index as i" id="{{'row[panelDef.linkIdent]'}}">
          <clr-dg-cell *ngFor="let dataCol of panelDef.columns" data-id="{{row.id}}" id="{{'dataCol.dataSource'}}">
            <span *ngIf="dataCol.dataSource == panelDef.columnLink && dataCol.type !== 'button'" id="{{panelDef.linkIdent}}">
              {{row[dataCol.dataSource]}}
            </span>
            <span *ngIf="dataCol.dataSource != panelDef.columnLink && dataCol.type !== 'button'">{{row[dataCol.dataSource]}}</span>
            <button *ngIf="dataCol.type === 'button'" class="btn btn-sm btn-primary nomargin" (click)="viewMTMessage(row[dataCol.dataSource])">
              <i class="fa fa-download"></i> {{ 'View' | translate }}
          </button>
          </clr-dg-cell>
        </clr-dg-row>
      </ng-container>

      <clr-dg-footer>Total {{ total }} MT Messages
        <clr-dg-pagination #pagination [clrDgPageSize]="itemPerPage" [clrDgTotalItems]="total" [(clrDgPage)]="currentPage" [clrDgLastPage]="lastPage"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>