<div class="header-breadcrumbs">
    <h1 mltag="txt_encumberassets">Encumber Assets</h1>
</div>

<clr-tabs>
    <clr-tab>
        <button id="encumberAssetsTab" clrTabLink><i class="fa fa-plus-circle"></i> <span mltag="txt_form">Encumber Asset Request</span></button>

        <clr-tab-content *clrIfActive="">
            <!-- FORM -->
            <form [formGroup]="encumberAssetsForm" novalidate (ngSubmit)="save(encumberAssetsForm.value)">
                <section class="form-block">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="asset" mltag="txt_asset">Asset</label>
                            <ng-select id="asset"
                                [items]="assetListOption"
                                formControlName="asset"
                                placeholder="Select"
                                mltag="txt_select">
                            </ng-select>
                            <span *ngIf="encumberAssetsForm.controls.asset.hasError('required') && encumberAssetsForm.controls.asset.touched" class="text-danger" mltag="txt_thisfieldisrequired">Field is required</span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="fromAddress" mltag="txt_asset">From Address</label>
                            <ng-select id="fromAddress"
                                [items]="fromAddressListOption"
                                formControlName="fromAddress"
                                placeholder="Select"
                                mltag="txt_select">
                            </ng-select>
                            <span *ngIf="encumberAssetsForm.controls.fromAddress.hasError('required') && encumberAssetsForm.controls.fromAddress.touched" class="text-danger" mltag="txt_thisfieldisrequired">Field is required</span>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-6 pull-left">
                            <div class="text-badge" for="toAddress" mltag="txt_beneficiary">Beneficiary</div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <various-address-select [formControl]="encumberAssetsForm.controls['toAddress']"
                                [relationshipArray]="toRelationshipSelectItems"
                                [ownWalletAddressArray]="fromAddressListOption"
                                [class.error]="!encumberAssetsForm.controls['toAddress'].valid && encumberAssetsForm.controls['toAddress'].touched"
                                [required]="true">
                            </various-address-select>
                            <span *ngIf="encumberAssetsForm.controls.toAddress.hasError('required') && encumberAssetsForm.controls.toAddress.touched" class="text-danger" mltag="txt_thisfieldisrequired">Field is required</span>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="amount">Amount</label>
                            <input type="number" id="amount" class="form-control" formControlName="amount" placeholder="Amount" mltag="txt_amount">
                            <div *ngIf="encumberAssetsForm.controls.amount.hasError('required') && encumberAssetsForm.controls.amount.touched" class="text-danger">
                                <span mltag="txt_thisfieldisrequired">This field is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="reference">Reference</label>
                            <input type="text" id="reference" class="form-control" formControlName="reference" placeholder="Reference" mltag="txt_reference">
                            <div *ngIf="encumberAssetsForm.controls.reference.hasError('required') && encumberAssetsForm.controls.reference.touched" class="text-danger">
                                <span mltag="txt_thisfieldisrequired">This field is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-6 pull-left">
                            <span class="text-badge">Encumber Start</span>
                        </div>

                        <div class="col-sm-6">
                            <span class="text-badge">Encumber End</span>
                            <label>
                                <input id="isEncumberEnd" type="checkbox" class="form-control" formControlName="includeToDate">
                                set encumber end date?
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 pull-left">
                            <div class="form-group">
                                <label for="fromDateUTC" class="required-field">Date UTC</label>
                                <div class="input-group">
                                    <span class="fa fa-calendar" aria-hidden="true"></span>
                                    <input id="fromDateUTC" formControlName="fromDateUTC" [dpDayPicker]="configFiltersDate" mode="day" theme="dp-material"/>
                                </div>
                                <div *ngIf="encumberAssetsForm.controls.fromDateUTC.hasError('required') && encumberAssetsForm.controls.fromDateUTC.touched" class="text-danger">
                                    <span mltag="txt_thisfieldisrequired">This field is required</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="fromTimeUTC" class="required-field">Time UTC</label>
                                <div class="input-group">
                                    <span class="fa fa-clock-o" aria-hidden="true"></span>
                                    <input id="fromTimeUTC" formControlName="fromTimeUTC" [dpDayPicker]="configFiltersTime" mode="time" theme="dp-material"/>
                                </div>
                                <div *ngIf="encumberAssetsForm.controls.fromTimeUTC.hasError('required') && encumberAssetsForm.controls.fromTimeUTC.touched" class="text-danger">
                                    <span mltag="txt_thisfieldisrequired">This field is required</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group" *ngIf="isEncumberEnd">
                                <label for="toDateUTC" class="required-field">Date UTC</label>
                                <div class="input-group">
                                    <span class="fa fa-calendar" aria-hidden="true"></span>
                                    <input id="toDateUTC" formControlName="toDateUTC" [dpDayPicker]="configFiltersDate" mode="day" theme="dp-material"/>
                                </div>
                                <div *ngIf="encumberAssetsForm.controls.toDateUTC.hasError('required') && encumberAssetsForm.controls.toDateUTC.touched" class="text-danger">
                                    <span mltag="txt_thisfieldisrequired">This field is required</span>
                                </div>
                            </div>
                            
                            <div class="form-group" *ngIf="isEncumberEnd">
                                <label for="toTimeUTC" class="required-field">Time UTC</label>
                                <div class="input-group">
                                    <span class="fa fa-clock-o" aria-hidden="true"></span>
                                    <input id="toTimeUTC" formControlName="toTimeUTC" [dpDayPicker]="configFiltersTime" mode="time" theme="dp-material"/>
                                </div>
                                <div *ngIf="encumberAssetsForm.controls.toTimeUTC.hasError('required') && encumberAssetsForm.controls.toTimeUTC.touched" class="text-danger">
                                    <span mltag="txt_thisfieldisrequired">This field is required</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <button id="encumberAssetsBtnSubmitForm" type="submit" class="btn btn-primary">
                                <span mltag="txt_encumberassets">Encumber Assets</span>
                            </button>
                            <!-- <button id="encumberAssetsBtnResetForm" type="reset" class="btn btn-info" mltag="txt_reset">Reset</button> -->
                        </div>
                    </div>
                </section>
            </form>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>