<div class="header-breadcrumbs">
    <h1 class="text-overflow">

        <i class="fa fa-plus"></i>

        <span id="new-request-title">{{'Make a new request' | translate}}</span>
    </h1>
</div>

<div class="p-1">
    <p class="text-danger">
        {{ 'Please note that the information provided will remain stictly confidential and will only be shared with the Asset Management Companies you selected.' | translate }}
    </p>
</div>

<div [formsteps]="stepsConfig">
    <section>
        <kyc-step-select-amc [form]="forms.get('selection')" (registered)="registered($event)"></kyc-step-select-amc>
    </section>
    <section>
        <kyc-step-introduction></kyc-step-introduction>
    </section>
    <section>
        <kyc-step-identification [form]="forms.get('identification')"></kyc-step-identification>
    </section>
    <section>
        <kyc-step-risk-profile [form]="forms.get('riskProfile')"></kyc-step-risk-profile>
    </section>
    <section>
        <kyc-step-documents [form]="forms.get('documents')" [isListedCompany]="isListedCompany"></kyc-step-documents>
    </section>
    <section>
        <kyc-step-validation [form]="forms.get('validation')"></kyc-step-validation>
    </section>
</div>