<div class="header-breadcrumbs">
    <h1 class="text-overflow">
        <i class="fa fa-plus"></i>
        <span id="new-request-title">{{ 'Make New Request' | translate }}</span>
    </h1>
</div>

<div class="p-1">
    <clr-alert [clrAlertSizeSmall]="true" [clrAlertType]="'alert-danger'" [clrAlertClosable]="false">
        <div class="alert-item">
            <span class="alert-text">
                {{ 'Please note that the information provided will remain strictly confidential and will only be shared with the Asset Management Companies you have selected.' | translate }}
            </span>
        </div>
    </clr-alert>
</div>

<div [formsteps]="stepsConfig">
    <section order="1">
        <kyc-step-select-amc [form]="forms.get('selection')" (registered)="registered($event)" [disabled]="currentCompletedStep"></kyc-step-select-amc>
    </section>
    <section order="2" *ngIf="fullForm">
        <kyc-step-introduction></kyc-step-introduction>
    </section>
    <section order="3" *ngIf="fullForm">
        <kyc-step-identification [form]="forms.get('identification')" [investorType]="investorType"></kyc-step-identification>
    </section>
    <section order="4" *ngIf="fullForm">
        <kyc-step-risk-profile [form]="forms.get('riskProfile')"></kyc-step-risk-profile>
    </section>
    <section order="5" *ngIf="fullForm">
        <kyc-step-documents [form]="forms.get('documents')" [isPro]="isPro"></kyc-step-documents>
    </section>
    <section [attr.order]="fullForm ? 6 : 2">
        <kyc-step-validation [form]="forms.get('validation')"></kyc-step-validation>
    </section>
</div>

<div class="info" *ngIf="formSteps.currentStep === 0">
    <clr-icon shape="info-circle" class="is-info" size="24"></clr-icon>
    <span>
        {{ 'Be aware that once you click on "Next", this KYC will be saved as a Draft in the module "My Requests". You will then be able to finalise the request and send it to the Asset Management Company later on.' | translate }}
    </span>
</div>
