.flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    button {
        margin-bottom: 0;
    }
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    button {
        margin-bottom: 0;
    }
}

.additionalInfos tr {
    height: 40px;
    line-height: 20px;
}
