<div class="well">
    <!-- Panel header -->
    <div class="row panel-header">
        <div class="col-xs-6">
            <a href="#" (click)="panels[1] = !panels[1]; $event.preventDefault();">
                <i class="fa fa-chevron-down" [class.reverse]="panels[1]"></i> Disclaimer
            </a>
        </div>
    </div>

    <!-- Panel body -->
    <div class="panel-body" [class.hidden]="!panels[1]">
        <div class="row">


            <div class="well">
                <!-- Panel header -->
                <div class="row panel-header">
                    <div class="col-xs-6">
                        <a href="#" (click)="panels[2] = !panels[2]; $event.preventDefault();">
                            <i class="fa fa-chevron-down" [class.reverse]="panels[2]"></i> Disclaimer
                        </a>
                    </div>
                </div>

                <!-- Panel body -->
                <div class="panel-body" [class.hidden]="!panels[2]">
                    <div class="row">


                        <div class="well">
                            <!-- Panel header -->
                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="panels[3] = !panels[3]; $event.preventDefault();">
                                        <i class="fa fa-chevron-down" [class.reverse]="panels[3]"></i> Disclaimer
                                    </a>
                                </div>
                            </div>

                            <!-- Panel body -->
                            <div class="panel-body" [class.hidden]="!panels[3]">
                                <div class="row">


                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>
</div>