<section class="sidenav-content">
    <a class="nav-link" [routerLink]="['/']" [ngClass]="{active: activeRoute('home')}">
        <i class="fa fa-home"></i> Home
    </a>

    <a class="nav-link" [routerLink]="['/messages']" [ngClass]="{active: activeRoute('messages')}">
        <i class="fa fa-envelope-o"></i> Messages <span class="label label-success">10</span>
    </a>

    <section class="nav-group collapsible">
        <input checked="" id="tabexample1" type="checkbox">
        <label for="tabexample1"><i class="fa fa-cubes"></i> UI Elements</label>
        <ul class="nav-list">
            <li><a [routerLink]="['/ui-elements/form']" [ngClass]="{active: activeRoute('/ui-elements/form')}" class="nav-link"><i class="fa fa-pencil"></i> Form Elements</a></li>
        </ul>
    </section>

    <!-- <section class="nav-group">
        <input id="tabexample2" type="checkbox">
        <label for="tabexample2">Default Nav Element</label>
        <ul class="nav-list">
            <li><a class="nav-link">Link 1</a></li>
            <li><a class="nav-link">Link 2</a></li>
            <li><a class="nav-link active">Link 3</a></li>
            <li><a class="nav-link">Link 4</a></li>
            <li><a class="nav-link">Link 5</a></li>
            <li><a class="nav-link">Link 6</a></li>
        </ul>
    </section> -->

</section>
