<div class="header-breadcrumbs">
  <h1><i class="fa fa-address-book-o"></i> {{ 'MT Dashboard' | translate }}</h1>
</div>

<clr-tabs>
  <clr-tab>
      <button clrTabLink id="tabAccountAdmin{{noun}}sButton">{{ noun | translate }}</button>
      <clr-tab-content class="outer">
          <ng-container>
              <div class="well">
                  <div class="row panel-header">
                      <div class="col-sm-12">
                          <a href="#">
                              <i class="fa fa-chevron-right"></i>
                              <h2>{{ 'User(s)' | translate }}</h2>
                          </a>
                      </div>
                  </div>
              </div>

              <div class="row panel-body">
                  <div class="col-sm-12">
                  
                    <router-outlet></router-outlet>
                  </div>
              </div>
          </ng-container>
      </clr-tab-content>
  </clr-tab>
</clr-tabs>