<div class="top">
    <h3>{{'Stakeholders - Shareholders and Beneficiaries' | translate}}</h3>

    <button class="btn btn-primary m-0" (click)="exportStakeholders()">{{'Export Stakeholders' | translate}}</button>
</div>

<table class="table">
    <thead>
    <tr>
        <th>{{'Type' | translate}}</th>
        <th>{{'Name' | translate}}</th>
        <th>{{'Relation Type' | translate}}</th>
        <th>{{'Linked Entity' | translate}}</th>
        <th>{{'Country Tax of Residence' | translate}}</th>
        <th>{{'Nationality' | translate}}</th>
        <th>{{'Holding percentage' | translate}}</th>
        <th>{{'Holding type' | translate}}</th>
        <th>{{'Voting percentage' | translate}}</th>
        <th>{{'Action' | translate}}</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let stakeholder of stakeholderReadableList">
        <td>{{stakeholder.beneficiaryType}}</td>
        <td>{{stakeholder.name}}</td>
        <td>{{stakeholder.relationType}}</td>
        <td>{{stakeholder.parent}}</td>
        <td>{{stakeholder.countryTaxResidence}}</td>
        <td>{{stakeholder.nationality}}</td>
        <td>{{stakeholder.holdingPercentage}}</td>
        <td>{{stakeholder.holdingType}}</td>
        <td>{{stakeholder.votingPercentage}}</td>
        <td class="action">
            <button class="btn btn-sm" (click)="selectStakeholder(stakeholder)">
                {{'View' | translate}}
            </button>
        </td>
    </tr>
    </tbody>
</table>

<kyc-details-stakeholder-modal [stakeholder]="selectedStakeholder" [registeredCompanyName]="registeredCompanyName" *ngIf="selectedStakeholder" (close)="deselectStakeholder()"></kyc-details-stakeholder-modal>