<table class="table">

    <thead>
    <tr>
        <th class="left px-1">
            {{'Information' | translate}}
        </th>
        <th class="left px-1">

            {{'Value' | translate}}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let row of data">

        <td class="left px-1" [class.v-middle]="row.hash">
            {{row.id | translate}}
        </td>
        <td class="left px-1">
            <span *ngIf="!row.hash">
                <span *ngIf="!isFromForm(row.originalId) && row.value != ''">
                    {{row.value}}
                </span>

                <span *ngIf="!isFromForm(row.originalId) && row.value == ''" class="empty">
                    [{{'Value not provided' | translate}}]
                </span>

                <ng-container *ngIf="isFromForm(row.originalId)">
                    <span *ngFor="let value of split(row.value); last as last">
                        {{value | translate}}<span *ngIf="!last">,</span>
                    </span>
                </ng-container>
            </span>


            <setl-file-viewer *ngIf="row.hash && row.hash != 'na'" [fileHash]="row.hash" [viewType]="2"></setl-file-viewer>
        </td>

    </tr>
    <tr *ngIf="id === 'company'">
        <td class="left px-1">
            {{'Beneficiaries'}}
        </td>
        <td class="left px-1">
            <a href="#" (click)="openBeneficiaries($event)">
                {{'See details' | translate}}
            </a>
        </td>
    </tr>
    </tbody>

</table>
