<div class="header-breadcrumbs">
    <h1><i class="fa fa-th-large"></i> {{'Layout Two' | translate}}
    </h1>
</div>

<div class="padding">
    <a href="#" class="toggle-info-panes" (click)="toggleInfoPanes($event)">{{ showInfoPanes ? '[-] hide info panes' :
        '[+] show info panes' }}

    </a>
    <app-ui-info-pane [hidden]="!showInfoPanes" [message]="'This info pane does not make up part of these guidelines. If you see this pane displayed in any of the below items, it is just for informational purposes. To view the source code for this page, go to @setl/core-layout/layouts/ui-form.'">
    </app-ui-info-pane>
</div>

<div class="well" *ngFor="let panel of panelDefs">
    <!-- Panel header -->
    <div class="row panel-header">
        <div class="col-xs-6">
            <a href="#" (click)="panel.open = !panel.open; $event.preventDefault();">
                <i class="fa fa-chevron-right" [class.rotate]="panel.open"></i>
                <h2>{{panel.title}} ({{(panel.data | async).length}})</h2>
            </a>
        </div>
        <div class="col-xs-6 text-right">
            <button *ngIf="panel.action" class="btn btn-primary action-button" (click)="panel.action.callback()"><i class="fa fa-{{panel.action.icon}}">
                </i> {{panel.action.title}}
            </button>
        </div>
    </div>

    <!-- Panel body -->
    <div class="row panel-body" [class.hidden]="!panel.open">
        <div class="col-xs-12">
            <clr-datagrid #myDataGrid>
                <clr-dg-column *ngFor="let column of panel.columns">{{column.label}}</clr-dg-column>
                <clr-dg-row *clrDgItems="let row of panel.data | async">
                    <clr-dg-cell *ngFor="let dataCol of panel.columns" data-id="{{row.id}}">
                        <a *ngIf="dataCol.link" [routerLink]="buildLink(dataCol, row)">{{row[dataCol.dataSource]}}

                        </a>
                        <span *ngIf="!dataCol.link">{{row[dataCol.dataSource]}}

                        </span>
                    </clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>

        </div>
    </div>
</div>