<clr-vertical-nav
    [clrVerticalNavCollapsible]="true"
    [clrVerticalNavCollapsed]="collapsed"
    (clrVerticalNavCollapsedChange)="updateCollapsed($event)"
    class="nav-trigger--bottom"
    [clr-nav-level]="1">
    <ng-container *ngFor="let level1 of menuJson">
        <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-right">
            <ng-container *ngTemplateOutlet="menuItem; context: {'childMenuJson': level1}"></ng-container>
            <span class="tooltip-content">{{ level1.label }}</span>
        </span>
    </ng-container>

    <ng-template #menuItem let-childMenuJson="childMenuJson">
        <a *ngIf="!childMenuJson.children && !isMenuDisabled(childMenuJson.router_link)" clrVerticalNavLink [attr.id]="childMenuJson.element_id" [routerLink]="[childMenuJson.router_link]" routerLinkActive="active">
            <clr-icon [attr.shape]="childMenuJson.icon_class" clrVerticalNavIcon></clr-icon>
            <span [attr.mltag]="childMenuJson.label_txt">{{childMenuJson.label}}</span>
            <span *ngIf="childMenuJson.router_link == '/messages' && this.unreadMessages > 0" class="label">{{this.unreadMessages}}</span>
        </a>

        <span *ngIf="isMenuDisabled(childMenuJson.router_link)" clrVerticalNavLink class="disable">
            <clr-icon [attr.shape]="childMenuJson.icon_class" clrVerticalNavIcon></clr-icon>
            <span [attr.mltag]="childMenuJson.label_txt">{{childMenuJson.label}}</span>
        </span>

        <clr-vertical-nav-group *ngIf="childMenuJson.children" [attr.id]="childMenuJson.element_id">
            <clr-icon [attr.shape]="childMenuJson.icon_class" clrVerticalNavIcon></clr-icon>
            {{childMenuJson.label}}
            <clr-vertical-nav-group-children>
                <ng-container *ngFor="let innerChild of childMenuJson.children">
                    <a *ngIf="!isMenuDisabled(innerChild.router_link)" [attr.id]="innerChild.element_id" clrVerticalNavLink [routerLink]="[innerChild.router_link]" routerLinkActive="active">
                        <span [attr.mltag]="innerChild.label_txt">{{innerChild.label}}</span>
                    </a>

                    <span *ngIf="isMenuDisabled(innerChild.router_link)" clrVerticalNavLink [attr.id]="innerChild.element_id" class="disable">
                        <span [attr.mltag]="innerChild.label_txt">{{innerChild.label}}</span>
                    </span>
                </ng-container>
            </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
    </ng-template>
</clr-vertical-nav>