<section class="sidenav-content">
    <a class="nav-link" [routerLink]="['/home/']" [ngClass]="{active: activeRoute('home')}">
        <i class="fa fa-home"></i> Home
    </a>

    <section class="nav-group collapsible">
        <label menu-dropdown><i class="fa fa-bar-chart"></i> Asset Manager Panel</label>
        <ul class="nav-list">
            <li>
                <a [routerLink]="['/home']" [ngClass]="{active: activeRoute('/fund-holdings')}" class="nav-link"><i class="fa fa-user"></i> Fund Holidings</a>
            </li>
        </ul>
    </section>

    <a class="nav-link" [routerLink]="['/home']" [ngClass]="{active: activeRoute('wallets')}">
        <i class="fa fa-briefcase"></i> Wallets
    </a>

    <a class="nav-link" [routerLink]="['/messages']" [ngClass]="{active: activeRoute('messages')}">
        <i class="fa fa-envelope-o"></i> Messages <span class="label label-success">10</span>
    </a>

    <section class="nav-group collapsible">
        <label menu-dropdown><i class="fa fa-user"></i> Account Module</label>
        <ul class="nav-list">
            <li>
                <a [routerLink]="['/my-account']" [ngClass]="{active: activeRoute('/my-account')}" class="nav-link"><i class="fa fa-user"></i> My Account</a>
            </li>
            <li>
                <a [routerLink]="['/home']" [ngClass]="{active: activeRoute('/relationships')}" class="nav-link"><i class="fa fa-users"></i> Relationships</a>
            </li>
            <li>
                <a [routerLink]="['/home']" [ngClass]="{active: activeRoute('/documents')}" class="nav-link"><i class="fa fa-book"></i> Documents</a>
            </li>
        </ul>
    </section>

    <a class="nav-link" [routerLink]="['/home']" [ngClass]="{active: activeRoute('kyc')}">
        <i class="fa fa-users"></i> KYC Administration
    </a>

    <section class="nav-group collapsible">
        <label menu-dropdown><i class="fa fa-industry"></i> Product Module</label>
        <ul class="nav-list">
            <li>
                <a [routerLink]="['/home']" [ngClass]="{active: activeRoute('/managment-company')}" class="nav-link"><i class="fa fa-university"></i> Managment Company</a>
            </li>
            <li>
                <a [routerLink]="['/home']" [ngClass]="{active: activeRoute('/sicav')}" class="nav-link"><i class="fa fa-users"></i> SICAV</a>
            </li>
            <li>
                <a [routerLink]="['/home']" [ngClass]="{active: activeRoute('/fund')}" class="nav-link"><i class="fa fa-area-chart"></i> Fund</a>
            </li>
            <li>
                <a [routerLink]="['/home']" [ngClass]="{active: activeRoute('/net-asset-value')}" class="nav-link"><i class="fa fa-ellipsis-h"></i> Net Asset Value</a>
            </li>
        </ul>
    </section>

    <a class="nav-link" [routerLink]="['/home']" [ngClass]="{active: activeRoute('orders')}">
        <i class="fa fa-pencil"></i> Manage Orders
    </a>

    <section class="nav-group collapsible">
        <label menu-dropdown><i class="fa fa-university"></i> Corporate Actions</label>
        <ul class="nav-list">
            <li>
                <a [routerLink]="['/home']" [ngClass]="{active: activeRoute('/create-resolution')}" class="nav-link"><i class="fa fa-plus"></i> Create Resolution</a>
            </li>
            <li>
                <a [routerLink]="['/home']" [ngClass]="{active: activeRoute('/issue-resolution')}" class="nav-link"><i class="fa fa-check"></i> Issue Resolution</a>
            </li>
            <li>
                <a [routerLink]="['/home']" [ngClass]="{active: activeRoute('/distribution')}" class="nav-link"><i class="fa fa-ellipsis-h"></i> Distribution</a>
            </li>
            <li>
                <a [routerLink]="['/home']" [ngClass]="{active: activeRoute('/merger-absorption')}" class="nav-link"><i class="fa fa-compress"></i> Merger/Absorption</a>
            </li>
            <li>
                <a [routerLink]="['/home']" [ngClass]="{active: activeRoute('/coupon-payment')}" class="nav-link"><i class="fa fa-briefcase"></i> Coupon Payment</a>
            </li>
            <li>
                <a [routerLink]="['/home']" [ngClass]="{active: activeRoute('/split')}" class="nav-link"><i class="fa fa-arrows-h"></i> Split</a>
            </li>
        </ul>
    </section>

    <section class="nav-group collapsible">
        <label menu-dropdown><i class="fa fa-cubes"></i> User Administration</label>
        <ul class="nav-list">
            <li>
                <a [routerLink]="['/user-administration/users']" [ngClass]="{active: activeRoute('/user-administration/users')}" class="nav-link"><i class="fa fa-user"></i> Users</a>
            </li>
            <li>
                <a [routerLink]="['/user-administration/wallets']" [ngClass]="{active: activeRoute('/user-administration/wallets')}" class="nav-link"><i class="fa fa-briefcase"></i> Wallets</a>
            </li>
            <li>
                <a [routerLink]="['/user-administration/permissions']" [ngClass]="{active: activeRoute('/user-administration/permissions')}" class="nav-link"><i class="fa fa-key"></i> Permissions</a>
            </li>
            <li>
                <a [routerLink]="['/user-administration/wizard']" [ngClass]="{active: activeRoute('/user-administration/wizard')}" class="nav-link"><i class="fa fa-users"></i> Wizard</a>
            </li>
        </ul>
    </section>

    <section class="nav-group collapsible">
        <label menu-dropdown><i class="fa fa-archive"></i> Asset Servicing</label>
        <ul class="nav-list">
            <li>
                <a [routerLink]="['/asset-servicing/register-issuer']" [ngClass]="{active: activeRoute('/asset-servicing/register-issuer')}" class="nav-link"><i class="fa fa-user-plus"></i> Register Issuer</a>
            </li>
            <li>
                <a [routerLink]="['/asset-servicing/register-asset']" [ngClass]="{active: activeRoute('/asset-servicing/register-asset')}" class="nav-link"><i class="fa fa-plus-circle"></i> Register Asset</a>
            </li>
            <li>
                <a [routerLink]="['/asset-servicing/issue-asset']" [ngClass]="{active: activeRoute('/asset-servicing/issue-asset')}" class="nav-link"><i class="fa fa-paper-plane"></i> Issue Asset</a>
            </li>
        </ul>
    </section>

    <section class="nav-group collapsible">
        <label menu-dropdown><i class="fa fa-flag"></i> Reports</label>
        <ul class="nav-list">
            <li>
                <a [routerLink]="['/reports/balances']" [ngClass]="{active: activeRoute('/reports/balances')}" class="nav-link"><i class="fa fa-th-list"></i> Balances Reports</a>
            </li>
            <li>
                <a [routerLink]="['/reports/issue']" [ngClass]="{active: activeRoute('/reports/issue')}" class="nav-link"><i class="fa fa-money"></i> Issue Reports</a>
            </li>
            <li>
                <a [routerLink]="['/reports/transactions']" [ngClass]="{active: activeRoute('/reports/transactions')}" class="nav-link"><i class="fa fa-key"></i> Transactions Reports</a>
            </li>
        </ul>
    </section>

    <!-- <section class="nav-group">
        <input id="tabexample2" type="checkbox">
        <label for="tabexample2">Default Nav Element</label>
        <ul class="nav-list">
            <li><a class="nav-link">Link 1</a></li>
            <li><a class="nav-link">Link 2</a></li>
            <li><a class="nav-link active">Link 3</a></li>
            <li><a class="nav-link">Link 4</a></li>
            <li><a class="nav-link">Link 5</a></li>
            <li><a class="nav-link">Link 6</a></li>
        </ul>
    </section> -->

</section>
