:host {
    display: block;
    width: 100%;
}

label[menu-dropdown] + ul.nav-list {
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.5s;
    -moz-transition: height 0.3s, opacity 0.5s;
    transition: height 0.3s, opacity 0.5s;
}

label[menu-dropdown] + ul.nav-list.active {
    opacity: 1;
}

.collapsible label[menu-dropdown]:after {
    -webkit-transform: rotate(-90deg) translateX(-7px) translateY(-8px);
    transform: rotate(-90deg) translateX(-7px) translateY(-8px);
    transition-duration: 0.3s;
}

.collapsible label[menu-dropdown].menuParent span::after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.fakeLink {
    color: #9ea0af;
    font-weight: 600;
    margin: 0;
    padding: 12px 20px;
    font-size: 13px;
    display: inline-block;
    width: 100%;
}

.fakeLinkChild {
    color: #9ea0af;
    font-weight: 600;
    margin: 0;
    padding: 12px 20px;
    font-size: 13px;
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    line-height: .666667rem;
}

