<div class="header-breadcrumbs">
    <h1><i class="fa fa-users"></i> Connections</h1>
</div>

<clr-tabs>
    <!-- Accepted connections tab -->
    <clr-tab>
        <button id="accepted-connection-tab" clrTabLink>
            <i class="fa fa-check"></i>
            <span>Accepted</span>
        </button>

        <ng-template [(clrIfActive)]="isAcceptedTabDisplayed">
            <clr-tab-content>
                <section class="form-block">
                    <clr-datagrid>
                        <clr-dg-column [clrDgField]="'connections'">Connection</clr-dg-column>
                        <clr-dg-column [clrDgField]="'subportfolios'">Address</clr-dg-column>
                        <clr-dg-column class="right" mltag="txt_actions">Actions</clr-dg-column>

                        <clr-dg-row *clrDgItems="let acceptedConnection of acceptedConnectionList">
                            <clr-dg-cell>{{acceptedConnection.connection}}</clr-dg-cell>
                            <clr-dg-cell>{{acceptedConnection.subPortfolio}}</clr-dg-cell>
                            <clr-dg-cell class="right">
                                <button id="edit-button" class="btn btn-success btn-sm"
                                        (click)="handleEditButtonClick(acceptedConnection)">
                                    <i class="fa fa-edit"></i>
                                    <span mltag="txt_edit">Edit</span>
                                </button>
                                <button id="delete-button" class="btn btn-danger btn-sm"
                                        (click)="handleDeleteButtonClick(acceptedConnection)">
                                    <i class="fa fa-trash-o"></i>
                                    <span mltag="txt_delete">Delete</span>
                                </button>
                            </clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>
                            <div rowsPerPage="10" (rowsUpdate)="pageSize = $event"></div>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            <clr-dg-pagination #pagination [clrDgPageSize]="pageSize"></clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
                </section>
            </clr-tab-content>
        </ng-template>
    </clr-tab>

    <!-- Pending connections tab -->
    <clr-tab>
        <button id="pending-connection-tab" clrTabLink>
            <i class="fa fa-ellipsis-h"></i>
            <span>Pending</span>
        </button>

        <clr-tab-content>
            <section class="form-block">
                <clr-datagrid>
                    <clr-dg-column [clrDgField]="'connections'">Connection</clr-dg-column>
                    <clr-dg-column [clrDgField]="'info'">Status</clr-dg-column>
                    <clr-dg-column class="right" mltag="txt_actions">Actions</clr-dg-column>

                    <clr-dg-row *clrDgItems="let pendingConnection of pendingConnectionList">
                        <clr-dg-cell>{{pendingConnection.connection}}</clr-dg-cell>
                        <clr-dg-cell>{{pendingConnection.info}}</clr-dg-cell>

                        <clr-dg-cell *ngIf="pendingConnection.info === 'Outgoing'" class="right">
                            <button id="reject-connection-button" class="btn btn-danger btn-sm"
                                    (click)="handleRejectButtonClick(pendingConnection, 'This connection request has been cancelled')">
                                <i class="fa fa-times"></i>
                                Cancel
                            </button>
                        </clr-dg-cell>

                        <clr-dg-cell *ngIf="pendingConnection.info === 'Incoming'" class="right">
                            <button id="accept-connection-button" class="btn btn-success btn-sm"
                                    (click)="handleAcceptButtonClick(pendingConnection)">
                                <i class="fa fa-check"></i>
                                Accept
                            </button>

                            <button id="reject-connection-button" class="btn btn-danger btn-sm"
                                    (click)="handleRejectButtonClick(pendingConnection)">
                                <i class="fa fa-ban"></i>
                                Reject
                            </button>

                        </clr-dg-cell>
                    </clr-dg-row>

                    <clr-dg-footer>
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                    </clr-dg-footer>
                </clr-datagrid>
            </section>
        </clr-tab-content>
    </clr-tab>

    <!-- Add connection tab -->
    <clr-tab>
        <button id="add-connection-tab" clrTabLink (click)="resetForm()">
            <i class="fa fa-plus"></i>
            <span>Add Connection</span>
        </button>

        <clr-tab-content>
            <form [formGroup]="formGroup" novalidate (ngSubmit)="handleSubmitButtonClick()">
                <section class="form-block">
                    <div class="row">
                        <div class="form-group col-sm-6">

                            <div class="tooltip left tooltip-sm">
                                <i class="fa fa-info-circle"></i>
                                <span class="tooltip-content">Select a wallet to connect to</span>        
                                <label class="control-label required-field" for="add-connection-select" mltag="txt_connection">Connection</label>
                            </div>

                            <ng-select
                                    id="add-connection-select"
                                    placeholder="Select wallet"
                                    [items]="walletList"
                                    [allowClear]=true
                                    [formControl]="formGroup.controls['connection']">
                            </ng-select>

                            <span *ngIf="formGroup.controls['connection'].hasError('required') && formGroup.controls['connection'].touched"
                                  class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">

                            <div class="tooltip left tooltip-sm">
                                <i class="fa fa-info-circle"></i>
                                <span class="tooltip-content">Select an address to use for this connection</span>
                                <label class="control-label required-field" for="add-subportfolio-select" mltag="txt_address">Address</label>
                            </div>

                            <ng-select 
                                id="add-subportfolio-select" 
                                [items]="addressList" 
                                [allowClear]=true 
                                placeholder="Select address" 
                                [formControl]="formGroup.controls['sub-portfolio']">
                            </ng-select>

                            <span *ngIf="formGroup.controls['sub-portfolio'].hasError('required') && formGroup.controls['sub-portfolio'].touched"
                                  class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                        </div>
                    </div>

                    <div class="row">
                        <button id="add-connection-button" class="btn btn-primary" [disabled]="formGroup.invalid">
                            <i class="fa fa-save"></i> <span class="ml_translated" mltag="txt_save">Save</span>
                        </button>
                    </div>
                </section>
            </form>
        </clr-tab-content>
    </clr-tab>

    <!-- Edit connection tab -->
    <clr-tab *ngIf="!isEditTabClosed">
        <button id="edit-connection-tab" clrTabLink>
            <i class="fa fa-pencil"></i>
            <span>Edit Connection</span>
        </button>

        <ng-template [(clrIfActive)]="isEditTabDisplayed">
            <clr-tab-content>
                <form [formGroup]="formGroup" novalidate (ngSubmit)="handleSubmitButtonClick()">
                    <section class="form-block">
                        <div class="row">
                            <div class="form-group col-sm-6">                                

                                <label class="control-label required-field" for="add-connection-select"
                                       mltag="txt_connection">Connection</label>

                                <ng-select
                                        id="edit-connection-select"
                                        placeholder="Select a connection"
                                        [items]="walletList"
                                        [allowClear]=true
                                        [formControl]="formGroup.controls['connection']"
                                        [disabled]="isEditTabDisplayed">
                                </ng-select>

                                <span *ngIf="formGroup.controls['connection'].hasError('required') && formGroup.controls['connection'].touched"
                                      class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div class="tooltip left tooltip-sm">
                                    <i class="fa fa-info-circle"></i>
                                    <span class="tooltip-content">Select an address to use for this connection</span>
                                    <label class="control-label required-field" for="add-subportfolio-select" mltag="txt_address">Address</label>
                                </div>

                                <ng-select
                                        id="edit-subportfolio-select"
                                        [items]="addressList"
                                        [allowClear]=true
                                        placeholder="Select address"
                                        [formControl]="formGroup.controls['sub-portfolio']">
                                </ng-select>

                                <span *ngIf="formGroup.controls['sub-portfolio'].hasError('required') && formGroup.controls['sub-portfolio'].touched"
                                      class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                            </div>
                        </div>

                        <div class="row">
                            <button id="edit-connection-button" class="btn btn-primary" [disabled]="formGroup.invalid">
                                <i class="fa fa-save"></i> <span class="ml_translated" mltag="txt_save">Save</span>
                            </button>
                            <button class="btn btn-secondary" (click)="handleCloseButtonClick()">
                                <span class="ml_translated" mltag="txt_close">Close</span>
                            </button>
                        </div>
                    </section>
                </form>
            </clr-tab-content>
        </ng-template>
    </clr-tab>
</clr-tabs>

<!-- Accept connection modal -->
<clr-modal [(clrModalOpen)]="isAcceptModalDisplayed">
    <h3 class="modal-title">Select a sub-portfolio to use for this connection</h3>
    <div class="modal-body">
        <label class="control-label required-field" for="accept-subportfolio-addr-link" mltag="txt_subportfolio">Sub-portfolio</label>
        <ng-select
                id="accept-subportfolio-addr-link"
                [items]="addressList"
                [allowClear]=true
                placeholder="Select a sub-portfolio"
                [formControl]="formGroup.controls['sub-portfolio']">
        </ng-select>

        <span *ngIf="formGroup.controls['sub-portfolio'].hasError('required') && formGroup.controls['sub-portfolio'].touched"
              class="field-required">Field is required</span>
    </div>

    <div class="modal-footer">
        <button type="button"
                id="accept-connection-cancel-btn"
                class="btn btn-outline"
                (click)="onAcceptConnection(false)">
            Cancel
        </button>
        <button type="button"
                id="accept-connection-submit-btn"
                class="btn btn-primary"
                (click)="onAcceptConnection(true)">
            Submit
        </button>
    </div>
</clr-modal>
