# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/setl_modules
/ofi_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
src/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log
yarn.lock

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# CSS Map
src/styles.css
src/styles.css.map


## TESTING STUFF BELOW
# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
javaAPITesting/.gitignore
javaAPITesting/.gradle/3.5-rc-2/fileContent/fileContent.lock
javaAPITesting/.gradle/3.5-rc-2/taskHistory/fileHashes.bin
javaAPITesting/.gradle/3.5-rc-2/taskHistory/fileSnapshots.bin
javaAPITesting/.gradle/3.5-rc-2/taskHistory/taskHistory.bin
javaAPITesting/.gradle/3.5-rc-2/taskHistory/taskHistory.lock
javaAPITesting/out/test/classes/io/
javaAPITesting/out/test/classes/src/
javaAPITesting/out/test/classes/User/
javaAPITesting/src/test/java/io/
javaUITesting2/.gradle/3.5-rc-2/fileContent/fileContent.lock
javaUITesting2/.gradle/3.5-rc-2/taskHistory/fileHashes.bin
javaUITesting2/.gradle/3.5-rc-2/taskHistory/fileSnapshots.bin
javaUITesting2/.gradle/3.5-rc-2/taskHistory/taskHistory.bin
javaUITesting2/.gradle/3.5-rc-2/taskHistory/taskHistory.lock
javaUITesting2/build/classes/test/com/setl/openCSDClarityTests/UI/Login/
javaUITesting2/build/classes/test/com/setl/openCSDClarityTests/UI/MemberManagement/
javaUITesting2/build/classes/test/com/setl/openCSDClarityTests/UI/Messages/
javaUITesting2/build/classes/test/com/setl/openCSDClarityTests/UI/Navigation/
javaUITesting2/build/classes/test/com/setl/openCSDClarityTests/UI/Users/
javaUITesting2/build/classes/test/com/setl/openCSDClarityTests/UI/Wallets/
javaUITesting2/build/libs/javaUITesting2-1.0-SNAPSHOT.jar
javaUITesting2/build/reports/tests/test/classes/com.setl.openCSDClarityTests.UI.Accounts.OpenCSDAccountsAcceptanceTest.html
javaUITesting2/build/reports/tests/test/classes/com.setl.openCSDClarityTests.UI.Login.OpenCSDLoginAcceptanceTest.html
javaUITesting2/build/reports/tests/test/classes/com.setl.openCSDClarityTests.UI.MemberManagement.OpenCSDCreateMemberAcceptanceTest.html
javaUITesting2/build/reports/tests/test/classes/com.setl.openCSDClarityTests.UI.Messages.OpenCSDMessagesAcceptanceTest.html
javaUITesting2/build/reports/tests/test/classes/com.setl.openCSDClarityTests.UI.Navigation.OpenCSDNavigationAcceptanceTest.html
javaUITesting2/build/reports/tests/test/classes/com.setl.openCSDClarityTests.UI.Navigation.OpenCSDTabNavigationAcceptanceTest.html
javaUITesting2/build/reports/tests/test/classes/com.setl.openCSDClarityTests.UI.Users.OpenCSDCreateUserAcceptanceTest.html
javaUITesting2/build/reports/tests/test/classes/com.setl.openCSDClarityTests.UI.Wallets.OpenCSDWalletsAcceptanceTest.html
javaUITesting2/build/reports/tests/test/index.html
javaUITesting2/build/reports/tests/test/packages/com.setl.openCSDClarityTests.UI.Accounts.html
javaUITesting2/build/reports/tests/test/packages/com.setl.openCSDClarityTests.UI.Login.html
javaUITesting2/build/reports/tests/test/packages/com.setl.openCSDClarityTests.UI.MemberManagement.html
javaUITesting2/build/reports/tests/test/packages/com.setl.openCSDClarityTests.UI.Messages.html
javaUITesting2/build/reports/tests/test/packages/com.setl.openCSDClarityTests.UI.Navigation.html
javaUITesting2/build/reports/tests/test/packages/com.setl.openCSDClarityTests.UI.Users.html
javaUITesting2/build/reports/tests/test/packages/com.setl.openCSDClarityTests.UI.Wallets.html
javaUITesting2/build/test-results/test/TEST-com.setl.openCSDClarityTests.UI.Accounts.OpenCSDAccountsAcceptanceTest.xml
javaUITesting2/build/test-results/test/TEST-com.setl.openCSDClarityTests.UI.Login.OpenCSDLoginAcceptanceTest.xml
javaUITesting2/build/test-results/test/TEST-com.setl.openCSDClarityTests.UI.MemberManagement.OpenCSDCreateMemberAcceptanceTest.xml
javaUITesting2/build/test-results/test/TEST-com.setl.openCSDClarityTests.UI.Messages.OpenCSDMessagesAcceptanceTest.xml
javaUITesting2/build/test-results/test/TEST-com.setl.openCSDClarityTests.UI.Navigation.OpenCSDNavigationAcceptanceTest.xml
javaUITesting2/build/test-results/test/TEST-com.setl.openCSDClarityTests.UI.Navigation.OpenCSDTabNavigationAcceptanceTest.xml
javaUITesting2/build/test-results/test/TEST-com.setl.openCSDClarityTests.UI.Users.OpenCSDCreateUserAcceptanceTest.xml
javaUITesting2/build/test-results/test/TEST-com.setl.openCSDClarityTests.UI.Wallets.OpenCSDWalletsAcceptanceTest.xml
javaUITesting2/build/test-results/test/binary/
javaUITesting2/build/tmp/compileTestJava/
javaUITesting2/build/tmp/test/jar_extract_1081326760736873401_tmp
javaUITesting2/build/tmp/test/jar_extract_1551693264655187700_tmp
javaUITesting2/build/tmp/test/jar_extract_3215997384052143712_tmp
javaUITesting2/build/tmp/test/jar_extract_3739453780074666970_tmp
javaUITesting2/build/tmp/test/jar_extract_4029265229546135502_tmp
javaUITesting2/build/tmp/test/jar_extract_4198718987653235208_tmp
javaUITesting2/build/tmp/test/jar_extract_4228036359587042072_tmp
javaUITesting2/build/tmp/test/jar_extract_4354233594037234150_tmp
javaUITesting2/build/tmp/test/jar_extract_5474519568037837728_tmp
javaUITesting2/build/tmp/test/jar_extract_5946540505202357449_tmp
javaUITesting2/build/tmp/test/jar_extract_6067372456266702910_tmp
javaUITesting2/build/tmp/test/jar_extract_6556515936084123521_tmp
javaUITesting2/build/tmp/test/jar_extract_7100312826464393243_tmp
javaUITesting2/build/tmp/test/jar_extract_7757737648141359499_tmp
javaUITesting2/build/tmp/test/jar_extract_8291199198788623853_tmp
javaUITesting2/build/tmp/test/jar_extract_8303273676348925637_tmp
javaUITesting2/build/tmp/test/jar_extract_8776340666572719964_tmp
javaUITesting2/build/tmp/test/jar_extract_9173642958751625706_tmp
javaUITesting2/com/
javaUITesting2/custom/
javaUITesting2/out/test/classes/com/setl/openCSDClarityTests/UI/Messages/
javaUITesting2/out/test/classes/com/setl/openCSDClarityTests/UI/Wallets/
javaUITesting2/src/test/com/
javaUITesting2/src/test/custom/
