<div class="header-breadcrumbs">
    <h1 mltag="txt_contracts"><i class="fa fa-book"></i>Contracts &raquo; Manage</h1>
</div>

<clr-tabs *ngIf="tabs.length">
    <clr-tab *ngFor="let tab of tabs; let id = index">
        <button clrTabLink id="tablink{{id}}" [innerHTML]="tab.title"></button>
        <clr-tab-content *clrIfActive="tab.active">
            <section>
                <ng-container *ngIf="id === 0">
                    <ng-container *ngTemplateOutlet="contractsListTab"></ng-container>
                </ng-container>
                <ng-container *ngIf="id >= 1">
                    <ng-container *ngTemplateOutlet="dynamicViewTab; context: {'formControl': tab.formControl, 'id': id, 'contractFields': contractFields, 'contract': tab.data.contract, 'template': tab.data.template}"></ng-container>
                </ng-container>
            </section>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

<!-- User Data Table. -->
<ng-template #contractsListTab>
    <div class="panel-body">
        <clr-datagrid #contractsDataGrid>
            <clr-dg-column mltag="txt_contract_name" clrDgSortIcon>Contract Name</clr-dg-column>
            <clr-dg-column mltag="txt_creator" clrDgSortIcon>Creator</clr-dg-column>
            <clr-dg-column mltag="txt_expiry" clrDgSortIcon>Expiry</clr-dg-column>
            <clr-dg-column mltag="txt_status" clrDgSortIcon>Status</clr-dg-column>
            <clr-dg-column mltag="txt_actions" clrDgSortIcon>Action</clr-dg-column>
            <clr-dg-row *clrDgItems="let contract of contracts; let i = index">
                <clr-dg-cell><span id="contract-{{contract.index}}"><span mltag="txt_contract">Contract</span> {{contract.name}}</span></clr-dg-cell>
                <clr-dg-cell>{{contract.issuingaddress_label}}</clr-dg-cell>
                <clr-dg-cell>{{contract.expiry * 1000 | date:'dd MMM yyyy H:mm:ss'}}</clr-dg-cell>
                <clr-dg-cell>
                    <span *ngIf="contract.completed == true" class="label label-success" mltag="txt_enabled">Complete</span>
                    <span *ngIf="contract.completed != true" class="label label-warning" mltag="txt_incomplete">Incomplete</span>
                </clr-dg-cell>
                <clr-dg-cell>
                    <div class="btn-group btn-sm" style="float:right">
                        <button id="edit-{{contract.address}}" (click)="handleView(i)" class="btn">
                            <i class="fa fa-search"></i> <span mltag="txt_view">View</span>
                        </button>
                    </div>
                </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</ng-template>

<ng-template #dynamicViewTab let-formControl="formControl" let-id="id" let-contract="contract" let-template="template">
    <div class="panel-body">
        <table style="width:100%">
            <tbody>
                <tr>
                    <td>
                        <div class="header-breadcrumbs">
                            <h1 mltag="txt_contract"><i class="fa fa-book"></i>Contract</h1>
                        </div>
                    </td>
                    <td>
                        <div class="form-group tx-view-header" style="float:right">
                            <span *ngIf="contract.completed == true" class="label label-success" style="font-size:16px" mltag="txt_enabled">Complete</span>
                            <span *ngIf="contract.completed != true" class="label label-warning" style="font-size:16px" mltag="txt_incomplete">Incomplete</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <clr-datagrid #contractsDataGrid>
            <clr-dg-column mltag="txt_actions">Action</clr-dg-column>
            <clr-dg-column mltag="txt_participant">Participant</clr-dg-column>
            <clr-dg-column mltag="txt_element">Element</clr-dg-column>
            <clr-dg-column mltag="txt_status">Status</clr-dg-column>
            <clr-dg-row *clrDgItems="let party of contract.parties; let i = index">
                <clr-dg-cell>
                    <span><i class="fa fa-clock-o"></i> {{contract.status}}</span>
                </clr-dg-cell>
                <clr-dg-cell>{{party.sigAddress_label}}</clr-dg-cell>
                <clr-dg-cell>
                    <span mltag="txt_pay">Pay</span> {{contract.payors}}
                    <span> - </span>
                    <span mltag="txt_receive">Receive</span> {{contract.payees}}
                </clr-dg-cell>
                <clr-dg-cell>
                    <span *ngIf="party.signature != ''" class="label label-success"><i class="fa fa-check"></i>&nbsp;Committed</span>
                    <span *ngIf="party.signature == ''">
                        <button id="edit-{{i}}" (click)="commit(i, contract)" class="btn">
                            <i class="fa fa-check"></i> <span mltag="txt_view">Commit</span>
                        </button>
                    </span>
                </clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
        <div class="form-group tx-view-header">
            <button type="button" class="btn btn-primary" (click)="closeTab(id)"><i class="fa fa-times"></i>&nbsp;Close</button>
        </div>
    </div>
</ng-template>