<div class="header-breadcrumbs">
    <h1 mltag="txt_contracts">Contracts</h1>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink clrTabLinkId="link1"><i class="fa fa-contracts"></i>
            <span mltag="txt_contracts">Contracts</span></button>
        <clr-tab-content *clrIfActive>
            <section>
            </section>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>


<!-- User Data Table. -->
<ng-template #staticUserListTab>
    <div class="panel-body">

        <clr-datagrid #usersDataGrid>
            <clr-dg-column mltag="txt_actions">Actions</clr-dg-column>
            <clr-dg-column mltag="txt_username">Username</clr-dg-column>
            <clr-dg-column mltag="txt_email">Email</clr-dg-column>
            <clr-dg-column mltag="txt_account">Account</clr-dg-column>
            <clr-dg-column mltag="txt_status">Status</clr-dg-column>

            <clr-dg-row *clrDgItems="let user of usersList; let i = index">
                <clr-dg-cell>
                    <div class="btn-group btn-sm">
                        <button id="edit-{{user.userID}}" (click)="handleEdit(user.userID)" class="btn">
                            <i class="fa fa-pencil-square-o"></i> <span mltag="txt_edit">Edit</span></button>
                        <button id="delete-{{user.userID}}" (click)="handleDelete(user.userID)" class="btn">
                            <i class="fa fa-trash-o"></i> <span mltag="txt_delete">Delete</span></button>
                    </div>
                </clr-dg-cell>
                <clr-dg-cell><span id="username-{{user.index}}">{{user.userName}}</span></clr-dg-cell>
                <clr-dg-cell>{{user.emailAddress}}</clr-dg-cell>
                <clr-dg-cell>{{user.accountName}}</clr-dg-cell>
                <clr-dg-cell>
                    <span *ngIf="user.accountLocked == 0" class="label label-success" mltag="txt_enabled">Enabled</span>
                    <span *ngIf="user.accountLocked != 0" class="label label-warning" mltag="disabled">Disabled</span>
                </clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</ng-template>