<div class="drop-file-wrapper">
    <!-- We literally just pass properties straight in, or handle events. -->
    <drop-handler
        (onDropFiles)="handleDropFiles($event)"
        [multiple]="multiple"
        [inline]="inline"
        [formControl]="formControl"
        [preset]="preset"
        [filePermission]="filePermission"
        [disabled]="disabled"
        [usePreview]="usePreview"
        [imageConstraint]="imageConstraint"
        [allowFileTypes]="allowFileTypes"
    ></drop-handler>
</div>
