<div *ngIf="(pdfId !== null && pdfId !== '') || (fileHash !== null && fileHash !== '') && viewType == 0 ">
    <button type="button" class="btn btn-primary" (click)="openFileModal()">{{ 'View File' | translate }}</button>
</div>

<a style="text-decoration: underline;" (click)="openFileModal()" *ngIf="((pdfId !== null && pdfId !== '') || (fileHash !== null && fileHash !== '')) && viewType == 1 ">{{'link' | translate }}</a>

<div class="no-file" *ngIf="(pdfId === null || pdfId === '') && (fileHash === null || fileHash === '')">{{ 'No File' |
    translate }}</div>

<button *ngIf="viewType === 2" type="button" class="btn btn-primary" (click)="downloadFile()">{{ 'Download File' |
    translate }}</button>