<div class="login-container">
  <div>
    <div class="logo-wrap">
      <img id="logo-image" src="assets/images/Setl_Logo_Clean.png"/>
    </div>


    <div class="login-inner-wrapper">
      <span class="login-subheading">OpenCSD</span>
      <p class="login-subpara">Please enter your username and password to log into SETL OpenCSD</p>

      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" [class.error]="!loginForm.valid && loginForm.touched">

        <div class="form-group">
          <input type="text" name="username" placeholder="User name" class="form-control" [formControl]="username"
                 [class.error]="!username.valid && username.touched">
        </div>
        <div class="form-group">
          <input name="password" type="password" class="form-control" placeholder="Password"
                 [formControl]="password" [class.error]="!password.valid && password.touched">
        </div>

        <div class="form-group">
          <button id="login-submit" type="submit" class="btn btn-primary block full-width m-b">Login</button>
        </div>

        <div *ngIf="!username.valid && username.touched" class="alert-items">

          <div class="alert alert-danger">
            <div class="alert-items">
              <div class="alert-item">
                <span class="alert-text">
                  Username is required
          </span>
              </div>
            </div>
          </div>

        </div>

        <div *ngIf="!password.valid && password.touched" class="alert-items">

          <div class="alert alert-danger">
            <div class="alert-items">
              <div class="alert-item">
                <span class="alert-text">
                  Password is required
          </span>
              </div>
            </div>
          </div>

        </div>

      </form>

      <button (click)="requestWalletAddress()">Get address</button>

      <p class="m-t">
        <small>
          <span class="ml" mltag="txt_setlopencsdisaprivateenvironment">SETL OpenCSD is a private environment subject to authorised access only.</span>
        </small>
      </p>
    </div>
  </div>
</div>


