<div class="login-wrapper" [style.backgroundImage]="'url('+ appConfig.backgroundImage +')'">
    <div class="login">
        <div class="language">
            <clr-dropdown>
                <button id="language-selector" type="button" class="dropdown-toggle btn btn-link btn-sm language-selector" clrDropdownTrigger>
                    <clr-icon shape="world"></clr-icon>
                    {{getLabel(language)}}
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                    <button class="dropdown-header" type="button">{{ 'Choose your language' | translate }}:</button>
                    <button type="button" clrDropdownItem *ngFor="let lang of getLangs()" (click)="updateLang(lang)">
                        {{getLabel(lang)}}
                    </button>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
        <div class="logo">
            <img id="{{appConfig.logoID}}" src="{{appConfig.logoUrl}}" alt="{{appConfig.platform}}">
        </div>
        <ng-container *ngIf="(!showModal && !resetPassword && !showTwoFactorModal) || resetTwoFactorToken; then loginFormTemplate"></ng-container>
        <ng-container *ngIf="showModal && (!emailSent || isTokenExpired && !emailSent) && !changePassword; then resetPasswordRequestTemplate"></ng-container>
        <ng-container *ngIf="showModal && emailSent && !changePassword; then emailSentTemplate"></ng-container>
        <ng-container *ngIf="showModal && changePassword && !changePasswordSuccess; then changePasswordFormTemplate"></ng-container>
        <ng-container *ngIf="showModal && changePassword && changePasswordSuccess; then changePasswordSuccessTemplate"></ng-container>
        <ng-container *ngIf="resetPassword && !resetPasswordSuccess; then resetPasswordFormTemplate"></ng-container>
        <ng-container *ngIf="resetPassword && resetPasswordSuccess; then resetPasswordSuccessTemplate"></ng-container>
        <app-authenticate
            *ngIf="showTwoFactorModal && getPlatformName() !== 'OpenCSD Rooster'"
            [qrCode]="qrCode"
            [displayAsModals]="false"
            (modalCancelled)="showTwoFactorModal=!$event; submitBtnState=loadingState.DEFAULT; showAlert('clear')"
            [resetToken]="resetTwoFactorToken"
            (verifiedToken)="resetTwoFactorToken=''"
            (clearToken)="resetTwoFactorToken=''; setTwoFactorResetFailed()">
        </app-authenticate>

        <p class="legal">{{ '@appConfig.platformLegal@ is a private environment subject to authorised access only.' | translate: {'appConfig.platformLegal': appConfig.platformLegal} }}</p>
    </div>
    <div *ngIf="appConfig.loginContent" class="text-content">
        <div class="container">
            <h1 *ngIf="appConfig.loginContent.title">{{ appConfig.loginContent.title | translate }}</h1>
            <p *ngIf="appConfig.loginContent.description">{{ appConfig.loginContent.description | translate }}</p>
            <a *ngIf="appConfig.loginContent.btn" href="{{ language === 'en-Latn' ? appConfig.loginContent.btn.urlEN : appConfig.loginContent.btn.urlFR }}" class="btn">{{ appConfig.loginContent.btn.text | translate }}</a>
        </div>
    </div>
</div>

<!--LOGIN FORM TEMPLATE-->
<ng-template #loginFormTemplate>
    <div [@fadeIn]>
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
            <section class="title">
                {{ 'Login to' | translate }} {{appConfig.platform}}
            </section>
            <div class="login-group">
                <ng-container *ngTemplateOutlet="alertTemplate"></ng-container>
                <div class="form-group">
                    <label>{{ 'Username' | translate }}</label>
                    <input
                        id="username-field"
                        type="text"
                        name="username"
                        [placeholder]="translate.translate('Username')"
                        class="form-control"
                        formControlName="username"
                        #usernameInput
                        (change)="setUsernameRequired()"
                    >
                    <div *ngIf="!loginForm.controls['username'].valid" class="field-error">
                        {{ 'Field is required' | translate }}
                    </div>
                </div>

                <div class="form-group">
                    <label>{{ 'Password' | translate }}</label>
                    <input
                        id="password-field"
                        name="password"
                        [type]="showPasswords.login ? 'text' : 'password'"
                        class="form-control"
                        [placeholder]="translate.translate('Password')"
                        formControlName="password"
                        (focus)="setUsernameRequired()"
                        #passwordInput>
                    <clr-icon class="showPassword" [attr.shape]="showPasswords.login ? 'eye-hide' : 'eye'" (click)="showPasswords.login = !showPasswords.login"></clr-icon>
                    <div *ngIf="!loginForm.controls['password'].valid" class="field-error">
                        {{ 'Field is required' | translate }}
                    </div>
                </div>

                <button
                    [clrLoading]="submitBtnState"
                    id="login-submit"
                    type="submit"
                    class="btn btn-primary"
                    (click)="setUsernameRequired(); loginForm.get('password').markAsTouched()">
                    {{ 'Login' | translate }}
                </button>
                <a class="signup" id="forgotten-password-link" (click)="showFPModal()">
                    {{ 'Forgot your password?' | translate }}
                </a>
            </div>
        </form>
    </div>
</ng-template>

<!--RESET PASSWORD REQUEST TEMPLATE-->
<ng-template #resetPasswordRequestTemplate>
    <div [@fadeIn]>
        <section class="title">
            {{ 'Reset Password' | translate }}
        </section>
        <div class="login-group">
            <ng-container *ngTemplateOutlet="alertTemplate"></ng-container>
            <div *ngIf="!isTokenExpired" class="text-block">
                <p class="no-margin">{{ 'Fill in your email address and we will send you a link to reset your password' | translate }}</p>
            </div>
            <form [formGroup]="forgottenPasswordForm" (ngSubmit)="sendEmail()">
                <div class="form-group">
                    <label for="forgotten-password-email">{{ 'Email Address' | translate }}</label>
                    <input
                        id="forgotten-password-email"
                        type="text"
                        name="email"
                        placeholder="{{ 'Enter your email address' | translate }}"
                        class="form-control"
                        formControlName="email">
                    <div *ngIf="forgottenPasswordForm.controls.email.hasError('required')" class="field-error">
                        {{ 'Field is required' | translate }}
                    </div>
                    <div *ngIf="!forgottenPasswordForm.controls.email.valid && !forgottenPasswordForm.controls.email.hasError('required')" class="field-error">
                        {{ 'Email not valid!' | translate }}
                    </div>
                </div>

                <button id="forgotten-password-cancel"
                        class="btn btn-multi"
                        type="button"
                        (click)="closeFPModal()">
                    {{ 'Cancel' | translate }}
                </button>
                <button [clrLoading]="submitBtnState"
                        id="forgotten-password-submit"
                        type="submit"
                        class="btn btn-primary btn-multi"
                        [disabled]="!forgottenPasswordForm.valid">
                    {{ 'Send' | translate }}
                </button>
            </form>
        </div>
    </div>
</ng-template>

<!--EMAIL SENT TEMPLATE-->
<ng-template #emailSentTemplate>
    <div [@fadeIn]>
        <section class="title">
            {{ 'Reset Password' | translate }}
        </section>
        <div class="login-group">
            <div class="text-block flex-wrap">
                <clr-icon class="success-icon" shape="success-standard"></clr-icon>
                <p class="no-margin">{{ 'An email has been sent to' | translate }}<br>
                    <strong>{{ emailUser }}</strong></p>
            </div>
            <button id="email-sent-close" class="btn btn-primary" type="button" (click)="closeFPModal()">
                {{ 'Back to login' | translate }}
            </button>
        </div>
    </div>
</ng-template>

<!--CHANGE PASSWORD FORM TEMPLATE-->
<ng-template #changePasswordFormTemplate>
    <div [@fadeIn]>
        <section class="title capitalise">
            {{ 'Change Password' | translate }}
        </section>
        <div class="login-group">
            <ng-container *ngTemplateOutlet="passwordAlert"></ng-container>
            <ng-container *ngTemplateOutlet="alertTemplate"></ng-container>
            <form [formGroup]="changePasswordForm" (ngSubmit)="saveNewPassword()">
                <div class="form-group">
                    <label for="change-password-new">
                        {{ 'New password' | translate }}
                    </label>
                    <input id="change-password-new"
                            [type]="(showPasswords.change1 === true) ? 'text' : 'password'"
                            class="form-control"
                            [class.error]="changePasswordForm.controls.passwordConfirm.hasError('mismatch')"
                            formControlName="password"
                            size="45"
                            placeholder="{{ 'Enter your new password' | translate }}">
                    <div *ngIf="hasError(changePasswordForm.get('password'), 'required')" class="field-error">
                        {{ 'Field is required' | translate }}
                    </div>
                    <div *ngIf="hasError(changePasswordForm.get('password'), 'rules') || hasError(changePasswordForm.get('password'), 'length')" class="field-error">
                        {{ 'Password does not satisfy security criteria' | translate }}
                    </div>
                    <div *ngIf="changePasswordForm.controls.passwordConfirm.hasError('mismatch') && !changePasswordForm.controls.password.hasError('minlength') && !hasError(changePasswordForm.get('password'), 'rules') && !hasError(changePasswordForm.get('password'), 'length')"
                            class="field-error force-display-error">
                        {{ 'Passwords do not match' | translate }}
                    </div>
                    <clr-icon class="showPassword" [attr.shape]="showPasswords.change1 ? 'eye-hide' : 'eye'" (click)="showPasswords.change1 = !showPasswords.change1"></clr-icon>
                </div>

                <div class="form-group text-center">
                    <label for="change-password-confirm">
                        {{ 'Password confirmation' | translate }}
                    </label>

                    <input id="change-password-confirm"
                            [type]="(showPasswords.change2 === true) ? 'text' : 'password'"
                            class="form-control"
                            formControlName="passwordConfirm"
                            placeholder="{{ 'Enter your new password' | translate }}">
                    <div *ngIf="hasError(changePasswordForm.get('passwordConfirm'), 'required')" class="field-error">
                        {{ 'Field is required' | translate }}
                    </div>
                    <div *ngIf="changePasswordForm.controls.passwordConfirm.hasError('mismatch') && !changePasswordForm.controls.passwordConfirm.hasError('minlength')" class="field-error">
                        {{ 'Passwords do not match' | translate }}
                    </div>
                    <clr-icon class="showPassword" [attr.shape]="showPasswords.change2 ? 'eye-hide' : 'eye'" (click)="showPasswords.change2 = !showPasswords.change2"></clr-icon>
                </div>

                <button id="change-password-cancel"
                        class="btn btn-multi"
                        type="button"
                        (click)="closeFPModal()">
                    {{'Cancel' | translate}}
                </button>
                <button [clrLoading]="submitBtnState"
                        id="change-password-submit"
                        type="submit"
                        class="btn btn-primary btn-multi"
                        [disabled]="!changePasswordForm.valid">
                    {{'Send' | translate}}
                </button>
            </form>
        </div>
    </div>
</ng-template>

<!--CHANGE PASSWORD SUCCESS TEMPLATE-->
<ng-template #changePasswordSuccessTemplate>
    <div [@fadeIn]>
        <section class="title capitalise">
            {{ 'Change Password' | translate }}
        </section>
        <div class="login-group">
            <div class="text-block flex-wrap">
                <clr-icon class="success-icon" shape="success-standard"></clr-icon>
                <p class="no-margin">{{ 'Your password has been changed successfully' | translate }}.</p>
            </div>
            <button id="back-to-login" class="btn btn-primary" type="button" (click)="closeFPModal()">
                {{ 'Back to login' | translate }}
            </button>
        </div>
    </div>
</ng-template>

<!--RESET PASSWORD FORM TEMPLATE-->
<ng-template #resetPasswordFormTemplate>
    <div [@fadeIn]>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetUserPassword($event)">
            <section class="title capitalise">
                {{ 'Change Password' | translate }}
            </section>
            <div class="login-group">
                <div class="text-block">
                    <p class="no-margin">{{'Your password has expired and must be changed' | translate}}</p>
                </div>

                <ng-container *ngTemplateOutlet="passwordAlert"></ng-container>
                <ng-container *ngTemplateOutlet="alertTemplate"></ng-container>

                <div class="form-group">
                    <label for="reset-password-current">
                        {{ 'Current password' | translate }}
                    </label>
                    <input
                        id="reset-password-current"
                        class="form-control"
                        [type]="(showPasswords.resetold === true) ? 'text' : 'password'"
                        size="45"
                        formControlName="oldPassword"
                        placeholder="{{ 'Enter your current password' | translate }}">
                    <div *ngIf="hasError(resetPasswordForm.get('oldPassword'), 'required')" class="field-error">
                        {{ 'Field is required' | translate }}
                    </div>
                    <clr-icon class="showPassword" [attr.shape]="showPasswords.resetold ? 'eye-hide' : 'eye'" (click)="showPasswords.resetold = !showPasswords.resetold"></clr-icon>
                </div>

                <div class="form-group">
                    <label for="reset-password-new">
                        {{ 'New password' | translate }}
                    </label>
                    <input
                        id="reset-password-new"
                        class="form-control"
                        [class.error]="resetPasswordForm.controls.passwordConfirm.hasError('mismatch')"
                        [type]="(showPasswords.reset1 === true) ? 'text' : 'password'"
                        size="45"
                        formControlName="password"
                        placeholder="{{ 'Enter your new password' | translate }}"
                    />
                    <div *ngIf="hasError(resetPasswordForm.get('password'), 'required')" class="field-error">
                        {{ 'Field is required' | translate }}
                    </div>
                    <div *ngIf="hasError(resetPasswordForm.get('password'), 'rules') || hasError(resetPasswordForm.get('password'), 'length')" class="field-error">
                        {{'Password does not satisfy security criteria' | translate}}
                    </div>
                    <div *ngIf="hasError(resetPasswordForm.get('password'), 'same') && !hasError(resetPasswordForm.get('password'), 'rules') && !hasError(resetPasswordForm.get('password'), 'length')" class="field-error">
                        {{ 'Password must be new' | translate }}
                    </div>
                    <div *ngIf="hasError(resetPasswordForm.get('passwordConfirm'), 'mismatch') && !hasError(resetPasswordForm.get('password'), 'rules') && !hasError(resetPasswordForm.get('password'), 'length') && !hasError(resetPasswordForm.get('password'), 'same')" class="field-error force-display-error">
                        {{ 'Passwords do not match' | translate }}
                    </div>
                    <clr-icon class="showPassword" [attr.shape]="showPasswords.reset1 ? 'eye-hide' : 'eye'" (click)="showPasswords.reset1 = !showPasswords.reset1"></clr-icon>
                </div>

                <div class="form-group">
                    <label for="reset-password-confirm">
                        {{ 'Confirm Password' | translate }}
                    </label>
                    <input class="form-control"
                            id="reset-password-confirm"
                            [type]="(showPasswords.reset2 === true) ? 'text' : 'password'"
                            size="45"
                            formControlName="passwordConfirm"
                            placeholder="{{ 'Enter your new password' | translate }}">
                    <div *ngIf="hasError(resetPasswordForm.get('passwordConfirm'), 'required')" class="field-error">
                        {{ 'Field is required' | translate }}
                    </div>
                    <div *ngIf="hasError(resetPasswordForm.get('passwordConfirm'), 'mismatch')" class="field-error">
                        {{ 'Passwords do not match' | translate }}
                    </div>
                    <clr-icon class="showPassword" [attr.shape]="showPasswords.reset2 ? 'eye-hide' : 'eye'" (click)="showPasswords.reset2 = !showPasswords.reset2"></clr-icon>
                </div>

                <button [clrLoading]="submitBtnState"
                        id="reset-password-submit"
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="!resetPasswordForm.valid">
                    {{ 'Reset password' | translate }}
                </button>
            </div>
        </form>
    </div>
</ng-template>

<!--RESET PASSWORD SUCCESS TEMPLATE-->
<ng-template #resetPasswordSuccessTemplate>
    <div [@fadeIn]>
        <section class="title">
            {{ 'Change Password' | translate }}
        </section>
        <div class="login-group">
            <div class="text-block flex-wrap">
                <clr-icon class="success-icon" shape="success-standard"></clr-icon>
                <p class="no-margin">{{ 'Your password has been reset.' | translate }}<br>
                    {{ 'A confirmation email will be sent to you.' | translate }}</p>
            </div>
            <button id="continue-to-platform" class="btn btn-primary" type="button" (click)="handleContinueAfterResetPassword()">
                {{ 'Continue' | translate }}
            </button>
        </div>
    </div>
</ng-template>

<!--PASSWORD ALERT-->
<ng-template #passwordAlert>
    <div class="alert alert-info alert-sm" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <span class="alert-text">
                    {{ 'The password must be at least 8 characters long and satisfy 3 of the following rules:' | translate }}
                    <ul>
                        <li>{{ 'One uppercase letter' | translate }}</li>
                        <li>{{ 'One lowercase letter' | translate }}</li>
                        <li>{{ 'One number' | translate }}</li>
                        <li>{{ 'One symbol' | translate }}</li>
                        <li>{{ 'One international character' | translate }}</li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
</ng-template>

<!--ALERT TEMPLATE-->
<ng-template #alertTemplate>
    <div *ngIf="alert.show" class="alert alert-sm {{alert.type}}" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" [attr.shape]="alert.icon"></clr-icon>
                </div>
                <span class="alert-text">
                    {{ alert.content | translate }}
                </span>
            </div>
        </div>
    </div>
</ng-template>