<div class="header-breadcrumbs">
    <h1 id="ofi-coupon-payments"><i class="fa fa-museum"></i> <span mltag="txt_couponpayment">Coupon Payment</span></h1>
</div>

<div class="wrapper wrapper-content">

    <clr-tabs *ngIf="tabsControl.length">
        <clr-tab *ngFor="let tabdata of tabsControl; let id = index">
            <button clrTabLink id="coupon-tab-{{id}}"><i class="fa {{tabdata.title.icon}}"></i> {{tabdata.title.text}}</button>
            <clr-tab-content *clrIfActive="tabdata.active">
                <ng-container *ngIf="id === 0">
                    <!-- Coupon Payment list tab. -->
                    <ng-container
                        *ngTemplateOutlet="staticCouponsList"
                    ></ng-container>
                </ng-container>

                <ng-container *ngIf="id === 1">
                    <!-- Create Coupon Payment tab. -->
                    <ng-container
                        *ngTemplateOutlet="staticCreateCouponPayment; context: {'formControl': tabdata.formControl, 'tabid': id}"
                    ></ng-container>
                </ng-container>

                <ng-container *ngIf="id >= 2">
                    <!-- View Coupon Payment tabs. -->
                    <ng-container
                        *ngTemplateOutlet="dynamicCouponPaymentView; context: {'formControl': tabdata.formControl, 'tabid': id}"
                    ></ng-container>
                </ng-container>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>

    <!-- Coupon Payments Data Table. -->
    <ng-template #staticCouponsList>
        <div class="panel-body">
            <clr-datagrid #walletDataGrid>
                <clr-dg-column mltag="txt_action">Action</clr-dg-column>
                <clr-dg-column mltag="txt_couponid">Coupon ID</clr-dg-column>
                <clr-dg-column mltag="txt_fund">Fund</clr-dg-column>
                <clr-dg-column mltag="txt_fundisin">Fund ISIN</clr-dg-column>
                <clr-dg-column mltag="txt_ratio">Ratio</clr-dg-column>
                <clr-dg-column mltag="txt_grossamount">Gross Amount</clr-dg-column>
                <clr-dg-column mltag="txt_datevaluation">Date Valuation</clr-dg-column>
                <clr-dg-column mltag="txt_datesettlement">Date Settlement</clr-dg-column>
                <clr-dg-column mltag="txt_status">Status</clr-dg-column>

                <clr-dg-row *clrDgItems="let coupon of couponList">
                    <clr-dg-cell>
                        <div class="btn-group btn-sm">
                            <button id="view-{{coupon.couponID}}" (click)="handleViewCoupon(coupon.couponID)" class="btn">
                                <i class="fa fa-search"></i> <span mltag="txt_view">View</span></button>
                        </div>
                    </clr-dg-cell>
                    <clr-dg-cell>{{padNumberLeft(coupon.couponID, 11)}}</clr-dg-cell>
                    <clr-dg-cell>{{coupon.fund}}</clr-dg-cell>
                    <clr-dg-cell>{{coupon.fundIsin}}</clr-dg-cell>
                    <clr-dg-cell>{{coupon.amount | moneyValueOfi}}</clr-dg-cell>
                    <clr-dg-cell>{{coupon.amountGross | moneyValueOfi}}</clr-dg-cell>
                    <clr-dg-cell>{{formatCouponDate(coupon.dateValuation)}}</clr-dg-cell>
                    <clr-dg-cell>{{formatCouponDate(coupon.dateSettlement)}}</clr-dg-cell>
                    <clr-dg-cell>
                        <span *ngIf="coupon.status == '1'" class="label label-warning">
                            <span mltag="txt_waitingapproval">Waiting approval</span>
                        </span>

                        <span *ngIf="coupon.status == '2'" class="label label-warning">
                            <span mltag="txt_waitingoperation">Waiting operation</span>
                        </span>

                        <span *ngIf="coupon.status == '3'" class="label label-warning">
                            <span mltag="txt_waitingoperation">Waiting operation</span>
                        </span>

                        <span *ngIf="coupon.status == '4'" class="label label-warning">
                            <span mltag="txt_waitingvaluation">Waiting valuation</span>
                        </span>

                        <span *ngIf="coupon.status == '5'" class="label label-info">
                            <span mltag="txt_waitingsettlement">Waiting settlement</span>
                        </span>

                        <span *ngIf="coupon.status == '6'" class="label label-info">
                            <span mltag="txt_waitingforpayment">Waiting for payment</span>
                        </span>

                        <span *ngIf="coupon.status == '-1'" class="label label-success">
                            <span mltag="txt_settled">Settled</span>
                        </span>

                        <span *ngIf="coupon.status == '0'" class="label label-danger">
                            <span mltag="txt_canceled">Canceled</span>
                        </span>
                    </clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </div>
    </ng-template>

    <!-- Create Coupon Payment Form. -->
    <ng-template #staticCreateCouponPayment let-formControl="formControl" let-tabid="tabid">
        <div class="panel-body">
            <form id="create-coupon-payment-form" (ngSubmit)="handleNewCoupon(tabid)" [formGroup]="formControl">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_natureofaction">Nature of Action</span>
                            </label>
                            <div>
                                <input id="create-coupon-nature" type="text" [formControl]="formControl.controls['couponNature']" placeholder="" class="form-control nature" mltag="txt_natureofaction">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_drafter">Drafter</span>
                            </label>
                            <div>
                                <input id="create-coupon-drafter" type="text" [formControl]="formControl.controls['couponDrafter']" placeholder="" class="form-control drafter" mltag="txt_drafter">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed" />

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label" mltag="txt_fundsharename"> Fund Share Name</label>
                            <ng-select
                                [items]="filteredUserAssetList"
                                [allowClear]="true"
                                [formControl]="formControl.controls['couponFundShareName']"
                                (selected)="selectedFundShare($event)"
                                (removed)="selectedFundShare([])">
                            </ng-select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_isin">ISIN</span>
                            </label>
                            <div>
                                <input id="create-coupon-isin" type="text" [formControl]="formControl.controls['couponIsin']" placeholder="" class="form-control coupon-isin" mltag="txt_isin">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed" />

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_amountbyshare">Amount By Share</span>
                            </label>
                            <div>
                                <input id="create-coupon-amount-by-share" (keyup)="calculateGrossAmount()" type="text" [formControl]="formControl.controls['couponAmountByShare']" placeholder="" class="form-control amount-by-share" mltag="txt_amountbyshare">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_fundshareunits">Fund Share Units</span>
                            </label>
                            <div>
                                <input id="create-coupon-fund-share-units" type="text" [formControl]="formControl.controls['couponFundShareUnits']" placeholder="" class="form-control fund-share-units" mltag="txt_fundshareunits">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_grossamount">Gross Amount</span>
                            </label>
                            <div>
                                <input id="create-coupon-gross-amount" type="text" [formControl]="formControl.controls['couponGrossAmount']" placeholder="" class="form-control gross-amount" mltag="txt_coupongrossamount">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed" />

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">
                                <span mltag="txt_valuationdate">Valuation Date</span>
                            </label>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_date">Date</span>
                            </label>
                            <div>
                                <input id="create-coupon-valuation-date" type="date" [formControl]="formControl.controls['couponValuationDate']" placeholder="" class="form-control valuation-date" mltag="txt_valuationdate">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_time">Time</span>
                            </label>
                            <div>
                                <input id="create-coupon-valuation-time" type="time" [formControl]="formControl.controls['couponValuationTime']" placeholder="" class="form-control valuation-time" mltag="txt_valuationtime">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed" />

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">
                                <span mltag="txt_settlementdate">Settlement Date</span>
                            </label>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_date">Date</span>
                            </label>
                            <div>
                                <input id="create-coupon-settlement-date" type="date" [formControl]="formControl.controls['couponSettlementDate']" placeholder="" class="form-control settlement-date" mltag="txt_settlementdate">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_time">Time</span>
                            </label>
                            <div>
                                <input id="create-coupon-settlement-time" type="time" [formControl]="formControl.controls['couponSettlementTime']" placeholder="" class="form-control settlement-time" mltag="txt_settlementtime">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed" />

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">
                                <span mltag="txt_comments">Comments</span>
                            </label>
                            <div>
                                <input id="create-coupon-comments" type="text" [formControl]="formControl.controls['couponComments']" placeholder="Comments" class="form-control comments" mltag="txt_comments">
                            </div>
                        </div>
                    </div>

                    <div class="form-group button-group">
                        <div class="col-sm-12">
                            <button id="new-coupon-submit" type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i> <span mltag="txt_save">Save</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <!-- View Coupon Tab. -->
    <ng-template #dynamicCouponPaymentView let-formControl="formControl" let-tabid="tabid">
        <div class="panel-body">
            <form id="create-coupon-payment-form" (ngSubmit)="handleUpdateCoupon(tabid)" [formGroup]="formControl">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_natureofaction">Nature of Action</span>
                            </label>
                            <div>
                                <input id="view-coupon-nature" type="text" [formControl]="formControl.controls['couponNature']" placeholder="" class="form-control nature" mltag="txt_natureofaction">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_drafter">Drafter</span>
                            </label>
                            <div>
                                <input id="view-coupon-drafter" type="text" [formControl]="formControl.controls['couponDrafter']" placeholder="" class="form-control drafter" mltag="txt_drafter">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed" />

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label" mltag="txt_fundsharename"> Fund Share Name</label>
                            <ng-select
                                [items]="filteredUserAssetList"
                                [allowClear]="false"
                                [disabled]="true"
                                [formControl]="formControl.controls['couponFundShareName']">
                            </ng-select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_isin">ISIN</span>
                            </label>
                            <div>
                                <input id="view-coupon-isin" type="text" [formControl]="formControl.controls['couponIsin']" placeholder="" class="form-control coupon-isin" mltag="txt_isin">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed" />

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_amountbyshare">Amount By Share</span>
                            </label>
                            <div>
                                <input id="view-coupon-amount-by-share" (keyup)="calculateGrossAmount()" type="text" [formControl]="formControl.controls['couponAmountByShare']" placeholder="" class="form-control amount-by-share" mltag="txt_amountbyshare">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_fundshareunits">Fund Share Units</span>
                            </label>
                            <div>
                                <input id="view-coupon-fund-share-units" type="text" [formControl]="formControl.controls['couponFundShareUnits']" placeholder="" class="form-control fund-share-units" mltag="txt_fundshareunits">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_grossamount">Gross Amount</span>
                            </label>
                            <div>
                                <input id="view-coupon-gross-amount" type="text" [formControl]="formControl.controls['couponGrossAmount']" placeholder="" class="form-control gross-amount" mltag="txt_coupongrossamount">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed" />

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">
                                <span mltag="txt_valuationdate">Valuation Date</span>
                            </label>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_date">Date</span>
                            </label>
                            <div>
                                <input id="view-coupon-valuation-date" type="date" [formControl]="formControl.controls['couponValuationDate']" placeholder="" class="form-control valuation-date" mltag="txt_valuationdate">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_time">Time</span>
                            </label>
                            <div>
                                <input id="view-coupon-valuation-time" type="time" [formControl]="formControl.controls['couponValuationTime']" placeholder="" class="form-control valuation-time" mltag="txt_valuationtime">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed" />

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">
                                <span mltag="txt_settlementdate">Settlement Date</span>
                            </label>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_date">Date</span>
                            </label>
                            <div>
                                <input id="view-coupon-settlement-date" type="date" [formControl]="formControl.controls['couponSettlementDate']" placeholder="" class="form-control settlement-date" mltag="txt_settlementdate">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">
                                <span mltag="txt_time">Time</span>
                            </label>
                            <div>
                                <input id="view-coupon-settlement-time" type="time" [formControl]="formControl.controls['couponSettlementTime']" placeholder="" class="form-control settlement-time" mltag="txt_settlementtime">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed" />

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">
                                <span mltag="txt_comments">Comments</span>
                            </label>
                            <div>
                                <input id="view-coupon-comments" type="text" [formControl]="formControl.controls['couponComments']" placeholder="Comments" class="form-control comments" mltag="txt_comments">
                            </div>
                        </div>
                    </div>

                    <div class="form-group button-group">
                        <div class="col-sm-12">
                            <a (click)="closeTab(tabid)" class="btn btn-secondary" mltag="txt_close"> Close</a>

                            <ng-container *ngIf="tabsControl[tabid].couponStatus == 1">
                                <!-- Buttons for status 1 coupons -->
                                <a id="view-coupon-cancel" (click)="handleUpdateCoupon(tabid, 'cancel')" class="btn btn-danger">
                                    <i class="fa fa-times"></i> <span mltag="txt_cancel">Cancel</span>
                                </a>
                                <a id="view-coupon-approve" (click)="handleUpdateCoupon(tabid, 'approve')" class="btn btn-primary">
                                    <i class="fa fa-check"></i> <span mltag="txt_approve">Approve</span>
                                </a>
                            </ng-container>

                            <ng-container *ngIf="tabsControl[tabid].couponStatus == 2">
                                <!-- Buttons for status 1 coupons -->
                                <a id="view-coupon-cancel" (click)="handleUpdateCoupon(tabid, 'confirm-payment')" class="btn btn-primary">
                                    <i class="fa fa-check"></i> <span mltag="txt_confirmpayment">Confirm Payment</span>
                                </a>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

</div>
