<div class="header-breadcrumbs">
    <h1 id="ofi-coupon-payments"><i class="fa fa-museum"></i> {{ 'Coupon Payment' | translate }}</h1>
</div>

<div class="wrapper wrapper-content">

    <clr-tabs *ngIf="tabsControl.length">
        <clr-tab *ngFor="let tabdata of tabsControl; let id = index">
            <button clrTabLink id="coupon-tab-{{id}}" [routerLink]="['/corporate-actions/coupon-payment', id]"><i class="fa {{tabdata.title.icon}}"></i> {{tabdata.title.text}}</button>
            <clr-tab-content *clrIfActive="tabdata.active">
                <ng-container *ngIf="id === 0">
                    <!-- Coupon Payment list tab. -->
                    <ng-container *ngTemplateOutlet="staticCouponsList">
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="id === 1">
                    <!-- Create Coupon Payment tab. -->
                    <ng-container *ngTemplateOutlet="staticCreateCouponPayment; context: {'formControl': tabdata.formControl, 'tabid': id}">
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="id >= 2">
                    <!-- View Coupon Payment tabs. -->
                    <ng-container *ngTemplateOutlet="dynamicCouponPaymentView; context: {'formControl': tabdata.formControl, 'tabid': id}">
                    </ng-container>
                </ng-container>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>

    <!-- Coupon Payments Data Table. -->
    <ng-template #staticCouponsList>
        <div class="panel-body">
            <clr-datagrid #walletDataGrid>
                <clr-dg-column>{{ 'Action' | translate }}</clr-dg-column>
                <clr-dg-column>{{ 'Coupon ID' | translate }}</clr-dg-column>
                <clr-dg-column>{{ 'Fund' | translate }}</clr-dg-column>
                <clr-dg-column>{{ 'Fund ISIN' | translate }}</clr-dg-column>
                <clr-dg-column class="right">{{ 'Ratio' | translate }}</clr-dg-column>
                <clr-dg-column class="right">{{ 'Gross Amount' | translate }}</clr-dg-column>
                <clr-dg-column>{{ 'Date Valuation' | translate }}</clr-dg-column>
                <clr-dg-column>{{ 'Date Settlement' | translate }}</clr-dg-column>
                <clr-dg-column>{{ 'Status' | translate }}</clr-dg-column>

                <clr-dg-row *clrDgItems="let coupon of couponList">
                    <clr-dg-cell>
                        <div class="btn-group btn-sm">
                            <button id="view-{{coupon.couponID}}" (click)="handleViewCoupon(coupon.couponID)" class="btn">
                                <i class="fa fa-search"></i> {{ 'View' | translate }}</button>
                        </div>
                    </clr-dg-cell>
                    <clr-dg-cell>{{padNumberLeft(coupon.couponID, 11)}}</clr-dg-cell>
                    <clr-dg-cell>{{coupon.fund}}</clr-dg-cell>
                    <clr-dg-cell>{{coupon.fundIsin}}</clr-dg-cell>
                    <clr-dg-cell class="right">{{coupon.amount | moneyValue}}</clr-dg-cell>
                    <clr-dg-cell class="right">{{coupon.amountGross | moneyValue}}</clr-dg-cell>
                    <clr-dg-cell>{{formatCouponDate(coupon.dateValuation)}}</clr-dg-cell>
                    <clr-dg-cell>{{formatCouponDate(coupon.dateSettlement)}}</clr-dg-cell>
                    <clr-dg-cell>
                        <span *ngIf="coupon.status == '1'" class="label label-warning">{{ 'Waiting Approval' | translate }}</span>

                        <span *ngIf="coupon.status == '2'" class="label label-warning">{{ 'Waiting Operation' | translate }}</span>

                        <span *ngIf="coupon.status == '3'" class="label label-warning">{{ 'Waiting Operation' | translate }}</span>

                        <span *ngIf="coupon.status == '4'" class="label label-warning">{{ 'Waiting Valuation' | translate }}</span>

                        <span *ngIf="coupon.status == '5'" class="label label-info">{{ 'Waiting Settlement' | translate }}</span>

                        <span *ngIf="coupon.status == '6'" class="label label-info">{{ 'Waiting for Payment' | translate }}</span>

                        <span *ngIf="coupon.status == '-1'" class="label label-success">{{ 'Settled' | translate }}             </span>

                        <span *ngIf="coupon.status == '0'" class="label label-danger">{{ 'Canceled' | translate }}</span>
                    </clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}

                    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </div>
    </ng-template>

    <!-- Create Coupon Payment Form. -->
    <ng-template #staticCreateCouponPayment let-formControl="formControl" let-tabid="tabid">
        <div class="panel-body">
            <form id="create-coupon-payment-form" (ngSubmit)="handleNewCoupon(tabid)" [formGroup]="formControl">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Nature of Action' | translate }}</label>
                            <div>
                                <input id="create-coupon-nature" 
                                        type="text" 
                                        [formControl]="formControl.controls['couponNature']" 
                                        placeholder="" 
                                        class="form-control nature">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Drafter' | translate }}</label>
                            <div>
                                <input id="create-coupon-drafter" 
                                        type="text" 
                                        [formControl]="formControl.controls['couponDrafter']" 
                                        placeholder="" 
                                        class="form-control drafter">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed">

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Fund Share Name' | translate }}</label>
                            <ng-select [items]="filteredUserAssetList" 
                                        [allowClear]="true" 
                                        [formControl]="formControl.controls['couponFundShareName']" 
                                        (selected)="selectedFundShare($event)" 
                                        (removed)="selectedFundShare([])">
                            </ng-select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'ISIN' | translate }}</label>
                            <div>
                                <input id="create-coupon-isin" 
                                        type="text" 
                                        [formControl]="formControl.controls['couponIsin']" 
                                        placeholder="" 
                                        class="form-control coupon-isin">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed">

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Amount By Share' | translate }}</label>
                            <div>
                                <input id="create-coupon-amount-by-share" 
                                        (keyup)="calculateGrossAmount()" 
                                        type="text" 
                                        [formControl]="formControl.controls['couponAmountByShare']" 
                                        placeholder="" 
                                        class="form-control amount-by-share">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Fund Share Units' | translate }}</label>
                            <div>
                                <input id="create-coupon-fund-share-units" 
                                        type="text" 
                                        [formControl]="formControl.controls['couponFundShareUnits']" 
                                        placeholder="" 
                                        class="form-control fund-share-units">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Gross Amount' | translate }}</label>
                            <div>
                                <input id="create-coupon-gross-amount" 
                                        type="text" 
                                        [formControl]="formControl.controls['couponGrossAmount']" 
                                        placeholder="" 
                                        class="form-control gross-amount">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed">

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">{{ 'Valuation Date' | translate }}</label>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Date' | translate }}</label>
                            <div>
                                <input id="create-coupon-valuation-date" 
                                        type="date" 
                                        [formControl]="formControl.controls['couponValuationDate']" 
                                        placeholder="" 
                                        class="form-control valuation-date">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Time' | translate }}</label>
                            <div>
                                <input id="create-coupon-valuation-time" 
                                        type="time" 
                                        [formControl]="formControl.controls['couponValuationTime']" 
                                        placeholder="" 
                                        class="form-control valuation-time">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed">

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">{{ 'Settlement Date' | translate }}</label>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Date' | translate }}</label>
                            <div>
                                <input id="create-coupon-settlement-date" 
                                        type="date" 
                                        [formControl]="formControl.controls['couponSettlementDate']" 
                                        placeholder="" 
                                        class="form-control settlement-date">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Time' | translate }}</label>
                            <div>
                                <input id="create-coupon-settlement-time" 
                                        type="time" 
                                        [formControl]="formControl.controls['couponSettlementTime']" 
                                        placeholder="" 
                                        class="form-control settlement-time">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed">

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">{{ 'Comments' | translate }}</label>
                            <div>
                                <input id="create-coupon-comments" 
                                        type="text" 
                                        [formControl]="formControl.controls['couponComments']" 
                                        [placeholder]="translate.translate('Comments')" 
                                        class="form-control comments">
                            </div>
                        </div>
                    </div>

                    <div class="form-group button-group">
                        <div class="col-sm-12">
                            <button id="new-coupon-submit" type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i> {{ 'Save' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <!-- View Coupon Tab. -->
    <ng-template #dynamicCouponPaymentView let-formControl="formControl" let-tabid="tabid">
        <div class="panel-body">
            <form id="create-coupon-payment-form" (ngSubmit)="handleUpdateCoupon(tabid)" [formGroup]="formControl">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Nature of Action' | translate }}</label>
                            <div>
                                <input id="view-coupon-nature" 
                                        type="text" 
                                        [formControl]="formControl.controls['couponNature']" 
                                        placeholder="" 
                                        class="form-control nature">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Drafter' | translate }}</label>
                            <div>
                                <input id="view-coupon-drafter" 
                                        type="text" 
                                        [formControl]="formControl.controls['couponDrafter']" 
                                        placeholder="" 
                                        class="form-control drafter">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed">

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Fund Share Name' | translate }}</label>
                            <ng-select [items]="filteredUserAssetList" 
                                        [allowClear]="false" 
                                        [disabled]="true" 
                                        [formControl]="formControl.controls['couponFundShareName']">
                            </ng-select>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'ISIN' | translate }}</label>
                            <div>
                                <input id="view-coupon-isin" 
                                        type="text" 
                                        [formControl]="formControl.controls['couponIsin']" 
                                        placeholder="" 
                                        class="form-control coupon-isin">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed">

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Amount By Share' | translate }}</label>
                            <div>
                                <input id="view-coupon-amount-by-share" 
                                        (keyup)="calculateGrossAmount()" 
                                        type="text" 
                                        [formControl]="formControl.controls['couponAmountByShare']" 
                                        placeholder="" 
                                        class="form-control amount-by-share">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Fund Share Units' | translate }}</label>
                            <div>
                                <input id="view-coupon-fund-share-units" 
                                        type="text" 
                                        [formControl]="formControl.controls['couponFundShareUnits']" 
                                        placeholder="" 
                                        class="form-control fund-share-units">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Gross Amount' | translate }}</label>
                            <div>
                                <input id="view-coupon-gross-amount" 
                                        type="text" 
                                        [formControl]="formControl.controls['couponGrossAmount']" 
                                        placeholder="" 
                                        class="form-control gross-amount">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed">

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">{{ 'Valuation Date' | translate }}</label>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Date' | translate }}</label>
                            <div>
                                <input id="view-coupon-valuation-date" 
                                        type="date" 
                                        [formControl]="formControl.controls['couponValuationDate']" 
                                        placeholder="" 
                                        class="form-control valuation-date">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Time' | translate }} </label>
                            <div>
                                <input id="view-coupon-valuation-time" 
                                        type="time" 
                                        [formControl]="formControl.controls['couponValuationTime']" 
                                        placeholder="" 
                                        class="form-control valuation-time">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed">

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">{{ 'Settlement Date' | translate }}</label>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Date' | translate }}</label>
                            <div>
                                <input id="view-coupon-settlement-date" 
                                        type="date" 
                                        [formControl]="formControl.controls['couponSettlementDate']" 
                                        placeholder="" 
                                        class="form-control settlement-date">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">{{ 'Time' | translate }}</label>
                            <div>
                                <input id="view-coupon-settlement-time" 
                                        type="time" 
                                        [formControl]="formControl.controls['couponSettlementTime']" 
                                        placeholder="" 
                                        class="form-control settlement-time">
                            </div>
                        </div>
                    </div>

                    <hr class="dashed">

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">{{ 'Comments' | translate }}</label>
                            <div>
                                <input id="view-coupon-comments" 
                                        type="text" 
                                        [formControl]="formControl.controls['couponComments']" 
                                        [placeholder]="translate.translate('Comments')" 
                                        class="form-control comments">
                            </div>
                        </div>
                    </div>

                    <div class="form-group button-group">
                        <div class="col-sm-12">
                            <a (click)="closeTab(tabid)" class="btn btn-secondary">{{ 'Close' | translate }}</a>

                            <ng-container *ngIf="tabsControl[tabid].couponStatus == 1">
                                <!-- Buttons for status 1 coupons -->
                                <a id="view-coupon-cancel" (click)="handleUpdateCoupon(tabid, 'cancel')" class="btn btn-danger">
                                    <i class="fa fa-times"></i> {{ 'Cancel' | translate }}
                                </a>
                                <a id="view-coupon-approve" (click)="handleUpdateCoupon(tabid, 'approve')" class="btn btn-primary">
                                    <i class="fa fa-check"></i> {{ 'Approve' | translate }}
                                </a>
                            </ng-container>

                            <ng-container *ngIf="tabsControl[tabid].couponStatus == 2">
                                <!-- Buttons for status 1 coupons -->
                                <a id="view-coupon-cancel" (click)="handleUpdateCoupon(tabid, 'confirm-payment')" class="btn btn-primary">
                                    <i class="fa fa-check"></i> {{ 'Confirm Payment' | translate }}
                                </a>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

</div>