#blocStatus{
  opacity: 0;
  float: right;
  -webkit-transition: opacity ease-out 1s;
  -moz-transition: opacity ease-out 1s;
  -ms-transition: opacity ease-out 1s;
  -o-transition: opacity ease-out 1s;
  transition: opacity ease-out 1s;
}