<div class="header-breadcrumbs">
    <h1><i class="fa fa-table"></i> {{'Data Grid' | translate}}</h1>
</div>

<div class="padding">
    <a href="#" class="toggle-info-panes" (click)="toggleInfoPanes($event)">{{ showInfoPanes ? '[-] hide info panes' :
        '[+] show info panes' }}

    </a>
    <app-ui-info-pane [hidden]="!showInfoPanes" [message]="'This info pane does not make up part of these guidelines. If you see this pane displayed in any of the below items, it is just for informational purposes. To view the source code for this page, go to @setl/core-layout/layouts/ui-form/components/forms.'">
    </app-ui-info-pane>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink id="datagrid">
            <i class="fa fa-bars"></i> {{'Data Grid' | translate}}
        </button>

        <clr-tab-content *clrIfActive>

            <p>{{'More about' | translate}}<a href="">{{'DataGrid with Buttons see here' | translate}}</a></p>

            <clr-datagrid #dataGrid>
                <clr-dg-column>{{'Column 1' | translate}}</clr-dg-column>
                <clr-dg-column>{{'Column 2' | translate}}</clr-dg-column>
                <clr-dg-column class="actions">{{'Actions' | translate}}</clr-dg-column>

                <clr-dg-row *clrDgItems="let item of mockDataGridItems; let i = index">
                    <clr-dg-cell>{{item.value1}}</clr-dg-cell>
                    <clr-dg-cell>{{item.value2}}</clr-dg-cell>
                    <clr-dg-cell class="actions">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-pencil-square-o"></i>{{'Delete' | translate}}
                        </button>

                        <button class="btn btn-success btn-sm"><i class="fa fa-pencil-square-o"></i>{{'Edit' | translate}}
                        </button>

                    </clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}

                    <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>

            <app-ui-info-pane [hidden]="!showInfoPanes" [message]="'Actions should be right aligned in the table and be on the far right.'">
            </app-ui-info-pane>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>