<form [formGroup]="form" id="step-investment-constraints" (ngSubmit)="handleSubmit($event)">

    <div class="kyc-container">
        <h2>{{ 'Risk Profile' | translate }}</h2>

        <div class="well">
            <div class="row panel-header">
                <div class="col-sm-9">
                    <h5>{{ 'Investment Constraints' | translate }}</h5>
                </div>
                <!-- Disabled -->
                <!-- <div class="col-sm-3 text-right">
                    <div class="pgContainer" [formpercent]="{form: form, animated : false, stripes: false}"></div>
                </div> -->
            </div>

            <div class="row panel-body">
                <div class="row col-sm-12 p-0">
                    <div class="row" *ngIf="amcs?.length > 1">
                        <div class="form-group col-sm-12">
                            <p>
                                {{ 'The following information can be completed for all counterparties or for each of them depending on your investment objectives' | translate }}
                            </p>

                            <div class="checkbox-inline">
                                <input type="checkbox"
                                        id="constraintsSameInvestmentCrossAm"
                                        formControlName="constraintsSameInvestmentCrossAm">
                                <label for="constraintsSameInvestmentCrossAm">
                                    {{ 'I would like to have the same investment objectives for all counterparties' | translate }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- formPercent and refreshForm() is disabled because there no required fields for non- nowCP investorType -->
                    <!-- <investment-constraint-form *ngFor="let constraint of constraintControls; let i = index" [form]="constraint" [multiple]="constraintControls?.length > 1" [index]="i" (refreshForm)="refreshForm()"></investment-constraint-form> -->
                    <investment-constraint-form *ngFor="let constraint of constraintControls; let i = index" [form]="constraint" [multiple]="constraintControls?.length > 1" [index]="i"></investment-constraint-form>
                </div>
            </div>
        </div>
    </div>

</form>