<div class="header-breadcrumbs">
    <h1><i class="fa fa-user"></i><span mltag="txt_myaccount">My Account</span></h1>
</div>

<div class="wrapper wrapper-content">
    <clr-tabs>
        <clr-tab>
            <button clrTabLink clrTabLinkId="link1" [routerLink]="['/account/my-account/detail']">
                <i class="fa fa-user"></i>
                <span mltag="txt_userdetails">User details</span></button>
            <clr-tab-content *clrIfActive="tabStates.detail">
                <section class="form-block">
                    <form [formGroup]="userDetailsForm" (ngSubmit)="submitDetails(userDetailsForm.value)">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="udDisplayName" class="control-label required-field" mltag="txt_displayname">Display
                                    name</label>
                                <input type="text" id="udDisplayName" [formControl]="displayName" size="45"
                                       class="udDisplayName">
                                <div *ngIf="displayName.hasError('required') && displayName.touched" class="field-error"
                                     mltag="txt_displaynamerequired">Field is required
                                </div>
                            </div>
                            <div class="col-sm-6 form-group"></div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="udFirstName" class="control-label required-field" mltag="txt_firstname">First
                                    name</label>
                                <input type="text" id="udFirstName" [formControl]="firstName" size="45">
                                <div *ngIf="firstName.hasError('required') && firstName.touched" class="field-error"
                                     mltag="txt_firstnamerequired">Field is required
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="udLastName" class="control-label required-field" mltag="txt_lastname">Last
                                    name</label>
                                <input type="text" id="udLastName" [formControl]="lastName" size="45">
                                <div *ngIf="lastName.hasError('required') && lastName.touched" class="field-error"
                                     mltag="txt_lastnamerequired">Field is required
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="udMobilePhone" class="control-label required-field" mltag="txt_mobilephone">Mobile
                                    phone</label>
                                <input type="text" id="udMobilePhone" [formControl]="mobilePhone" size="45">
                                <div *ngIf="mobilePhone.hasError('required') && mobilePhone.touched" class="field-error"
                                     mltag="txt_mobilephonerequired">Field is required
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="udAddressPrefix" mltag="txt_addressprefix">Address prefix</label>
                                <input type="text" id="udAddressPrefix" mltag="txt_apartmentorhouse"
                                       placeholder="Apartment or house" [formControl]="addressPrefix" size="45">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="udAddress1" class="control-label required-field" mltag="txt_postaladdress">Postal
                                    Address</label>
                                <input type="text" id="udAddress1" [formControl]="address1" size="45">
                                <div *ngIf="address1.hasError('required') && address1.touched" class="field-error"
                                     mltag="txt_addressrequired">Field is required
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="udAddress2">&nbsp;</label>
                                <input type="text" id="udAddress2" [formControl]="address2" size="45">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="udAddress3" class="control-label required-field" mltag="txt_cityortown">City
                                    or Town</label>
                                <input type="text" id="udAddress3" [formControl]="address3" size="45">
                                <div *ngIf="address3.hasError('required') && address3.touched" class="field-error"
                                     mltag="txt_cityortownrequired">Field is required
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="udAddress4" mltag="txt_stateorarea">State or Area</label>
                                <input type="text" id="udAddress4" [formControl]="address4" size="45">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="udPostalCode" class="control-label required-field" mltag="txt_postalcode">Postal
                                    Code</label>
                                <input type="text" id="udPostalCode" [formControl]="postalCode" size="45">
                                <div *ngIf="postalCode.hasError('required') && postalCode.touched" class="field-error"
                                     mltag="txt_postalcoderequired">Field is required
                                </div>
                                <div *ngIf="!postalCode.valid && postalCode.touched && !postalCode.hasError('required')"
                                     class="field-error" mltag="txt_postalcodeinvalid">Postal Code is not valid
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label required-field" for="country-select" mltag="txt_country">Country</label>
                                <div id="country">
                                    <ng-select id="country-select" [items]="countries" [allowClear]="true"
                                               mltag="txt_selectCountry"
                                               placeholder="Select a country" [formControl]="country"></ng-select>
                                    <div *ngIf="country.hasError('required') && country.touched" class="field-error"
                                         mltag="txt_countryrequired">Field is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="udMemorableQuestion" mltag="txt_memorablequestion">Memorable
                                    question</label>
                                <input type="text" id="udMemorableQuestion" [formControl]="memorableQuestion"
                                       size="45">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="udMemorableAnswer" mltag="txt_memorableanswer">Memorable answer</label>
                                <input type="text" id="udMemorableAnswer" [formControl]="memorableAnswer" size="45">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="udProfileText" mltag="txt_profiletext">Profile text</label>
                                <textarea id="udProfileText" [formControl]="profileText" rows="5"
                                          style="width:95%"></textarea>
                            </div>
                            <div class="col-sm-6 form-group"></div>
                        </div>
                        <button id="udSubmit" type="submit" class="btn btn-primary" [disabled]="!userDetailsForm.valid">
                            <i class="fa fa-save"></i> <span mltag="txt_update">Update</span></button>
                        <button id="udReset" type="reset" class="btn btn-info" mltag="txt_reset">Reset</button>
                    </form>
                </section>
            </clr-tab-content>
        </clr-tab>
        <clr-tab>
            <button clrTabLink clrTabLinkId="link2" [routerLink]="['/account/my-account/password']">
                <i class="fa fa-lock"></i>
                <span mltag="txt_changepassword">Change password</span></button>
            <clr-tab-content *clrIfActive="tabStates.password">
                <section class="form-block">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <form [formGroup]="changePassForm" (ngSubmit)="changePass(changePassForm.value)">
                                <div class="form-group">

                                    <!-- Old password -->
                                    <div class="col-xs-11 no-gutter">
                                        <label for="cpOldPassword" class="required-field" mltag="txt_oldpassword">Old
                                            Password
                                        </label>
                                        <input [type]="(showPasswords === true) ? 'text' : 'password'"
                                               id="cpOldPassword" [formControl]="oldPassword"
                                               [class.error]="hasError('oldPassword')"
                                               size="45">

                                        <div *ngIf="hasError('oldPassword', 'required')" class="field-error">
                                            {{'Field is required' | translate}}
                                        </div>

                                    </div>
                                    <div class="col-xs-1 no-gutter">
                                        <div class="show-hide" (click)="toggleShowPasswords()"
                                             mltag="txt_showhidepassword"
                                             title="Show/hide passwords"><i
                                            [class]="(showPasswords === true) ? 'fa fa-eye-slash' : 'fa fa-eye'"
                                            aria-hidden="true"></i></div>
                                    </div>
                                </div>

                                <!-- New password -->
                                <div class="form-group">
                                    <div class="col-xs-11 no-gutter">
                                        <label for="cpPassword" class="required-field" mltag="txt_password">Password
                                        </label>
                                        <input [type]="(showPasswords === true) ? 'text' : 'password'"
                                               [class.error]="hasError('password')"
                                               id="cpPassword" [formControl]="password" size="45">


                                        <div *ngIf="hasError('', 'oldNew') && isTouched('oldPassword') && isTouched('password') && !hasError('password', 'required')"
                                             class="field-error">
                                            {{'The new password should not be the same as the old' | translate}}
                                        </div>
                                        <div *ngIf="hasError('password', 'required')"
                                             class="field-error">
                                            {{'Field is required' | translate}}
                                        </div>
                                        <div *ngIf="hasError('password', 'rules') && !hasError('', 'oldNew')"
                                             class="field-error">
                                            {{'Your password doesn\'t meet the security criteria' | translate}}
                                        </div>

                                    </div>
                                    <div class="col-xs-1 no-gutter">
                                        <div class="show-hide"
                                             (click)="toggleShowPasswords()" mltag="txt_showhidepassword"
                                             title="Show/hide passwords"><i
                                            [class]="(showPasswords === true) ? 'fa fa-eye-slash' : 'fa fa-eye'"
                                            aria-hidden="true"></i></div>
                                    </div>
                                </div>

                                <!-- New password confirm -->
                                <div class="form-group">
                                    <div class="col-xs-11 no-gutter">
                                        <label for="cpPasswordConfirm" class="required-field"
                                               mltag="txt_passwordconfirm">Password confirmation
                                        </label>
                                        <input [type]="(showPasswords === true) ? 'text' : 'password'"
                                               id="cpPasswordConfirm"
                                               [class.error]="hasError('passwordConfirm')"
                                               [formControl]="passwordConfirm" size="45">

                                        <div *ngIf="hasError('passwordConfirm', 'required')" class="field-error">
                                            {{'Field is required' | translate}}
                                        </div>
                                        <div *ngIf="hasError('', 'mismatch') && !hasError('passwordConfirm', 'required') && isTouched('passwordConfirm')"
                                             class="field-error">
                                            {{'Password does not match' | translate}}
                                        </div>
                                    </div>
                                    <div class="col-xs-1 no-gutter">
                                        <div class="show-hide"
                                             (click)="toggleShowPasswords()" mltag="txt_showhidepassword"
                                             title="Show/hide passwords"><i
                                            [class]="(showPasswords === true) ? 'fa fa-eye-slash' : 'fa fa-eye'"
                                            aria-hidden="true"></i></div>
                                    </div>
                                </div>
                                <button id="pwSubmit" type="submit" class="btn btn-primary" [disabled]="!changePassForm.valid">
                                    <i class="fa fa-save"></i> <span mltag="txt_update">Update</span></button>
                            </form>
                        </div>
                        <div class="form-group col-sm-6"></div>
                    </div>
                </section>
            </clr-tab-content>
        </clr-tab>
        <clr-tab>
            <button clrTabLink clrTabLinkId="link3">
                <i class="fa fa-lock"></i>
                <span mltag="txt_tfa">Two-Factor Authentication</span>
            </button>
            <clr-tab-content *clrIfActive="tabStates.tfa">
                <app-enroll></app-enroll>
            </clr-tab-content>
        </clr-tab>
        <clr-tab>
            <button clrTabLink clrTabLinkId="link4">
                <i class="fa fa-terminal"></i>
                <span mltag="txt_api">API</span></button>
            <clr-tab-content *clrIfActive="tabStates.api">
                <form class="form-vertical">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>User ID</label>
                                <input type="text" class="form-control" [value]="userId" readonly>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Wallet ID</label>
                                <input type="text" class="form-control" [value]="connectedWalletId" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>API Key</label>
                                <div class="alert alert-warning api-alert" *ngIf="!apiKey; else apiInput">
                                    <div class="alert-items">
                                        <div class="alert-item static">
                                            <div class="alert-icon-wrapper">
                                                <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                                            </div>
                                            <span class="alert-text">There is no API key available for this user</span>
                                        </div>
                                    </div>
                                </div>
                                <ng-template #apiInput>
                                    <input *ngIf="showApiKey" type="text" class="form-control mono" [value]="apiKey"
                                           readonly>
                                    <input *ngIf="!showApiKey" type="text" class="form-control mono"
                                           [value]="apiKey.substr(0, 4) + '•'.repeat(apiKey.length - 8) + apiKey.substr(apiKey.length - 4, 4)"
                                           readonly>
                                    <span *ngIf="!showApiKey" (click)="showApiKey = true" class="click"><i
                                        class="fa fa-eye"></i> show</span>
                                    <span *ngIf="showApiKey" (click)="showApiKey = false" class="click"><i
                                        class="fa fa-eye-slash"></i> hide</span>
                                    &nbsp;
                                    <span (click)="handleCopyApiKey($event)" class="click"><i
                                        class="fa fa-files-o"></i> <span *ngIf="copied"
                                                                         class="text-success">copied!</span><span
                                        *ngIf="!copied">copy</span></span>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </form>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>

</div>
