<div class="header-breadcrumbs">
    <h1>
        <i class="fa fa-home"></i> {{ 'My Request Audit Trail' | translate }}: {{amCompanyName}}
    </h1>
</div>

<clr-tabs>
    <clr-tab>
        <button id="auditTrailTabBtn" clrTabLink>
            <i class="fa fa-th-list"></i> {{ 'Audit Trail' | translate }}
        </button>
        <clr-tab-content *clrIfActive>

            <div *ngIf="kycID">
                <kyc-status-audit-trail [kycID]="kycID"></kyc-status-audit-trail>
                <div class="hr-line-dashed"></div>
                <kyc-information-audit-trail [kycID]="kycID"></kyc-information-audit-trail>
            </div>

            <div class="text-center mt-1">
                <button id="client_folder_back" class="btn btn-info" [routerLink]="['/onboarding-requests/list']">{{ 'Back' | translate }}</button>
            </div>

        </clr-tab-content>
    </clr-tab>
</clr-tabs>
