:host {
    form {
        width: 100%;

        .btn-container {
            display: flex;
            align-items: flex-end;
            flex-wrap: nowrap;

            p {
                height: 1.5rem;
                line-height: 1.5rem;
                margin-right: 10px;
                margin-left: 10px;
                margin-bottom: 0;
                display: inline-block;
                width: auto;
            }

            a { margin: 0; }
        }
    }
}