<div class="header-breadcrumbs">
    <h1><i class="fa fa-list"></i> <span mltag="txt_listoffunds">Place an Order</span></h1>
</div>

<div class="wrapper wrapper-content">
    <clr-tabs *ngIf="tabsControl.length">
        <clr-tab *ngFor="let tabdata of tabsControl; let id = index">
            <button clrTabLink id="link{{id}}" [routerLink]="['/list-of-funds', id]">
                <span class="{{tabdata.title.colorClass}}"><i class="fa {{tabdata.title.icon}}"></i> {{tabdata.title.text}}</span>
            </button>

            <clr-tab-content *clrIfActive="tabdata.active">
                <ng-container *ngIf="tabdata.actionType === ''">
                    <ng-container *ngTemplateOutlet="listOfFundsTab"></ng-container>
                </ng-container>

                <ng-container *ngIf="tabdata.actionType === 'subscribe'">
                    <app-invest-fund [shareId]="tabdata.fundShareId" [initialFormData]="tabdata.formData" (formDataChange)="updateFormData(id, $event)" [type]="'subscribe'" (close)="closeTab(id)" [doValidate]="production"></app-invest-fund>
                </ng-container>

                <ng-container *ngIf="tabdata.actionType === 'redeem'">
                    <app-invest-fund [shareId]="tabdata.fundShareId" [initialFormData]="tabdata.formData" (formDataChange)="updateFormData(id, $event)" [type]="'redeem'" (close)="closeTab(id)" [doValidate]="production"></app-invest-fund>
                </ng-container>

                <ng-container *ngIf="tabdata.actionType === 'view'">
                    <app-fund-view [shareId]="tabdata.fundShareId" (close)="closeTab(id)"></app-fund-view>
                </ng-container>

            </clr-tab-content>

        </clr-tab>
    </clr-tabs>

    <!--list of fund tab-->
    <ng-template #listOfFundsTab>
        <div class="panel-body">

            <div class="search">
                <span *ngIf="search" class="search-filter" [class.show]="search"><a href="#" (click)="clearSearch($event); searchBox.value='' "><i class="fa fa-search"></i> {{search}} <i class="fa fa-times"></i></a></span>
                <input type="form-control text" placeholder="Search Shares" #searchBox (keyup.enter)="handleSearch(searchBox.value); searchBox.value = '';" (keyup)="showCross = (searchBox.value != '' ? true : false);" id="messagesSearch">
                <button (click)="handleSearch(searchBox.value); searchBox.value = ''; showCross = false;" class="" id="messagesSearchBtn"><i class="fa fa-search"></i></button>
                <i *ngIf="showCross" class="fa fa-times searchCross" (click)="showCross = false; searchBox.value = ''"></i>
            </div>

            <div class="message_list_menu">
                <clr-datagrid>
                    <clr-dg-column mltag="" style="cursor:pointer;" (click)="sortTable('isin')">ISIN <i *ngIf="sortBy['field'] == 'isin'" class="fa fa-long-arrow-{{(sortBy['order']=='desc'?'up':'down')}}"></i></clr-dg-column>                                       <!--(sortable & searchable) -->
                    <clr-dg-column mltag="" style="cursor:pointer;" (click)="sortTable('shareName')">Share Name <i *ngIf="sortBy['field'] == 'shareName'" class="fa fa-long-arrow-{{(sortBy['order']=='desc'?'up':'down')}}"></i></clr-dg-column>                            <!--(sortable & searchable) -->
                    <clr-dg-column mltag="" style="cursor:pointer;" (click)="sortTable('assetClass')">Asset Class <i *ngIf="sortBy['field'] == 'assetClass'" class="fa fa-long-arrow-{{(sortBy['order']=='desc'?'up':'down')}}"></i></clr-dg-column>                          <!--(sortable) -->
                    <clr-dg-column mltag="" style="cursor:pointer;" (click)="sortTable('assetManager')">Asset Manager <i *ngIf="sortBy['field'] == 'assetManager'" class="fa fa-long-arrow-{{(sortBy['order']=='desc'?'up':'down')}}"></i></clr-dg-column>                      <!--(sortable & searchable) -->
                    <clr-dg-column mltag="" style="cursor:pointer;" (click)="sortTable('srri')">SRRI <i *ngIf="sortBy['field'] == 'srri'" class="fa fa-long-arrow-{{(sortBy['order']=='desc'?'up':'down')}}"></i></clr-dg-column>                                       <!--(sortable) -->
                    <clr-dg-column mltag="" style="cursor:pointer;" (click)="sortTable('sri')">SRI <i *ngIf="sortBy['field'] == 'sri'" class="fa fa-long-arrow-{{(sortBy['order']=='desc'?'up':'down')}}"></i></clr-dg-column>                                         <!--(sortable) -->
                    <clr-dg-column mltag="" style="cursor:pointer;" (click)="sortTable('currency')">Share Currency <i *ngIf="sortBy['field'] == 'currency'" class="fa fa-long-arrow-{{(sortBy['order']=='desc'?'up':'down')}}"></i></clr-dg-column>                         <!--(sortable) -->
                    <clr-dg-column mltag="" style="cursor:pointer;" (click)="sortTable('nav')">Last NAV <i *ngIf="sortBy['field'] == 'nav'" class="fa fa-long-arrow-{{(sortBy['order']=='desc'?'up':'down')}}"></i></clr-dg-column>                                    <!--(sortable & searchable) -->
                    <clr-dg-column mltag="" style="cursor:pointer;" (click)="sortTable('subscriptionDate')">Subscription Cut-off Date <i *ngIf="sortBy['field'] == 'subscriptionDate'" class="fa fa-long-arrow-{{(sortBy['order']=='desc'?'up':'down')}}"></i></clr-dg-column>      <!--(sortable & searchable) -->
                    <clr-dg-column mltag="" style="cursor:pointer;" (click)="sortTable('redemptionDate')">Redemption Cut-off Date <i *ngIf="sortBy['field'] == 'redemptionDate'" class="fa fa-long-arrow-{{(sortBy['order']=='desc'?'up':'down')}}"></i></clr-dg-column>          <!--(sortable & searchable) -->
                    <clr-dg-column mltag="txt_actions" style="min-width: 190px;">Actions</clr-dg-column>

                    <clr-dg-row *clrDgItems="let fund of fundList; let i = index">
                        <clr-dg-cell>{{fund['isin']}}</clr-dg-cell>
                        <clr-dg-cell>{{fund['shareName']}}</clr-dg-cell>
                        <clr-dg-cell>{{fund['assetClass']}}</clr-dg-cell>
                        <clr-dg-cell>{{fund['assetManager']}}</clr-dg-cell>
                        <clr-dg-cell>{{fund['srri']}}</clr-dg-cell>
                        <clr-dg-cell>{{fund['sri']}}</clr-dg-cell>
                        <clr-dg-cell>{{fund['currency']}}</clr-dg-cell>
                        <clr-dg-cell>{{fund['nav']}}</clr-dg-cell>
                        <clr-dg-cell>{{fund['subscriptionDate']}}</clr-dg-cell>
                        <clr-dg-cell>{{fund['redemptionDate']}}</clr-dg-cell>
                        <clr-dg-cell>
                            <div class="btn-group btn-sm">
                                <button class="btn text-green" (click)="handleSubscribe(i)">
                                    <i class="fa fa-sign-in"></i> <span mltag="txt_subscribe">Subscribe</span></button>
                                <button class="btn text-red" (click)="handleRedeem(i)">
                                    <i class="fa fa-sign-out"></i> <span mltag="txt_redeem">Redeem</span></button>
                                <button class="btn text-yellow" (click)="handleBuySell(i)">
                                    <i class="fa fa-sign-out"></i> <span mltag="">Sell / Buy</span></button>
                            </div>
                        </clr-dg-cell>
                    </clr-dg-row>

                    <clr-dg-footer>
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                    </clr-dg-footer>
                </clr-datagrid>
            </div>

        </div>
    </ng-template>
</div>