.drop-file-zone {
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 2px dashed #888888;
    cursor: pointer;
    color: #888888;
    -webkit-transition: color 0.5s ease-in, border-color 0.5s ease-in;
    -moz-transition: color 0.5s ease-in, border-color 0.5s ease-in;
    -ms-transition: color 0.5s ease-in, border-color 0.5s ease-in;
    -o-transition: color 0.5s ease-in, border-color 0.5s ease-in;
    transition: color 0.5s ease-in, border-color 0.5s ease-in;
}

.drop-file-input {
    display: none;
}

.drop-file-zone.active {
    border: 2px dashed #ff8261;
    color: #ff8261;
}
