<form #dropFileForm>
    <input class="drop-file-input" #fileInput type="file" [files]="uploadedFiles" (change)="handleFileChange($event)" />
</form>
<div
class="drop-file-zone"
[ngClass]="{active: this.isHovering}"
(drag)="stopPropigation($event)"
(dragstart)="stopPropigation($event)"
(dragend)="stopPropigation($event);onDragLeave($event)"
(dragover)="stopPropigation($event);onDragEnter($event)"
(dragenter)="stopPropigation($event)"
(dragleave)="stopPropigation($event);onDragLeave($event)"
(drop)="stopPropigation($event);onDragLeave($event)"
(click)="handleClick($event)"
(drop)="handleDrop($event)"
>
    <p>
        {{uploadPrompt}}
    </p>
    <p>
        {{numberFilesText}}
    </p>
</div>
