<div class="header-breadcrumbs">
  <h1><i class="fa fa-users"></i> <span mltag="txt_issueasset">Send Asset</span></h1>
</div>

<clr-tabs>
  <clr-tab>
    <button clrTabLink mltag="txt_issueassetform">Send Asset Form</button>
    <clr-tab-content *clrIfActive>
      <form [formGroup]="sendAssetForm" (ngSubmit)="sendAsset()">
        <section class="form-block">
          <div class="form-group col-sm-6">
            <label class="control-label" for="asset" mltag="txt_asset">Asset</label>
            <ng-select id="asset"
                       [items]="walletInstrumentsSelectItems"
                       [allowClear]="true"
                       placeholder="Select Issuer Address"
                       [formControl]="sendAssetForm.controls['asset']"
            >
            </ng-select>
          </div>

          <various-address-select [formControl]="sendAssetForm.controls['recipient']"
                                  [relationshipArray]="toRelationshipSelectItems"
                                  [ownWalletAddressArray]="walletAddressSelectItems"
                                  [class.error]="!sendAssetForm.controls['recipient'].valid &&
                   sendAssetForm.controls['recipient'].touched"></various-address-select>

          <div class="form-group col-sm-6">
            <label class="control-label" for="amount" mltag="txt_amount">Amount</label>
            <input type="text" id="amount" placeholder="Amount" size="45"
                   [formControl]="sendAssetForm.controls['amount']"
                   [class.error]="!sendAssetForm.controls['amount'].valid &&
                   sendAssetForm.controls['amount'].touched" mltag="txt_amount"/>
          </div>

          <button type="submit" class="btn btn-primary" mltag="txt_sendasset">Send Asset</button>
        </section>
      </form>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>