<div class="header-breadcrumbs">
  <h1><i class="fa fa-users"></i> <span mltag="txt_sendasset">Send Asset</span></h1>
</div>

<clr-tabs>
  <clr-tab>
    <button clrTabLink mltag="txt_sendassetform">Send Asset Form</button>
    <clr-tab-content *clrIfActive>
      <form [formGroup]="sendAssetForm" (ngSubmit)="sendAsset()">
        <section class="form-block">
            <div class="form-group col-sm-6">
                <label class="control-label" for="asset" mltag="txt_asset">Asset</label>
                <ng-select id="asset"
                    [items]="allInstrumentList"
                    [allowClear]="true"
                    placeholder="Select Issuer"
                    [formControl]="sendAssetForm.controls['asset']"
                >
                </ng-select>
            </div>

            <div class="form-group col-sm-6">
                <label class="control-label" for="asset" mltag="txt_sendfromaddress">Send From Address</label>
                <ng-select id="assetAddress"
                    [items]="addressList"
                    [allowClear]="true"
                    placeholder="Asset Address"
                    [formControl]="sendAssetForm.controls['assetAddress']"
                >
                </ng-select>
            </div>

            <various-address-select [formControl]="sendAssetForm.controls['recipient']"
                [relationshipArray]="toRelationshipSelectItems"
                [ownWalletAddressArray]="addressList"
                [class.error]="!sendAssetForm.controls['recipient'].valid &&
                sendAssetForm.controls['recipient'].touched"></various-address-select>

            <div class="form-group col-sm-6">
                <label class="control-label" for="amount" mltag="txt_amount">Amount</label>
                <input type="text" id="amount" placeholder="Amount" size="45"
                    [formControl]="sendAssetForm.controls['amount']"
                    [class.error]="!sendAssetForm.controls['amount'].valid &&
                    sendAssetForm.controls['amount'].touched" mltag="txt_amount"/>
            </div>

            <button type="submit" class="btn btn-primary" mltag="txt_send_asset">Send Asset</button>

            <div *ngIf="getError()" class="alert-items col-sm-5">
                <div class="alert alert-danger">
                    <div class="alert-items">
                        <div class="alert-item">
                            <span class="alert-text" mltag="getError().mltag">{{getError().text}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </form>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>