.hover{display: none;}
:host:hover{
    .no-hover{
        display: none;
    }
    .hover{
        display: table-cell;
    }
}

td{
    vertical-align: middle;
    line-height: 26px;
}

.datagrid-row {
    &:hover {
        background-color: inherit;
    }
    .datagrid-action-overflow {
        margin: -56px 30px -30px -190px;
        position: relative;
        &::after {
            border-left: .20833333rem solid #fff;
            border-right: none;
            left: 100%;
            right: auto;
        }
        &::before {
            left: 100%;
            right: auto;
            border-left: .25rem solid #ccc;
            border-right: none;
        }
    }
}