<div class="header-breadcrumbs">
    <h1><i class="fa fa-paper-plane"></i> <span mltag="txt_issueasset">Issue Asset</span></h1>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink><i class="fa fa-plus-circle"></i> <span mltag="txt_newissue">New Issue</span></button>
        <clr-tab-content *clrIfActive>
            <form [formGroup]="issueAssetForm" (ngSubmit)="issueAsset()">
                <section class="form-block">
                    <div class="form-group col-sm-6">
                        <label class="control-label required-field" for="asset" mltag="txt_asset">Asset</label>
                        <ng-select id="asset"
                                   [items]="walletInstrumentsSelectItems"
                                   [allowClear]="true"
                                   placeholder="Select an asset"
                                   [formControl]="issueAssetForm.controls['asset']"
                                   mltag="txt_selectissueraddress">
                        </ng-select>

                        <span *ngIf="issueAssetForm.controls['asset'].hasError('required')" class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                    </div>

                    <div class="form-group">
                        <various-address-select [formControl]="issueAssetForm.controls['recipient']"
                                                [relationshipArray]="walletRelationships"
                                                [ownWalletAddressArray]="walletAddressSelectItems"
                                                [required]="true"></various-address-select>

                        <span *ngIf="issueAssetForm.controls['recipient'].hasError('required')" class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                        <span *ngIf="issueAssetForm.controls['recipient'].hasError('isIssuer')" class="field-error">Recipient address is the issuer</span>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="control-label required-field" for="amount" mltag="txt_amount">Amount</label>
                        <input type="text"
                               id="amount"
                               placeholder="Amount"
                               size="45"
                               [formControl]="issueAssetForm.controls['amount']"
                               mltag="txt_amount">

                        <span *ngIf="issueAssetForm.controls['amount'].hasError('required')" class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                        <span *ngIf="issueAssetForm.controls['amount'].hasError('pattern')" class="field-error">Amount must be a number</span>
                    </div>

                    <button type="submit" class="btn btn-primary" mltag="txt_issueasset" [disabled]="issueAssetForm.invalid">Issue Asset</button>
                </section>
            </form>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
