:host {
    .export-nav {
        padding: 1em 0 0 0;
    }

    .time-orange {
        color: orange;
    }

    .time-red {
        color: red;
    }

    .col-fundsharename {
        width: 175px !important;
    }

    .datagrid-cell {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .col-status {
        width: 100px !important;
    }

    .col-date {
        width: 100px !important;
    }

    .col-currency {
        width: 50px !important;
    }

    .nav-status-price {
        color: #999;
    }

    .nav-status-price.not-set {
        color: #D9D9D9;
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .no-label {
        margin-top: 20px;
    }

    .actions {
        button { margin: 0; }

        .btn[disabled] + .btn { border-left: 1px solid; }

        .btn-reset { width: 100%; }
    }
}