<div class="header-breadcrumbs">
    <h1><i class="fa fa-sitemap"></i>{{'Recordkeeping:' | translate}}

        <span *ngIf="shareID === 0">{{'All Shares' | translate}}</span>
        <span *ngIf="shareID > 0">{{shareTabTitle}}</span>
    </h1>
</div>

<section class="wrapper wrapper-content">
    <clr-tabs *ngIf="tabsControl.length">
        <clr-tab *ngFor="let tabdata of tabsControl; let id = index">
            <button clrTabLink id="-{{id}}" [routerLink]="['/reports/holders-list', (id === 0) ? 'list' :  id]">
                <i class="fa {{tabdata.title.icon}}"></i> {{tabdata.title.text}}
            </button>

            <clr-tab-content *clrIfActive="tabdata.active">
                <form [formGroup]="searchListForm" id="search-orders-form">
                    <div class="form-horizontal">
                        <h3 *ngIf="tabdata.shareData">{{'Please find a list below of all the top holders for @tabdata.shareData.shareName@' | translate: {'tabdata.shareData.shareName': tabdata.shareData.shareName} }}

                        </h3>

                        <div class="row bordered">
                            <div class="form-group col-sm-6">
                                <label style="margin: 10px 0;">
                                    <b><span *ngIf="!tabdata.shareData">{{'Search for a recordkeeping for a specific Share:' | translate}}</span></b>
                                    <span *ngIf="tabdata.shareData">{{'Share name:' | translate}}</span>
                                </label>

                                <br>

                                <div class="input-button-group">
                                    <ng-select id="holders-search-field" [items]="dataListForSearch" [allowClear]="true" [placeholder]="_translate.translate('Type a Share name or ISIN')" [formControl]="searchListForm.controls['search']">
                                    </ng-select>
                                </div>
                            </div>
                        </div>

                        <!-- Holder detail mode -->
                        <div class="row bordered">

                        </div>
                    </div>
                </form>

                <div class="hr-line-dashed"></div>

                <!-- Holders template -->
                <ng-container *ngIf="id === 0">
                    <ng-container *ngTemplateOutlet="staticList"></ng-container>
                </ng-container>

                <!-- Holder detail template -->
                <ng-container *ngIf="id > 0">
                    <ng-container *ngTemplateOutlet="dynamicView; context: {'shareData': tabdata.shareData, 'tabid': id}"></ng-container>
                </ng-container>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>

    <!-- Holders table -->
    <ng-template #staticList>
        <div class="panel-body">
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td>
                        <h3 style="margin-bottom: 3px;">{{'Please find a list of all the shares below:' | translate}}

                        </h3>{{'You can access the recordkeeping for a specific Share by clicking on a line in this table.' | translate}}

                    </td>
                    <td class="text-right" valign="middle">
                        <button id="holders-export-list-btn" type="button" class="btn btn-success" style="max-width: none !important" (click)="handleHoldersExportButtonClick()">{{'Export this recordkeeping for all these Funds & Shares below' | translate}}</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <br>

            <clr-datagrid clrDgSortIcon #ordersDataGrid>
                <clr-dg-column>{{'Fund name' | translate}}

                </clr-dg-column>
                <clr-dg-column>{{'Share name' | translate}}

                </clr-dg-column>
                <clr-dg-column>{{'Currency' | translate}}

                </clr-dg-column>
                <clr-dg-column>{{'ISIN' | translate}}

                </clr-dg-column>
                <clr-dg-column>{{'NAV' | translate}}

                </clr-dg-column>
                <clr-dg-column>{{'Number of units' | translate}}

                </clr-dg-column>
                <clr-dg-column>{{'AUM' | translate}}

                </clr-dg-column>
                <clr-dg-column>{{'Ratio (%)' | translate}}

                </clr-dg-column>
                <clr-dg-column>{{'Number of holders' | translate}}

                </clr-dg-column>

                <clr-dg-row *clrDgItems="let data of holdersList" (click)="handleClickShare(data)" clrDgRowClickable>
                    <clr-dg-cell>
                        <span *ngIf="data.isFund; else col1">
                            {{data.fundName}}
                        </span>
                        <ng-template #col1>
                            <!--empty-->
                        </ng-template>
                    </clr-dg-cell>
                    <clr-dg-cell>
                        <span *ngIf="data.isFund; else col2">
                            <!--empty-->
                        </span>
                        <ng-template #col2>
                            {{data.shareName}}
                        </ng-template>
                    </clr-dg-cell>
                    <clr-dg-cell>
                        <span *ngIf="data.isFund; else col3">{{data.fundCurrency}}

                        </span>
                        <ng-template #col3>{{data.shareCurrency}}

                        </ng-template>
                    </clr-dg-cell>
                    <clr-dg-cell>
                        <span *ngIf="data.isFund; else col4">
                            <!--empty-->
                        </span>
                        <ng-template #col4>{{data.shareIsin}}

                        </ng-template>
                    </clr-dg-cell>
                    <clr-dg-cell>
                        <span *ngIf="data.isFund; else col5">
                            <!--empty-->
                        </span>
                        <ng-template #col5>{{data.shareNav | moneyValue: 2}}

                        </ng-template>
                    </clr-dg-cell>
                    <clr-dg-cell>
                        <span *ngIf="data.isFund; else col6">
                            <!--empty-->
                        </span>
                        <ng-template #col6>{{data.shareUnitNumber | moneyValue:4}}

                        </ng-template>
                    </clr-dg-cell>
                    <clr-dg-cell>
                        <span *ngIf="data.isFund; else col7">{{data.fundAum | moneyValue:5}}

                        </span>
                        <ng-template #col7>{{data.shareAum | moneyValue:5}}

                        </ng-template>
                    </clr-dg-cell>
                    <clr-dg-cell>
                        <span *ngIf="data.isFund; else col8">
                            <!--empty-->
                        </span>
                        <ng-template #col8>{{data.shareRatio | moneyValue:2}}{{'%' | translate}}

                        </ng-template>
                    </clr-dg-cell>
                    <clr-dg-cell>
                        <span *ngIf="data.isFund; else col9">{{data.fundHolderNumber}}

                        </span>
                        <ng-template #col9>{{data.shareHolderNumber}}

                        </ng-template>
                    </clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>
                    <clr-dg-pagination #pagination [clrDgPageSize]="10">
                        <!--{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}}-->
                    </clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </div>
    </ng-template>

    <!-- Holder detail table -->
    <ng-template #dynamicView let-shareData="shareData" let-tabid="tabid">
        <div class="panel-body">

            <form [formGroup]="searchInShareForm" id="search-share-form">
                <div class="form-horizontal">
                    <div class="row bordered">
                        <div class="form-group col-xl-6">
                            <label>{{'Top holders of this Share:' | translate}}

                            </label>
                            <br>
                            <div class="input-button-group">
                                <ng-select id="top-holders-search-field" [items]="holderFilters" name="top" [formControl]="searchInShareForm.controls['top']" (selected)="handleHolderFilterSelect($event.id)">
                                </ng-select>
                            </div>
                        </div>

                        <div class="form-group col-xl-6 text-right">
                            <label>{{'&nbsp;' | translate}}</label>
                            <div>
                                <button id="holders-export-share-btn" type="button" class="btn btn-success" style="max-width: none !important" (click)="handleHolderDetailExportButtonClick()">{{'Export recordkeeping for this date' | translate}}

                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <table style="width: 100%;" class="tableShareDetails">
                    <tbody>
                    <tr>
                        <td width="20%">
                            <div class="form-group">
                                <label>{{'Number of holders (for this date):' | translate}}

                                </label>
                                <div>
                                    <span class="readonly-field">{{shareData.shareHolderNumber}}</span>
                                </div>
                            </div>
                        </td>
                        <td width="20%">
                            <div class="form-group">
                                <label>{{'AUM:' | translate}}

                                </label>
                                <div>
                                    <span class="readonly-field">{{'€' | translate}} {{shareData.shareAum  | moneyValue:5}}</span>
                                </div>
                            </div>
                        </td>
                        <td width="20%">
                            <div class="form-group">
                                <label>{{'Number of units:' | translate}}

                                </label>
                                <div>
                                    <span class="readonly-field">{{shareData.shareUnitNumber  | moneyValue:4}}</span>
                                </div>
                            </div>
                        </td>
                        <td width="20%">
                            <div class="form-group">
                                <label>{{'Latest NAV:' | translate}}

                                </label>
                                <div>
                                    <span class="readonly-field">{{shareData.shareNav  | moneyValue:2}}</span>
                                </div>
                            </div>
                        </td>
                        <td width="20%">
                            <div class="form-group">
                                <label>{{'Currency:' | translate}}

                                </label>
                                <div>
                                    <span class="readonly-field">{{shareData.shareCurrency}}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>

            <clr-datagrid clrDgSortIcon #ordersDataGrid>
                <clr-dg-column [clrDgField]="'ranking'" clrDgSortIcon clrDgSortNoSearch>{{'Ranking' | translate}}
                    <span class="column-label"></span>
                </clr-dg-column>

                <clr-dg-column [clrDgField]="'investorName'" clrDgSortIcon clrDgSortNoSearch>{{'Company Name' | translate}}
                    <span class="column-label"></span>
                </clr-dg-column>

                <clr-dg-column [clrDgField]="'investorName'" clrDgSortIcon clrDgSortNoSearch>{{'Portfolio' | translate}}
                    <span class="column-label"></span>
                </clr-dg-column>

                <clr-dg-column [clrDgField]="'quantity'" clrDgSortIcon clrDgSortNoSearch>{{'Quantity' | translate}}
                    <span class="column-label"></span>
                </clr-dg-column>

                <clr-dg-column [clrDgField]="'amount'" clrDgSortIcon clrDgSortNoSearch>{{'Asset (€)' | translate}}
                    <span class="column-label"></span>
                </clr-dg-column>

                <clr-dg-column [clrDgField]="'ratio'" clrDgSortIcon clrDgSortNoSearch>{{'Ratio (%)' | translate}}
                    <span class="column-label"></span>
                </clr-dg-column>

                <clr-dg-row *clrDgItems="let holderItem of holderDetailData">
                    <clr-dg-cell>{{holderItem.ranking}}</clr-dg-cell>
                    <clr-dg-cell>{{holderItem.companyName}}</clr-dg-cell>
                    <clr-dg-cell>{{holderItem.investorName}}</clr-dg-cell>
                    <clr-dg-cell>{{holderItem.quantity | moneyValue: 4}}</clr-dg-cell>
                    <clr-dg-cell>{{holderItem.amount | moneyValue: 5}}</clr-dg-cell>
                    <clr-dg-cell>{{holderItem.ratio | moneyValue:2}}{{'%' | translate}}</clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>
                    <clr-dg-pagination #pagination [clrDgPageSize]="itemPerPage"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>

            <div class="text-center mt-1">
                <button id="holders-btn-back-list" type="button" class="btn btn-info" style="max-width: none !important" [routerLink]="['/reports/holders-list', '0']">{{'Back to ALL holders page' | translate}}</button>
            </div>
        </div>
    </ng-template>
</section>
