<header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <!--<clr-icon shape="vm-bug"></clr-icon>-->
            <!--<span class="title">Project Clarity</span>-->
            <img src="assets/images/setl_Logo_01.png" style="height: 50%;">
        </a>
    </div>
    <form class="search">
        <label for="search_input">
            <input id="search_input" type="text" placeholder="Search for keywords...">
        </label>
    </form>
    <div class="header-actions">
        <a href="..." class="nav-link nav-icon">
            <clr-icon shape="user"></clr-icon>
            <label>User</label>
        </a>

        <a href="..." class="nav-link nav-icon">
            <clr-icon shape="email" class="is-solid has-badge"></clr-icon>
            <label>Notifications</label>
        </a>

        <a href="..." class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
            <label>Settings</label>
        </a>


        <a href="..." class="nav-link nav-icon">
            <clr-icon shape="logout"></clr-icon>
            <label>Logout</label>
        </a>

        <button class="header-overflow-trigger" type="button">
            <span></span>
        </button>
    </div>
</header>
