<div class="header-breadcrumbs">
    <h1>
        <i class="fa fa-bar-chart"></i> {{'Product Characteristics: ' | translate}}{{currentProduct.fundShareName}}
    </h1>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink id="modal">
            <i class="fa fa-bars"></i> {{'Product Characteristics' | translate}}
        </button>

        <clr-tab-content *clrIfActive>
            <p>{{'Please find below the main information regarding @currentProduct.fundShareName@' | translate: {'currentProduct.fundShareName': currentProduct.fundShareName} }}</p>

            <div class="well">
                <!-- Panel header -->
                <div class="row panel-header">
                    <div class="col-xs-12">
                        <a href="#" (click)="panels[1] = !panels[1]; $event.preventDefault();">
                            <i class="fa fa-chevron-right" [class.rotate]="panels[1]"></i>
                            <h2>{{'Presentation' | translate}}</h2>
                        </a>
                    </div>
                </div>

                <!-- Panel body -->
                <div class="panel-body" [class.hidden]="!panels[1]">

                    <section class="form-block">
                        <clr-datagrid>
                            <clr-dg-column>{{'Information' | translate}}</clr-dg-column>
                            <clr-dg-column>{{'Value' | translate}}</clr-dg-column>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Share Name' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.fundShareName}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'ISIN' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.isin}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Share Class Launch Date' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.launchDate}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Initial NAV' | translate}}</clr-dg-cell>
                                <clr-dg-cell></clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Latest NAV' | translate}}</clr-dg-cell>
                                <clr-dg-cell></clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Fund Managers (name)' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.fundManagers}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'SRRI' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.srri}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'SRI' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.sri}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'AMF CLassification' | translate}}</clr-dg-cell>
                                <clr-dg-cell></clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Legal Form' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.legalForm}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Investment Horizon In Months' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.recommendedHoldingPeriod}}</clr-dg-cell>
                            </clr-dg-row>

                        </clr-datagrid>
                    </section>
                </div>
            </div>

            <div class="well">
                <!-- Panel header -->
                <div class="row panel-header">
                    <div class="col-xs-12">
                        <a href="#" (click)="panels[2] = !panels[2]; $event.preventDefault();">
                            <i class="fa fa-chevron-right" [class.rotate]="panels[1]"></i>
                            <h2>{{'Characteristics & Fees' | translate}}</h2>
                        </a>
                    </div>
                </div>

                <!-- Panel body -->
                <div class="panel-body" [class.hidden]="!panels[2]">
                    <section class="form-block">
                        <clr-datagrid>
                            <clr-dg-column>{{'Information' | translate}}</clr-dg-column>
                            <clr-dg-column>{{'Value' | translate}}</clr-dg-column>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Share Currency' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.shareClassCurrency}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Valuation Frequency (NAV)' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.valuationFrequency}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Is Master vs Feeder' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.status}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Result Affectation' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.distributionPolicy}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Management Fee Maximum' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{'@currentProduct.maxManagementFee@ %' | translate: {'currentProduct.maxManagementFee': currentProduct.maxManagementFee} }}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Subscription Fee Maximum' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{'@currentProduct.maxSubscriptionFee@ %' | translate: {'currentProduct.maxSubscriptionFee': currentProduct.maxSubscriptionFee} }}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Redemption Fee Maximum' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{'@currentProduct.maxRedemptionFee@ %' | translate: {'currentProduct.maxRedemptionFee': currentProduct.maxRedemptionFee} }}</clr-dg-cell>
                            </clr-dg-row>

                        </clr-datagrid>
                    </section>
                </div>
            </div>

            <div class="well">
                <!-- Panel header -->
                <div class="row panel-header">
                    <div class="col-xs-12">
                        <a href="#" (click)="panels[3] = !panels[3]; $event.preventDefault();">
                            <i class="fa fa-chevron-right" [class.rotate]="panels[1]"></i>
                            <h2>{{'Subscription & Redemption Method' | translate}}</h2>
                        </a>
                    </div>
                </div>

                <!-- Panel body -->
                <div class="panel-body" [class.hidden]="!panels[3]">

                    <section class="form-block">
                        <clr-datagrid>
                            <clr-dg-column>{{'Information' | translate}}</clr-dg-column>
                            <clr-dg-column>{{'Value' | translate}}</clr-dg-column>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Subscription Trade Cycle Period' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.subscriptionTradeCyclePeriod}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Subscription Cut-off Time' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.subscriptionCutOffTime}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'NAV Period For Subscription' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.navPeriodForSubscription}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Settlement Period For Subscription' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.subscriptionSettlementPeriod}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Subscription Category' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.subscriptionCategory}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Minimal Initial Subscription In Amount' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.minInitialSubscriptionInAmount}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Minimal Initial Subscription In Shares' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.minInitialSubscriptionInShare}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Redemption Trade Cycle Period' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.redemptionTradeCyclePeriod}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Redemption Cut-off Time' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.redemptionCutOffTime}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'NAV Period For Redemption' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.navPeriodForRedemption}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Settlement For Redemption' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.redemptionSettlementPeriod}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Redemption Category' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.redemptionCategory}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Minimal Initial Redemption In Amount' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.minSubsequentRedemptionInAmount}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Minimal Initial Redemption In Shares' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.minSubsequentRedemptionInShare}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-row>
                                <clr-dg-cell>{{'Decimalisation' | translate}}</clr-dg-cell>
                                <clr-dg-cell>{{currentProduct.maximumNumDecimal}}</clr-dg-cell>
                            </clr-dg-row>

                        </clr-datagrid>
                    </section>

                </div>
            </div>

            <div class="well">
                <!-- Panel header -->
                <div class="row panel-header">
                    <div class="col-xs-12">
                        <a href="#" (click)="panels[4] = !panels[4]; $event.preventDefault();">
                            <i class="fa fa-chevron-right" [class.rotate]="panels[1]"></i>
                            <h2>{{'Regulatory & Reports Documents' | translate}}</h2>
                        </a>
                    </div>
                </div>

                <!-- Panel body -->
                <div class="panel-body" [class.hidden]="!panels[4]">
                    <form>
                        <div class="row">

                            <div class="col-xs-6 file-view-container form-group" *ngIf="currentProduct.prospectus.hash">
                                <div class="form-group">
                                    <label class="control-label">{{'prospectus' | translate}}</label>
                                    <input class="form-control" type="text" value="{{currentProduct.prospectus.filename}}" readonly>
                                </div>
                                <setl-file-viewer [fileHash]="currentProduct.prospectus.hash"></setl-file-viewer>
                            </div>

                            <div class="col-xs-6 file-view-container form-group" *ngIf="currentProduct.kiid.hash">
                                <div class="form-group">
                                    <label class="control-label">{{'KIID' | translate}}</label>
                                    <input class="form-control" type="text" value="{{currentProduct.kiid.filename}}" readonly>
                                </div>
                                <setl-file-viewer [fileHash]="currentProduct.kiid.hash"></setl-file-viewer>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="form-group col-sm-6">
                <button id="close-btn" type="button" class="btn btn-default" (click)="onClickBack()">{{'Close' | translate}}</button>
            </div>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>