.margin-right-10 {
    margin-right: 10px;
}

.pseudo-field-error {
    color: red;
    height: 0px;
    font-size: 12px;
    text-align: right;
    width: 95%;
    border: none;
    padding: 0;
}

#subportfolio-form-modal .modal-body {
    overflow: visible;
}

.clickable {
    cursor: pointer;
}
