.margin-right-10 {
    margin-right: 10px;
}

.pseudo-field-error {
    color: red;
    height: 0px;
    font-size: 12px;
    text-align: right;
    width: 95%;
    border: none;
    padding: 0;
}

#subportfolio-form-modal .modal-body {
    @media screen and (min-height: 550px) {
        overflow: visible;
    }
    .field-error {
        width: 100%;
        margin-right: 0;
    }
}

.clickable {
    cursor: pointer;
}
