//.wrapper.wrapper-content {
//    padding: 0px 20px;
//}
//h1 {
//    display: inline-block;
//    margin: 0;
//    float: left;
//}
//.well {
//    background: white;
//    border: 1px solid #e6e6e6;
//    border-radius: 10px;
//    padding: 10px;
//    margin: 10px;
//    overflow: auto;
//}
//.panel-header {
//  a {
//      color: black;
//      line-height: 48px;
//  }
//  button {
//      margin-right: 0;
//  }
//  .fa-chevron-down {
//        transform: rotate(0deg);
//        transition: transform .5s;
//    &.reverse {
//         transform: rotate(-180deg);
//     }
//  }
//}
//.panel-body {
//    padding-left: 12px;
//    opacity: 1;
//    height: auto;
//    overflow: hidden;
//    transition: opacity .5s linear;
//&.hidden {
//     opacity: 0;
//     height: 0;
//    transition: opacity .5s linear;
// }
//}

.resetButton {
    float: right;
    position: relative;
    top: -90px;
    border-color: #D96F35;
    background-color: #D96F35;
    color: #fff;
}

.quantity-group {
    display: flex;
    align-items: center;
    width: 95%;

    input {
        flex-shrink: 1;
    }
    button {
        margin: 0 0 0 15px;
        flex-shrink: 0;
    }
}

.choice {
    & > label {
        display: block;
        line-height: 20px;
        font-size: 12px;
    }

    .btn-group {
        margin-top: 2px;
    }
}

.btn {
    .btn-sm {
        margin-right: 0px;
    }
}
