<div class="header-breadcrumbs">
    <h1><i class="fa fa-th"></i> {{'Tabs' | translate}}</h1>
</div>

<div class="padding">
    <a href="#" class="toggle-info-panes" (click)="toggleInfoPanes($event)">{{ showInfoPanes ? '[-] hide info panes' : '[+] show info panes' }}</a>
    <app-ui-info-pane [hidden]="!showInfoPanes" [message]="'This info pane does not make up part of these guidelines. If you see this pane displayed in any of the below items, it is just for informational purposes. To view the source code for this page, go to @setl/core-layout/layouts/ui-form.'"></app-ui-info-pane>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink id="primarytab">
            <i class="fa fa-bars"></i> {{'Primary Tab' | translate}}
        </button>

        <clr-tab-content *clrIfActive>
            <app-ui-info-pane [hidden]="!showInfoPanes" [message]="'The primary tab should always be used to display the main data for the feature in which it is being used. New tabs should also be opened to the right of the primary tab. If the tab is dynamic is should spawn to the right of both the primary tab and any static tabs.'"></app-ui-info-pane>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink id="secondarytab">
            <i class="fa fa-plus-circle"></i> {{'Secondary Tab' | translate}}
        </button>

        <clr-tab-content *clrIfActive>
            <app-ui-info-pane [hidden]="!showInfoPanes" [message]="'Secondary tabs can be static and for actions, e.g. \'Add User\', or they can be dynamic and spawned from actions within the primary tab, e.g. \'Edit User\'.'"></app-ui-info-pane>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>