<div class="header-breadcrumbs">
    <h1><i class="fa fa-th-list"></i><span mltag="txt_balances">Balances</span></h1>
</div>


<clr-tabs *ngIf="tabs.length">
    <clr-tab *ngFor="let tab of tabs; let id = index">
        <button clrTabLink id="testlink{{id}}" (click)="tabControl.activate(id)" innerHTML="<i class='fa fa-{{tab.icon}}'></i> {{tab.title | asset}}"></button>
        <clr-tab-content *clrIfActive="tab.active">
            <!-- User list tab. -->
            <ng-container *ngIf="id === 0">
                <ng-container
                        *ngTemplateOutlet="staticBalanceList"
                ></ng-container>
            </ng-container>

            <!-- User edit tabs. -->
            <ng-container *ngIf="id >= 1">
                <ng-container
                        *ngTemplateOutlet="dynamicViewTab; context: {'formControl': tab.formControl, 'id': id, 'asset': tab.data.assetObject, 'transactions': tab.data.transactions, 'template': tab.data.template, 'transaction': tab.data.transaction}"
                ></ng-container>
            </ng-container>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

<ng-template #staticBalanceList>
    <div class="panel-body">

        <clr-datagrid #myDataGrid>
            <clr-dg-column mltag="txt_actions" style="min-width: 160px;">Actions</clr-dg-column>
            <clr-dg-column mltag="txt_identifier" style="min-width: 150px;">Identifier</clr-dg-column>
            <clr-dg-column mltag="txt_asset" style="min-width: 170px;">Asset</clr-dg-column>
            <clr-dg-column mltag="txt_total" style="min-width: 170px;">Total</clr-dg-column> <clr-dg-column mltag="txt_encumbered">Encumbered</clr-dg-column> <clr-dg-column mltag="txt_free">Free</clr-dg-column>

            <clr-dg-row *clrDgItems="let asset of balances$ | async" [class.flash]="asset.isNew">
                <clr-dg-cell>
                    <div class="btn-group btn-sm">
                        <button (click)="handleViewBreakdown(asset)" class="btn">
                            <i class="fa fa-search"></i><span mltag="txt_view">View</span></button>
                        <button class="btn" (click)="handleViewHistory(asset)"><i class="fa fa-history"></i><span mltag="txt_history">History</span>
                        </button>
                    </div>
                </clr-dg-cell>
                <clr-dg-cell>{{asset.identifier}}</clr-dg-cell>
                <clr-dg-cell [innerHtml]="asset.asset | asset"></clr-dg-cell>
                <clr-dg-cell [class.flash]="asset.totalChange">
                    {{asset.total | moneyValue}}
                </clr-dg-cell>
                <clr-dg-cell [class.flash]="asset.encumberChange">
                    {{asset.encumbered | moneyValue}}
                </clr-dg-cell>
                <clr-dg-cell [class.flash]="asset.freeChange">
                    {{asset.free | moneyValue}}
                </clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</ng-template>

<!-- User Edit Form. -->
<ng-template #dynamicViewTab let-formControl="formControl" let-id="id" let-asset="asset" let-template="template" let-transactions="transactions" let-transaction="transaction">
    <div class="user-tab-panel-body panel-body">

        <!-- Breakdown view -->
        <div *ngIf="template === 'breakdown'">
            <div class="form-group tx-view-header">
                <h2 class="ml" mltag="txt_breakdown">Breakdown</h2>
            </div>

            <clr-datagrid #myDataGrid>
                <clr-dg-column mltag="txt_address">Address</clr-dg-column>
                <clr-dg-column mltag="txt_total">Total</clr-dg-column>
                <clr-dg-column mltag="txt_encumbered">Encumbered</clr-dg-column>
                <clr-dg-column mltag="txt_free">Free</clr-dg-column>


                <clr-dg-row *clrDgItems="let breakdown of asset.breakdown">
                    <clr-dg-cell>{{breakdown.addr}}</clr-dg-cell>
                    <clr-dg-cell>{{breakdown.balance | moneyValue}}</clr-dg-cell>
                    <clr-dg-cell>{{breakdown.encumbered | moneyValue}}</clr-dg-cell>
                    <clr-dg-cell>{{breakdown.free | moneyValue}}</clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </div>

        <!-- History view -->
        <div *ngIf="template === 'history'">
            <h2 class="ml" mltag="txt_transactiondetails">Transaction History</h2>

            <clr-datagrid #myDataGrid>
                <clr-dg-column mltag="txt_action">Action</clr-dg-column>
                <clr-dg-column mltag="txt_tx_id">Tx ID</clr-dg-column>
                <clr-dg-column mltag="txt_asset">Assset</clr-dg-column>
                <clr-dg-column mltag="txt_amount">Amount</clr-dg-column>
                <clr-dg-column mltag="txt_time">Time (UTC)</clr-dg-column>
                <clr-dg-column mltag="txt_type">Type</clr-dg-column>

                <clr-dg-row *clrDgItems="let transaction of transactions | async">
                    <clr-dg-cell><button (click)="handleViewTransaction(transaction)" class="btn btn-sm"><i class="fa fa-search"></i>View</button></clr-dg-cell>
                    <clr-dg-cell class="tooltip tooltip-xs" [title]="transaction.hash">{{transaction.shortHash}}</clr-dg-cell>
                    <clr-dg-cell class="ellipsised" [title]="transaction.issuer + ' | ' + transaction.instrument">{{transaction.issuer}} | {{transaction.instrument}}</clr-dg-cell>
                    <clr-dg-cell>{{transaction.amount | moneyValue}}</clr-dg-cell>
                    <clr-dg-cell>{{transaction.utc | date: 'dd/MM/yyyy hh:mm:ss'}}</clr-dg-cell>
                    <clr-dg-cell><span class="label label-success">{{transaction.txType}}</span></clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </div>

        <!-- Transaction view -->
        <div *ngIf="template === 'transaction'">
            <div class="transaction-tab-panel-body panel-body">
                <form>
                    <div class="form-horizontal">
                        <div class="form-group tx-view-header">
                            <div class="col-sm-3">&nbsp;</div>
                            <label class="col-sm-4">
                                <h2 class="ml" mltag="txt_transactiondetails">Transaction Details</h2>
                            </label>
                        </div>

                        <ng-container *ngFor="let field of transactionFields">
                            <div class="form-group" *ngIf="transaction[field.field]">
                                <label class="col-sm-3 control-label">
                                    <span class="ml" mltag="txt_">{{field.displayName}}</span>
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" readonly="" [value]="transaction[field.field]">
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </form>
            </div>
        </div>

        <div class="form-group tx-view-header">
            <button type="button" class="btn btn-primary" (click)="closeTab(id)">Close</button>
        </div>
    </div>
</ng-template>
