<div>
    <form-steps-progress [config]="progress">
    </form-steps-progress>

    <div class="steps-slider" [ngStyle]="{'marginLeft': margin}">
        <ng-content></ng-content>
    </div>
</div>
<div class="steps-buttons">
    <button *ngIf="!isBeginning()" class="btn btn-info" (click)="askPrevious()">
        {{'Previous' | translate}}
    </button>
    <button class="btn btn-warning" (click)="askClose()">
        {{'Close' | translate}}
    </button>
    <button #submit class="btn btn-success" (click)="askNext()">
        <span *ngIf="!isEnd()">
            {{'Next' | translate}}
        </span>
        <span *ngIf="isEnd()">
            {{'Submit' | translate}}
        </span>
    </button>
</div>