<div class="header-breadcrumbs">
    <h1><i class="fa fa-lightbulb-o"></i> {{ 'Transaction Status' | translate}}</h1>
</div>

<clr-tabs *ngIf="tabs.length > 0">
    <clr-tab *ngFor="let tab of tabs; let id = index">
        <button clrTabLink id="testlink{{id}}" (click)="tabControl.activate(id)"
                innerHTML="<i class='fa fa-{{tab.icon}}'></i> {{tab.title}}"></button>

        <clr-tab-content *clrIfActive="tab.active">
            <div [hidden]="id !== 0">
                <ng-container
                        *ngTemplateOutlet="staticTransactionsList"
                ></ng-container>
            </div>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

<ng-template #staticTransactionsList>
    <div class="panel-body">
        <datagrid-list
            [fieldsModel]="statusFieldsModel"
            [listData]="transactions"
            [listActions]="statusListActions"
            (action)="onAction($event)">
        </datagrid-list>
    </div>
</ng-template>

<clr-modal [(clrModalOpen)]="showModal">
    <h3 class="modal-title">{{'Transaction Detail' | translate}}</h3>
    <div class="modal-body">
        <json-viewer [json]="modalJson"></json-viewer>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showModal = false">{{'Close' | translate}}</button>
    </div>
</clr-modal>
