<div class="header-breadcrumbs">
    <h1><i class="fa fa-hand-pointer-o"></i> {{'Button' | translate}}
    </h1>
</div>

<div class="padding">
    <a href="#" class="toggle-info-panes" (click)="toggleInfoPanes($event)">{{ showInfoPanes ? '[-] hide info panes' :
        '[+] show info panes' | translate }}

    </a>
    <app-ui-info-pane [hidden]="!showInfoPanes" [message]="'This info pane does not make up part of these guidelines. If you see this pane displayed in any of the below items, it is just for informational purposes. To view the source code for this page, go to @setl/core-layout/layouts/ui-form.'">
    </app-ui-info-pane>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink id="button">
            <i class="fa fa-bars"></i> {{'Button' | translate}}
        </button>

        <clr-tab-content *clrIfActive>
            <form>
                <p>{{'Lets add some text at the top if it required. No problems lots of space here' | translate}}</p>

                <h2><i class="fa fa-info-circle"></i> {{'Primary & Secondary Buttons' | translate}}</h2>
                <section class="form-block">
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <button class="btn btn-primary">{{'Send' | translate}}</button>
                        </div>

                        <div class="form-group col-sm-10">
                            <p><b>{{'Primary Button' | translate}}</b><br>{{'A primary button is a color of solid colour, when something is positive or negative' | translate}}

                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <button class="btn">{{'Cancel' | translate}}</button>
                        </div>

                        <div class="form-group col-sm-10">
                            <p><b>{{'Secondary Button' | translate}}</b><br>{{'Is button with outlined colour and used a cancel, reset or something similar' | translate}}

                            </p>
                        </div>
                    </div>
                </section>
                <div class="hr-line-dashed"></div>

                <h2><i class="fa fa-info-circle"></i> {{'Success, Error, Warning' | translate}}</h2>
                <section class="form-block">
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <button class="btn btn-success">{{'Save' | translate}}</button>
                        </div>

                        <div class="form-group col-sm-10">
                            <p><b>{{'Success Button' | translate}}</b><br>{{'Example use on new and edit forms when saving, when something positive is happening' | translate}}

                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <button class="btn btn-danger">{{'Delete' | translate}}</button>
                        </div>

                        <div class="form-group col-sm-10">
                            <p><b>{{'Danger Button' | translate}}</b><br>{{'Example use for delete and removing, when something negative is happening' | translate}}

                            </p>
                        </div>
                    </div>
                </section>
                <div class="hr-line-dashed"></div>

                <h2><i class="fa fa-table"></i> {{'Datagrid Area Button' | translate}}</h2>
                <section class="form-block">
                    <clr-datagrid #dataGrid>
                        <clr-dg-column>{{'Column 1' | translate}}</clr-dg-column>
                        <clr-dg-column>{{'Column 2' | translate}}</clr-dg-column>
                        <clr-dg-column class="actions">{{'Actions' | translate}}</clr-dg-column>

                        <clr-dg-row *clrDgItems="let item of mockDataGridItems; let i = index">
                            <clr-dg-cell>{{item.value1}}</clr-dg-cell>
                            <clr-dg-cell>{{item.value2}}</clr-dg-cell>
                            <clr-dg-cell class="actions">
                                <button class="btn btn-danger btn-sm"><i class="fa fa-pencil-square-o"></i>{{'Delete' | translate}}
                                </button>

                                <button class="btn btn-success btn-sm"><i class="fa fa-pencil-square-o"></i>{{'Edit' | translate}}
                                </button>

                                <button class="btn btn-orange btn-sm"><i class="fa fa-"></i>{{'View' | translate}}
                                </button>
                            </clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}

                            <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
                </section>
                <div class="hr-line-dashed"></div>

                <section class="form-block">
                    <div class="form-group col-sm-6">
                        <button id="submit" type="submit" class="btn btn-primary">{{'Submit Button' | translate}}
                        </button>
                    </div>
                </section>
            </form>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>