<!-- Breadcrumbs. -->
<div class="header-breadcrumbs">
  <h1>
    <clr-icon shape="switch"></clr-icon> Transfer In & Out
  </h1>
</div>

<!-- Subscription/Redemption tab -->
<div class="well">
  <!-- Panel header -->
  <div class="row panel-header">
    <div class="col-md-6">
      <h2>Créer un nouveau transfert</h2>
      Please fill in the following information to create a new transfer
    </div>
  </div>

  <!-- Panel body -->
  <div class="row panel-body">
    <div class="col-md-12">
      <form [formGroup]="placeTransferFormGroup" (click)="handleSubmitButtonClick()" clrForm>
        <section class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label class="clr-col-12 clr-col-md-12" for="amCompany">Société de Gestion</label>
              <ng-select id="amCompany" [placeholder]="translate.translate('Select an AM')"
                [items]="mananagementCompanyItems" [allowClear]="false"
                [formControl]="placeTransferFormGroup.controls['amCompany']"
                (selected)="handleDropdownAmSelect($event)">
              </ng-select>
            </div>

            <div class="col-md-6">
              <label class="clr-col-12 clr-col-md-12" for="amBic">BIC</label>
              <input id="amBic" class="form-control" formControlName="amBic" type="text"
                value="{{ managementCompanySelected.bic }}">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label class="clr-col-12 clr-col-md-12" for="amShareFund">Nom de la part</label>
              <ng-select id="amShareFund" [placeholder]="translate.translate('Select an AM Share')"
                [items]="filteredShareList" [allowClear]="false"
                [formControl]="placeTransferFormGroup.controls['amShareFund']"
                (selected)="handleDropdownShareSelect($event)">
              </ng-select>
            </div>

            <!-- Amount -->
            <div class="col-md-6">
              <label class="clr-col-12 clr-col-md-12" for="amShareFundISIN">ISIN</label>
              <input id="amShareFundISIN" formControlName="amShareFundISIN" class="form-control" type="text"
                value="{{ shareSelected.isin }}">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label class="clr-col-12 clr-col-md-12" for="investorCompany">Investisseur</label>
              <ng-select id="investorCompany" [placeholder]="translate.translate('Select an investor')"
                [items]="investorListItems" [allowClear]="false"
                [formControl]="placeTransferFormGroup.controls['investorCompany']"
                (selected)="handleDropdownInvestorSelect($event)">
              </ng-select>
            </div>

            <!-- Amount -->
            <div class="col-md-6">
              <label class="clr-col-12 clr-col-md-12" for="investorReference"></label>
              <input id="investorReference" formControlName="investorReference" class="form-control" type="text"
                value="{{ investorSelected.companyName }}">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label class="clr-col-12 clr-col-md-12" for="investorWallet">Portfeuille</label>
              <input id="investorWallet" formControlName="investorWallet" class="form-control" type="number">
            </div>

            <!-- Amount -->
            <div class="col-md-6">
              <label class="clr-col-12 clr-col-md-12" for="investorWalletReference"></label>
              <input id="investorWalletReference" formControlName="investorWalletReference" class="form-control"
                type="text" value="Exemple portefeuille sélectionné">
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label class="clr-col-12 clr-col-md-12" for="type">Type</label>
              <div class="btn-group">
                <div class="radio btn">
                  <input type="radio" id="btn-radio-operation" (click)="type = 'operation'"
                    [checked]="type === 'operation'">
                  <label class="clr-col-12 clr-col-md-12" for="btn-radio-operation">Opération</label>
                </div>
                <div class="radio btn">
                  <input type="radio" id="btn-radio-stock" (click)="type = 'stock'" [checked]="type === 'stock'">
                  <label class="clr-col-12 clr-col-md-12" for="btn-radio-stock">Stock</label>
                </div>
              </div>
            </div>

            <div class="col-md-3 offset-md-1">
              <label class="clr-col-12 clr-col-md-12" for="sens">Sens</label>
              <div class="btn-group">
                <div class="radio btn">
                  <input type="radio" id="btn-radio-in" (click)="direction = 'in'" [checked]="direction === 'in'">
                  <label class="clr-col-12 clr-col-md-12" for="btn-radio-in">In</label>
                </div>
                <div class="radio btn">
                  <input type="radio" id="btn-radio-out" (click)="direction = 'out'" [checked]="direction === 'out'">
                  <label class="clr-col-12 clr-col-md-12" for="btn-radio-out">Out</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label class="clr-col-12 clr-col-md-12" for="quantity">Quantité</label>
              <input id="quantity" formControlName="quantity" class="form-control" type="number">
            </div>

            <div class="col-md-4">
              <label class="clr-col-12 clr-col-md-12" for="unitPrice">Prix unitaire</label>
              <input id="unitPrice" formControlName="unitPrice" class="form-control" type="number">
            </div>
          </div>

          <div class="row">

            <div class="col-md-4">
              <label class="clr-col-12 clr-col-md-12" for="amount">Montant</label>
              <input id="amount" formControlName="amount" class="form-control" type="number">
            </div>

            <div class="col-md-4">
              <label class="clr-col-12 clr-col-md-12" for="currency">Devise</label>
              <input id="currency" formControlName="currency" class="form-control" type="text">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label class="clr-col-12 clr-col-md-12" for="theoricalDate">Date et heure théorique d'entrée au registre
                d'IZNES</label>
              <input id="theoricalDate" formControlName="theoricalDate" class="form-control" type="datetime">
            </div>

            <div class="col-md-4">
              <label class="clr-col-12 clr-col-md-12" for="initialDate">Date et heure initiale de l'opération</label>
              <input id="initialDate" formControlName="initialDate" class="form-control" type="datetime">
            </div>

          </div>

          <div class="row">
            <div class="col-md-4">
              <label class="clr-col-12 clr-col-md-12" for="externalReference">Référence externe</label>
              <input id="externalReference" formControlName="externalReference" class="form-control" type="text">
            </div>

            <div class="col-md-4">
              <label class="clr-col-12 clr-col-md-12" for="accountKeeper">Teneur de compte historique</label>
              <ng-select id="accountKeeper" [placeholder]="translate.translate('Select an investment portfolio')"
                [items]="accountKeeperList" [allowClear]="true"
                [formControl]="placeTransferFormGroup.controls['accountKeeper']"
                (selected)="handleDropdownItemSelect($event, 'accountKeeper')">
              </ng-select>
            </div>

          </div>

          <div class="col-md-8">
            <label class="clr-col-12 clr-col-md-12" for="comment">Commentaire</label>
            <textarea class="form-control" formControlName="comment" autocomplete="off"></textarea>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label class="clr-col-12 clr-col-md-12" for="createdBy">Transfert saisi par</label>
              <input id="createdBy" formControlName="createdBy" class="form-control" type="text">
            </div>

            <div class="col-md-4">
              <label class="clr-col-12 clr-col-md-12" for="dateEntered">Date et heure de saisie du transfert</label>
              <input id="dateEntered" formControlName="dateEntered" class="form-control" type="datetime">
            </div>
          </div>
        </section>
      </form>

      <div class="form-group col-sm-12">
        <button id="cancelButton" type="button" class="btn btn-light"
          (click)="handleCancelButtonClick()">{{ 'Cancel' | translate }}</button>
        <button id="saveButton" type="submit" class="btn btn-primary">{{ 'Save' | translate }}</button>
      </div>
    </div>
  </div>
</div>