<div class="header-breadcrumbs">
    <h1><i class="fa fa-university"></i> <span mltag="txt_managementcompany">Management Company</span></h1>
</div>

<clr-tabs>
    <clr-tab>
        <button id="mcTabList" clrTabLink (click)="resetForm()">
            <i class="fa fa-th-list" mltag="txt_nbsp">&nbsp;</i><span mltag="txt_list">List</span>
        </button>
        <clr-tab-content *clrIfActive="showSearchTab">
            <section class="form-block">

                <clr-datagrid>
                    <clr-dg-column [clrDgField]="'companyName'">
                        <span mltag="txt_managementcompanyname">Management Company Name</span></clr-dg-column>
                    <clr-dg-column [clrDgField]="'lei'"><span mltag="txt_lei">LEI</span></clr-dg-column>
                    <clr-dg-column [clrDgField]="'country'"><span mltag="txt_country">Country</span></clr-dg-column>
                    <clr-dg-column><span mltag="txt_action">Action</span></clr-dg-column>

                    <clr-dg-row *clrDgItems="let managementCompany of managementCompanyList">
                        <clr-dg-cell>{{managementCompany.companyName}}</clr-dg-cell>
                        <clr-dg-cell>{{managementCompany.lei}}</clr-dg-cell>
                        <clr-dg-cell>{{managementCompany.country}}</clr-dg-cell>
                        <clr-dg-cell>
                            <div class="btn-group btn-sm">
                                <button id="mcBtnEditMc" class="btn" (click)="editCompany(managementCompany)">
                                    <i class="fa fa-edit"></i></button>
                                <button id="mcBtnDeleteMc" class="btn" (click)="companyToDelete = managementCompany; showConfirmModal = true;">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </clr-dg-cell>
                    </clr-dg-row>

                    <clr-dg-footer>
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                    </clr-dg-footer>
                </clr-datagrid>

            </section>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <div *ngIf="!editForm; else editMcFTemplate">
            <button id="mcTabAddNewMc" clrTabLink (click)="resetForm()"><i class="fa fa-plus"></i>
                <span mltag="txt_newmanagementcompany">New Management company</span>
            </button>
        </div>
        <ng-template #editMcFTemplate>
            <button id="mcTabEditMc" clrTabLink><i class="fa fa-pencil"></i>
                <span mltag="txt_editmanagementcompany">Edit Management company</span></button>
        </ng-template>
        <clr-tab-content *clrIfActive="editForm">
            <!-- MANAGEMENT COMPANY FORMS -->
            <form [formGroup]="managementCompanyForm" novalidate (ngSubmit)="save(managementCompanyForm.value)">
                <section class="form-block">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div *ngIf="modelForm.companyID">
                                <input type="hidden" id="companyID" class="form-control" formControlName="companyID" [(ngModel)]="modelForm.companyID" placeholder="companyID" mltag="txt_companyid">
                            </div>
                            <label class="required-field" for="mc_name">
                                <span mltag="txt_managementcompanyname">Management Company Name</span>
                            </label>
                            <div>
                                <input type="text" id="mc_name" class="form-control" formControlName="mc_name" [(ngModel)]="modelForm.mc_name" placeholder="Management Company Name" mltag="txt_managementcompanyname">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_name.hasError('required') && managementCompanyForm.controls.mc_name.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="mc_emailAddress">
                                <span mltag="txt_emailaddress">Email Address</span>
                            </label>
                            <div>
                                <input type="text" id="mc_emailAddress" class="form-control" formControlName="mc_emailAddress" [(ngModel)]="modelForm.mc_emailAddress" placeholder="Email Address" mltag="txt_emailAddress">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_emailAddress.hasError('required') && managementCompanyForm.controls.mc_emailAddress.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="country">
                                <span mltag="txt_country">Country</span>
                            </label>
                            <div id="country">
                                <ng-select [items]="mcCountryOptions" [allowClear]="true" mltag="txt_selectCountry" placeholder="Select a country" formControlName="mc_country_select"></ng-select>
                                <div *ngIf="managementCompanyForm.controls.mc_country_select.hasError('required') && managementCompanyForm.controls.mc_country_select.touched" class="text-danger" mltag="txt_countryrequired">Country is required</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="mc_addressPrefix">
                                <span mltag="txt_addressprefix">Address Prefix</span>
                            </label>
                            <div>
                                <input type="text" id="mc_addressPrefix" class="form-control" formControlName="mc_addressPrefix" [(ngModel)]="modelForm.mc_addressPrefix" placeholder="Appartment or House" mltag="txt_appartmentorhouse">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_addressPrefix.hasError('required') && managementCompanyForm.controls.mc_addressPrefix.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="mc_address1">
                                <span mltag="txt_postaladdress">Postal Address</span>
                            </label>
                            <div>
                                <input type="text" id="mc_address1" class="form-control" formControlName="mc_address1" [(ngModel)]="modelForm.mc_address1" placeholder="Line 1" mltag="txt_line1">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_address1.hasError('required') && managementCompanyForm.controls.mc_address1.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="mc_address1">
                                <span mltag="mc_address2">Postal Address 2</span>
                            </label>
                            <div>
                                <input type="text" id="mc_address2" class="form-control" formControlName="mc_address2" [(ngModel)]="modelForm.mc_address2" placeholder="Line 2" mltag="txt_line2">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_address2.hasError('required') && managementCompanyForm.controls.mc_address2.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="mc_address3">
                                <span mltag="txt_cityortown">City or Town</span>
                            </label>
                            <div>
                                <input type="text" id="mc_address3" class="form-control" formControlName="mc_address3" [(ngModel)]="modelForm.mc_address3" placeholder="City or Town" mltag="txt_cityortown">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_address3.hasError('required') && managementCompanyForm.controls.mc_address3.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="mc_address4">
                                <span mltag="txt_stateorarea">State or Area</span>
                            </label>
                            <div>
                                <input type="text" id="mc_address4" class="form-control" formControlName="mc_address4" [(ngModel)]="modelForm.mc_address4" placeholder="State or Area" mltag="txt_stateorarea">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_address4.hasError('required') && managementCompanyForm.controls.mc_address4.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="mc_postalCode">
                                <span mltag="txt_postalcode">Postal Code</span>
                            </label>
                            <div>
                                <input type="text" id="mc_postalCode" class="form-control" formControlName="mc_postalCode" [(ngModel)]="modelForm.mc_postalCode" placeholder="Postal Code" mltag="txt_postalcode">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_postalCode.hasError('required') && managementCompanyForm.controls.mc_postalCode.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="mc_tax_residence">
                                <span mltag="txt_taxresidence">Tax Residence</span>
                            </label>
                            <div>
                                <input type="text" id="mc_tax_residence" class="form-control" formControlName="mc_tax_residence" [(ngModel)]="modelForm.mc_tax_residence" placeholder="Tax Residence" mltag="txt_taxresidence">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_tax_residence.hasError('required') && managementCompanyForm.controls.mc_tax_residence.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="mc_registration_number">
                                <span mltag="txt_taxresidence">Registration Number</span>
                            </label>
                            <div>
                                <input type="text" id="mc_registration_number" class="form-control" formControlName="mc_registration_number" [(ngModel)]="modelForm.mc_registration_number" placeholder="Registration Number" mltag="txt_registrationnumber">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_registration_number.hasError('required') && managementCompanyForm.controls.mc_registration_number.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="mc_supervisory_authority">
                                <span mltag="txt_supervisoryauthority">Supervisory Authority</span>
                            </label>
                            <div>
                                <input type="text" id="mc_supervisory_authority" class="form-control" formControlName="mc_supervisory_authority" [(ngModel)]="modelForm.mc_supervisory_authority" placeholder="Supervisory Authority" mltag="txt_supervisoryauthority">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_supervisory_authority.hasError('required') && managementCompanyForm.controls.mc_supervisory_authority.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="mc_siret_siren">
                                <span mltag="txt_numbersiretsiren">Number SIRET / SIREN</span>
                            </label>
                            <div>
                                <input type="text" id="mc_siret_siren" class="form-control" formControlName="mc_siret_siren" [(ngModel)]="modelForm.mc_siret_siren" placeholder="Number SIRET / SIREN" mltag="txt_numbersiretsiren">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_siret_siren.hasError('required') && managementCompanyForm.controls.mc_siret_siren.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="mc_creation_date">
                                <span mltag="txt_creationdate">Creation Date</span>
                            </label>
                            <div class="customFormGroup">
                                <div class="input-group date-pick-wrapper">
                                    <span class="fa fa-calendar" aria-hidden="true"></span>
                                    <input id="mc_creation_date" formControlName="mc_creation_date" [(ngModel)]="modelForm.mc_creation_date" [dpDayPicker]="configDate" placeholder="Choose a date" mode="day" theme="dp-material" mltag="txt_chooseadate"/>
                                </div>
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_creation_date.hasError('required') && managementCompanyForm.controls.mc_creation_date.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                            <div *ngIf="!managementCompanyForm.controls.mc_creation_date.hasError('required') && !managementCompanyForm.controls.mc_creation_date.valid && managementCompanyForm.controls.mc_creation_date.touched" class="text-danger" mltag="txt_dateformatisinvalid">Date format is invalid!</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="mc_share_capital">
                                <span mltag="txt_sharecapital">Share Capital</span>
                            </label>
                            <div>
                                <input type="text" id="mc_share_capital" class="form-control" formControlName="mc_share_capital" [(ngModel)]="modelForm.mc_share_capital" placeholder="Share Capital" mltag="txt_sharecapital">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_share_capital.hasError('required') && managementCompanyForm.controls.mc_share_capital.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                            <div *ngIf="!managementCompanyForm.controls.mc_share_capital.hasError('required') && managementCompanyForm.controls.mc_share_capital.hasError('invalid') && managementCompanyForm.controls.mc_share_capital.touched" class="text-danger" mltag="txt_thisfieldmustbenumeric">This field must be numeric</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="mc_commercial_contact">
                                <span mltag="txt_commercialcontact">Commercial Contact</span>
                            </label>
                            <div>
                                <input type="text" id="mc_commercial_contact" class="form-control" formControlName="mc_commercial_contact" [(ngModel)]="modelForm.mc_commercial_contact" placeholder="Commercial Contact" mltag="txt_commercialcontact">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_commercial_contact.hasError('required') && managementCompanyForm.controls.mc_commercial_contact.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="mc_operational_contact">
                                <span mltag="txt_operationalcontact">Operational Contact</span>
                            </label>
                            <div>
                                <input type="text" id="mc_operational_contact" class="form-control" formControlName="mc_operational_contact" [(ngModel)]="modelForm.mc_operational_contact" placeholder="Operational Contact" mltag="txt_operationalcontact">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_operational_contact.hasError('required') && managementCompanyForm.controls.mc_operational_contact.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="mc_director_contact">
                                <span mltag="txt_directorcontact">Director Contact</span>
                            </label>
                            <div>
                                <input type="text" id="mc_director_contact" class="form-control" formControlName="mc_director_contact" [(ngModel)]="modelForm.mc_director_contact" placeholder="Director Contact" mltag="txt_directorcontact">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_director_contact.hasError('required') && managementCompanyForm.controls.mc_director_contact.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="mc_lei">
                                <span mltag="txt_lei">LEI</span>
                            </label>
                            <div>
                                <input type="text" id="mc_lei" class="form-control" formControlName="mc_lei" [(ngModel)]="modelForm.mc_lei" placeholder="LEI" mltag="txt_lei">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_lei.hasError('required') && managementCompanyForm.controls.mc_lei.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="mc_bic">
                                <span mltag="txt_bic">BIC</span>
                            </label>
                            <div>
                                <input type="text" id="mc_bic" class="form-control" formControlName="mc_bic" [(ngModel)]="modelForm.mc_bic" placeholder="BIC" mltag="txt_bic">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_bic.hasError('required') && managementCompanyForm.controls.mc_bic.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="mc_giin">
                                <span mltag="txt_giincode">GIIN_code</span>
                            </label>
                            <div>
                                <input type="text" id="mc_giin" class="form-control" formControlName="mc_giin" [(ngModel)]="modelForm.mc_giin" placeholder="GIIN_code" mltag="txt_giincode">
                            </div>
                            <div *ngIf="managementCompanyForm.controls.mc_giin.hasError('required') && managementCompanyForm.controls.mc_giin.touched" class="text-danger" mltag="txt_thisfieldisrequired">This field is required</div>
                        </div>
                        <div class="form-group col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <button id="mcBtnSubmitForm" type="submit" class="btn btn-primary" [disabled]="!managementCompanyForm.valid">
                                <div *ngIf="!editForm; else editMcFBtSubmit">
                                    <i class="fa fa-save"></i> <span mltag="txt_save">Save</span>
                                </div>
                                <ng-template #editMcFBtSubmit>
                                    <i class="fa fa-save"></i> <span mltag="txt_update">Update</span>
                                </ng-template>
                            </button>
                            <button id="mcBtnResetForm" *ngIf="!editForm" type="reset" class="btn btn-info" mltag="txt_reset">Reset</button>
                        </div>
                    </div>
                </section>
            </form>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

<!--CUSTOM TEXT MODALS-->
<clr-modal [(clrModalOpen)]="showModal">
    <h3 class="modal-title text-success"><i class="fa fa-info-circle" aria-hidden="true"></i> {{modalTitle}}</h3>
    <div class="modal-body text-success text-center">
        <p>{{modalText}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showModal = false" mltag="txt_close">Close</button>
    </div>
</clr-modal>

<!--CONFIRM MODALS-->
<clr-modal [(clrModalOpen)]="showConfirmModal">
    <h3 class="modal-title" mltag="txt_deletecurrentmanagementcompany">Deleting Management Company</h3>
    <div class="modal-body">
        <p mltag="txt_areyousure">Are you sure you want to delete:<br/>
            <strong>{{companyToDelete && companyToDelete.companyName}}</strong>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" id="mcConfirmModalBtnYes" (click)="confirmModal(0)" mltag="txt_no">No</button>
        <button type="button" class="btn btn-primary" id="mcConfirmModalBtnNo" (click)="confirmModal(1)" mltag="txt_yes">Yes</button>
    </div>
</clr-modal>
