<div class="main-container">

    <ng-sidebar-container>

        <ng-sidebar [(opened)]="_opened"
                    [mode]="_MODES[_modeNum]"
                    [keyClose]="_keyClose"
                    [position]="_POSITIONS[_positionNum]"
                    [dock]="_dock"
                    [dockedSize]="'50px'"
                    [autoCollapseHeight]="_autoCollapseHeight"
                    [autoCollapseWidth]="_autoCollapseWidth"
                    [closeOnClickOutside]="_closeOnClickOutside"
                    [closeOnClickBackdrop]="_closeOnClickBackdrop"
                    [showBackdrop]="_showBackdrop"
                    [animate]="_animate"
                    [trapFocus]="_trapFocus"
                    [autoFocus]="_autoFocus"
                    [sidebarClass]="'demo-sidebar'"
                    [ariaLabel]="'My sidebar'"
        >
            <div class="ng-sidebar-header">
                <div class="ng-sidebar-header-left">
                    <button class="btn btn-outline btn-sm" (click)="_toggleSidebar()">Close</button>
                </div>
                <div class="ng-sidebar-header-middle title_text">
                    <i class="fa fa-cogs"></i>
                    Settings
                </div>
                <div class="ng-sidebar-header-right">

                </div>
            </div>
            <div class="ng-sidebar-body">

                <div class="ng-sidebar-section-header">
                    <div class="title_text">
                        <i class="fa fa-language"></i>
                        Language
                    </div>
                    Choose your language.
                </div>
                <div class="ng-sidebar-section-body">

                    <section class="form-block">
                        <div class="form-group">
                            <div class="radio" (click)="changeLanguage('fra')">
                                <input type="radio" name="gridRadios1" id="lang_fra" checked>
                                <label for="lang_fra">Français</label>
                            </div>

                            <div class="radio" (click)="changeLanguage('eng')">
                                <input type="radio" name="gridRadios1" id="lang_eng">
                                <label for="lang_eng">English</label>
                            </div>
                            <div class="radio" (click)="changeLanguage('eng')">
                                <input type="radio" name="gridRadios1" id="lang_tch">
                                <label for="lang_tch">繁體中文</label>
                            </div>
                            <div class="radio" (click)="changeLanguage('eng')">
                                <input type="radio" name="gridRadios1" id="lang_sch">
                                <label for="lang_sch">中文</label>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

            <button class="header-overflow-trigger" type="button">
                <span></span>
            </button>


        </ng-sidebar>

        <div ng-sidebar-content class="main-container-sidebar-content">

            <!-- Navigation Topbar. -->
            <app-navigation-topbar (toggleSidebar)="_toggleSidebar()"></app-navigation-topbar>

            <div class="content-container">

                <!-- Navigation Sidebar. -->
                <nav class="sidenav" [ngClass]="{'menuHideNav': menuShown === 0}">
                    <app-navigation-sidebar></app-navigation-sidebar>
                </nav>

                <main class="content-area" [ngClass]="{'menuHideContent': menuShown === 0}">
                    <!--
                        Basic Layout.
                        This layout wraps the navbar and the top bar around content.
                    -->
                    <router-outlet></router-outlet>

                </main>

            </div>

        </div>
    </ng-sidebar-container>
</div>
