.version {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

:host /deep/ clr-main-container.open-hamburger-menu .branding {
    img {
        filter: brightness(0%);
        display: block!important;
    }
    .title {
        display: none!important;
    }
}