<!-- Breadcrumbs. -->
<div class="header-breadcrumbs">
  
      <div class="row">
    <div class="col-md-3">
        <h1><clr-icon shape="switch"></clr-icon> Transfer In & Out</h1>
    </div>
    <div class="col-md-4">
        <button id="saveButton" type="button" routerLink="/transfer-in-out/create" class="btn btn-primary">{{ 'Créer un nouveau transfert' | translate }}</button>
    </div>
</div>
</div>

<div class="well">
  <!-- Panel header -->
  <div class="row panel-header">
    <div class="col-md-6">
      <h2>Liste des transferts</h2>
      Please fill in the following information to create a new transfer
    </div>
  </div>

    <div class="row panel-body">
        <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" clrDgSortIcon #ordersDataGrid>
          <clr-dg-column [clrDgField]="'referenceID'" clrDgSortIcon clrDgSortNoSearch id="reference">
              <ng-container *clrDgHideableColumn="{hidden: false}">Référence IZNES
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'externalReference'" clrDgSortIcon clrDgSortNoSearch id="externalReference">
              <ng-container *clrDgHideableColumn="{hidden: false}">Référence Externe
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'accountKeeper'" clrDgSortIcon clrDgSortNoSearch id="Order-Investor">
              <ng-container *clrDgHideableColumn="{hidden: false}">TCC Historique
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'transferDirection'" clrDgSortIcon clrDgSortNoSearch id="Order-Portfolio">
              <ng-container *clrDgHideableColumn="{hidden: false}">Sens
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'assetManagementCompany'" clrDgSortIcon clrDgSortNoSearch id="Order-ISIN">
              <ng-container *clrDgHideableColumn="{hidden: false}">Société de Gestion
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'investorCompany'" clrDgSortIcon clrDgSortNoSearch id="Order-Share-Name">
              <ng-container *clrDgHideableColumn="{hidden: false}">Investisseur
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'investorWallet'" clrDgSortIcon clrDgSortNoSearch id="Order-Asset-Manager-Company">
              <ng-container *clrDgHideableColumn="{hidden: false}">Portefeuille
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'shareISIN'" clrDgSortIcon clrDgSortNoSearch id="Order-Share-Currency">
              <ng-container *clrDgHideableColumn="{hidden: false}">ISIN
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'shareName'" clrDgSortIcon clrDgSortNoSearch id="Order-Quantity" class="right">
              <ng-container *clrDgHideableColumn="{hidden: false}">Nom de la part
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'currency'" clrDgSortIcon clrDgSortNoSearch id="Order-Traded-By">
            <ng-container *clrDgHideableColumn="{hidden: false}">Devise
                <span class="column-label"></span>
            </ng-container>
        </clr-dg-column>
          <clr-dg-column [clrDgField]="'quantity'" clrDgSortIcon clrDgSortNoSearch id="Order-Traded-By">
              <ng-container *clrDgHideableColumn="{hidden: false}">Quantité
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'unitPrice'" clrDgSortIcon clrDgSortNoSearch id="Order-Latest-NAV" class="right">
              <ng-container *clrDgHideableColumn="{hidden: false}">Prix
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'amount'" clrDgSortIcon clrDgSortNoSearch id="Order-Trade-Amount" class="right">
              <ng-container *clrDgHideableColumn="{hidden: false}">Montant
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'theoricalDate'" clrDgSortIcon clrDgSortNoSearch id="Order-Fee-Amount" class="right">
              <ng-container *clrDgHideableColumn="{hidden: false}">Date théorique d'impact sur le stock
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'transferStatus'" clrDgSortIcon clrDgSortNoSearch id="Order-Order-Date">
              <ng-container *clrDgHideableColumn="{hidden: false}">Statut
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'dateEntered'" clrDgSortIcon clrDgSortNoSearch id="Order-Cut-Off-Date">
            <ng-container *clrDgHideableColumn="{hidden: false}">Date de saisie
                <span class="column-label"></span>
            </ng-container>
        </clr-dg-column>
          <clr-dg-column [clrDgField]="'action'" clrDgSortIcon clrDgSortNoSearch id="Order-Cut-Off-Date">
              <ng-container *clrDgHideableColumn="{hidden: false}">Action
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>  
          
          <!--
          <clr-dg-row *ngFor="let order of ordersList; let i = index" clrDgRowClickable>
              <clr-dg-cell (click)="buildLink(order, $event)">
                  {{ order.orderRef }}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(order.orderRef)}}</div>
              </clr-dg-cell>
              <clr-dg-cell (click)="buildLink(order, $event)">
                  <span>{{ order.orderTypeStr }}</span>
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(order.orderTypeStr)}}</div>
              </clr-dg-cell>
              <clr-dg-cell (click)="buildLink(order, $event)">
                  {{order.investorCompanyName}}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(order.investorCompanyName)}}</div>
              </clr-dg-cell>
              <clr-dg-cell (click)="buildLink(order, $event)">
                  {{order.portfolio}}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(order.portfolio)}}</div>
              </clr-dg-cell>
              <clr-dg-cell *ngIf="isIznesAdmin" (click)="buildLink(order, $event)">
                  {{order.label}}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(order.label)}}</div>
              </clr-dg-cell>
              <clr-dg-cell *ngIf="isInvestorUser">
                  <button
                      class="btn btn-link btn-sm"
                      [routerLink]="['/' + getLinkRoute() + '/product-characteristic', order.isin]">{{order.isin}}
                  </button>
              
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(order.isin)}}</div>
              </clr-dg-cell>
              <clr-dg-cell *ngIf="!isInvestorUser" (click)="buildLink(order, $event)">
                  {{order.isin}}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(order.isin)}}</div>
              </clr-dg-cell>
              <clr-dg-cell *ngIf="isInvestorUser">
                  <button
                      class="btn btn-link btn-sm"
                      [routerLink]="['/' + getLinkRoute() + '/product-characteristic', order.isin]">
                      {{order.fundShareName}}
                  </button>
              </clr-dg-cell>
              <clr-dg-cell *ngIf="!isInvestorUser" (click)="buildLink(order, $event)">
                  {{order.fundShareName}}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(order.fundShareName)}}</div>
              </clr-dg-cell>
              <clr-dg-cell (click)="buildLink(order, $event)">
                  {{order.amCompanyName}}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(order.amCompanyName)}}</div>
              </clr-dg-cell>
              <clr-dg-cell (click)="buildLink(order, $event)">
                  {{ showCurrency(order) }}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(showCurrency(order))}}</div>
              </clr-dg-cell>
              <clr-dg-cell class="right" (click)="buildLink(order, $event)">
                    {{ order.quantity | moneyValue: 5 }}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(order.quantity)}}</div>
              </clr-dg-cell>
              <clr-dg-cell (click)="buildLink(order, $event)">
                  <span *ngIf="order.byAmountOrQuantity === 1">
                  {{ 'Quantity' | translate }}
                  </span>
                  <span *ngIf="order.byAmountOrQuantity === 2">
                      {{ 'Amount' | translate }}
                  </span>
              </clr-dg-cell>
              <clr-dg-cell class="right" (click)="buildLink(order, $event)">
                  {{ order.price | moneyValue: 4 }}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(order.price)}}</div>
              </clr-dg-cell>
              <clr-dg-cell class="right" (click)="buildLink(order, $event)">
                  {{ order.amountWithCost | moneyValue: 2 }}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(order.amountWithCost)}}</div>
              </clr-dg-cell>
              <clr-dg-cell class="right" (click)="buildLink(order, $event)">
                  {{ order.fee | moneyValue: 2 }}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(order.fee)}}</div>
              </clr-dg-cell>
              <clr-dg-cell (click)="buildLink(order, $event)">
                  <div style="min-width: 145px">{{ getDateTime(order.orderDate) }}</div>
              </clr-dg-cell>
              <clr-dg-cell (click)="buildLink(order, $event)">
                  <div style="min-width: 145px">{{ getDateTime(order.cutoffDate) }}</div>
              </clr-dg-cell>
              <clr-dg-cell (click)="buildLink(order, $event)">
                  {{ getOnlyDate(order.valuationDate) }}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(getOnlyDate(order.valuationDate))}}</div>
              </clr-dg-cell>
              <clr-dg-cell (click)="buildLink(order, $event)">
                  {{ getOnlyDate(order.settlementDate) }}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(getOnlyDate(order.settlementDate))}}</div>
              </clr-dg-cell>
              <clr-dg-cell (click)="buildLink(order, $event)">
              </clr-dg-cell>
              <clr-dg-cell *ngIf="isAssetManager" class="right" [ngSwitch]="order.paymentMsgStatus">
              </clr-dg-cell>
              <clr-dg-cell *ngIf="!isIznesAdmin" [ngSwitch]="order.orderStatus" class="right">
              </clr-dg-cell>
              <clr-dg-row-detail *clrIfExpanded>
                  <div class="additionalInfos">
                      <div class="row">
                          <div class="form-group col-sm-3">
                              <table>
                                  <tbody>
                                  <tr>
                                      <td>
                                          <b>{{ 'Asset Management Company' | translate }}</b>
                                      </td>
                                      <td>{{order.amCompanyName}}</td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="form-group col-sm-3">
                              <table>
                                  <tbody>
                                  <tr>
                                      <td>
                                          <b>{{ 'Latest NAV' | translate }}</b>
                                      </td>
                                      <td [class]="getPriceStatusCss(order)">{{order.price | moneyValue: 2}}</td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="form-group col-sm-3">
                              <table>
                                  <tbody>
                                  <tr>
                                      <td>
                                          <b>{{ 'Fees Amount' | translate }}</b>
                                      </td>
                                      <td>{{ order.fee | moneyValue: 2 }}</td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="form-group col-sm-3">
                              <table>
                                  <tbody>
                                  <tr>
                                      <td>
                                          <b>{{' NAV Date' | translate }}</b>
                                      </td>
                                      <td>{{getOnlyDate(order.valuationDate)}}</td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </clr-dg-row-detail>
          </clr-dg-row>
        -->
      
          <clr-dg-footer class="full-options">
              <!-- Optional customization of hide/show columns toggle -->
              <clr-dg-column-toggle>
                  <clr-dg-column-toggle-title>{{ 'Show/Hide Fields' | translate }}
                  </clr-dg-column-toggle-title>
                  <clr-dg-column-toggle-button clrType="selectAll">
                  <button type="button" class="btn btn-primary">
                  Select All
                  </button>
                  </clr-dg-column-toggle-button>
                  <clr-dg-column-toggle-button clrType="ok">
                      <button type="button" class="btn btn-primary" style="padding:0 20px">
                          <clr-icon shape="check"></clr-icon>
                      </button>
                  </clr-dg-column-toggle-button>
              </clr-dg-column-toggle>
          
              <!--{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}-->
              <!-- <clr-dg-pagination #pagination [clrDgPageSize]="itemPerPage" [clrDgLastPage]="lastPage"></clr-dg-pagination> -->
          </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>