<!-- Breadcrumbs. -->
<div class="header-breadcrumbs">
  
      <div class="row">
    <div class="col-md-3">
        <h1><clr-icon shape="switch"></clr-icon> Transfer In & Out</h1>
    </div>
    <div class="col-md-4">
        <button id="saveButton" type="button" routerLink="/transfer-in-out/create" class="btn btn-primary">{{ 'Créer un nouveau transfert' | translate }}</button>
    </div>
</div>
</div>

<div class="well">
  <!-- Panel header -->
  <div class="row panel-header">
    <div class="col-md-6">
      <h2>Liste des transferts</h2>
      Please fill in the following information to create a new transfer
    </div>
  </div>

    <div class="row panel-body">
        <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" clrDgSortIcon #ordersDataGrid>
          <clr-dg-column [clrDgField]="'referenceID'" clrDgSortIcon clrDgSortNoSearch id="reference">
              <ng-container *clrDgHideableColumn="{hidden: false}">Référence IZNES
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'externalReference'" clrDgSortIcon clrDgSortNoSearch id="externalReference">
              <ng-container *clrDgHideableColumn="{hidden: false}">Référence Externe
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'accountKeeper'" clrDgSortIcon clrDgSortNoSearch id="Order-Investor">
              <ng-container *clrDgHideableColumn="{hidden: false}">TCC Historique
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'transferDirection'" clrDgSortIcon clrDgSortNoSearch id="Order-Portfolio">
              <ng-container *clrDgHideableColumn="{hidden: false}">Sens
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'assetManagementCompany'" clrDgSortIcon clrDgSortNoSearch id="Order-ISIN">
              <ng-container *clrDgHideableColumn="{hidden: false}">Société de Gestion
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'investorCompany'" clrDgSortIcon clrDgSortNoSearch id="Order-Share-Name">
              <ng-container *clrDgHideableColumn="{hidden: false}">Investisseur
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'investorWallet'" clrDgSortIcon clrDgSortNoSearch id="Order-Asset-Manager-Company">
              <ng-container *clrDgHideableColumn="{hidden: false}">Portefeuille
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'shareISIN'" clrDgSortIcon clrDgSortNoSearch id="Order-Share-Currency">
              <ng-container *clrDgHideableColumn="{hidden: false}">ISIN
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'shareName'" clrDgSortIcon clrDgSortNoSearch id="Order-Quantity" class="right">
              <ng-container *clrDgHideableColumn="{hidden: false}">Nom de la part
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'currency'" clrDgSortIcon clrDgSortNoSearch id="Order-Traded-By">
            <ng-container *clrDgHideableColumn="{hidden: false}">Devise
                <span class="column-label"></span>
            </ng-container>
        </clr-dg-column>
          <clr-dg-column [clrDgField]="'quantity'" clrDgSortIcon clrDgSortNoSearch id="Order-Traded-By">
              <ng-container *clrDgHideableColumn="{hidden: false}">Quantité
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'unitPrice'" clrDgSortIcon clrDgSortNoSearch id="Order-Latest-NAV" class="right">
              <ng-container *clrDgHideableColumn="{hidden: false}">Prix
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'amount'" clrDgSortIcon clrDgSortNoSearch id="Order-Trade-Amount" class="right">
              <ng-container *clrDgHideableColumn="{hidden: false}">Montant
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'theoricalDate'" clrDgSortIcon clrDgSortNoSearch id="Order-Fee-Amount" class="right">
              <ng-container *clrDgHideableColumn="{hidden: false}">Date théorique d'impact sur le stock
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'transferStatus'" clrDgSortIcon clrDgSortNoSearch id="Order-Order-Date">
              <ng-container *clrDgHideableColumn="{hidden: false}">Statut
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'dateEntered'" clrDgSortIcon clrDgSortNoSearch id="Order-Cut-Off-Date">
            <ng-container *clrDgHideableColumn="{hidden: false}">Date de saisie
                <span class="column-label"></span>
            </ng-container>
        </clr-dg-column>
          <clr-dg-column [clrDgField]="'action'" clrDgSortIcon clrDgSortNoSearch id="Order-Cut-Off-Date">
              <ng-container *clrDgHideableColumn="{hidden: false}">Action
                  <span class="column-label"></span>
              </ng-container>
          </clr-dg-column>  
          
          
          <clr-dg-row *ngFor="let transfer of transferListItems; let i = index" clrDgRowClickable>
              <clr-dg-cell (click)="buildLink(transfer, $event)">
                  {{ transfer.referenceID }}
                  <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(transfer.referenceID)}}</div>
              </clr-dg-cell>
              <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.externalReference }}
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.accountKeeper }}
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.transferDirection }}
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.assetManagementCompany }}
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.investorCompany }}
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.investorWallet }}
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.shareISIN }}
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.shareName }}
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.currency }}
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.quantity }}
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.unitPrice }}
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.amount }}
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.theoricalDate }}
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.transferStatus }}
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                {{ transfer.dateEntered }}
                <div *ngIf="showColumnSpacer" class="column-spacer">{{getColumnSpaceText(transfer.dateEntered)}}</div>
            </clr-dg-cell>
            <clr-dg-cell (click)="buildLink(transfer, $event)">
                action
            </clr-dg-cell>
          </clr-dg-row>
      
          <clr-dg-footer class="full-options">
              <!-- Optional customization of hide/show columns toggle -->
              <clr-dg-column-toggle>
                  <clr-dg-column-toggle-title>{{ 'Show/Hide Fields' | translate }}
                  </clr-dg-column-toggle-title>
                  <clr-dg-column-toggle-button clrType="selectAll">
                  <button type="button" class="btn btn-primary">
                  Select All
                  </button>
                  </clr-dg-column-toggle-button>
                  <clr-dg-column-toggle-button clrType="ok">
                      <button type="button" class="btn btn-primary" style="padding:0 20px">
                          <clr-icon shape="check"></clr-icon>
                      </button>
                  </clr-dg-column-toggle-button>
              </clr-dg-column-toggle>
          
              <!--{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}-->
              <!-- <clr-dg-pagination #pagination [clrDgPageSize]="itemPerPage" [clrDgLastPage]="lastPage"></clr-dg-pagination> -->
          </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>