<h3 class="text-center step-title">
    {{ 'Documents' | translate }}
</h3>

<div class="well">
    <div class="row panel-header clr-align-items-center">
        <div class="col-sm-9">
            <a href="#" (click)="open = !open; $event.preventDefault();">
                <i class="fa fa-chevron-right" [class.rotate]="open"></i>
                <h2>{{ 'Documents' | translate }}</h2>
            </a>
        </div>
        <div class="col-sm-3 text-right">
            <div class="pgContainer" [formpercent]="{form: form, animated : false, stripes: false}"></div>
        </div>
    </div>

    <div class="row panel-body" [class.hidden]="!open">
        <div class="col-sm-12">
            <form [formGroup]="form" id="step-documents" (ngSubmit)="handleSubmit($event)">

                <!-- Common documents -->

                <div class="row">
                    <div class="form-group required-field col-sm-6" [class.has-error]="hasError(['common', 'kycstatuscertifieddoc', 'hash'])">
                        <label for="kycstatuscertifieddoc" class="control-label">
                            {{ 'Statuses "certified" by the duly authorized representative of the client' | translate }}
                        </label>
                        <div class="filedrop-wrapper">
                            <setl-file-drop filePermission="0" class="form-control" id="kycstatuscertifieddoc"
                                            (onDrop)="uploadFile($event, form.get(['common', 'kycstatuscertifieddoc']))"
                                            [preset]="getDocumentPreset(['common', 'kycstatuscertifieddoc'])"
                                            ngDefaultControl>
                            </setl-file-drop>
                        </div>
                        <span class="field-error">{{ 'File is required' | translate }}</span>
                    </div>
                    <div class="form-group required-field col-sm-6" [class.has-error]="hasError(['common', 'kyckbisdoc', 'hash'])">
                        <label for="kyckbisdoc" class="control-label">
                            {{ 'Kbis extract (or equivalent) less than 3 months old' | translate }}
                        </label>
                        <div class="filedrop-wrapper">
                            <setl-file-drop filePermission="0" class="form-control" id="kyckbisdoc"
                                            (onDrop)="uploadFile($event, form.get(['common', 'kyckbisdoc']))"
                                            [preset]="getDocumentPreset(['common', 'kyckbisdoc'])"
                                            ngDefaultControl>
                            </setl-file-drop>
                        </div>
                        <span class="field-error">{{ 'File is required' | translate }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group required-field col-sm-6" [class.has-error]="hasError(['common', 'kycannualreportdoc', 'hash'])">
                        <label for="kycannualreportdoc" class="control-label">
                            {{ 'Latest audited annual report' | translate }}
                        </label>
                        <div class="filedrop-wrapper">
                            <setl-file-drop filePermission="0" class="form-control" id="kycannualreportdoc"
                                            (onDrop)="uploadFile($event, form.get(['common', 'kycannualreportdoc']))"
                                            [preset]="getDocumentPreset(['common', 'kycannualreportdoc'])"
                                            ngDefaultControl>
                            </setl-file-drop>
                        </div>
                        <span class="field-error">{{ 'File is required' | translate }}</span>
                    </div>
                    <div class="form-group required-field col-sm-6" [class.has-error]="hasError(['common', 'kycidorpassportdoc', 'hash'])">
                        <label for="kycidorpassportdoc" class="control-label">
                            {{ 'National identity card or valid passport or residence card of the signatory with photograph' | translate }}
                        </label>
                        <div class="filedrop-wrapper">
                            <setl-file-drop filePermission="0" class="form-control" id="kycidorpassportdoc"
                                            (onDrop)="uploadFile($event, form.get(['common', 'kycidorpassportdoc']))"
                                            [preset]="getDocumentPreset(['common', 'kycidorpassportdoc'])"
                                            ngDefaultControl>
                            </setl-file-drop>
                        </div>
                        <span class="field-error">{{ 'File is required' | translate }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group required-field col-sm-6" [class.has-error]="hasError(['common', 'kycwolfsbergdoc', 'hash'])">
                        <label for="kycwolfsbergdoc" class="control-label">
                            {{ 'Wolfsberg Questionnaire or equivalent' | translate }}
                        </label>
                        <div class="filedrop-wrapper">
                            <setl-file-drop filePermission="0" class="form-control" id="kycwolfsbergdoc"
                                            (onDrop)="uploadFile($event, form.get(['common', 'kycwolfsbergdoc']))"
                                            [preset]="getDocumentPreset(['common', 'kycwolfsbergdoc'])"
                                            ngDefaultControl>
                            </setl-file-drop>
                        </div>
                        <span class="field-error">{{ 'File is required' | translate }}</span>
                    </div>

                    <div class="form-group required-field col-sm-6" [class.has-error]="hasError(['common', 'kyctaxcertificationdoc', 'hash'])">
                        <label for="kyctaxcertificationdoc" class="control-label">
                            {{ 'Tax self-certification form (CRS)' | translate }}
                        </label>
                        <div class="filedrop-wrapper">
                            <setl-file-drop filePermission="0" class="form-control" id="kyctaxcertificationdoc"
                                            (onDrop)="uploadFile($event, form.get(['common', 'kyctaxcertificationdoc']))"
                                            [preset]="getDocumentPreset(['common', 'kyctaxcertificationdoc'])"
                                            ngDefaultControl>
                            </setl-file-drop>
                        </div>
                        <span class="field-error">{{ 'File is required' | translate }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group required-field col-sm-6" [class.has-error]="hasError(['common', 'kycw8benefatcadoc', 'hash'])">
                        <label for="kycw8benefatcadoc" class="control-label">
                            {{ 'Form W-8BEN-E (FACTA)' | translate }}
                        </label>
                        <div class="filedrop-wrapper">
                            <setl-file-drop filePermission="0" class="form-control" id="kycw8benefatcadoc"
                                            (onDrop)="uploadFile($event, form.get(['common', 'kycw8benefatcadoc']))"
                                            [preset]="getDocumentPreset(['common', 'kycw8benefatcadoc'])"
                                            ngDefaultControl>
                            </setl-file-drop>
                        </div>
                        <span class="field-error">{{ 'File is required' | translate }}</span>
                    </div>
                </div>

                <div class="row">

                </div>

                <!-- Listed -->
                <div class="row" *ngIf="!isDisabled('listed')">
                    <div class="form-group required-field col-sm-6" [class.has-error]="hasError(['listed', 'kycisincodedoc', 'hash'])">
                        <label for="kycisincodedoc" class="control-label">
                            {{ 'ISIN code of the listed share' | translate }}
                        </label>
                        <div class="filedrop-wrapper">
                            <setl-file-drop filePermission="0" class="form-control" id="kycisincodedoc"
                                            (onDrop)="uploadFile($event, form.get(['listed', 'kycisincodedoc']))"
                                            [preset]="getDocumentPreset(['listed', 'kycisincodedoc'])"
                                            ngDefaultControl>
                            </setl-file-drop>
                        </div>
                        <span class="field-error">{{ 'File is required' | translate }}</span>
                    </div>

                    <div class="form-group required-field col-sm-6" [class.has-error]="hasError(['listed', 'kycevidencefloatable', 'hash'])" *ngIf="!isDisabled('listed.kycevidencefloatable')">
                        <label for="kycevidencefloatable" class="control-label">
                            {{ 'Evidence of stocklisting and confirmation that 75% of the company\'s shares are floatable and tradable on the market' | translate }}
                        </label>
                        <div class="filedrop-wrapper">
                            <setl-file-drop filePermission="0" class="form-control" id="kycevidencefloatable"
                                            (onDrop)="uploadFile($event, form.get(['listed', 'kycevidencefloatable']))"
                                            [preset]="getDocumentPreset(['listed', 'kycevidencefloatable'])"
                                            ngDefaultControl>
                            </setl-file-drop>
                        </div>
                        <span class="field-error">{{ 'File is required' | translate }}</span>
                    </div>
                </div>

                <!-- Regulated -->
                <div class="row" *ngIf="!isDisabled('regulated')">
                    <div class="form-group required-field col-sm-6" [class.has-error]="hasError(['regulated', 'kycproofofapprovaldoc', 'hash'])">
                        <label for="kycproofofapprovaldoc" class="control-label">
                            {{ 'Proof of approval or copy of order' | translate }}
                        </label>
                        <div class="filedrop-wrapper">
                            <setl-file-drop filePermission="0" class="form-control" id="kycproofofapprovaldoc"
                                            (onDrop)="uploadFile($event, form.get(['regulated', 'kycproofofapprovaldoc']))"
                                            [preset]="getDocumentPreset(['regulated', 'kycproofofapprovaldoc'])"
                                            ngDefaultControl>
                            </setl-file-drop>
                        </div>
                        <span class="field-error">{{ 'File is required' | translate }}</span>
                    </div>

                    <div class="form-group required-field col-sm-6" [class.has-error]="hasError(['regulated', 'kycproofregulationdoc', 'hash'])">
                        <label for="kycproofregulationdoc" class="control-label">
                            {{ 'Proof of regulation/supervision from the regulator\'s website' | translate }}
                        </label>
                        <div class="filedrop-wrapper">
                            <setl-file-drop filePermission="0" class="form-control" id="kycproofregulationdoc"
                                            (onDrop)="uploadFile($event, form.get(['regulated', 'kycproofregulationdoc']))"
                                            [preset]="getDocumentPreset(['regulated', 'kycproofregulationdoc'])"
                                            ngDefaultControl>
                            </setl-file-drop>
                        </div>
                        <span class="field-error">{{ 'File is required' | translate }}</span>
                    </div>
                </div>

                <input type="submit" class="hidden" />
            </form>
        </div>
    </div>
</div>
