<h4 class="step-title">
    {{ 'Introduction' | translate }}
</h4>

<div class="well p-1 introduction-text">
    <p>{{ 'La Directive Européenne « Marchés d’Instruments Financiers » dit « MIF 2 », entrée en vigueur en droit français le 15 mai 2014, impose notamment aux sociétés de gestion de procéder à la catégorisation de leur clientèle et à l’adéquation des produits.' | translate }}</p>

    <p>{{ 'La Directive Européenne sur la Lutte contre le Blanchiment de Capitaux et le Financement du Terrorisme en vigueur impose notamment aux sociétés de gestion la connaissance de l’identité du client ou du bénéficiaire effectif.' | translate }}</p>

    <p>{{ 'La règlementation fiscale américaine FATCA (Foreign Account Tax Compliance Act) a pour objectif l’identification de ressortissants américains qui investissent directement en dehors des États-Unis ou qui perçoivent indirectement un revenu à l’intérieur ou à l’extérieur des États-Unis par le biais d’entités étrangères. Cette réglementation peut avoir des effets extraterritoriaux puisque l’administration fiscale américaine se réserve la possibilité de prélever une taxe sur les revenus financiers d’origine américaine perçus par des fonds d’investissement ouverts à des investisseurs américains.' | translate }}</p>

    <p>{{ 'La norme CRS (Common Reporting Standard) a été adoptée par l’OCDE et le G20, et consiste en un échange automatique d’informations fiscales à l’échelle mondiale. Les institutions financières doivent mettre en place une auto-certification positive sur un formulaire dédié pour identifier les non-résidents au sens de cette réglementation.' | translate }}</p>

    <p>{{ 'Vous avez émis le souhait d’obtenir un service d’un professionnel contrôlé exerçant une activité réglementée. Le recueil des informations est effectué dans l’intérêt du client et a pour finalité la délivrance d’un service ou d’un conseil adapté ou approprié. De la véracité, de l’exactitude et de la mise à jour des réponses à ce questionnaire dépendra la fourniture d’un service ou d’un conseil de qualité.' | translate }}</p>

    <p>{{ 'En l’absence de réponses exhaustives, la société de gestion pourrait ne pas être en mesure de vérifier de fournir le service demandé. La non réponse pourrait entrainer l’obligation pour la SGP d’effectuer des déclarations aux autorités compétentes.' | translate }}</p>
</div>

<div class="checkbox-inline">
    <input type="checkbox" id="confirm-read" [formControl]="readCheckbox">
    <label for="confirm-read">
        {{ 'I acknowledge that I have read the European Directive on Markets in Financial Instruments' | translate }}
    </label>
</div>
<!-- <div class="px-1">
    <clr-alert [clrAlertClosable]="false" [clrAlertSizeSmall]="true">
        <div class="alert-item">
            <span class="alert-text">
                {{ 'The information collected should be regularly updated.' | translate }}
            </span>
        </div>
    </clr-alert>
</div> -->
