#step-selection {
    border: none;
    padding: 0!important;

    .search-companies {
        width: 20%;
        margin: 2px 0 16px 0;
        &::before {
            content: '';
            background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgIHZpZXdCb3g9IjAgMCAzNiAzNiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQgbWVldCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgIDx0aXRsZT5zZWFyY2gtbGluZTwvdGl0bGU+ICAgIDxwYXRoIGNsYXNzPSJjbHItaS1vdXRsaW5lIGNsci1pLW91dGxpbmUtcGF0aC0xIiBkPSJNMTYuMzMsNS4wNUExMC45NSwxMC45NSwwLDEsMSw1LjM5LDE2LDExLDExLDAsMCwxLDE2LjMzLDUuMDVtMC0yLjA1YTEzLDEzLDAsMSwwLDEzLDEzLDEzLDEzLDAsMCwwLTEzLTEzWiIgZmlsbD0iIzAwNzliOCI+PC9wYXRoPjxwYXRoIGNsYXNzPSJjbHItaS1vdXRsaW5lIGNsci1pLW91dGxpbmUtcGF0aC0yIiBkPSJNMzUsMzMuMjlsLTcuMzctNy40Mi0xLjQyLDEuNDEsNy4zNyw3LjQyQTEsMSwwLDEsMCwzNSwzMy4yOVoiIGZpbGw9IiMwMDc5YjgiPjwvcGF0aD4gICAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjM2IiBoZWlnaHQ9IjM2IiBmaWxsLW9wYWNpdHk9IjAiIC8+PC9zdmc+) no-repeat;
            position: absolute;
            left: 6px;
            background-size: 18px;
            width: 18px;
            height: 18px;
            top: 6px;
        }
        input {
            padding: 0 30px;
            font-size: 13px;
            height: 30px;
        }
        clr-icon {
            position: absolute;
            right: 24px;
            top: 7px;
            width: 14px;
            cursor: pointer;
        }
        p {
            margin: 0;
            text-align: right;
            width: 95%;
        }
    }
}

.management-companies {
    $blue: #0079b8;
    $grey: #E4E4E4;
    $dark-grey: #d7d7d7;
    $border-size: 5px;

    .management-company-container{
        float: left;
        width: 19%;
        margin-left: 1.25%;

        margin-bottom: 40px;

        &:first-child,
        &:nth-child(5n+1){
            margin-left: 0;
        }
    }

    .link,
    .actions{
        font-size: 10px;
        line-height: 1.8;
        position: absolute;
    }
    .link{
        text-align: right;
    }

    .management-company {
        position: relative;

        &.selected{
            &::before{
                // Triangle
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                border-color: transparent;
                border-style: solid;
                border-width: 25px;
                border-right-color: $blue;
                border-top-color: $blue;
            }

            .confirm-mark {
                position: absolute;
                top: 4px;
                right: 4px;
                z-index: 2;
                width: 22px;
                height: 22px;
                color: #ffffff;
            }
        }

        &.selected .infos,
        .infos:hover{
            background-color: $blue;
            cursor: pointer;

            .logo{
                border: $border-size solid $blue;
                border-bottom: 0;
                padding: 0 0 $border-size;
            }

            .name{
                color: white;
                border-color: $blue;
            }
        }

        .infos {
            outline: 1px solid $dark-grey;
            margin-bottom: 3px;
        }
        .logo {
            background-color: #ffffff;
            padding: $border-size;
            text-align: center;

            .img-container{
                padding-bottom: 46%;
                position: relative;

                .img{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    img {
                        left: 50%;
                        max-height: 95%;
                        max-width: 95%;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: auto;
                    }

                    i{
                        left: 50%;
                        max-height: 100%;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: auto;
                    }
                }
            }
        }
        .name {
            padding: 14px 0;
            text-align: center;
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border-top: solid 1px #eeeeee;
        }

        .actions {
            .switch{
                margin-left: 0;
            }
        }

        .done {
            span,
            .switch {
                vertical-align: middle;
            }
        }

        .done > span { font-size: 13px; }
    }
}

input {
    + .slider {
        top: unset;
        text-align: left;

        &:after {
            content: attr(data-no);
        }
    }
    &:checked + .slider {
        &:after {
            content: attr(data-yes);
        }
    }
}