<form [formGroup]="form" id="step-selection" (ngSubmit)="handleFormSubmit($event)" class="well p-1">

    <div class="row" [class.mb-1]="isTableDisplayed">
        <div class="col-sm-6">
            <span class="pb-1">
                {{ 'Please select the Asset Management Companies you would like to work with on IZNES.' | translate }}
            </span>

            <ng-select [items]="filteredManagementCompanies"
                       [multiple]="true"
                       [formControl]="form.get('managementCompanies')"
                       placeholder="{{ 'Search' | translate }}"
                       class="form-control"
                       [disabled]="submitted"
            ></ng-select>
        </div>
    </div>

    <div class="row" *ngIf="alreadyRegistered && isTableDisplayed">
        <div class="col-sm-12">

            <div class="text-center mb-1">
                <span class="alert-icon-wrapper text-warning">
                    <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                </span>
                <span class="alert-text text-warning">
                    {{ 'Warning: if you select Yes in the following table, you will not be able to benefit from all the KYC features of IZNES.' | translate }}
                </span>
            </div>

        </div>
    </div>

    <div class="row" *ngIf="isTableDisplayed">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'Asset Management Companies' | translate }}</th>
                    <th>{{ 'Are you already registered?' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="managementCompanies && preselectedManagementCompany.id">
                    <td>{{managementCompanies[preselectedManagementCompany.id]?.companyName}}</td>
                    <td>
                        <label class="switch">
                            <input [attr.disabled]="submitted ? 'true' : null" 
                                    type="checkbox" 
                                    name="registered" 
                                    class="form-control" 
                                    [(ngModel)]="preselectedManagementCompany.registered" 
                                    [ngModelOptions]="{standalone: true}" 
                                    (ngModelChange)="onRegisteredChange()">
                            <span class="slider round" data-yes="YES" data-no="NO"></span>
                        </label>
                    </td>
                </tr>
                <tr *ngFor="let company of selectedManagementCompanies">
                    <td>{{company.text}}</td>
                    <td>
                        <label class="switch" *ngIf="company.id">
                            <input [attr.disabled]="submitted ? 'true' : null" 
                                    type="checkbox" 
                                    id="registered_{{company.id}}" 
                                    name="registered" 
                                    [(ngModel)]="company.registered" 
                                    [ngModelOptions]="{standalone: true}" 
                                    class="form-control" 
                                    (ngModelChange)="onRegisteredChange()">
                            <span class="slider round" data-yes="YES" data-no="NO"></span>
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <input type="submit" class="hidden" />

</form>