.table td{
    line-height: 24px;

    .switch{
        height: 24px;
        vertical-align: middle;
    }
}

input{
    +.slider{
        top: unset;
        text-align: left;

        &:after{
            content : attr(data-no)
        }
    }
    &:checked + .slider{
        &:after{
            content : attr(data-yes)
        }
    }
}