<h3 class="text-center step-title">
    {{ 'Select Management Companies' | translate }}
</h3>

<form [formGroup]="form" id="step-selection" (ngSubmit)="handleSubmit($event)" class="well p-1">

    <div class="row" *ngIf="alreadyRegistered">
        <div class="col-sm-12">

            <div class="text-center mb-1">
                <span class="alert-icon-wrapper text-warning">
                    <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                </span>
                <span class="alert-text text-warning">
                    {{ 'Warning: if you select Yes in the following list, you will not be able to benefit from all the KYC features of IZNES.' | translate }}
                </span>
            </div>

        </div>
    </div>

    <div>

        <div class="management-companies">

            <div class="management-company-container" *ngFor="let managementCompany of managementCompanies">

                <div class="link">
                    &nbsp;
                </div>

                <div class="management-company" [class.selected]="managementCompany.selected">
                    <i class="fa fa-check fa-2x confirm-mark" *ngIf="managementCompany.selected"></i>

                    <div class="infos" (click)="toggleManagementCompany(managementCompany)">
                        <div class="logo">
                            <div class="img-container">
                                <div class="img">
                                    <img *ngIf="managementCompany.image" src="{{managementCompany.image}}" alt="{{managementCompany.text}}"/>
                                    <i *ngIf="!managementCompany.image" class="fa fa-building-o fa-3x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="name">
                            <strong>{{managementCompany.text}}</strong>
                        </div>
                    </div>

                    <div class="actions" *ngIf="!duplicate" [hidden]="!managementCompany.selected">
                        <div class="done">
                            <span>
                                {{'KYC Completed?' | translate}}
                            </span>

                            <label class="switch small" *ngIf="managementCompany.id">
                                <input [attr.disabled]="submitted ? 'true' : null"
                                       type="checkbox"
                                       id="registered_{{managementCompany.id}}"
                                       name="registered"
                                       class="form-control"
                                       [(ngModel)]="managementCompany.registered"
                                       [ngModelOptions]="{standalone: true}"
                                       (ngModelChange)="onRegisteredChange()">
                                <span class="slider round" data-yes="YES" data-no="NO"></span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <input type="submit" class="hidden"/>

</form>