:host /deep/ {
    .login-container {
        position: fixed;
        overflow: auto;
        display: flex;
        width: 100%;
        height: 100%;
        background: url('assets/images/iznes-login-bg.jpg') #546883 no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        .container {
            width: 100%;
        }
        #logo-container {
            align-items: center;
            justify-content: center;
            text-align: center;
            @media (max-width: 767.99px) {
                position: absolute;
                top: 30px;
                text-align: center;
                width: 100%;
                left: 0;
                img#logo-iznes {
                    width: 50%;
                    max-width: 250px;
                    min-width: inherit;
                }
            }
            img {
                width: 44%;
                min-width: 250px;
                margin-bottom: 20px;
            }
        }
        .vertical-center {
            @media (min-width: 768px) {
                align-items: center;
                justify-content: center;
                height: 100%;
            }
        }
        .content-container {
            .inner {
                max-width: 715px;
                display: inline-block
            }
            @media (max-width: 767.99px) {
                flex-direction: row;
                order: 2;
                position: inherit;
            }
        }
        .box-container {
            .inner {
                max-width: 600px;
                display: inline-block;
                @media (max-width: 767.99px) {
                    width: 100%;
                }
            }
            @media (max-width: 767.99px) {
                flex-direction: row;
                order: 1;
            }
        }
        #text-container {
            h1 {
                color: #ffffff;
                font-size: 40px;
                margin: 20px;
                @media (max-width: 767.99px) {
                    font-size: 30px;
                    margin: 50px 20px 0 20px;
                }
            }
            p {
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
                margin-top: 10px;
                color: #ffffff;
                @media (max-width: 767.99px) {
                    font-size: 15px;
                }
            }
            .btn {
                font-size: 16px;
                margin: 50px 0;
                border-color: #ffffff;
                display: inline-block;
                border-radius: 30px;
                color: #ffffff;
                padding: 20px;
                line-height: 0;
                &:hover {
                    opacity: 0.8;
                    border-color: #ffffff !important;
                    background: none;
                }
                @media (max-width: 767.99px) {
                    font-size: 14px;
                    margin: 30px 0;
                    padding: 18px;
                }
            }
        }
        .login-box {
            background: rgba(255, 255, 255, 0.7);
            border-radius: 6px;
            overflow: hidden;
            position: relative;
            @media (max-width: 767.99px) {
                margin-top: 150px;
            }
            .top-bar {
                background: #4c6e99;
                overflow: hidden;
                height: 60px;
                h2 {
                    color: #ffffff;
                    padding: 30px 35px;
                    font-weight: 500;
                    float: left;
                    font-size: 19px;
                    line-height: 0;
                    @media (max-width: 767.99px) {
                        padding: 0 35px;
                        font-size: 16px;
                        text-align: left;
                        width: calc(100% - 82px);
                        line-height: 20px;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                .icon {
                    background: #00457f;
                    float: left;
                    padding: 10px 0 0 0;
                    text-align: right;
                    height: 60px;
                    width: 70px;
                    .fa {
                        font-size: 38px;
                        color: #ffffff;
                        transform: rotate(180deg) scaleX(-1);
                        background: #004583;
                    }
                }
                .icon::after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 0 solid transparent;
                    border-bottom: 60px solid transparent;
                    border-left: 30px solid #00457f;
                    position: absolute;
                    top: 0;
                    left: 70px;
                }
            }
            .form-container {
                padding: 20px 30px;
                button.btn {
                    width: 100%;
                    max-width: 100%;
                    text-transform: none;
                    letter-spacing: normal;
                    margin: 10px 0 0 0;
                    font-size: 13px;
                    background: #ffffff;
                    color: #565656;
                    border: solid 1px #0082f0;
                    &:hover:not([disabled]) {
                        opacity: 0.9;
                    }
                    &[type=submit] {
                        background: #0082f0;
                        color: #ffffff;
                    }
                    &.btn-multi {
                        width: 49%;
                        margin-right: 2%;
                        &:nth-of-type(2) {
                            margin-right: 0;
                        }
                    }
                }
                form .form-group {
                    margin-bottom: 10px;
                    input {
                        font-size: 13px;
                        width: 100%;
                    }
                }
                .toggle-password {
                    position: absolute;
                    top: 0;
                    right: 8px;
                    margin-top: 31px;
                    font-size: 16px;
                    cursor: pointer;
                    color: #808080;
                }
            }
            .no-margin {
                margin: 0;
            }
            .blue-text {
                color: #0082f0;
            }
            .text-block {
                margin-bottom: 20px;
            }
        }
        .forgot-password {
            text-align: center;
            margin-top: 10px;
            .reset-link {
                color: #ffffff;
                text-decoration: underline;
                font-size: 12px;
                cursor: pointer;
                &.hide {
                    opacity: 0;
                    cursor: default;
                }
            }
        }
        .required-text {
            margin-top: 10px;
            .required-field {
                color: #ffffff;
                font-size: 12px;
                text-align: right;
                margin: 0;
                &::before {
                    content: '* ';
                    color: red;
                    font-size: 20px;
                    line-height: 0;
                }
            }
        }
        .language-container {
            margin-top: 8px;
            clr-dropdown {
                width: 100%;
                button {
                    font-size: 13px;
                    color: #ffffff;
                    text-transform: none;
                    text-align: left;
                    &.dropdown-toggle {
                        padding: 0;
                    }
                }
                clr-dropdown-menu {
                    box-shadow: none;
                    border: none;
                    padding-top: 0;
                    // transform: none !important;
                    margin: 10px;
                    .dropdown-header {
                        font-size: 12px;
                        cursor: default;
                        border: none;
                        letter-spacing: normal;
                        background: #4c6e99;
                        color: #ffffff;
                        width: 100%;
                        padding-left: 30px;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        margin-bottom: 10px;
                        &:hover {
                            font-weight: 500;
                            color: #ffffff;
                        }
                        &::before {
                            font-family: 'FontAwesome';
                            position: absolute;
                            left: 10px;
                            content: "\f0ac" !important;
                            font-weight: 300;
                            font-size: 18px;
                        }
                    }
                    button {
                        color: #808080;
                        font-weight: 500;
                        &:hover {
                            color: #4c6e99;
                            font-weight: bold;
                            &::before {
                                position: absolute;
                                font-family: 'FontAwesome';
                                right: 10px;
                                content: "\f00c";
                            }
                        }
                    }
                }
            }
        }
        .icon-key {
            background: url('assets/images/icons/key.svg') no-repeat;
        }
        .icon-globe {
            background: url('assets/images/icons/globe.svg') no-repeat;
        }
        /* Change Autocomplete styles in Chrome*/
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0 30px white inset;
        }
    }
}
