#qr-code {
    section {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    img {
        display: inline-block;
        width: 166px;
        height: 166px;
    }
}