<form [formGroup]="qrCodeChallengeForm" (ngSubmit)="qrCodeChallenge()">
    <clr-modal [(clrModalOpen)]="showModal" [clrModalSize]="'md'">
        <h3 class=" modal-title">Enable Two-Factor Authentication</h3>  
        <div class="modal-body">       
            <section class="form-block">                   
                <div class="form-group">
                    <section class="form-block" style="width: 100%; text-align: center; padding-bottom: 20px">
                        <img style="display: inline-block" src="{{ qrCodeURL }}" alt="Open CSD QR Code" height="166" width="166" />
                    </section>    
                    
                    <div class="row">                       
                        <p>1. Scan the above QR code using your Google Authenticator App (iPhone or Android).</p>
                        <p>2. Enter below the six digit code Google Authenticator gives you then press "Submit".</p>
                        <label class="control-label"></label>
                        <input type="text" id="qrCodeNumber" formControlName="qrCodeNumber" maxlength="6" minlength="6" size="45" placeholder="Enter the Two-Factor code here">
                        <div *ngIf="qrCodeChallengeForm.controls.qrCodeNumber.hasError('required') && qrCodeChallengeForm.controls.qrCodeNumber.touched" 
                            class="field-error"
                            mltag="txt_qrcoderequired">Field is required
                        </div>
                    </div>   
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button id="qrCodeChallengeSubmit" type="submit" class="btn btn-primary" [disabled]="!qrCodeChallengeForm.valid">
                <i class="fa fa-save"></i> <span mltag="txt_submit">Submit</span>
            </button>
        </div>
    </clr-modal>
</form>