<form [formGroup]="form" id="step-validation" (ngSubmit)="handleSubmit($event)">
    <div class="kyc-container sm">
        <h2>{{ 'Validation' | translate }}</h2>
        <div class="well">
            <div class="row panel-header">
                <div class="col-sm-9">
                    <h5>Statement</h5>
                </div>
            </div>
            <div class="row panel-body">

                <div class="row col-sm-12">
                    <div class="highlight form-group">
                        <p>
                            {{ 'I, the undersigned,' | translate }}
                            <input class="inline-input" type="text" formControlName="undersigned"/>
                        </p>
                        <p>
                            {{ 'certify on my honour the accuracy of the information and documents provided, declare that I am acting on behalf of' | translate }}
                            <input class="inline-input" type="text" formControlName="actingOnBehalfOf"/>
                        </p>
                        <p>
                            <span *ngIf="amcs.length > 1">
                                {{ 'the recipient of the services to be provided by the following asset management companies' | translate }}:
                            </span>
                            <span *ngIf="amcs.length === 1">
                                {{ 'the recipient of the services to be provided by ' | translate }}
                                {{amcs[0].companyName}}.
                            </span>
                        </p>
                        <ul *ngIf="amcs.length > 1" class="ml-1 mb-1">
                            <li *ngFor="let amc of amcs">
                                {{amc.companyName}}
                            </li>
                        </ul>
                        <p class="field-errors">
                            <span class="error" *ngIf="hasError('undersigned', ['required']) || hasError('actingOnBehalfOf', ['required'])">{{ 'Fields are required' | translate }}</span><br />
                            <span class="error" *ngIf="hasError('undersigned', ['maxlength']) || hasError('actingOnBehalfOf', ['maxlength']) && (!hasError('undersigned', ['maxlength']) && !hasError('actingOnBehalfOf', ['maxlength']))">{{ 'Values are too long' | translate }}</span>
                        </p>
                    </div>

                    <div class="row col-sm-12">
                        <div class="form-group required-field col-sm-4">
                            <label for="doneAt">
                                {{ 'Completed at (location)' | translate }}:
                            </label>
                            <input type="text"
                                    id="doneAt"
                                    formControlName="doneAt"
                                    placeholder="{{ 'Please fill in a city' | translate }}">
                            <span class="field-error" *ngIf="hasError('doneAt', ['required'])">{{ 'Field is required' | translate }}</span>
                            <span class="field-error" *ngIf="hasError('doneAt', ['maxlength'])">{{ 'Value is too long' | translate }}</span>
                        </div>

                        <div class="form-group required-field col-sm-4 date-picker">
                            <label for="doneDate">
                                {{ 'Date' | translate }}:
                            </label>

                            <input type="text"
                                    autocomplete="off"
                                    [dpDayPicker]="configDate"
                                    id="doneDate"
                                    formControlName="doneDate"
                                    placeholder="{{configDate.format}}"
                                    mode="day"
                                    theme="dp-material"
                                    [attr.disabled]="true">

                            <span class="field-error" *ngIf="hasError('doneDate')">{{ 'Field is required' | translate }}</span>

                            <clr-icon shape="calendar"></clr-icon>
                        </div>
                    </div>

                    <div class="row col-sm-12">
                        <div class="form-group required-field col-sm-4">
                            <label class="control-label" for="signingAuthority">{{ 'Signing authority' | translate }}</label>
                            <ng-select id="signingAuthority"
                                        [items]="signingAuthorityList"
                                        [formControl]="form.get('signingAuthority')"
                                        placeholder="{{ 'Select a signing authority' | translate }}">
                            </ng-select>
                            <span class="field-error" *ngIf="hasError('signingAuthority', ['required'])">{{ 'Field is required' | translate }}</span>
                        </div>
                    </div>

                    <div class="row col-sm-12">
                        <div class="form-group required-field col-sm-4">
                            <label for="positionRepresentative">
                                {{ 'Position of the Representative of the Legal Person' | translate }}:
                            </label>
                            <input type="text"
                                    id="positionRepresentative"
                                    formControlName="positionRepresentative"
                                    placeholder="{{ 'Please fill in representative\'s position' | translate }}">
                            <span class="field-error" *ngIf="hasError('positionRepresentative', ['required'])">{{ 'Field is required' | translate }}</span>
                            <span class="field-error" *ngIf="hasError('positionRepresentative', ['maxlength'])">{{ 'Value is too long' | translate }}</span>
                        </div>

                        <div *ngIf="!isOnlyNowCP" class="form-group required-field col-sm-4">
                            <label for="electronicSignatureDocument">
                                {{ 'As electronic signature, please upload here the national identity card or valid passport or residence card of the signatory with photograph ID’s card' | translate }}:
                            </label>
                            <div class="filedrop-wrapper">
                                <setl-file-drop filePermission="0" class="form-control" id="electronicSignatureDocument"
                                                (onDrop)="uploadFile($event)"
                                                [preset]="form.get('electronicSignatureDocument').value"
                                                [inline]="true"
                                                [allowFileTypes]="['application/pdf']"
                                                ngDefaultControl>
                                </setl-file-drop>
                            </div>
                            <span class="field-error" *ngIf="hasError('electronicSignatureDocument')">{{ 'Field is required' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="submit" class="hidden" />

</form>

<div class="full-screen-splash" *ngIf="showKYCComplete" [style.backgroundImage]="'url(assets/images/iznes-login-bg.jpg)'">
    <div class="content" [class.fade-in]="fadeIn" *ngIf="formHelper.kycPartySelections$ | async as partySelections">
        <img *ngIf="invitedAs === 'iznes'" src="assets/images/logo-iznes-only.png" alt="IZNES">
        <img *ngIf="invitedAs === 'nowcp'" src="assets/images/nowcp-logo.png" alt="NowCP">
        <img *ngIf="invitedAs === 'id2s'" src="assets/images/id2s-logo.png" alt="ID2S">

        <h2>{{ 'Congratulations' | translate }}<ng-container *ngIf="firstName"> {{ firstName }}</ng-container>! 👏</h2>
        <p class="text-center">{{ "We just need to run a few checks, then you will be granted full access to the IZNES platform. We'll let you know when this happens." | translate }}</p>

        <!-- Show Finish btn for only IZNES-->
        <ng-container *ngIf="(invitedAs === 'iznes' || !partySelections.iznes); else iznesPromo">
            <button class="btn btn-primary" (click)="handleConfirm(true)">{{ 'Finish' | translate }}</button>
        </ng-container>

        <!-- Show IZNES CTA if other parties selected-->
        <ng-template #iznesPromo>
            <div class="highlight">
                <h2>{{ 'One final thing' | translate }}...</h2>
                <p>{{ 'If you wish you can complete your information to get the following benefits of the IZNES platform:' | translate }}</p>
                <ul>
                    <li>{{ 'Complete and up-to-date product referential' | translate }}</li>
                    <li>{{ 'Real-time order management and placement' | translate }}</li>
                    <li>{{ 'Real-time recordkeeping and certification' | translate }}</li>
                    <li>{{ 'Payment through the traditional banking network' | translate }}</li>
                    <li>{{ 'Secure messaging service' | translate }}</li>
                </ul>
            </div>
            <div class="btns">
                <button class="btn btn-primary" (click)="handleConfirm(true, true)">{{ 'Go to IZNES' | translate }}</button>
                <button class="btn" (click)="handleConfirm(true)">{{ 'No thanks' | translate }}</button>
            </div>
        </ng-template>
    </div>
</div>
