<div class="form-group">
    <label class="control-label required-field">{{ 'Recipient Type' | translate }}</label>
    <ng-select
        [items]="addressTypes"
        [allowClear]="true"
        placeholder="{{ 'Select Address Type' | translate }}"
        [formControl]="addressTypeSelect"
        (selected)="setSelectedAddressType($event)">
    </ng-select>
    <div class="field-error">{{ 'Field is required' | translate }}</div>
</div>

<div [ngSwitch]="selectedAddressType">
    <div class="form-group" *ngSwitchCase="1">
        <label class="control-label" [class.required-field]="required">{{ 'Connection' | translate }}</label>
        <ng-select
            [items]="relationshipArray"
            [allowClear]="true"
            placeholder="{{ 'Select Connection' | translate }}"
            (selected)="writeValue($event.id); onBlur()"
            (keydown)="setNgTouched()"
            (removed)="onClearValue()"
            [formControl]="relationshipSelect">
        </ng-select>
    </div>

    <div class="form-group" *ngSwitchCase="2">
        <label class="control-label" [class.required-field]="required">{{ 'Owned Address' | translate }}</label>
        <ng-select
            [items]="ownWalletAddressArray"
            [allowClear]="true"
            placeholder="{{ 'Select Owned Address' | translate }}"
            (selected)="writeValue($event.id); onBlur()"
            (keydown)="setNgTouched()"
            (removed)="onClearValue()"
            (change)="writeValue($event.target.value)"
            [formControl]="ownedAddressSelect">
        </ng-select>
    </div>

    <div class="form-group col-sm-6" *ngSwitchCase="3">
        <label class="control-label" [class.required-field]="required"><i class="fa fa-info-circle" [tooltip]="{text: otherAddressValidationTooltipText, size: 'medium'}"></i>{{ 'Other Address' | translate }}</label>
        <input type="text"
                placeholder="{{ 'Enter Address' | translate }}"
                (change)="writeValue($event.target.value)"
                (blur)="onBlur(); setNgTouched()"
                [formControl]="otherAddress">
    </div>
</div>
