<div class="header-breadcrumbs">
    <h1>
        <i class="fa fa-home"></i> {{'Umbrella Audit Trail:' | translate}} {{umbrellaName}}
    </h1>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink>
            <i class="fa fa-th-list"></i> {{'Umbrella Audit Trail' | translate}}
        </button>
        <clr-tab-content *clrIfActive>

            <div *ngIf="umbrellaID">
                <umbrella-audit-datagrid [umbrellaID]="umbrellaID"></umbrella-audit-datagrid>
            </div>

            <div class="form-group col-sm-6 btn-container">
                <button id="back-btn" type="button" class="btn btn-default" (click)="navigateToPreviousLocation()">{{'Back' | translate}}</button>
            </div>

        </clr-tab-content>
    </clr-tab>
</clr-tabs>