<div class="header-breadcrumbs">
    <h1><i class="fa fa-key"></i> {{ 'Transaction Reports' | translate}}</h1>
</div>

<clr-tabs *ngIf="tabs.length > 0">
    <clr-tab *ngFor="let tab of tabs; let id = index">
        <button clrTabLink id="testlink{{id}}" (click)="tabControl.activate(id)"
                innerHTML="<i class='fa fa-{{tab.icon}}'></i> {{tab.title}}"></button>

        <clr-tab-content *clrIfActive="tab.active">
            <div [hidden]="id !== 0">
                <ng-container
                        *ngTemplateOutlet="staticTransactionsList"
                ></ng-container>
            </div>

            <!-- Transaction view tabs. -->
            <ng-container *ngIf="id >= 1">
                <ng-container
                        *ngTemplateOutlet="dynamicViewTab; context: {'id': id, 'transaction': tab.data.transaction}"
                ></ng-container>
            </ng-container>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

<ng-template #staticTransactionsList>
    <div class="panel-body">
        <clr-datagrid #myDataGrid [clrDgLoading]="dataLoading">
            <clr-dg-column class="col-actions">{{ 'Actions' | translate }}</clr-dg-column>
            <clr-dg-column class="col-txid">{{ 'Tx ID' | translate }}</clr-dg-column>
            <clr-dg-column class="col-identifier">{{ 'Identifier' | translate }}</clr-dg-column>
            <clr-dg-column class="col-asset">{{ 'Asset' | translate }}</clr-dg-column>
            <clr-dg-column class="col-utc">{{ 'Time (UTC)' | translate }}</clr-dg-column>
            <clr-dg-column class="col-type">{{ 'Type' | translate }}</clr-dg-column>

            <!-- <clr-dg-row *clrDgItems="let transaction of transactions"> -->
            <clr-dg-row *clrDgItems="let transaction of transactions">
                <clr-dg-cell class="col-actions">
                    <div class="btn-group btn-sm">
                        <button (click)="handleViewTransaction(transaction.hash)" class="btn">
                            <i class="fa fa-search"></i>{{'View' | translate }}
                        </button>
                    </div>
                </clr-dg-cell>
                <clr-dg-cell class="col-txid">{{transaction.hash | truncate:8}}</clr-dg-cell>
                <clr-dg-cell class="col-identifier"></clr-dg-cell>
                <clr-dg-cell class="col-asset">{{transaction.issuer}}<span class="asset"> | </span>{{transaction.instrument}}
                </clr-dg-cell>
                <clr-dg-cell class="col-utc">{{transaction.utc | date}}</clr-dg-cell>
                <clr-dg-cell class="col-type"><span class="label label-success">{{transaction.txType}}</span>
                </clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                <div style="width: 100%; text-align: left">
                    <!-- <span>Page size&nbsp;</span>
                    <select (change)="pageSize = $event.target.value">
                        <option *ngFor="let size of [10, 25, 50, 100]" [value]="size">{{size}}</option>
                    </select> -->

                    <div class="btn-group btn-pagination">
                        <button class="btn btn-sm" (click)="this.reportingService.historyResetAll()"><clr-icon shape="refresh"></clr-icon></button>
                    </div>

                    <div class="btn-group btn-pagination">
                        <button class="btn btn-sm" [disabled]="previousDisabled" (click)="reportingService.historyPaginationAll('prev')"><clr-icon shape="caret left"></clr-icon></button>
                        <button class="btn btn-sm" [disabled]="nextDisabled" (click)="reportingService.historyPaginationAll('next')"><clr-icon shape="caret right"></clr-icon></button>
                    </div>

                    <div class="btn-group btn-pagination">
                        Page: {{(currentPage$ | async) + 1}}
                    </div>
                </div>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</ng-template>

<ng-template #dynamicViewTab let-id="id" let-transaction="transaction">
    <div class="transaction-tab-panel-body panel-body">
        <form>
            <div class="form-horizontal">
                <div class="form-group tx-view-header">
                    <div class="col-sm-3">&nbsp;</div>
                    <label class="col-sm-4">
                        {{ 'Transaction Details' | translate }}
                    </label>
                </div>

                <ng-container *ngFor="let field of transactionFields">
                    <div class="form-group" *ngIf="transaction[field.field]">
                        <label class="col-sm-3 control-label">
                            <span class="ml" mltag="txt_">{{field.displayName}}</span>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" 
                                    class="form-control" 
                                    readonly="" 
                                    value="{{transaction[field.field]}}">
                        </div>
                    </div>
                </ng-container>

                <div class="form-group tx-view-header">
                    <div class="col-sm-3">&nbsp;</div>
                    <label class="col-sm-4">
                        <button type="button" class="btn btn-primary" (click)="closeTab(id)">{{ 'Close' | translate }}</button>
                    </label>
                </div>
            </div>
        </form>
    </div>
</ng-template>
