<div class="header-breadcrumbs">
    <h1>Funds</h1>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink><i class="fa fa-search"></i> Chercher</button>
        <clr-tab-content *clrIfActive>
            <section class="form-block">

                <button class="btn btn-success mb-2" type="button" (click)="newFund()">
                    <i class="fa fa-plus"></i> Ajouter Fonds
                </button>

                <clr-datagrid>
                    <clr-dg-column>Actions</clr-dg-column>
                    <clr-dg-column>Fonds</clr-dg-column>
                    <clr-dg-column>ISIN</clr-dg-column>

                    <clr-dg-row *clrDgItems="let fake of fakeDatas">
                        <clr-dg-cell>
                            <div class="btn-group btn-sm">
                                <button class="btn"><i class="fa fa-search"></i></button>
                                <button class="btn"><i class="fa fa-edit"></i></button>
                            </div>
                        </clr-dg-cell>
                        <clr-dg-cell>{{fake.fund}}</clr-dg-cell>
                        <clr-dg-cell>{{fake.isin}}</clr-dg-cell>
                    </clr-dg-row>

                    <clr-dg-footer>
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        of {{pagination.totalItems}} fakeDatas
                        <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
                    </clr-dg-footer>
                </clr-datagrid>

            </section>
        </clr-tab-content>
    </clr-tab>
    <clr-tab *ngIf="isNewFund">
        <button clrTabLink><i class="fa fa-plus"></i> New fund</button>
        <clr-tab-content *clrIfActive="isNewFund">
            <section class="form-block">
                <!-- FUND FORMS -->

                <form [formGroup]="fundForm" novalidate (ngSubmit)="save(fundForm)">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="col-sm-2">
                                <label for="ffundName" class="text-right pt-1">
                                    Nom de la part
                                </label>
                            </div>
                            <div class="col-sm-10 text-right">
                                <input type="text" id="ffundName" class="form-control" formControlName="fundName" placeholder="Nom de la part">
                                <div *ngIf="fundForm.controls.fundName.hasError('required') && fundForm.controls.fundName.touched" class="text-danger">Nom de la part is required</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-2">
                                <label for="ffundLei" class="text-right pt-1">
                                    Référence du fond
                                </label>
                            </div>
                            <div class="col-sm-10 text-right">
                                <input type="text" id="ffundLei" class="form-control" formControlName="fundLei" placeholder="Référence du fond">
                                <div *ngIf="fundForm.controls.fundLei.hasError('required') && fundForm.controls.fundLei.touched" class="text-danger">Référence du fond is required</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-2">
                                <label for="ffundSicavFcp" class="text-right pt-1">
                                    SICAV / FCP
                                </label>
                            </div>
                            <div class="col-sm-10 text-right">
                                <input type="text" id="ffundSicavFcp" class="form-control" formControlName="fundSicavFcp" placeholder="SICAV / FCP">
                                <div *ngIf="fundForm.controls.fundSicavFcp.hasError('required') && fundForm.controls.fundSicavFcp.touched" class="text-danger">SICAV / FCP is required</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="col-sm-2">
                                <label for="ffundSicavId" class="text-right pt-1">
                                    SICAV ID
                                </label>
                            </div>
                            <div class="col-sm-10 text-right">
                                <input type="text" id="ffundSicavId" class="form-control" formControlName="fundSicavId" placeholder="SICAV">
                                <div *ngIf="fundForm.controls.fundSicavId.hasError('required') && fundForm.controls.fundSicavId.touched" class="text-danger">SICAV ID is required</div>
                            </div>
                        </div>
                    </div>
                    <!--shares-->
                    <div class="row mt-2" formArrayName="shares">
                        <div class="col-sm-2">
                            <button class="btn btn-success mr-1" type="button" (click)="addShare()">
                                <i class="fa fa-plus"></i> Ajouter une part
                            </button>
                            <button class="btn btn-success mr-1" type="button" (click)="copyShare()">
                                <i class="fa fa-copy"></i> Copier la part courante
                            </button>
                            <button class="btn btn-success mr-1" type="button" (click)="pasteShare()">
                                <i class="fa fa-paste"></i> Coller la part
                            </button>
                        </div>
                        <div class="col-sm-10 text-left m-0">
                            <div *ngFor="let share of fundForm.controls.shares.controls; let i = index" class="customTab " [class.customTabActive]="currentShareIx == i" (click)="setCurrentShare(i)">
                                New
                                <span class="fa fa-times ml-1 text-danger" *ngIf="i > 0" (click)="removeShare(i)" [ngStyle]="{'font-size':'18px'}"></span>
                            </div>
                            <div class="tabContent">
                                <div *ngFor="let share of fundForm.controls.shares.controls; let i = index">
                                    <div class="text-left m-0" [formGroupName]="i" [hidden]="i != currentShareIx">
                                        <share [group]="fundForm.controls.shares.controls[i]"></share>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="margin-20">
                        <div>fundForm details:</div>
                        <pre>Is myForm valid?: <br>{{fundForm.valid | json}}</pre>
                        <pre>form value: <br>{{fundForm.value | json}}</pre>
                    </div>
                </form>


            </section>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>