form-steps {
    background: #fafafa;
    display: block;
    overflow: hidden;
    margin-bottom: -20px;

    .steps-slider {
        width: 100%;
    }

    .hidden {
        display: none;
    }
}



.steps-buttons{
    width: 100%;
    text-align: center;
    margin: 20px auto;
}
