<!-- The wrapper, holds everything in. -->
<div class="option-wrap">

    <!--    <select>
            <option *ngFor="let option of optionsList">
                <i class="fa"
                   [ngClass]="option.icon"
                   [ngStyle]="{'color': option.color}"
                ></i>
                {{ option.text }}
            </option>
        </select>-->

    <!-- The option box, shows the value and is the toggle to show the list. -->
    <div class="option-box"
         (click)="toggleOpen()">

        <!-- Icon of the value. -->
        <i class="fa"
           [ngClass]="optionSelect.icon"
           [ngStyle]="{'color': optionSelect.color}"
        ></i>

    </div>

    <!-- The option list. -->
    <!--<ul class="option-list open"
        [ngClass]="{'open': uiListOpen}">-->
    <ul *ngIf="this.uiListOpen" class="option-list open">

        <!-- Each option. -->
        <li *ngFor="let option of optionsList"
            (click)="handleSelection(option)">

            <!-- Option Icon. -->
            <i class="fa"
               [ngClass]="option.icon"
               [ngStyle]="{'color': option.color}"
            ></i>

            <!-- Option text. -->
            <span [innerHTML]="option.text"
                  [ngClass]="{'selected': optionSelect.id === option.id}"
            ></span>
        </li>
    </ul>
</div>
