.animate, .animate:hover, .animate:focus {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

* {
    outline: none;
}

*:focus {
    outline: none;
}

.content-area {
    background: #f9f9f9;
}

.header-breadcrumbs {
    h1 {
        margin-top: 0;
        font-weight: bold;
        font-size: 22px;
        padding-left: 5px;
        color: rgb(56, 61, 72);

        i {
            margin-right: 5px;
        }
    }

    padding: 20px;
    padding-bottom: 10px;
}

body {
    background: #f9f9f9;
}

table {
    tr:nth-child(even) {
        background: #f9f9f9;
    }
    tr:nth-child(odd) {
        background: #FFF;
    }
}

.btn-sm {
    .btn {
        font-weight: normal;
        letter-spacing: 0.2px;
        text-transform: none;
    }
}

.btn {
    font-weight: normal;
    letter-spacing: 0.2px;
    text-transform: none;
    border-color: #57a5e3;
    background-color: transparent;
    color: #57a5e3;
}

.btn:focus, button:focus {
    outline: none;
}

.btn.btn-primary:hover, .btn-primary .btn:hover {
    background-color: #3c739c;
    color: #fff;
    border-color: #3c739c;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    font-size: 12px;
    margin: 10px 40px;
    background-color: #f3f3f3;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: $setlSelected;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: $setlSelected;
    text-decoration: underline;
}

// contains text inside an area regardless if there isn't spaces
.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}

// Angular Froala WYSIWYG Editor toolbar
.fr-toolbar {
    box-shadow: none !important;
    border: 1px solid #ccc !important;
    background: #f3f3f3;
    margin: -1px;
}

// Angular Froala WYSIWYG Editor textarea
.fr-wrapper {
    margin-top: -1px;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

// Angular Froala WYSIWYG Editor word counter
span.fr-counter {
    border-top: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    margin: 0 1px 1px 0px !important;
    padding: 5px 10px !important;
}