.animate, .animate:hover, .animate:focus {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

* {
    outline: none;
}

*:focus {
    outline: none;
}

.content-area {
    background: #f9f9f9;
}

.header-breadcrumbs {
    h1 {
        margin-top: 0;
        font-weight: bold;
        font-size: 22px;
        padding-left: 5px;
        color: rgb(56, 61, 72);

        i {
            margin-right: 5px;
        }
    }

    padding: 20px;
    padding-bottom: 10px;
}

body {
    background: #f9f9f9;
}

table {
    tr:nth-child(even) {
        background: #f9f9f9;
    }
    tr:nth-child(odd) {
        background: #FFF;
    }
}

.btn-sm {
    .btn {
        font-weight: normal;
        letter-spacing: 0.2px;
        text-transform: none;
    }
}

.btn {
    font-weight: normal;
    letter-spacing: 0.2px;
    text-transform: none;
    border-color: #57a5e3;
    background-color: transparent;
    color: #57a5e3;
}

.btn:focus, button:focus {
    outline: none;
}

.btn.btn-primary:hover, .btn-primary .btn:hover {
    background-color: #3c739c;
    color: #fff;
    border-color: #3c739c;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    font-size: 12px;
    margin: 10px 40px;
    background-color: #f3f3f3;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: $setlSelected;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: $setlSelected;
    text-decoration: underline;
}

.main-container {
    .content-container {
        display: block;
        -webkit-box-flex: inherit;
        -ms-flex: auto;
        flex: auto;
        min-height: inherit;
        float: left;
        width: 100%;
        background: #373a49;
        height: 100%;

        .sidenav {
            float: left;
            width: 230px;
            display: table;
        }

        .content-area {
            float: left;
            width: calc(100% - 230px);
            height: 100%;
        }
    }
}