.content-area {
  background: rgb(247, 248, 253);
}

.header-breadcrumbs {
  h1 {
    margin-top: 0;
    font-size: 26px;

    i {
      margin-right: 5px;
    }
  }

  padding: 20px;
  background: white;
  padding-bottom: 10px;
}

body {
  background: rgb(247, 248, 253);
}