<div class="date-picker-extended">
	<div class="calendar c-header" *ngIf="showWeekendToggle">
		<form [formGroup]="form">
			<div class="toggle-switch">
				<input type="checkbox" id="excludeWeekendsToggle" name="excludeWeekendsToggle"
					formControlName="excludeWeekends">
				<label for="excludeWeekendsToggle">{{ 'Exclude Weekends (toggle)' | translate }}</label>
			</div>
		</form>
	</div>

	<dp-day-calendar [(ngModel)]="selectedDates" [config]="dateConfig" theme="dp-material" [disabled]="disabled"></dp-day-calendar>

	<div class="calendar c-footer" *ngIf="showClearButton">
		<button class="btn btn-danger clear" (click)="clear()" type="button">Clear</button>
	</div>
</div>
