<div class="header-breadcrumbs">
    <h1><i class="fa fa-pencil"></i> {{'Colours' | translate}}
    </h1>
</div>

<div class="padding">
    <a href="#" class="toggle-info-panes" (click)="toggleInfoPanes($event)">{{ showInfoPanes ? '[-] hide info panes' :
        '[+] show info panes' }}

    </a>
    <app-ui-info-pane [hidden]="!showInfoPanes" [message]="'This info pane does not make up part of these guidelines. If you see this pane displayed in any of the below items, it is just for informational purposes. To view the source code for this page, go to @setl/core-layout/layouts/ui-form.'">
    </app-ui-info-pane>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink id="modal">
            <i class="fa fa-bars"></i> {{'Modal' | translate}}
        </button>

        <clr-tab-content *clrIfActive>
            <p>{{'Colours and HEX Codes' | translate}}</p>

            <section class="form-block">
                <div class="row">
                    <div class="form-group col-sm-2">
                        <button class="btn btn-primary">{{'Send' | translate}}</button>
                    </div>

                    <div class="form-group col-sm-4">
                        <p><b>{{'Primary Button' | translate}}</b><br>{{'A primary button is a color of solid colour and used as main button' | translate}}

                        </p>
                    </div>

                    <div class="form-group col-sm-2">
                        <button class="btn btn-primary">{{'Send' | translate}}</button>
                    </div>

                    <div class="form-group col-sm-4">
                        <p><b>{{'Primary Button' | translate}}</b><br>{{'A primary button is a color of solid colour and used as main button' | translate}}

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-2">
                        <button class="btn">{{'Cancel' | translate}}</button>
                    </div>

                    <div class="form-group col-sm-10">
                        <p><b>{{'Secondary Button' | translate}}</b><br>{{'Is button with outlined colour and used a cancel, reset or something similar' | translate}}

                        </p>
                    </div>
                </div>
            </section>

        </clr-tab-content>
    </clr-tab>
</clr-tabs>