.modal-backdrop {
    background-color: rgba(141, 150, 165, 0.71);
    opacity: 1.0;
}

.modal-header {
    letter-spacing: .005em;
    line-height: 26px;
    padding: 20px 20px 0;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid #d5d6d6;
    background: #f7f7f7;
    padding: 20px;
    color: #383d48;
    font-weight: bold;
    margin-top: 0;
    font-size: 22px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modal-header h3 {
    color: #383d48 !important;
    font-weight: bold !important;
    font-size: 22px !important;
}

.modal-title {
    padding: 30px 15px;
    text-align: center;
}

.modal-icon {
    font-size: 84px;
    color: #1AB399;
}

.modal-dialog .modal-content {
    padding: 0 !important;
    box-shadow: none;
}

.modal-body {
    background: white;
    padding: 20px;
    border-bottom: 0px solid #e5e5e5;
    border-top: 0px solid #e5e5e5;

    iframe {
        border-width: 0;
    }

    .fileviewer-main {
        padding: 0px;
    }
}

.modal-footer {
    border-top: 1px solid #d5d6d6;
    background: #f8fafb;
    min-height: 60px;
    padding: 0;
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    text-align: center;
    display: block;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

clr-modal.large .modal-dialog {
    width: 95%;
}

.modal-footer {
    .btn {
        margin: 12px 5px 0 5px;
    }
    .btn:hover {
        background-color: hsla(0, 0%, 60%, .2);
    }
}

.modal-footer button {
    border: 1px solid #afafaf;
    color: #8c8c8c !important;
    height: 36px;
    border-radius: 3px;
    line-height: 34px;
    font-size: 12px;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 12px;
}

.modal-footer .btn.btn-outline {
    margin-right: 5px;
    border: 1px solid #afafaf;
    color: #8c8c8c !important;
    background-color: white;
}

.modal-footer button.default {
    color: inherit;
}

.modal-footer button.default:hover {
    background-color: hsla(0, 0%, 60%, .2);
}

.modal-footer .btn.btn-primary {
    background-color: #56a4df;
    border: 1px solid #56a4df;
    color: white !important;
}

.modal-footer .btn.btn-primary:hover {
    background-color: #4092d0;
    border: 1px solid #4092d0;
}

.modal-footer .btn.btn-success {
    background-color: #62a420;
    border: 1px solid #62a420;
    color: white !important;
}

.modal-footer .btn.btn-success:hover {
    background-color: #4b861f;
    border: 1px solid #4b861f;
}

.modal-footer .btn.btn-warning {
    background-color: #e62700;
    border: 1px solid #e62700;
    color: white !important;
}

.modal-footer .btn.btn-warning:hover {
    background-color: #b82700;
    border: 1px solid #b82700;
}

.modal-body .form-group.col-sm-12 {
    padding: 0px;
}

.modal-body .form-group.col-sm-12 input[type] {
    width: 100%;
    margin: 0px;
}

.modal-body .form-group.col-sm-6 {
    padding: 0px;
}

.modal-body .form-group.col-sm-6 input[type] {
    width: 100%;
    margin: 0px;
}

.modal-body .form-group.col-sm-6:nth-of-type(1) {
    padding-right: 10px;
}

.modal-body .form-group.col-sm-6:nth-of-type(2) {
    padding-left: 10px;
}

clr-modal .modal-form-body {
    padding-bottom: 20px !important;
    .fa {
        color: #96c8f1
    }
    input[type=text] {
        text-align: center;
        border: 1px solid #96c8f1;
        margin: 10px 0 0 0;
        width: 100%;
    }
    .field-error {
        width: 100%;
    }
}