<div class="header-breadcrumbs">
    <h1>
        <i class="fa fa-file-text-o"></i>
        <span mltag="txt_contracts_dvp">DVP</span>
    </h1>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink clrTabLinkId="link1">
            <i class="fa fa-file-text-o"></i>
            <span mltag="txt_contracts_create_dvp">DVP</span>
        </button>

        <clr-tab-content *clrIfActive>
            <form [formGroup]="createContractForm" (ngSubmit)="createContract()">
                <section class="form-block">
                    <div class="form-group col-sm-4">
                        <label class="control-label required-field" for="contract_creator">
                            <span class="ml_translated" mltag="txt_contract_creator">Contract Creator Address</span>
                        </label>

                        <ng-select id="contract_creator"
                                   [items]="walletAddressSelectItems"
                                   [allowClear]="true"
                                   placeholder="Select Creator Address"
                                   [formControl]="createContractForm.controls['creator']"
                        >
                        </ng-select>

                        <span *ngIf="createContractForm.controls['creator'].hasError('required') && createContractForm.controls['creator'].touched" class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                    </div>

                    <div class="form-group col-sm-4">
                        <label class="control-label required-field" for="contract_expiry_date">
                            <span class="ml_translated" mltag="txt_contract_expiry_date">Expiry Date</span>
                        </label>

                        <input type="text" id="contract_expiry_date" autocomplete="off"
                               [formControl]="createContractForm.controls['expireDate']"
                               [dpDayPicker]="configDatePicker"
                               placeholder="Expiry Date"
                               mode="day"
                               theme="dp-material"/>
                        <span *ngIf="createContractForm.controls['expireDate'].hasError('pattern') && createContractForm.controls['expireDate'].touched"
                              class="field-error">Invalid date. Format must be YYYY-MM-DD.</span>
                        <span *ngIf="createContractForm.controls['expireDate'].hasError('required') && createContractForm.controls['expireDate'].touched"
                              class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                    </div>

                    <div class="form-group col-sm-4">
                        <label class="control-label required-field" for="contract_expiry_time">
                            <span class="ml_translated" mltag="txt_contract_expiry_time">Expiry Time</span>
                        </label>

                        <input type="time" formControlName="expireTime" name="contract_expiry_time" id="contract_expiry_time" placeholder="HH:MM" required/>

                        <span *ngIf="createContractForm.controls['expireTime'].hasError('required') && createContractForm.controls['expireTime'].touched"
                              class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                    </div>
                </section>

                <div class="contract-party-container row">
                    <ng-container *ngFor="let party of parties; let idx = index;">
                        <section formGroupName="{{party.id}}" class="form-block contract-party col-md-4">
                            <span class="text-badge">{{party.title}}</span>

                            <div class="form-group col-sm-10">
                                <various-address-select
                                    [formControl]="createContractForm.controls[party.id].controls['address']"
                                    [relationshipArray]="walletRelationships"
                                    [ownWalletAddressArray]="walletAddressSelectItems"
                                    [class.error]="!createContractForm.controls[party.id].controls['address'].valid &&
                                    createContractForm.controls[party.id].controls['address'].touched"
                                    [required]="true">
                                </various-address-select>
                                <span *ngIf="createContractForm.controls[party.id].controls['address'].hasError('required') && createContractForm.controls[party.id].controls['address'].touched" class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                            </div>

                            <div class="form-group col-sm-10 toggle-asset" *ngIf="party.toggleAssetReturn">
                                <label class="control-label" for="{{party.id}}_return_asset">
                                    <input type="checkbox" name="{{party.id}}_return_asset" id="{{party.id}}_return_asset" formControlName="return_asset"> Send Asset in Return?
                                </label>
                            </div>

                            <div *ngIf="isReturnAssetEnabled(party)">
                                <div class="form-group col-sm-10">
                                    <label class="control-label required-field" for="{{party.id}}_asset">
                                        <span class="ml_translated" mltag="txt_contract_asset">Asset</span>
                                    </label>

                                    <ng-select id="{{party.id}}_asset"
                                               [items]="allInstrumentList"
                                               [allowClear]="true"
                                               placeholder="Select Issuer"
                                               [formControl]="createContractForm.controls[party.id].controls['asset']">
                                    </ng-select>

                                    <span *ngIf="createContractForm.controls[party.id].controls['asset'].hasError('required') && createContractForm.controls[party.id].controls['asset'].touched"
                                          class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                                </div>

                                <div class="form-group col-sm-10">
                                    <label class="control-label required-field" for="{{party.id}}_amount">
                                        <span class="ml_translated" mltag="txt_contract_amount">Amount</span>
                                    </label>

                                    <input formControlName="amount" type="number" name="{{party.id}}_amount" id="{{party.id}}_amount" required/>

                                    <span *ngIf="createContractForm.controls[party.id].controls['amount'].hasError('required') && createContractForm.controls[party.id].controls['amount'].touched" class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                                </div>
                            </div>
                        </section>
                        <div class="col-sm-2 icon-wrapper" *ngIf="idx === 0">
                            <i class="fa fa-exchange" [hidden]="!isReturnAssetEnabled(parties[1])"></i>
                            <i class="fa fa-long-arrow-right" [hidden]="isReturnAssetEnabled(parties[1])"></i>
                        </div>
                    </ng-container>

                </div>

                <button type="submit" class="btn btn-primary" mltag="txt_createdvpcontract" [disabled]="createContractForm.invalid">Create DVP Contract</button>

            </form>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>