<!--<div class="header-breadcrumbs">-->

<!--<ul class="breadcrumb">-->
<!--<li><a href="#">Home</a></li>-->
<!--<li class="active">Messages</li>-->
<!--</ul>-->
<!--</div>-->
<div class="messages">

    <div class="row">
        <!-- categories -->
        <div class="col-sm-4 col-md-3 col-lg-2 col-categories">
            <div class="tile row" (click)="showCategory(1337, true)" [ngClass]="{'active': 1337 === currentCategory}">
                <div class="tile-icon">
                    <clr-icon shape="edit" size="24"></clr-icon>
                </div>
                <div class="tile-text">
                    <h4>Compose</h4>
                </div>
            </div>

            <hr class="message-hr">

            <div class="cat-tile" *ngFor="let category of categories; let i = index">
                <div class="tile row" (click)="showCategory(i)" [ngClass]="{'active': i === currentCategory}">
                    <div class="tile-icon">
                        <clr-icon [attr.shape]="category.icon" size="18"></clr-icon>
                    </div>
                    <div class="tile-text">
                        <h4>{{category.name}}</h4> <!--<span _ngcontent-c8="" class="label label-warning">99</span>-->
                    </div>
                </div>
            </div>

        </div>

        <!-- message highlights with message area -->
        <div class="col-sm-8 col-md-9 col-lg-10 col-message-grid">

            <div *ngIf="composeSelected" class="message-compose">
                <div class="message-options">
                    <h2>Compose New Message</h2>
                </div>
                <form [formGroup]="messageComposeForm" (ngSubmit)="sendMessage()">
                    <section class="">
                        <div class="row">
                            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12" align="right">
                                <label><b>To</b></label>
                            </div>
                            <div class="col-lg-11 col-md-8 col-sm-12 col-xs-12">
                                <div class="select form-control">
                                    <ng-select [multiple]="true"
                                               [items]="items"
                                               [disabled]="disabled"
                                               [formControl]="messageComposeForm.controls['recipients']"
                                               (data)="refreshValue($event)"
                                               (selected)="selected($event)"
                                               (removed)="removed($event)"
                                               placeholder="Select Recipients"></ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12" align="right">
                                <label for="gForm_1">Subject</label>
                            </div>
                            <div class="col-lg-11 col-md-4 col-sm-12 col-xs-12">
                                <input [formControl]="messageComposeForm.controls['subject']" class="form-control" type="text" id="gForm_1" placeholder="" size="45">
                            </div>
                        </div>
                    </section>


                    <!-- composer body -->
                    <quill-editor
                            [formControl]="messageComposeForm.controls['body']"
                            [options]="editorOptions"
                            (blur)="onEditorBlured($event)"
                            (focus)="onEditorFocused($event)"
                            (ready)="onEditorCreated($event)"
                            (change)="onContentChanged($event)"></quill-editor>


                    <div class="message-compose-buttons">
                        <button class="btn btn-danger-outline" (click)="closeAndResetComposed()">
                            <clr-icon shape="times"></clr-icon>
                            Cancel
                        </button>
                        <button class="btn btn-primary">
                            <clr-icon shape="plane"></clr-icon>
                            Send
                        </button>

                    </div>
                </form>

            </div>
            <div *ngIf="!composeSelected" class="message-grid">
                <div class="row">

                    <!-- message highlights (previews -->
                    <div class="col-sm-5 message-highlights">
                        <div class="message-options">
                            <h2>Inbox All Messages ({{messages.length || 0}})</h2>
                            <button class="btn btn-outline btn-sm" (click)="refreshMailbox()">
                                <clr-icon shape="refresh"></clr-icon>
                                Refresh
                            </button>
                            <!--<button class="btn btn-success-outline btn-sm">-->
                            <!--<clr-icon shape="eye"></clr-icon>-->
                            <!--Mark as read-->
                            <!--</button>-->
                            <button class="btn btn-danger-outline btn-sm" (click)="deleteMessage()">
                                <clr-icon shape="trash"></clr-icon>
                                Delete
                            </button>
                        </div>

                        <div class="message-highlight {{!message.isRead && 'message-unread'}}" *ngFor="let message of messages; let i = index" (click)="showMessage(i)" [ngClass]="{'message-active': i === currentMessage.id}">
                            <h6>
                                <img class="message-img-sender" gravatar [email]="message.senderImg" [size]="80" [fallback]="'identicon'">
                                {{message.senderWalletName}}
                            </h6>

                            <h4>
                                <span class="message-unread-icon" *ngIf="!message.isRead"></span>
                                <span [innerHtml]="message.subject | truncate: [100]"></span>
                            </h4>
                            <span class="message-date">
                                <clr-icon shape="balance" *ngIf="message.action"></clr-icon>
                                <clr-icon shape="organization" *ngIf="message.workflow"></clr-icon>
                                {{message.date | date}}
                            </span>
                            <!--<span class="message-preview" [innerHtml]="message.content | truncate: [160]"></span>-->
                        </div>

                        <div class="message-highlight-footer">Display {{messages.length}} messages
                        </div>

                    </div>

                    <!-- actual individual message area -->
                    <div class="col-sm-7 message-body" *ngIf="currentMessage">
                        <div class="message-title">
                            <span>from</span>
                            <b class="message-from">
                                <img class="message-img-sender" src="http://localhost:4200/favicon.ico">
                                {{currentMessage.senderWalletName}}
                            </b> to
                            <b class="message-to">
                                <img class="message-img-sender" src="http://localhost:4200/favicon.ico">
                                {{currentMessage.recipientWalletName}}
                            </b>

                            <h1 [innerHtml]="currentMessage.subject"></h1>

                        </div>
                        <div class="message-text">
                            <p *ngIf="currentMessage.content && currentMessage.isDecrypted" [innerHtml]="currentMessage.content"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>