<div class="message" *ngIf="!composeSelected && !messageView">
    <!--<div class="message_menu" *ngIf="messageMenu"></div>-->
    <ng-container *ngTemplateOutlet="messageMenu"></ng-container>

    <div class="message_list">
        <h2>{{currentBoxName}} <span *ngIf="currentBoxCount > 0">({{currentBoxCount || 0}})</span></h2>

        <div class="message_list_menu">
            <div class="message_list_menu_buttons">
                <button id="messagesRefresh" (click)="refreshMailbox()"><i class="fa fa-refresh"></i> Refresh</button>
                <button *ngIf="currentBoxName == 'Inbox'" id="messagesMarkAsRead" (click)="checkedMarkAsRead()">
                    <i class="fa fa-eye"></i> Mark as Read
                </button>
                <button *ngIf="currentBoxName == 'Inbox'" id="messagesDelete" (click)="checkedDeleted()">
                    <i class="fa fa-trash-o"></i> Delete
                </button>
                <button *ngIf="currentBoxName == 'Deleted Messages'" id="messagesPutBack" (click)="checkedPutBack()">
                    <i class="fa fa-inbox"></i> Restore Message
                </button>
            </div>
            <div class="message_list_menu_pages">
                <pagination-controls
                    (pageChange)="currentPage = $event; onPageChange($event)" maxSize="3"></pagination-controls>
            </div>
        </div>

        <div class="message_list_none" [hidden]="messages.length != 0">
            <h3>No Messages</h3>
        </div>

        <div class="" *ngFor="let message of messages | paginate: { itemsPerPage: 8, currentPage: currentPage, totalItems:currentBoxCount }; let i = index"
             [ngClass]="{'message-active': i === currentMessage.id}">

            <!--<span class="message-preview" [innerHtml]="message.content | truncate: [160]"></span>-->

            <div [routerLink]="['/messages/view']" class="message_list_item" [ngClass]="{'message-unread': message.isRead === false}">
                <div class="message_list_item_check">
                    <i class="fa" [ngClass]="{'fa-check': message.isChecked === true}" (click)="messageChecked(i)"></i>
                    <!--<clr-icon shape="balance" *ngIf="message.action"></clr-icon>-->
                    <!--<clr-icon shape="organization" *ngIf="message.workflow"></clr-icon>-->
                </div>
                <div class="message_list_item_sender" (click)="showMessage(i)">{{message.senderWalletName}}</div>
                <div class="message_list_item_subject" (click)="showMessage(i)">
                    <span [innerHtml]="message.subject | truncate: [200]"></span>
                </div>
                <div class="message_list_item_date" (click)="showMessage(i)">{{message.date | datex: "MMM D, YYYY"}}</div>
            </div>
        </div>


    </div>
</div>

<div class="message" *ngIf="messageView">
    <ng-container *ngTemplateOutlet="messageMenu"></ng-container>
    <div class="message_view">

        <div class="message_view_header">
            <h4>Subject: <b [innerHtml]="currentMessage.subject"></b></h4>
            <div class="message_view_header_buttons">
                <button id="messagesClose" (click)="closeMessage()"><i class="fa fa-times"></i> Close</button>
            </div>
            <div class="message_view_header_title">
                <p>From: {{currentMessage.senderWalletName}}</p>
                <p>To: {{currentMessage.recipientWalletName}}</p>
            </div>
            <div class="message_view_header_date">
                {{currentMessage.date | date:'MMM d y HH:mm:ss'}}
            </div>
        </div>

        <div class="message_view_body">
            <p *ngIf="currentMessage.content && currentMessage.isDecrypted && (!currentMessage.action || (currentMessage.action && currentMessage.action.type !== 'formAction'))">
                <setl-message-body [messageBody]="currentMessage.content"></setl-message-body>
            </p>
            <p *ngIf="currentMessage.action && currentMessage.action.type === 'sendPdf'">
                <setl-message-attachment [attachmentType]="'pdf'"
                                         [attachmentId]="currentMessage.action.data.pdfID"></setl-message-attachment>
            </p>
            <p *ngIf="currentMessage.action && currentMessage.action.type === 'formAction'">
                <setl-message-form-action
                    [config]="currentMessage.action"
                    [isActed]="currentMessage.isActed"
                    [walletId]="currentWalletId"
                    [mailId]="currentMessage.mailId">
                </setl-message-form-action>
            </p>

            <p *ngIf="currentMessage.action && currentMessage.action.type === 'connection'">
                <!--<setl-message-connection-->
                <!--[config]="currentMessage.action"-->
                <!--[isActed]="currentMessage.isActed"-->
                <!--[walletId]="currentWalletId"-->
                <!--[mailId]="currentMessage.mailId">-->
                <!--</setl-message-connection>-->
            </p>
        </div>

        <div class="message_view_menu">
            <!--<button><i class="fa fa-reply"></i> Reply</button>-->
            <button (click)="deleteMessage()"><i class="fa fa-trash-o"></i> Delete</button>
        </div>

    </div>
</div>

<div class="message" *ngIf="composeSelected">
    <ng-container *ngTemplateOutlet="messageMenu"></ng-container>

    <div class="message_compose">

        <div class="message_view_header">
            <h2>Compose Message</h2>
            <div class="message_view_header_buttons">
                <button id="messagesCloseCompose" (click)="closeAndResetComposed()"><i class="fa fa-times"></i> Discard
                </button>
            </div>
        </div>

        <form [formGroup]="messageComposeForm" (ngSubmit)="sendMessage()">

            <div class="message_compose_input">

                <div class="message_compose_input_field">
                    <div class="message_compose_input_field_label">
                        To
                    </div>
                    <div class="message_compose_input_field_value">
                        <ng-select [multiple]="true"
                                   [items]="items"
                                   [disabled]="disabled"
                                   [formControl]="messageComposeForm.controls['recipients']"
                                   (data)="refreshValue($event)"
                                   (selected)="selected($event)"
                                   (removed)="removed($event)"
                                   [captureKeys]="false"
                                   [containerWidth]=""
                                   mltag="txt_selectrecipients"
                                   placeholder="Select Recipients"></ng-select>
                    </div>
                </div>

                <div class="message_compose_input_field">
                    <div class="message_compose_input_field_label">
                        Subject
                    </div>
                    <div class="message_compose_input_field_value">
                        <input [formControl]="messageComposeForm.controls['subject']" class="form-control" type="text" placeholder="" size="45">
                    </div>
                </div>
            </div>

            <div class="message_compose_input_body">
                <quill-editor
                    [formControl]="messageComposeForm.controls['body']"
                    [options]="editorOptions"
                    (blur)="onEditorBlurred($event)"
                    (focus)="onEditorFocused($event)"
                    (ready)="onEditorCreated($event)"
                    (change)="onContentChanged($event)"></quill-editor>
            </div>

            <div class="message_view_menu">
                <!--<button><i class="fa fa-reply"></i> Reply</button>-->
                <button class="blue" id="messagesSendMessage"><i class="fa fa-paper-plane"></i> Send</button>
            </div>
        </form>

    </div>
</div>

<ng-template #messageMenu>
    <div class="message_menu">
        <button routerLink="/messages/compose" [ngClass]="{'active': 999 === currentCategory}" id="messagescompose">Compose Message</button>

        <h3>Folders</h3>

        <ul *ngFor="let category of categories; let i = index">
            <li [routerLink]="['/messages', category.type]" [ngClass]="{'active': i === currentCategory}" id="messages{{category.type}}">
                <i class="fa {{category.icon}}"></i> {{category.name}}

                <span *ngIf="category.type == 'inbox' && unreadMessages > 0" class="label label-success">{{unreadMessages}}</span>
            </li>
        </ul>
    </div>
</ng-template>
