<div class="animated fadeInRight">
    <div class="header-breadcrumbs">
        <h1><i class="fa fa fa-money"></i><span mltag="txt_issuerreports">Issue Reports</span></h1>
    </div>

    <clr-tabs *ngIf="tabs.length">
        <clr-tab *ngFor="let tab of tabs; let id = index">
            <button clrTabLink id="testlink{{id}}"
                    innerHTML="<i class='fa fa-{{tab.icon}}'></i> {{tab.title}}"></button>
            <clr-tab-content *clrIfActive="tab.active">
                <!-- User list tab. -->
                <ng-container *ngIf="id === 0">
                    <ng-container
                        *ngTemplateOutlet="staticBalanceList"
                    ></ng-container>
                </ng-container>

                <!-- User edit tabs. -->
                <ng-container *ngIf="id >= 1">
                    <ng-container
                        *ngTemplateOutlet="dynamicViewTab; context: {'formControl': tab.formControl, 'id': id, 'asset': tab.assetObject, 'holdings': tab.data.holdings}"
                    ></ng-container>
                </ng-container>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>

    <ng-template #staticBalanceList>
        <div class="panel-body">
            <clr-datagrid #myDataGrid>
                <clr-dg-column [clrDgField]="'asset'" clrDgSortIcon>
                    <span mltag="txt_asset">Asset</span>
                    <span class="column-label"></span>
                </clr-dg-column>
                <clr-dg-column [clrDgField]="'addressLabel'" clrDgSortIcon>
                    <span mltag="txt_issuer_address_label">Issuer Address Label</span>
                    <span class="column-label"></span>
                </clr-dg-column>
                <clr-dg-column [clrDgField]="'address'" clrDgSortIcon>
                    <span mltag="txt_issuer_address">Issuer Address</span>
                    <span class="column-label"></span>
                </clr-dg-column>
                <clr-dg-column [clrDgField]="'total'" clrDgSortIcon>
                    <span mltag="txt_total">Total</span>
                    <span class="column-label"></span>
                </clr-dg-column>
                <clr-dg-column class="right">
                    <span mltag="txt_actions">Actions</span>
                </clr-dg-column>

                <clr-dg-row *clrDgItems="let issuer of issuers$ | async">
                    <clr-dg-cell>{{issuer.asset | truncate:10}}</clr-dg-cell>
                    <clr-dg-cell>{{issuer.addressLabel}}</clr-dg-cell>
                    <clr-dg-cell>{{issuer.address}}</clr-dg-cell>
                    <clr-dg-cell class="right">{{issuer.total | moneyValue}}</clr-dg-cell>
                    <clr-dg-cell class="right">
                        <div class="btn-group btn-sm">
                            <button (click)="handleViewBreakdown(issuer)" class="btn btn-orange">
                                <i class="fa fa-search"></i>
                                <span mltag="txt_view">View</span>
                            </button>
                        </div>
                    </clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>
                    <div rowsPerPage="10" (rowsUpdate)="pageSize = $event"></div>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [clrDgPage]="pageCurrent"
                                       (clrDgPageChange)="setCurrentPage($event)"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </div>
    </ng-template>

    <!-- Asset Detail Report -->
    <ng-template #dynamicViewTab let-formControl="formControl" let-id="id" let-asset="asset" let-holdings="holdings">
        <div class="user-tab-panel-body panel-body">
            <clr-datagrid #myDataGrid>
                <clr-dg-column [clrDgField]="'walletName'" clrDgSortIcon>
                    <span mltag="txt_wallet">Wallet</span>
                    <span class="column-label"></span>
                </clr-dg-column>
                <clr-dg-column [clrDgField]="'addrLabel'" clrDgSortIcon>
                    <span mltag="txt_address_label">Address Label</span>
                    <span class="column-label"></span>
                </clr-dg-column>
                <clr-dg-column [clrDgField]="'addr'" clrDgSortIcon>
                    <span mltag="txt_address">Address</span>
                    <span class="column-label"></span>
                </clr-dg-column>
                <clr-dg-column [clrDgField]="'percentage'" clrDgSortIcon>
                    <span mltag="txt_percentageofholding">Percentage of Holding</span>
                    <span class="column-label"></span>
                </clr-dg-column>
                <clr-dg-column [clrDgField]="'balance'" clrDgSortIcon>
                    <span mltag="txt_total">Total</span>
                    <span class="column-label"></span>
                </clr-dg-column>
                <clr-dg-column [clrDgField]="'encumbered'" clrDgSortIcon>
                    <span mltag="txt_encumbered">Encumbered</span>
                    <span class="column-label"></span>
                </clr-dg-column>
                <clr-dg-column [clrDgField]="'free'" clrDgSortIcon>
                    <span mltag="txt_free">Free</span>
                    <span class="column-label"></span>
                </clr-dg-column>

                <clr-dg-row *clrDgItems="let holder of holdings">
                    <clr-dg-cell>{{holder.walletName}}</clr-dg-cell>
                    <clr-dg-cell>{{holder.addrLabel}}</clr-dg-cell>
                    <clr-dg-cell>{{holder.addr}}</clr-dg-cell>
                    <clr-dg-cell class="right">{{holder.percentage | percentage}}</clr-dg-cell>
                    <clr-dg-cell class="right">{{holder.balance | moneyValue}}</clr-dg-cell>
                    <clr-dg-cell class="right">{{holder.encumbered | moneyValue}}</clr-dg-cell>
                    <clr-dg-cell class="right">{{holder.free | moneyValue}}</clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>
                    <div rowsPerPage="10" (rowsUpdate)="pageSize = $event"></div>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    <clr-dg-pagination #pagination [clrDgPageSize]="pageSize"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
            <div class="form-group tx-view-header">
                <button type="button" class="btn btn-primary" (click)="tabControl.close(id)">Close</button>
            </div>
        </div>
    </ng-template>

    <!--<clr-tabs>-->
    <!--<clr-tab>-->
    <!--<button clrTabLink clrTabLinkId="reports-Issues"><i class="fa fa-money"></i> Issue Reports</button>-->
    <!--<clr-tab-content *clrIfActive>-->
    <!---->

    <!--</clr-tab-content>-->
    <!--</clr-tab>-->
    <!--</clr-tabs>-->
</div>