<div class="header-breadcrumbs">
    <h1><i class="fa fa fa-money"></i><span mltag="txt_issuereports">Issue Reports</span></h1>
</div>

<clr-tabs *ngIf="tabsControl.length">
    <clr-tab *ngFor="let tabdata of tabsControl; let id = index">
        <button clrTabLink id="testlink{{id}}" [innerHTML]="tabdata.title"></button>
        <clr-tab-content *clrIfActive="tabdata.active">
            <!-- User list tab. -->
            <ng-container *ngIf="id === 0">
                <ng-container
                        *ngTemplateOutlet="staticBalanceList"
                ></ng-container>
            </ng-container>

            <!-- User edit tabs. -->
            <ng-container *ngIf="id >= 1">
                <ng-container
                        *ngTemplateOutlet="dynamicViewTab; context: {'formControl': tabdata.formControl, 'tabid': id, 'asset': tabdata.assetObject}"
                ></ng-container>
            </ng-container>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

<ng-template #staticBalanceList>
    <div class="panel-body">
        <clr-datagrid #myDataGrid>
            <clr-dg-column mltag="txt_actions">Actions</clr-dg-column>
            <clr-dg-column mltag="txt_identifier">Identifier</clr-dg-column>
            <clr-dg-column mltag="txt_asset">Asset</clr-dg-column>
            <clr-dg-column mltag="txt_total">Total</clr-dg-column>


            <clr-dg-row *clrDgItems="let issue of issues">
                <clr-dg-cell>
                    <div class="btn-group btn-sm">
                        <button (click)="handleView(issue.index)" class="btn">
                            <i class="fa fa-search"></i><span mltag="txt_view">View</span></button>
                    </div>
                </clr-dg-cell>
                <clr-dg-cell></clr-dg-cell>
                <clr-dg-cell>{{issue.asset}}</clr-dg-cell>
                <clr-dg-cell>{{issue.total | moneyValue}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} assets
                <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</ng-template>

<!-- User Edit Form. -->
<ng-template #dynamicViewTab let-formControl="formControl" let-tabid="tabid" let-asset="asset">
    <div class="user-tab-panel-body panel-body">
        <clr-datagrid #myDataGrid>
            <clr-dg-column mltag="txt_wallet">Wallet</clr-dg-column>
            <clr-dg-column mltag="txt_address">Address</clr-dg-column>
            <clr-dg-column mltag="txt_percentageofholding">Percentage of Holding</clr-dg-column>
            <clr-dg-column mltag="txt_total">Total</clr-dg-column>
            <clr-dg-column mltag="txt_encumbered">Encumbered</clr-dg-column>
            <clr-dg-column mltag="txt_free">Free</clr-dg-column>

            <clr-dg-row *clrDgItems="let holder of asset">
                <clr-dg-cell></clr-dg-cell>
                <clr-dg-cell>{{holder.address}}</clr-dg-cell>
                <clr-dg-cell></clr-dg-cell>
                <clr-dg-cell>{{holder.total | moneyValue}}</clr-dg-cell>
                <clr-dg-cell></clr-dg-cell>
                <clr-dg-cell></clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} assets
                <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</ng-template>

<!--<clr-tabs>-->
<!--<clr-tab>-->
<!--<button clrTabLink clrTabLinkId="reports-Issues"><i class="fa fa-money"></i> Issue Reports</button>-->
<!--<clr-tab-content *clrIfActive>-->
<!---->

<!--</clr-tab-content>-->
<!--</clr-tab>-->
<!--</clr-tabs>-->
