<div class="header-breadcrumbs">
    <h1><i class="fa fa fa-money"></i> Issue Reports</h1>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink clrTabLinkId="reports-Issues"><i class="fa fa-money"></i> Issue Reports</button>
        <clr-tab-content *clrIfActive>
            <clr-datagrid #myDataGrid>
                <clr-dg-column>Actions</clr-dg-column>
                <clr-dg-column>Identifier</clr-dg-column>
                <clr-dg-column>Asset</clr-dg-column>
                <clr-dg-column>Total</clr-dg-column>


                <clr-dg-row *clrDgItems="let asset of assets">
                    <clr-dg-cell>
                        <div class="btn-group btn-sm">
                            <button class="btn"><i class="fa fa-search"></i> View</button>
                        </div>
                    </clr-dg-cell>
                    <clr-dg-cell>{{asset.identifier}}</clr-dg-cell>
                    <clr-dg-cell>{{asset.asset}}</clr-dg-cell>
                    <clr-dg-cell>{{asset.total}}</clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    of {{pagination.totalItems}} assets
                    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>

        </clr-tab-content>
    </clr-tab>
</clr-tabs>
