footer {
    background: #fafafa;
    border-top: solid #cfcfcf 1px;
    margin: -37px -1rem 0 -1rem;
    padding: 5px 8px 0 8px;
    height: 37px;

    .links {
        float: left;
        a {
            border-right: solid 1px #cccccc;
            padding: 3px 20px;
            font-size: 12px;
            &:last-child {
                border: none
            } 
        }
    }

    .right-content {
        float: right;
        font-size: 12px;
        margin-right: 20px;
    }

    @media screen and (max-width: 860px) {
        .links a {
            padding: 3px 15px;
            &:first-child {
                padding-left: 5px;
            }
        }

        .right-content {
            clear: left;
            float: none;
            padding: 10px 0 5px 5px;
        }
    }
}