<!-- Breadcrumbs. -->
<div class="header-breadcrumbs">
    <h1>
        <i class="fa fa-shopping-basket"></i>
        <span>{{routeOption}}: {{shareName}} ({{isin}})</span>
    </h1>
</div>

<!-- Subscription/Redemption tab -->
<clr-tabs>
    <clr-tab>
        <button clrTabLink id="subscriptionRedemptionTab">
            <span>{{routeOption}}</span>
        </button>

        <clr-tab-content *clrIfActive>
            <span>
                Please fill up the following information to {{subtitleLabel}} a new share:
            </span>

            <form [formGroup]="placeOrdersFormGroup" (ngSubmit)="handleSubmitButtonClick()">
                <section class="form-group">
                    <!-- General investment information -->
                    <div class="well">
                        <div class="row panel-header">
                            <div class="col-sm-12"
                                 (click)="isGenInvestAccordionOpened = !isGenInvestAccordionOpened; $event.preventDefault();">
                                <i class="fa fa-chevron-down" [class.reverse]="isGenInvestAccordionOpened"></i>
                                General Investment Information
                            </div>
                        </div>

                        <div class="row panel-body" [class.hidden]="!isGenInvestAccordionOpened">
                            <div class="col-sm-6">
                                <!-- Asset management company -->
                                <label for="assetManagementCompany">Asset Management Company:</label>
                                <input id="assetManagementCompany"
                                       class="form-control"
                                       type="text"
                                       formControlName="assetManagementCompany"/>
                            </div>

                            <!-- Investment portfolio -->
                            <div class="col-sm-6">
                                <label for="investmentPortfolio">Investment Portfolio:</label>
                                <input id="investmentPortfolio"
                                       class="form-control"
                                       type="text"
                                       formControlName="investmentPortfolio"/>
                            </div>

                            <!-- Entry/exit fees -->
                            <div class="col-sm-6">
                                <label for="entryExitFees">{{entryExitFeesLabel}} fees:</label>
                                <input id="entryExitFees"
                                       class="form-control"
                                       type="number"
                                       formControlName="entryExitFees"/>
                            </div>

                            <!-- MiFID -->
                            <div class="well">
                                <div class="row panel-header">
                                    <div class="col-sm-12"
                                         (click)="isMifidAccordionOpened = !isMifidAccordionOpened; $event.preventDefault();">
                                        <i class="fa fa-chevron-down" [class.reverse]="isMifidAccordionOpened"></i>
                                        MiFID II Costs & Charges
                                    </div>
                                </div>

                                <div class="row panel-body" [class.hidden]="!isMifidAccordionOpened">
                                    <!-- One-off charges -->
                                    <div class="col-sm-6">
                                        <label for="oneOffCharges">One-off charges:</label>
                                        <input id="oneOffCharges"
                                               class="form-control"
                                               type="number"
                                               formControlName="oneOffCharges"/>
                                    </div>

                                    <!-- On-going charges -->
                                    <div class="col-sm-6">
                                        <label for="onGoingCharges">On-going charges:</label>
                                        <input id="onGoingCharges"
                                               class="form-control"
                                               type="number"
                                               formControlName="onGoingCharges"/>
                                    </div>

                                    <!-- Costs related to transactions initiated -->
                                    <div class="col-sm-6">
                                        <label for="costsTransactionsInitiated">
                                            Costs related to transactions initiated:
                                        </label>

                                        <input id="costsTransactionsInitiated"
                                               class="form-control"
                                               type="number"
                                               formControlName="costsTransactionsInitiated"/>
                                    </div>

                                    <!-- Charges related to anciliary services -->
                                    <div class="col-sm-6">
                                        <label for="chargesAnciliaryServices">
                                            Charges related to anciliary services:
                                        </label>

                                        <input id="chargesAnciliaryServices"
                                               class="form-control"
                                               type="number"
                                               formControlName="chargesAnciliaryServices"/>
                                    </div>

                                    <!-- Incidental costs -->
                                    <div class="col-sm-6">
                                        <label for="incidentalCosts">Incidental costs:</label>
                                        <input id="incidentalCosts"
                                               class="form-control"
                                               type="number"
                                               formControlName="incidentalCosts"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Product information accordion -->
                    <div class="well">
                        <!-- Panel header -->
                        <div class="row panel-header">
                            <div class="col-sm-12"
                                 (click)="isProductInfoAccordionOpened = !isProductInfoAccordionOpened; $event.preventDefault();">
                                <i class="fa fa-chevron-down" [class.reverse]="isProductInfoAccordionOpened"></i>
                                Product Information
                            </div>
                        </div>

                        <!-- Panel body -->
                        <div class="row panel-body" [class.hidden]="!isProductInfoAccordionOpened">
                            <!-- ISIN -->
                            <div class="col-sm-6">
                                <label for="isin">ISIN:</label>
                                <input id="isin"
                                       class="form-control"
                                       type="text"
                                       formControlName="isin"/>
                            </div>

                            <!-- Share name -->
                            <div class="col-sm-6">
                                <label for="shareName">Share Name:</label>
                                <input id="shareName"
                                       class="form-control"
                                       type="text"
                                       formControlName="shareName"/>
                            </div>

                            <!-- Asset class -->
                            <div class="col-sm-6">
                                <label for="assetClass">Asset Class:</label>
                                <input id="assetClass"
                                       class="form-control"
                                       type="text"
                                       formControlName="assetClass"/>
                            </div>

                            <!-- SRRI -->
                            <div class="col-sm-6">
                                <label for="srri">SRRI:</label>
                                <input id="srri"
                                       class="form-control"
                                       type="text"
                                       formControlName="srri"/>
                            </div>

                            <!-- SRI -->
                            <div class="col-sm-6">
                                <label for="sri">SRI:</label>
                                <input id="sri"
                                       class="form-control"
                                       type="text"
                                       formControlName="sri"/>
                            </div>

                            <!-- Share Currency -->
                            <div class="col-sm-6">
                                <label for="shareCurrency">Share Currency:</label>
                                <input id="shareCurrency"
                                       class="form-control"
                                       type="text"
                                       formControlName="shareCurrency"/>
                            </div>

                            <!-- NAV -->
                            <div class="col-sm-6">
                                <label for="nav">NAV:</label>
                                <input id="nav"
                                       class="form-control"
                                       type="text"
                                       formControlName="nav"/>
                            </div>

                            <!-- NAV date -->
                            <div class="col-sm-6">
                                <label for="navDate">NAV Date:</label>

                                <div class="input-group date-pick-wrapper">
                                    <span class="fa fa-calendar" aria-hidden="true"></span>
                                    <input id="navDate"
                                           placeholder="Choose a date"
                                           formControlName="navDate"
                                           [dpDayPicker]="datePickerConfig"
                                           mode="day"
                                           theme="dp-material"
                                           mltag="txt_chooseadate"/>
                                </div>
                            </div>

                            <!-- Decimalization -->
                            <div class="col-sm-6">
                                <label for="decimalization">Decimalization:</label>
                                <input id="decimalization"
                                       class="form-control"
                                       type="text"
                                       formControlName="decimalization"/>
                            </div>
                        </div>
                    </div>

                    <!-- Dates information accordion -->
                    <div class="well">
                        <!-- Panel header -->
                        <div class="row panel-header">
                            <div class="col-sm-12"
                                 (click)="isDatesInfoAccordionOpened = !isDatesInfoAccordionOpened; $event.preventDefault();">
                                <i class="fa fa-chevron-down" [class.reverse]="isDatesInfoAccordionOpened"></i>
                                Dates Information
                            </div>
                        </div>

                        <!-- Panel body -->
                        <div class="row panel-body" [class.hidden]="!isDatesInfoAccordionOpened">
                            <!-- Order Date -->
                            <div class="col-sm-6">
                                <label for="orderDate">Order Date:</label>

                                <div class="input-group date-pick-wrapper">
                                    <span class="fa fa-calendar" aria-hidden="true"></span>
                                    <input id="orderDate"
                                           placeholder="Choose a date"
                                           formControlName="orderDate"
                                           [dpDayPicker]="datePickerConfig"
                                           mode="day"
                                           theme="dp-material"
                                           mltag="txt_chooseadate"/>
                                </div>
                            </div>

                            <!-- Cut-off Date -->
                            <div class="col-sm-6">
                                <label for="cutOffDate">Cut-off Date:</label>

                                <div class="input-group date-pick-wrapper">
                                    <span class="fa fa-calendar" aria-hidden="true"></span>
                                    <input id="cutOffDate"
                                           placeholder="Choose a date"
                                           formControlName="cutOffDate"
                                           [dpDayPicker]="datePickerConfig"
                                           mode="day"
                                           theme="dp-material"
                                           mltag="txt_chooseadate"/>
                                </div>
                            </div>

                            <!-- NAV Date -->
                            <div class="col-sm-6">
                                <label for="dateInfoNavDate">NAV Date:</label>

                                <div class="input-group date-pick-wrapper">
                                    <span class="fa fa-calendar" aria-hidden="true"></span>
                                    <input id="dateInfoNavDate"
                                           placeholder="Choose a date"
                                           formControlName="dateInfoNavDate"
                                           [dpDayPicker]="datePickerConfig"
                                           mode="day"
                                           theme="dp-material"
                                           mltag="txt_chooseadate"/>
                                </div>
                            </div>

                            <!-- Settlement Date -->
                            <div class="col-sm-6">
                                <label for="settlementDate">Settlement Date:</label>

                                <div class="input-group date-pick-wrapper">
                                    <span class="fa fa-calendar" aria-hidden="true"></span>
                                    <input id="settlementDate"
                                           placeholder="Choose a date"
                                           formControlName="settlementDate"
                                           [dpDayPicker]="datePickerConfig"
                                           mode="day"
                                           theme="dp-material"
                                           mltag="txt_chooseadate"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Order information accordion -->
                    <div class="well">
                        <!-- Panel header -->
                        <div class="row panel-header">
                            <div class="col-sm-12"
                                 (click)="isOrderInfoAccordionOpened = !isOrderInfoAccordionOpened; $event.preventDefault();">
                                <i class="fa fa-chevron-down" [class.reverse]="isOrderInfoAccordionOpened"></i>
                                Order Information
                            </div>
                        </div>

                        <!-- Panel body -->
                        <div class="row panel-body" [class.hidden]="!isOrderInfoAccordionOpened">
                            <!-- Order Reference -->
                            <div class="col-sm-6">
                                <label for="orderReference">Order Reference:</label>
                                <input id="orderReference"
                                       class="form-control"
                                       type="text"
                                       formControlName="orderReference"/>
                            </div>

                            <!-- Order Type -->
                            <div class="col-sm-6">
                                <label for="orderType">Order Type:</label>
                                <input id="orderType"
                                       class="form-control"
                                       type="text"
                                       formControlName="orderType"/>
                            </div>

                            <span class="col-sm-12">Please type below a quantity or an amount:</span>

                            <!-- Quantity -->
                            <div class="col-sm-6">
                                <label for="quantity">Quantity:</label>
                                <input id="quantity"
                                       class="form-control"
                                       type="number"
                                       formControlName="quantity"/>
                            </div>

                            <!-- Amount -->
                            <div class="col-sm-6">
                                <label for="amount">Amount:</label>
                                <input id="amount"
                                       class="form-control"
                                       type="number"
                                       formControlName="amount"/>
                            </div>

                            <!-- Comment -->
                            <div class="col-sm-12">
                                <label for="comment">Comment:</label>
                                <textarea id="comment"
                                          class="form-control"
                                          placeholder="Please feel free to type any comment here"
                                          formControlName="comment">
                                </textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Checkbox -->
                    <div class="form-group col-sm-12">
                        <div class="form-check">
                            <input id="checkbox"
                                   class="form-check-input"
                                   type="checkbox"
                                   formControlName="isDisclaimerChecked"
                                   value="false"/>

                            <label class="form-check-label" for="checkbox">
                                I confirm that I have read and understood the latest version of the Key Investor
                                Information Document (KIID) for the fund share I am considering investing in.
                            </label>
                        </div>

                        <div class="form-block">
                            The latest version of the KIID can be accessed via the link below: {{link}}
                        </div>
                    </div>

                    <!-- Cancel and save buttons -->
                    <div class="form-group col-sm-12">
                        <button id="cancelButton"
                                type="button"
                                class="btn btn-light"
                                (click)="handleCancelButtonClick()">
                            Cancel
                        </button>

                        <button id="saveButton"
                                type="submit"
                                class="btn btn-primary"
                                [disabled]="!placeOrdersFormGroup.controls['isDisclaimerChecked'].value">
                            Save
                        </button>
                    </div>
                </section>
            </form>


        </clr-tab-content>
    </clr-tab>
</clr-tabs>