<div class="kyc-header">
    <ng-container *ngIf="onboardingMode">{{ 'Onboarding' | translate }}</ng-container>
    <ng-container *ngIf="!onboardingMode">{{ 'Make New Request' | translate }}</ng-container>
    <button *ngIf="formSteps && formSteps.position !== 0" class="btn btn-sm" (click)="handleAction({ type: 'close' })">{{ 'Exit' | translate }}</button>
</div>

<form-steps *ngIf="stepsConfig" [onboarding]="onboardingMode" [currentCompletedStep$]="currentCompletedStep$" [stepsConfig]="stepsConfig" (action)="handleAction($event)" [@toggle]="animating" (@toggle.done)="applyFullForm()">
    <!-- SELECT AMC -->
    <form-step>
        <ng-template #stepTemplate>
            <kyc-step-select-amc #step [form]="forms.get('selection')" [onboarding]="onboardingMode" (registered)="registered($event)"
                [disabled]="amcSelectReadOnly" (submitEvent)="handleSubmit($event)" [duplicate]="duplicate"
                (kycPartySelectionsChangedEvent)="reloadKycForm()"
                ></kyc-step-select-amc>
        </ng-template>
    </form-step>

    <!-- INTRODUCTION -->
    <form-step *ngIf="fullForm">
        <ng-template #stepTemplate>
            <kyc-step-introduction #step (submitEvent)="handleSubmit($event)"></kyc-step-introduction>
        </ng-template>
    </form-step>

    <!-- IDENTIFICATION -->
    <form-step *ngIf="fullForm"></form-step>

        <!-- GENERAL INFORMATION -->
        <form-step *ngIf="fullForm">
            <ng-template #stepTemplate>
                <general-information #step [isFormReadonly]="isFormReadonly" [parentForm]="forms.get('identification').get('generalInformation')" [completedStep]="currentCompletedStep" (submitEvent)="handleSubmit($event)"></general-information>
            </ng-template>
        </form-step>

        <!-- COMPANY INFORMATION -->
        <form-step *ngIf="fullForm">
            <ng-template #stepTemplate>
                <company-information #step [isFormReadonly]="isFormReadonly" [form]="forms.get('identification').get('companyInformation')" [completedStep]="currentCompletedStep" (submitEvent)="handleSubmit($event)"></company-information>
            </ng-template>
        </form-step>

        <!-- BENEFICIARY LIST -->
        <form-step *ngIf="fullForm">
            <ng-template #stepTemplate>
                <beneficiary-list #step [isFormReadonly]="isFormReadonly" [form]="forms.get('identification').get('beneficiaries').get('beneficiaries')" [generalInformationForm]="forms.get('identification').get('generalInformation')" [completedStep]="currentCompletedStep" (submitEvent)="handleSubmit($event)"></beneficiary-list>
            </ng-template>
        </form-step>

        <!-- BANKING INFORMATION -->
        <form-step *ngIf="fullForm && !isBankingInformationSectionDisabled()">
            <ng-template #stepTemplate>
                <banking-information #step [isFormReadonly]="isFormReadonly" [form]="forms.get('identification').get('bankingInformation')" [completedStep]="currentCompletedStep" (submitEvent)="handleSubmit($event)"></banking-information>
            </ng-template>
        </form-step>

        <!-- CLASSIFICATION INFORMAITON -->
        <form-step *ngIf="fullForm">
            <ng-template #stepTemplate>
                <classification-information #step [isFormReadonly]="isFormReadonly" [form]="forms.get('identification').get('classificationInformation')" [completedStep]="currentCompletedStep" [enabled]="checkCompletion()" [investorType]="investorType" (submitEvent)="handleSubmit($event)"></classification-information>
            </ng-template>
        </form-step>

    <!-- RISK PROFILE -->
    <form-step *ngIf="fullForm && showRiskProfileSection()"></form-step>

        <!-- INVESTMENT DETAILS -->
        <form-step *ngIf="fullForm">
            <ng-template #stepTemplate>
                <investment-nature #step [form]="forms.get('riskProfile').get('investmentNature')" [completedStep]="currentCompletedStep" (submitEvent)="handleSubmit($event)"></investment-nature>
            </ng-template>
        </form-step>

        <!-- INVESTMENT OBJECTIVES -->

        <form-step *ngIf="fullForm && !isRiskObjectiveSectionDisabled()">
            <ng-template #stepTemplate>
                <investment-objective #step [form]="forms.get('riskProfile').get('investmentObjective')" [formConstraint]="forms.get('riskProfile').get('investmentConstraint')" [completedStep]="currentCompletedStep" (submitEvent)="handleSubmit($event)"></investment-objective>
            </ng-template>
        </form-step>

        <!-- INVESTMENT CONTRAINT -->
        <form-step *ngIf="fullForm && !isRiskConstraintSectionDisabled()">
            <ng-template #stepTemplate>
                <investment-constraint #step [form]="forms.get('riskProfile').get('investmentConstraint')" [formObjective]="forms.get('riskProfile').get('investmentObjective')" [completedStep]="currentCompletedStep" (submitEvent)="handleSubmit($event)"></investment-constraint>
            </ng-template>
        </form-step>

    <!-- DOCUMENTS -->
    <form-step *ngIf="fullForm">
        <ng-template #stepTemplate>
            <kyc-step-documents #step [isFormReadonly]="isFormReadonly" [form]="forms.get('documents')" [documents]="documents" (submitEvent)="handleSubmit($event)"></kyc-step-documents>
        </ng-template>
    </form-step>

    <!-- VALIDATION  -->
    <form-step>
        <ng-template #stepTemplate>
            <kyc-step-validation #step [form]="forms.get('validation')" (submitEvent)="handleSubmit($event)" [hasClientFile]="hasClientFile"></kyc-step-validation>
        </ng-template>
    </form-step>
</form-steps>
