<!-- Breadcrumbs. -->
<div class="header-breadcrumbs">
    <h1 id="ofi-kyc-invite-investors">
    <i class="fa fa-user-plus"></i>{{ 'Client Referential' | translate }}: {{ 'Create Investor under Mandate' | translate }}</h1>
</div>

<!-- Main content. -->
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <!-- Description -->
            <p>{{ 'The customers created here will not have direct access to the IZNES platform to invest by themselves.' | translate }}<br>
            {{ 'On the other hand, they will be eligible for the mandate. This will allow you to create a portfolio manager who will invest on their behalf.' | translate }}</p>
        </div>
    </div>

    <form [formGroup]="inviteForm" novalidate>
        <section class="form-block" formArrayName="investors">
            <div class="investorBlock" *ngFor="let investor of f; let i = index">
                <div [formGroup]="investor">

                    <!-- Investor type + companyName -->
                    <div class="row row-relative">
                        <div class="form-group col-sm-6">
                            <label class='required-field' for="kyc_investorType_{{i}}">
                                {{ 'Investor Type' | translate }}
                            </label>

                            <div>
                                <ng-select
                                    id="kyc_investorType_{{i}}"
                                    class="form-control"
                                    [items]="investorTypes$ | async"
                                    [allowClear]="false"
                                    placeholder="{{ 'Select' | translate }}"
                                    formControlName="investorType"
                                    [ngStyle]="{'padding':'6px 0'}"
                                    [containerWidth]="'95%'">
                                </ng-select>

                                <div *ngIf="investor.hasError('required', 'investorType') && investor.get('investorType').touched" class="field-error">
                                    {{ 'Field is required' | translate }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6" *ngIf="!isRetailInvestor(investor.controls.investorType)">
                            <label class="required-field" for="kyc_companyName_{{i}}">{{ 'Company Name' | translate }}</label>
                            <input type="text" id="kyc_companyName_{{i}}" class="form-control" formControlName="companyName">
                            <div *ngIf="investor.get('companyName').touched && investor.get('companyName').hasError('required')" class="field-error">
                                {{ 'Field is required' | translate }}
                            </div>
                            <div *ngIf="investor.get('companyName').touched && investor.get('companyName').hasError('maxlength')" class="field-error">
                                {{ 'Max length is' | translate }} 100
                            </div>
                        </div>

                        <i
                            class="fa fa-times-circle text-warning"
                            *ngIf="i > 0" id="btnKycRemoveInvestor_{{i}}"
                            (click)="removeInvestor(i)"
                            [ngStyle]="{'cursor':'pointer','margin-left':'14px','font-size':'18px','position':'absolute','right':'0'}">
                        </i>
                    </div>

                    <!-- firstName + lastName -->
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="required-field" for="kyc_firstName_{{i}}">{{ 'First Name' | translate }}</label>
                            <input type="text" id="kyc_firstName_{{i}}" class="form-control" formControlName="firstName">
                            <div *ngIf="investor.get('firstName').touched && investor.get('firstName').hasError('required')" class="field-error">
                                {{ 'Field is required' | translate }}
                            </div>
                            <div *ngIf="investor.get('firstName').touched && investor.get('firstName').hasError('maxlength')" class="field-error">
                                {{ 'Max length is' | translate }} 100
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="required-field" for="kyc_lastName_{{i}}">{{ 'Last Name' | translate }}</label>
                            <input type="text" id="kyc_lastName_{{i}}" class="form-control" formControlName="lastName">
                            <div *ngIf="investor.get('lastName').touched && investor.get('lastName').hasError('required')" class="field-error">
                                {{ 'Field is required' | translate }}
                            </div>
                            <div *ngIf="investor.get('lastName').touched && investor.get('lastName').hasError('maxlength')" class="field-error">
                                {{ 'Max length is' | translate }} 100
                            </div>
                        </div>
                    </div>

                    <!-- reference -->
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="kyc_clientReference_{{i}}">{{ 'Client Reference (optional)' | translate }}</label>
                            <input type="text"
                                id="kyc_clientReference_{{i}}"
                                class="form-control"
                                formControlName="reference"
                            >
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12">
                    <button id="btnKycAddInvestor" type="button" class="btn btn-success" (click)="addInvestor()">
                        <i class="fa fa-plus"></i> {{ 'Add Another Investor' | translate }}
                    </button>
                </div>
            </div>
            <div class="text-center">
                <button id="btnKycClose" type="button" class="btn btn-info" (click)="goBack()">{{ 'Close' | translate }}</button>

                <button id="btnKycSubmit" type="button" (click)="commitInvestors()" class="btn btn-primary" [disabled]="!inviteForm.valid">
                    <i class="fa fa-save"></i>
                    <span>{{ 'Create Mandate Investors' | translate }}</span>
                </button>
            </div>
        </section>
    </form>
</div>
