//.messages {
//    padding: 0 20px;
//    min-height: 800px;
//
//    hr {
//        border: 1px solid #eee;
//    }
//
//    .tile {
//        background: white;
//        margin: 20px auto;
//        font-size: 15px;
//        font-weight: 300;
//        border: 1px solid #ccc;
//        border-radius: 3px;
//        @extend .animate;
//
//        > div {
//            padding: 0px;
//        }
//
//        .tile-icon {
//            width: 20%;
//            background: #eeeeee;
//            text-align: center;
//            @extend .animate;
//            clr-icon {
//                margin-top: 15px;
//            }
//        }
//        .tile-text {
//            width: 80%;
//            opacity: 0.7;
//            padding: 10px;
//            @extend .animate;
//            h4 {
//                margin: 0px 0 0;
//                line-height: 30px;
//                font-size: 13px;
//            }
//            span {
//                font-size: 10px;
//            }
//        }
//
//        &:hover, &.active {
//            cursor: pointer;
//            border-color: $setlSelected;
//
//            .tile-icon {
//                background: $setlSelected;
//                color: white;
//            }
//
//            .tile-text {
//                opacity: 1;
//            }
//        }
//
//        &.active {
//            .tile-text {
//                h4 {
//                    font-weight: bold;
//                }
//            }
//
//            &:hover {
//                cursor: default;
//            }
//        }
//    }
//
//    .message-grid, .message-compose {
//        background: white;
//        border: 1px solid #ccc;
//        border-radius: 3px;
//        margin: 20px auto;
//        min-height: 800px;
//
//        //.ui-select-container.ui-select-multiple {
//        //    border: 1px solid #ccc !important;
//        //    margin: 10px auto;
//        //    padding: 5px !important;
//        //    border-radius: 4px;
//        //    width: 95%;
//        //}
//
//        .message-options {
//            padding: 20px;
//            border-bottom: 1px solid #ccc;
//
//            h2 {
//                margin-top: 0px;
//                font-size: 20px;
//            }
//        }
//
//        .message-img-sender {
//            border: 1px solid #ccc;
//            border-radius: 50px;
//            max-height: 20px;
//            vertical-align: text-bottom;
//        }
//
//        .message-highlights {
//            border-right: 1px solid #ccc;
//            min-height: 800px;
//            padding-right: 0;
//
//            .message-highlight {
//                padding: 12px;
//                border-bottom: 1px solid #ccc;
//                border-left: 2px solid transparent;
//                border-right: 2px solid transparent;
//                margin-left: -1px;
//                position: relative;
//                opacity: 0.6;
//
//                @extend .animate;
//                h6 {
//                    margin-top: 0;
//                    color: #888;
//                }
//                h4 {
//                    @extend .animate;
//                    margin-top: 2px;
//                    span {
//                        font-size: 14px;
//                    }
//
//                }
//                span {
//                    font-size: 12px;
//                }
//                .message-preview {
//                    font-size: 10px;
//                    line-height: 16px;
//                    margin-top: 2px;
//                    display: block;
//                    color: grey;
//                    @extend .dont-break-out;
//                }
//
//                .message-date {
//                    position: absolute;
//                    top: 21px;
//                    right: 30px;
//                }
//
//                .message-unread-icon {
//                    width: 8px;
//                    height: 8px;
//                    background: #57a5e3;
//                    border-radius: 50%;
//                    display: inline-block;
//                    margin: 2px 0;
//                }
//
//                &:hover {
//                    border-left: 2px solid $setlSelected;
//                    border-right: 2px solid $setlSelected;
//                    cursor: pointer;
//                    opacity: 1;
//
//                    h4 {
//                        color: $setlSelected;
//                    }
//                }
//
//                &.message-unread {
//                    opacity: 1;
//                }
//                &.message-active {
//                    border-right: 1px solid white;
//                    border-left: 2px solid transparent;
//                    margin-right: -1px;
//                    opacity: 1;
//
//                    h4 {
//                        font-weight: bold;
//                        color: #333;
//                    }
//
//                    &:hover {
//                        cursor: default;
//                    }
//                }
//
//            }
//
//            .message-highlight-footer {
//                border-top: 1px solid #ccc;
//                padding: 5px;
//                background: #f7f7f7;
//                color: white;
//                font-weight: 300;
//                position: absolute;
//                bottom: 0;
//                width: calc(100% - 12px);
//                height: 43px;
//            }
//        }
//
//        .message-body {
//            padding: 20px 25px 25px 20px;
//            .message-title {
//                background: #f9f9f9;
//                padding: 20px;
//
//                h1 {
//                    margin-top: 0px;
//                    font-size: 18px;
//                }
//            }
//
//            .message-text {
//                @extend .dont-break-out;
//            }
//        }
//
//    }
//
//    .message-compose {
//        label {
//            text-align: right !important;
//            padding: 11px 0 0;
//        }
//        .content-area form input[type], .content-area .form input[type] {
//            width: 100%;
//        }
//        .message-compose-buttons {
//            padding: 17px 15px 0;
//            float: right;
//        }
//
//        form {
//            padding: 0px !important;
//            padding-top: 10px !important;
//        }
//    }
//}
//
//@media only screen and (max-width: 2000px) {
//    .col-categories {
//        max-width: 20%;
//        width: 20%;
//        flex: 0 0 20%;
//
//    }
//    .col-message-grid {
//        max-width: 80%;
//        width: 80%;
//        flex: 0 0 80%;
//
//    }
//}
//
//@media only screen and (max-width: 1200px) {
//    .col-categories {
//        max-width: 100%;
//        width: 100%;
//        flex: 0 0 100%;
//
//        .cat-tile {
//            max-width: 20%;
//            width: 20%;
//            flex: 0 0 20%;
//            display: inline-flex;
//            padding: 0 10px;
//
//            .tile {
//                width: 100%;
//                .tile-text {
//                    span {
//                        font-size: 12px;
//                        line-height: 10px;
//                        display: inline-block;
//                        margin-top: 8px;
//                    }
//                }
//            }
//        }
//
//    }
//    .col-message-grid {
//        max-width: 100%;
//        width: 100%;
//        flex: 0 0 100%;
//
//    }
//}
//
//@media only screen and (max-width: 1150px) {
//    .col-categories {
//        > div:first-of-type {
//            margin: 0 10px;
//
//        }
//        .cat-tile {
//
//            .tile {
//                .tile-text {
//                    width: 70%;
//                    min-height: 70px;
//
//                    span {
//                        display: none;
//                    }
//                    h4 {
//                        line-height: 20px;
//                        margin: 0 3px;
//                        font-size: 13px;
//                    }
//
//                }
//                .tile-icon {
//                    width: 30%;
//                    text-align: center;
//                }
//            }
//        }
//
//    }
//
//    .message-hr {
//        display: none;
//    }
//}

pagination-controls {
    float: right;

    ul {
        font-size: 12px;
    }
}

.ngx-pagination a, .ngx-pagination button {
    padding: 5px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 90%;
    color: #636363;
    border-radius: 4px !important;
}

.ngx-pagination {
    margin-bottom: 0px !important;
}

.ngx-pagination .current {
    height: 35px;
}

.ngx-pagination li {
    border-radius: 3px;
}

.ngx-pagination a:hover, .ngx-pagination button:hover {
    border: 1px solid #544444 !important;
    background: white !important;
    text-decoration: none !important;
}

.message {
    float: left;
    width: 100%;

}

.message_menu {
    float: left;
    padding: 30px;
    width: 25%;
}

.message_menu button {
    background-color: #57a5e3;
    padding: 5px;
    text-align: center;
    color: white;
    width: 100%;
    border: 1px solid #57a5e3;
    border-radius: 3px;
    cursor: pointer;
}

.message_menu button:hover {
    background-color: #4093e3;
}

.message_menu h3 {
    font-size: 10px;
    text-transform: uppercase;
}

.message_menu ul {
    list-style-type: none;
}

.message_menu ul li {
    height: 30px;
    line-height: 25px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 95%;
    cursor: pointer;
}

.message_menu ul li span {
    float: right;
}

.message_menu ul li i {
    width: 20px;
}

.message_menu ul li:hover {
    color: #0f0f0f;
}

.message_list, .message_view, .message_compose {
    float: left;
    margin: 30px;
    background: white;
    margin-left: 0px;
    width: calc(75% - 30px);
    border-radius: 4px;
    border: 1px solid #f5f5f5;
}

.message_list h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 22px;
    color: #383d48;
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.message_list_item {
    float: left;
    width: 100%;
    border-top: 1px solid #ececec;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 95%;
}

.message_list_item:hover {
    background: #f9f9f9;
}

.message_list_item.message-unread {
    font-weight: bold;
    background: #f7fdff;
}

.message_list_item_check {
    float: left;
    width: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.message_list_item_check i {
    padding: 3px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    background: white;
    height: 21px;
    width: 21px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.message_list_item_sender {
    float: left;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.message_list_item_subject {
    float: left;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.message_list_item_date {
    float: left;
    width: 15%;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.message_list_menu {
    float: left;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.message_list_menu_buttons {
    float: left;
    width: 50%;
}

.message_list_menu_pages {
    float: left;
    width: 50%;
}

.message_list_menu_buttons button, .message_view_menu button, .message_view_header_buttons button {
    padding: 4px 8px 3px 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 3px;
    font-size: 85%;
    color: #636363;
    cursor: pointer;
}

.message_list_menu_buttons button:hover, .message_view_menu button:hover, .message_view_header_buttons button:hover {
    border: 1px solid grey;
    cursor: pointer;
}

.message_view_header {
    padding: 20px;
    width: 100%;
    float: left;
}

.message_view_body {
    padding: 20px;
    width: 100%;
    float: left;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.message_view_body p {
    margin-top: 0px;
}

.message_view_menu {
    padding: 20px;
    width: 100%;
    float: left;
    text-align: left;
}

.message_view_header h4 {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-size: 110%;
    float: left;
    width: 80%;
    line-height: 33px;
}

.message_view_header h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 22px;
    color: #383d48;
    width: 80%;
    line-height: 33px;
    float: left;
}

.message_view_header_buttons {
    float: left;
    width: 20%;
    text-align: right;
}

.message_view_header p {
    margin-top: 0px;
    font-size: 90%;
}

.message_view_header_title {
    width: 60%;
    float: left;
    margin-top: 10px;
}

.message_view_header_date {
    width: 40%;
    float: left;
    text-align: right;
    font-size: 90%;
    margin-top: 10px;
}

.message_list_none {
    float: left;
    width: 100%;
    border-top: 1px solid #ececec;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 95%;
}

.message_list_none h3 {
    margin-top: 0;
    font-weight: bold;
    font-size: 15px;
    color: #383d48;
    color: grey;
}

.message_compose_input {
    float: left;
    width: 100%;
    border-top: 1px solid #ececec;
    margin-bottom: 10px;
}

.message_compose_input_field {
    float: left;
    width: 100%;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.message_compose_input_body {
    float: left;
    width: 100%;
}

.message_compose_input_field_label {
    float: left;
    width: 100px;
    font-size: 12px;
    line-height: 40px;
    padding-right: 10px;
    text-align: right;
}

.message_compose_input_field_value {
    float: left;
    width: calc(100% - 110px);
}

.message_compose_input_field_value input {
    border: 1px solid grey;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    border: 1px solid #dadada !important;
    height: 40px !important;
    border-radius: 0.125rem;
    width: 100% !important;
}

.message_compose_input_field_value input:focus {
    //border-bottom: 0px solid #0094d2 !important;
    background-size: 0% 0% !important;
    background: linear-gradient(180deg, transparent 0%, #fffdfd 0) no-repeat;
}

.message_view_menu button.blue {
    background-color: #56a4df;
    color: #fff;
    border-color: #56a4df;
}

.message_list_menu button.blue:hover {
    background-color: #4093e3;
}
