<div class="header-breadcrumbs">
    <h1><i class="fa fa-exchange"></i> <span mltag="txt_requestasset">Request Asset</span></h1>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink><i class="fa fa-plus-circle"></i> <span mltag="txt_newassetrequest">Request Asset</span></button>
        <clr-tab-content *clrIfActive>
            <form [formGroup]="requestAssetForm" (ngSubmit)="requestAsset()">
                <section class="form-block">
                    <div class="form-group col-sm-6">
                        <label class="control-label required-field" for="asset" mltag="txt_asset">Asset</label>
                        <ng-select id="asset"
                                [items]="allInstrumentList"
                                [allowClear]="true"
                                placeholder="Select Issuer"
                                [formControl]="requestAssetForm.controls['asset']"
                                mltag="txt_selectissuer">
                        </ng-select>

                        <span *ngIf="requestAssetForm.controls['asset'].hasError('required') && requestAssetForm.controls['asset'].touched" class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                    </div>

                    <div class="form-group">
                        <app-request-type-select
                            (requestType)="requestTypeOb($event)"
                            (fromRelationship)="fromRelationshipOb($event)"
                            (walletFrom)="walletFromOb($event)"
                            (addressTo)="addressToOb($event)"
                        >
                        </app-request-type-select>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="control-label required-field" for="amount" mltag="txt_amount">Amount</label>
                        <input type="text" 
                                id="amount" 
                                placeholder="Amount" 
                                size="45"
                                [formControl]="requestAssetForm.controls['amount']"
                                [class.error]="!requestAssetForm.controls['amount'].valid && requestAssetForm.controls['amount'].touched" mltag="txt_amount"/>
                        
                        <span *ngIf="requestAssetForm.controls['amount'].hasError('required') && requestAssetForm.controls['amount'].touched" class="field-error" mltag="txt_fieldisrequired">Field is required</span>
                    </div>

                    <button type="submit" class="btn btn-primary" mltag="txt_requestasset" [disabled]="requestAssetForm.invalid">Request Asset</button>
                </section>
            </form>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
