<div *ngIf="multiple">
    <div class="row panel-header">
        <div class="col-sm-12">
            <a href="#" (click)="open = !open; $event.preventDefault();">
                <i class="fa fa-chevron-right" [class.rotate]="open"></i>
                <h2>{{amc.companyName}}</h2>
            </a>
        </div>
    </div>
</div>

<div class="panel-body" [class.hidden]="!open" [ngClass]="{'nature pl-1': multiple}" [formGroup]="form">

    <div class="checkbox-group" formGroupName="financialAssetManagementMethod">
        <div class="row col-sm-12">
            <div class="form-group required-field col-sm-12">
                <label class="control-label">{{ 'How are your financial assets currently managed?' | translate }}</label>
            </div>
        </div>

        <div class="row col-sm-12 form-group">
            <div class="col-sm-12">
                <span class="checkbox-inline">
                    <input type="checkbox" id="internalManagement-{{index}}" formControlName="internalManagement">
                    <label for="internalManagement-{{index}}">
                        {{ 'Internal Management' | translate }}
                    </label>
                </span>
            </div>
        </div>

        <div class="row col-sm-12 form-group">
            <div class="col-sm-12">
                <span class="checkbox-inline">
                    <input type="checkbox" id="withAdviceOfAuthorisedThirdPartyInstitution-{{index}}"
                        formControlName="withAdviceOfAuthorisedThirdPartyInstitution">
                    <label for="withAdviceOfAuthorisedThirdPartyInstitution-{{index}}">
                        {{ 'With the advice of an authorised third party institution' | translate }}
                    </label>
                </span>
            </div>
        </div>

        <div class="row col-sm-12 form-group">
            <div class="col-sm-12">
                <span class="checkbox-inline">
                    <input type="checkbox" id="mandateEntrustedToManagers-{{index}}" formControlName="mandateEntrustedToManagers">
                    <label for="mandateEntrustedToManagers-{{index}}">
                        {{ 'By mandate(s) entrusted to a manager(s)' | translate }}
                    </label>
                </span>
            </div>
        </div>

        <p class="field-error" *ngIf="hasError('financialAssetManagementMethod')">{{ 'Select at least one' | translate }}</p>
    </div>

    <div class="checkbox-group" formGroupName="frequencyFinancialTransactions">
        <div class="row col-sm-12">
            <div class="form-group required-field col-sm-12">
                <label
                    class="required-field">{{ 'What is the frequency of financial transactions?' | translate }}</label>
            </div>
        </div>

        <div class="row col-sm-12 form-group" *ngFor="let frequency of frequencyList">
            <div class="col-sm-12">
                <div class="checkbox-inline">
                    <input type="checkbox" id="{{frequency.id}}-{{index}}" formControlName="{{frequency.id}}">
                    <label for="{{frequency.id}}-{{index}}">
                        {{frequency.text | translate}}
                    </label>
                </div>
            </div>
        </div>

        <p class="field-error" *ngIf="hasError('frequencyFinancialTransactions')">{{ 'Select at least one' | translate }}</p>
    </div>

    <div class="checkbox-group">
        <div class="row col-sm-12">
            <div class="form-group required-field col-sm-12">
                <label class="required-field">{{ 'Which investment vehicles do you currently use?' | translate }}</label>
            </div>
        </div>

        <div class="row col-sm-12 form-group" *ngFor="let vehicle of investmentVehicleList">
            <div class="col-sm-12">
                <div class="checkbox-inline" formGroupName="investmentvehiclesAlreadyUsed">
                    <input type="checkbox" id="{{vehicle.id}}-{{index}}" formControlName="{{vehicle.id}}">
                    <label for="{{vehicle.id}}-{{index}}">
                        {{vehicle.text | translate}}
                    </label>
                </div>
            </div>

            <input *ngIf="vehicle.id === 'other' && !isDisabled('investmentvehiclesAlreadyUsedSpecification')"
                    type="text"
                    formControlName="investmentvehiclesAlreadyUsedSpecification"
                    placeholder="{{'Please specify' | translate}}">

            <p class="field-error" *ngIf="hasError('investmentvehiclesAlreadyUsed')">{{ 'Select at least one' | translate }}</p>
        </div>
    </div>
</div>