<div *ngIf="multiple">
    <div class="row panel-header">
        <div class="col-sm-12">
            <a href="#" (click)="open = !open; $event.preventDefault();">
                <i class="fa fa-chevron-right" [class.rotate]="open"></i>
                <h2>{{amc.companyName}}</h2>
            </a>
        </div>
    </div>
</div>

<div class="panel-body" [class.hidden]="!open" [ngClass]="{'objective pl-1': multiple}" [formGroup]="form">

    <div class="checkbox-group" formGroupName="performanceProfile">
        <div class="row col-sm-12">
            <div class="form-group required-field col-sm-12">
                <label class="required-field">{{ 'What performance do you require?' | translate }}</label>
            </div>
        </div>

        <ng-container *ngFor="let profile of performanceProfileList; let i = index">
            <div class="row col-sm-12 form-group required">
                <ng-container *ngTemplateOutlet="checkboxGridPerformance; context: {'item': performanceProfileList[i * 2], 'index': i }">
                </ng-container>
                <ng-container *ngTemplateOutlet="checkboxGridPerformance; context: {'item': performanceProfileList[(i * 2) + 1], 'index': i }">
                </ng-container>
            </div>
        </ng-container>

        <div class="col-sm-6 text-left form-group required-field">
            <div class="force-display-error field-error"
                *ngIf="form.get('performanceProfile').touched && form.get('performanceProfile').status === 'INVALID'">{{ 'Select at least one' | translate }}</div>
        </div>

        <!-- Template is placed here because formControlName must be nested within formGroupName which in turn must be nested within formGroup -->
        <ng-template #checkboxGridPerformance let-item="item" let-index="index">
            <div class="col-sm-3" *ngIf="item">
                <div class="checkbox-inline">
                    <input type="checkbox"
                            id="{{ item.id }}-{{ index }}"
                            formControlName="{{ item.id }}"
                            (click)="form.get(['performanceProfile', item.id]).markAsTouched()">
                    <label for="{{ item.id }}-{{ index }}">
                        {{ item.text | translate }}
                    </label>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="checkbox-group">
        <div class="row col-sm-12">
            <div class="row col-sm-4 form-group required-field"
                *ngIf="!isDisabled('performanceProfileSpecification')">
                <label for="performanceProfileSpecification">{{ 'Please specify' | translate }}</label>
                <input type="text" formControlName="performanceProfileSpecification">
                <p class="field-error" *ngIf="hasError('performanceProfileSpecification', ['required'])">
                    {{ 'Field is required' | translate }}</p>
            </div>
        </div>
    </div>

    <div class="checkbox-group">
        <div class="row col-sm-12">
            <div class="form-group required-field col-sm-12">
                <label class="required-field">{{ 'Why does the client need the investment?' | translate }}</label>
            </div>
        </div>

        <div class="row col-sm-12 form-group" *ngFor="let clientNeed of clientNeedsList">
            <div class="col-sm-12">
                <div class="checkbox-inline">
                    <input type="checkbox"
                            id="{{clientNeed.id}}-{{index}}"
                            [formControl]="form.get(['clientNeeds', clientNeed.id])">
                    <label for="{{clientNeed.id}}-{{index}}">
                        {{ clientNeed.text | translate }}
                    </label>
                </div>
            </div>

            <p class="field-error" *ngIf="hasError('clientNeeds')">{{ 'Select at least one' | translate }}</p>
        </div>
    </div>

    <div class="row col-sm-12">
        <div class="form-group col-sm-12">
            <div>
                <label>{{ 'Other Relevant Financial Information' | translate }}</label>
            </div>

            <textarea class="form-control" formControlName="otherFinancialInformation"></textarea>
            <span class="helper-text">{{ 'Including periodic cash flows to be invested in cash management, asset allocation' | translate }}</span>
            <span class="field-error" *ngIf="hasError('otherFinancialInformation', ['maxlength'])">{{ 'Value is too long' | translate }}</span>
        </div>
    </div>

    <div class="checkbox-group" formGroupName="investmentHorizonWanted">
        <div class="row col-sm-12">
            <div class="form-group required-field col-sm-12">
                <label class="required-field">{{ 'Which investment horizons are required?' | translate }}</label>
            </div>
        </div>

        <!-- <p class="field-error" *ngIf="hasError('investmentHorizonWanted')">{{ 'Select at least one' | translate }}</p> -->
        <ng-container *ngFor="let horizon of investmentHorizonList; let i = index">
            <div class="row col-sm-12 form-group required">
                <ng-container
                    *ngTemplateOutlet="checkboxGridHorizon; context: {'item': investmentHorizonList[i * 2], 'index': i }">
                </ng-container>
                <ng-container
                    *ngTemplateOutlet="checkboxGridHorizon; context: {'item': investmentHorizonList[(i * 2) + 1], 'index': i }">
                </ng-container>
            </div>
        </ng-container>

        <div class="col-sm-6 text-left form-group required-field">
            <div class="force-display-error field-error"
                *ngIf="form.get('investmentHorizonWanted').touched && form.get('investmentHorizonWanted').status === 'INVALID'">{{ 'Select at least one' | translate }}</div>
        </div>

        <!-- Template is placed here because formControlName must be nested within formGroupName which in turn must be nested within formGroup -->
        <ng-template #checkboxGridHorizon let-item="item" let-index="index">
            <div class="col-sm-3" *ngIf="item">
                <div class="checkbox-inline">
                    <input type="checkbox" id="{{ item.id }}-{{ index }}" formControlName="{{ item.id }}"
                        (click)="form.get(['investmentHorizonWanted', item.id]).markAsTouched()">
                    <label for="{{ item.id }}-{{ index }}">
                        {{ item.text | translate }}
                    </label>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="checkbox-group">
        <div class="row col-sm-12">
            <div class="row col-sm-4 form-group required-field"
                *ngIf="!isDisabled('investmentHorizonWantedSpecificPeriod')">
                <div class="input-group date-pick-wrapper">
                    <span class="fa fa-calendar" aria-hidden="true"></span>
                    <input autocomplete="off" [dpDayPicker]="configDate"
                        id="investmentHorizonWantedSpecificPeriod-{{index}}"
                        formControlName="investmentHorizonWantedSpecificPeriod" placeholder="{{configDate.format}}"
                        mode="day" theme="dp-material" type="text">
                    <span class="force-display-error field-error"
                        *ngIf="hasError('investmentHorizonWantedSpecificPeriod')">{{ 'Incorrect date format' | translate }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-sm-12">
        <div class="form-group required-field col-sm-6">
            <label for="riskProfile-{{index}}">{{ 'Risk Profile (Ability to incur losses)' | translate }}</label>
            <ng-select class="large-select"
                        id="riskProfile-{{index}}"
                        [items]="riskProfileList"
                        formControlName="riskProfile"
                        placeholder="{{'Select a profile' | translate}}"></ng-select>
            <span class="field-error" *ngIf="hasError('riskProfile')">{{ 'Field is required' | translate }}</span>
        </div>
        <div class="col-sm-12"></div>
        <div *ngIf="!isDisabled('riskProfileCapital')" class="form-group required-field col-sm-6">
            <label for="capitalLoss-{{index}}">{{ 'Capital Loss Limited To' | translate }}</label>
            <input type="text"
                    id="capitalLoss-{{index}}"
                    placeholder="{{'Capital loss' | translate}}"
                    formControlName="riskProfileCapital">
            <span class="field-error" *ngIf="hasError('riskProfileCapital')">{{ 'Field is required' | translate }}</span>
        </div>
    </div>

    <div class="row col-sm-12 mt-1">
        <div class="form-group required-field col-sm-12">
            <table class="table">
            <thead>
                <tr>
                    <th class="left">{{ 'Your Preference' | translate }}</th>
                    <th>{{ 'Risk Profile' | translate }}</th>
                    <th>{{ 'Corresponding Volatility' | translate }}</th>
                    <th>{{ 'SRRI' | translate }}</th>
                    <th>{{ 'SRI' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let riskAcceptance of riskAcceptanceList; let i = index" formGroupName="riskAcceptance">
                    <td class="left">
                        <input type="number"
                                placeholder="%"
                                min="0"
                                max="100"
                                formControlName="riskAcceptanceLevel{{i + 1}}">
                    </td>
                    <td>{{ riskAcceptance.profile | translate }}</td>
                    <td>{{ riskAcceptance.volatility | translate }}</td>
                    <td>{{ riskAcceptance.srri }}</td>
                    <td>{{ riskAcceptance.sri }}</td>
                </tr>
            </tbody>
            </table>

            <span class="force-display-error field-error w-100 m-0" *ngIf="hasError('riskAcceptance', ['total']) && !hasError('riskAcceptance', ['unfilled'])">
                {{ 'Total of all risk acceptance fields must be equal to 100' | translate }}
            </span>
            <span class="force-display-error field-error w-100 m-0" *ngIf="hasError('riskAcceptance', ['required'])">
                {{ 'Please fill in all values' | translate }}
            </span>
        </div>
    </div>
</div>