<form [formGroup]="form" id="step-investment-objectives" (ngSubmit)="handleSubmit($event)">

    <div class="kyc-container">
        <h2>{{ 'Risk Profile' | translate }}</h2>

        <div class="well">
            <div class="row panel-header">
                <div class="col-sm-9">
                    <h5>{{ 'Investment Objectives' | translate }}</h5>
                </div>
                <div class="col-sm-3 text-right">
                    <div class="pgContainer" [formpercent]="{form: form, animated : false, stripes: false}"></div>
                </div>
            </div>

            <div class="row panel-body">
                <div class="row col-xs-12">
                    <div class="row" *ngIf="amcs?.length > 1">
                        <div class="form-group col-sm-12">
                            <p>
                                {{ 'The following information can be completed for all counterparties or for each of them depending on your investment objectives' | translate }}
                            </p>

                            <div class="checkbox-inline">
                                <input type="checkbox"
                                        id="objectivesSameInvestmentCrossAm"
                                        formControlName="objectivesSameInvestmentCrossAm">
                                <label for="objectivesSameInvestmentCrossAm">
                                    {{ 'I would like to have the same investment objectives for all counterparties' | translate }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <investment-objective-form *ngFor="let objective of objectiveControls; let i = index" [form]="objective" [multiple]="objectiveControls?.length > 1" [index]="i" (refreshForm)="refreshForm()"></investment-objective-form>

                </div>
            </div>
        </div>
    </div>
</form>