<div *ngIf="multiple">
    <div class="row panel-header">
        <div class="col-sm-12">
            <a href="#" (click)="open = !open; $event.preventDefault();">
                <i class="fa fa-chevron-right" [class.rotate]="open"></i>
                <h2>{{amc.companyName}}</h2>
            </a>
        </div>
    </div>
</div>

<div class="panel-body" [class.hidden]="!open" [ngClass]="{'constraint pl-1': multiple}" [formGroup]="form">

    <div class="row form-group col-sm-12">
        <div class="col-sm-12">
            <label for="statutoryConstraints-{{index}}">
                {{ 'Statutory constraints/special rules concerning eligible assets' | translate }}
            </label>
            <textarea class="form-control"
                        id="statutoryConstraints-{{index}}" formControlName="statutoryConstraints"></textarea>
            <span class="field-error" *ngIf="hasError('statutoryConstraints', ['maxlength'])">{{ 'Value is too long' | translate }}</span>
        </div>
    </div>

    <div class="row form-group col-sm-12">
        <div class="col-sm-12">
            <label for="taxConstraints-{{index}}">
                {{ 'Tax constraints (specify tax obligations in terms of investment)' | translate }}
            </label>
            <textarea class="form-control"
                        id="taxConstraints-{{index}}"
                        formControlName="taxConstraints"></textarea>
            <span class="field-error" *ngIf="hasError('taxConstraints', ['maxlength'])">{{ 'Value is too long' | translate }}</span>
        </div>
    </div>

    <div class="row form-group col-sm-12">
        <div class="col-sm-12">
            <label for="otherConstraints-{{index}}">
                {{ 'Others (including SRI, ESG, etc.)' | translate }}
            </label>
            <textarea class="form-control"
                        id="otherConstraints-{{index}}"
                        formControlName="otherConstraints"></textarea>
            <span class="field-error" *ngIf="hasError('otherConstraints', ['maxlength'])">{{ 'Value is too long' | translate }}</span>
        </div>
    </div>

    <div class="row form-group col-sm-12">
        <div class="col-sm-12">
            <clr-radio-container clrInline>
                <label>{{ 'Are investment decisions validated by an ad hoc committee?' | translate }}</label>
                <clr-radio-wrapper>
                    <input type="radio"
                            clrRadio id="opt-no-{{index}}"
                            value="no"
                            formControlName="investmentDecisionsAdHocCommittee"
                            [attr.disabled]="disabled === true ? '' : null" />
                    <label>{{ 'No' | translate }}</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio"
                            clrRadio id="opt-yes-{{index}}"
                            value="yes"
                            formControlName="investmentDecisionsAdHocCommittee"
                            [attr.disabled]="disabled === true ? '' : null" />
                    <label>{{ 'Yes' | translate }}</label>
                </clr-radio-wrapper>
            </clr-radio-container>

            <div *ngIf="!isDisabled('investmentDecisionsAdHocCommitteeSpecification')">
                <label>{{ 'Please specify' | translate }}</label>
                <textarea class="form-control"
                            id="investmentDecisionsAdHocCommitteeSpecification"
                            *ngIf="!isDisabled('investmentDecisionsAdHocCommitteeSpecification')"
                            formControlName="investmentDecisionsAdHocCommitteeSpecification"
                             maxlength="45"></textarea>
                <span class="helper-text">{{ 'Please provide any useful details (name of the committee, composition, frequency, function of the members, etc.)' | translate }}</span>
                <span class="field-error" *ngIf="hasError('investmentDecisionsAdHocCommitteeSpecification', ['maxlength'])">{{ 'Value is too long' | translate }}</span>
            </div>
        </div>
    </div>

    <div class="row form-group col-sm-12">
        <div class="col-sm-12">
            <label>
                {{ 'Other persons authorised to take investment decisions and give instructions (' | translate }}
            </label>

            <textarea class="form-control"
                        id="otherPersonsAuthorised-{{index}}" formControlName="otherPersonsAuthorised"></textarea>
            <span class="field-error" *ngIf="hasError('otherPersonsAuthorised', ['maxlength'])">{{ 'Value is too long' | translate }}</span>
        </div>
    </div>

    <!-- nowCP -->
    <div *ngIf="isNowCP()" class="row form-group col-sm-12">
        <div class="col-sm-12">
            <clr-radio-container clrInline>
                <label class="required-field">{{ 'Has your company ever issued Neu CP?' | translate }}</label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio id="hasEverIssuedNeuCp-opt-no" [value]="0" checked="checked"
                        formControlName="hasEverIssuedNeuCp" [attr.disabled]="disabled === true ? '' : null" />
                    <label>{{ 'No' | translate }}</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio id="hasEverIssuedNeuCp-opt-yes" [value]="1"
                        formControlName="hasEverIssuedNeuCp" [attr.disabled]="disabled === true ? '' : null" />
                    <label>{{ 'Yes' | translate }}</label>
                </clr-radio-wrapper>
            </clr-radio-container>
        </div>
    </div>

    <div *ngIf="isNowCP()" class="row form-group col-sm-12">
        <div class="col-sm-12">
              <clr-radio-container clrInline>
                <label class="required-field">{{ 'Has your company already invested in Neu CP?' | translate }}</label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio id="hasAlreadyInvestedNeuCp-opt-no" [value]="0" checked="checked"
                        formControlName="hasAlreadyInvestedNeuCp" [attr.disabled]="disabled === true ? '' : null" />
                    <label>{{ 'No' | translate }}</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio id="hasAlreadyInvestedNeuCp-opt-yes" [value]="1" formControlName="hasAlreadyInvestedNeuCp"
                        [attr.disabled]="disabled === true ? '' : null" />
                    <label>{{ 'Yes' | translate }}</label>
                </clr-radio-wrapper>
            </clr-radio-container>
        </div>
    </div>

    <div *ngIf="isNowCP()" class="row form-group col-sm-12">
        <div class="col-sm-12">
            <clr-radio-container clrInline>
                <label class="required-field">{{ 'Do your operators have experience trading in Neu CP?' | translate }}</label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio id="hasExperienceTradingNeuCp-opt-no" [value]="0" checked="checked"
                        formControlName="hasExperienceTradingNeuCp" [attr.disabled]="disabled === true ? '' : null" />
                    <label>{{ 'No' | translate }}</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio id="hasExperienceTradingNeuCp-opt-yes" [value]="1"
                        formControlName="hasExperienceTradingNeuCp" [attr.disabled]="disabled === true ? '' : null" />
                    <label>{{ 'Yes' | translate }}</label>
                </clr-radio-wrapper>
            </clr-radio-container>
        </div>
    </div>
</div>