<div *ngIf="multiple">
    <div class="row panel-header">
        <div class="col-sm-12">
            <a href="#" (click)="open = !open; $event.preventDefault();">
                <i class="fa fa-chevron-right" [class.rotate]="open"></i>
                <h2>{{amc.companyName}}</h2>
            </a>
        </div>
    </div>
</div>

<div class="panel-body" [class.hidden]="!open" [ngClass]="{'nature pl-1': multiple}" [formGroup]="form">

    <div class="checkbox-group" formGroupName="financialAssetManagementMethod">
        <div class="row col-sm-12">
            <div class="form-group required-field col-sm-12">
                <label class="control-label">{{ 'How are your financial assets currently managed?' | translate }}</label>
            </div>
        </div>

        <div class="row col-sm-12 form-group">
            <div class="col-sm-12">
                <span class="checkbox-inline">
                    <input type="checkbox" id="internalManagement-{{index}}" formControlName="internalManagement">
                    <label for="internalManagement-{{index}}">
                        {{ 'Internal Management' | translate }}
                    </label>
                </span>
            </div>
        </div>

        <div class="row col-sm-12 form-group">
            <div class="col-sm-12">
                <span class="checkbox-inline">
                    <input type="checkbox" id="withAdviceOfAuthorisedThirdPartyInstitution-{{index}}"
                        formControlName="withAdviceOfAuthorisedThirdPartyInstitution">
                    <label for="withAdviceOfAuthorisedThirdPartyInstitution-{{index}}">
                        {{ 'With the advice of an authorised third party institution' | translate }}
                    </label>
                </span>
            </div>
        </div>

        <div class="row col-sm-12 form-group">
            <div class="col-sm-12">
                <span class="checkbox-inline">
                    <input type="checkbox" id="mandateEntrustedToManagers-{{index}}" formControlName="mandateEntrustedToManagers">
                    <label for="mandateEntrustedToManagers-{{index}}">
                        {{ 'By mandate(s) entrusted to a manager(s)' | translate }}
                    </label>
                </span>
            </div>
        </div>

        <p class="field-error" *ngIf="hasError('financialAssetManagementMethod')">{{ 'Select at least one' | translate }}</p>
    </div>

    <div class="checkbox-group" formGroupName="frequencyFinancialTransactions">
        <div class="row col-sm-12">
            <div class="form-group required-field col-sm-12">
                <label
                    class="required-field">{{ 'What is the frequency of financial transactions?' | translate }}</label>
            </div>
        </div>

        <div class="row col-sm-12 form-group" *ngFor="let frequency of frequencyList">
            <div class="col-sm-12">
                <div class="checkbox-inline">
                    <input type="checkbox" id="{{frequency.id}}-{{index}}" formControlName="{{frequency.id}}">
                    <label for="{{frequency.id}}-{{index}}">
                        {{frequency.text | translate}}
                    </label>
                </div>
            </div>
        </div>

        <p class="field-error" *ngIf="hasError('frequencyFinancialTransactions')">{{ 'Select at least one' | translate }}</p>
    </div>

    <div class="checkbox-group" formGroupName="investmentvehiclesAlreadyUsed">
        <div class="row col-sm-12">
            <div class="form-group required-field col-sm-12">
                <label class="required-field" (click)="logForm()">{{ 'Which investment vehicles do you currently use?' | translate }}</label>
            </div>
        </div>

        <ng-container *ngFor="let item of investmentVehicleList; let i = index">
            <div class="row col-sm-12 form-group required">
                <ng-container *ngTemplateOutlet="checkboxGrid; context: {'item': investmentVehicleList[i * 2], 'index': i }">
                </ng-container>
                <ng-container *ngTemplateOutlet="checkboxGrid; context: {'item': investmentVehicleList[(i * 2) + 1], 'index': i }">
                </ng-container>
            </div>
        </ng-container>

        <div class="row col-sm-3 form-group" style="position:relative">
            <span class="field-error force-display-error"
                *ngIf="form.get('investmentvehiclesAlreadyUsed').touched && form.get('investmentvehiclesAlreadyUsed').status === 'INVALID'">{{ 'Select at least one' | translate }}</span>
        </div>

        <!-- Template is placed here because formControlName must be nested within formGroupName which in turn must be nested within formGroup -->
        <ng-template #checkboxGrid let-item="item" let-index="index">
            <div class="col-sm-3" *ngIf="item">
                <div class="checkbox-inline">
                    <input type="checkbox"
                            id="{{ item.id }}-{{ index }}"
                            formControlName="{{ item.id }}"
                            (click)="form.get(['investmentvehiclesAlreadyUsed', item.id]).markAsTouched()">
                    <label for="{{ item.id }}-{{ index }}">
                        {{ item.text | translate }}
                    </label>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="checkbox-group">
        <div class="row col-sm-12">
            <div class="row col-sm-4 form-group required-field" *ngIf="!isDisabled('investmentvehiclesAlreadyUsedSpecification')">
                <label for="investmentvehiclesAlreadyUsedSpecification">{{ 'Please specify other investment vehicle' | translate }}</label>
                <input type="text" formControlName="investmentvehiclesAlreadyUsedSpecification">
                <p class="field-error" *ngIf="hasError('investmentvehiclesAlreadyUsedSpecification', ['required'])">{{ 'Field is required' | translate }}</p>
            </div>
        </div>
    </div>
</div>