<div *ngIf="amc.companyID">
    <div class="row panel-header">
        <div class="col-sm-12">
            <a href="#" (click)="open = !open; $event.preventDefault();">
                <i class="fa fa-chevron-right" [class.rotate]="open"></i>
                <h2>{{amc.companyName}}</h2>
            </a>
        </div>
    </div>
</div>

<div class="panel-body" [ngClass]="{hidden : !open, 'multiple pl-1' : amc.companyID}" [formGroup]="form">

    <div class="row">
        <div class="form-group col-sm-12">
            <label for="statutoryConstraints">
                {{'Statutory constraints/special rules concerning eligible assets (specify)' | translate}}:
            </label>
            <textarea id="statutoryConstraints" formControlName="statutoryConstraints"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-12">
            <label for="taxConstraints">
                {{'Tax constraints (specify tax obligations in terms of investment)' | translate}}:
            </label>
            <textarea id="taxConstraints" formControlName="taxConstraints"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-12">
            <label for="otherConstraints">
                {{'Others (including SRI, ESG, ...) (specify)' | translate}}:
            </label>
            <textarea id="otherConstraints" formControlName="otherConstraints"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-12">
            <label>
                {{ 'For your information, are investment decisions validated by an ad hoc committee? (optional)'| translate}}:
            </label>
            <div class="radio-inline opt-btn-element">
                <input type="radio" id="opt-yes" value="yes" formControlName="investmentDecisionsAdHocCommittee">
                <label for="opt-yes">{{'Yes' | translate}}</label>
            </div>
            <div class="radio-inline opt-btn-element">
                <input type="radio" id="opt-no" value="no" formControlName="investmentDecisionsAdHocCommittee">
                <label for="opt-no">{{'No' | translate}}</label>
            </div>

            <textarea placeholder="{{'Please provide any useful details (name of the committee, composition, frequency, function of the members, etc.)' | translate}}" *ngIf="!isDisabled('investmentDecisionsAdHocCommitteeSpecification')" id="investmentDecisionsAdHocCommitteeSpecification" formControlName="investmentDecisionsAdHocCommitteeSpecification"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-12">
            <textarea id="otherPersonsAuthorised" formControlName="otherPersonsAuthorised"></textarea>
        </div>
    </div>

</div>