<div class="header-breadcrumbs">
    <h1><i class="fa fa-bars"></i> <span mltag="txt_addnewfundshare">Add a New Share</span></h1>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink id="tabFundShareButton"><span mltag="txt_selectfund">Share</span></button>
        <clr-tab-content class="outer">
            <h3><span mltag="txt_pleaseenterfollowinginformatio07623519b7">Please fill out the following information to create a new Share:</span></h3>

            <div class="row" *ngIf="newFundShareForm">
                <div class="col-sm-6">
                    <form [formGroup]="newFundShareForm">
                        <section class="form-block">
                            <div class="form-group">
                                <label class="control-label required-field" mltag="txt_isthissharepartofanexistingfunadd88fe222">Is this Share part of an existing Fund?</label>
                                <ng-select id="selectFund"
                                    [items]="fundListItems"
                                    placeholder=""
                                    [formControl]="newFundShareForm.controls['fund']"
                                    [required]="true">
                                </ng-select>
                            </div>
                        </section>
                    </form>
                </div>
                <div class="col-sm-6">
                    <section class="form-block">
                        <div class="form-group alt-option">
                            <label class="control-label" mltag="txt_nbsp">&nbsp;</label>
                            <div>
                                <span mltag="txt_or">or</span>
                                <a href="/#/product-module/fund/new" class="btn btn-default action-button add-new-fund" id="buttonAddNewFund" mltag="txt_addanewfund">
                                    Add a new Fund
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="row" *ngIf="fundForm.value.legalEntity">
                <form [formGroup]="fundForm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="control-label" mltag="txt_fundlegalentity">Legal Entity Identifier (LEI)</label>
                                <input type="text" id="legalEntity" name="legalEntity" formControlName="legalEntity">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="control-label" mltag="txt_funddomicile">Domicile</label>
                                <input type="text" id="domicile" name="domicile" formControlName="domicile">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="form-group">
                            <a href="/#/product-module" class="btn btn-default" id="buttonBack" mltag="txt_back">
                                Back
                            </a>
                            <button type="button" class="btn btn-primary action-button select-fund" id="buttonSelectFund" (click)="selectFund()" [disabled]="!isValid()" mltag="txt_next">
                                Next
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>