:host {
    clr-tab-content .btn {
        height: 40px;
        line-height: 40px;
        margin-bottom: 0;
        margin-top: 0;

        &.btn-primary {
            margin-left: 10px;
        }
    }

    clr-tab-content button + span {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
    }
}