<ng-container *ngIf="config">
    <div [ngSwitch]="config.type">
        <!-- MT900 Admin -->
        <div *ngSwitchCase="'900-Admin'">
            <p class="padding"><span>{{ 'Hello' | translate }}</span> {{config.adminName}},</p>

            <p class="padding">
                {{ 'Please be aware that a debit confirmation has not been matched' | translate }}
            </p>
            
            <button class="btn btn-primary"
                (click)="downloadTxtFile(config.action);">{{ 'Download File' | translate }}
            </button>

            <p class="padding">{{'Thank you' | translate}},</p>
            <p class="padding">{{'The IZNES team' | translate}}.</p>
        </div>

        <!-- MT900 AM -->
        <div *ngSwitchCase="'900-AM'">
            <p class="padding">{{config.greeting}}</p>
            <p class="padding">{{config.line1}}</p>
            <p class="padding">{{config.line2}}</p>
            <p class="padding">{{config.line3}}</p>

            <!-- Download MT File -->
            <button class="btn btn-primary" (click)="downloadTxtFile(config.action);">{{ 'Download File' | translate }}
            </button>

            <!-- Link -->
            <button type="button" class="btn btn-primary btn-block" (click)="handleRedirectButtonClick()">{{config.buttonLabel}}
            </button>

            <p class="padding">{{config.thanks}}</p>
            <p class="padding">{{config.signature}}</p>
        </div>

    </div>
</ng-container>
