<div class="header-breadcrumbs">
    <h1 id="am-fund-holdings"><i class="fa fa-align-left"></i>
        <span mltag="">Client folder - Funds' Shares access authorisation:</span> - {{investorData['companyName']}}
    </h1>
</div>

<div class="wrapper wrapper-content">

    <clr-tabs>
        <clr-tab>
            <button clrTabLink id="am-fund-holdings-tab">
                <i class="fa fa-user"></i> <span mltag="">Funds' Shares Access Authorisation</span>
            </button>
            <clr-tab-content>
                <div class="panel-body">

                    <div>Please select the funds you would like {{investorData['companyName']}} to have access to:</div>

                    <app-text-input-list [title]="'Professional Investor Details'" [content]="investor"></app-text-input-list>

                    <div class="hr-line-dashed"></div>

                    <div>
                        <h2>Funds' Share Access Authorisation</h2>

                        <form>
                            <div class="row form-group">
                                We {{this.amCompany}}, wish to authorize {{investorData['companyName']}} to be able to invest in the following funds' shares:
                                <clr-datagrid #myDataGrid class="fund-table">
                                    <clr-dg-column>Fund Name</clr-dg-column>
                                    <clr-dg-column>Share Name</clr-dg-column>
                                    <clr-dg-column>ISIN</clr-dg-column>
                                    <clr-dg-column>Grant Access to this Share?</clr-dg-column>
                                    <clr-dg-row *clrDgItems="let row of tableData">
                                        <clr-dg-cell>
                                            {{row['fundName']}}
                                        </clr-dg-cell>
                                        <clr-dg-cell>
                                            {{row['shareName']}}
                                        </clr-dg-cell>
                                        <clr-dg-cell>
                                            {{row['isin']}}
                                        </clr-dg-cell>
                                        <clr-dg-cell>
                                            <ng-container *ngIf="access[row['id']]">
                                                <span class="pointer" (click)="access[row['id']]['access'] = !access[row['id']]['access']; access[row['id']]['changed'] = !access[row['id']]['changed'];">
                                                    <i class="fa fa-lg fa-{{(access[row['id']]['access']?'un':'')}}lock text-{{(access[row['id']]['access']?'green':'red')}}"></i> {{(access[row['id']]['access']?'On':'Off')}}
                                                </span>
                                            </ng-container>
                                        </clr-dg-cell>
                                    </clr-dg-row>
                                </clr-datagrid>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12" align="center">
                                    <button class="btn btn-info" routerLink="/kyc-am-documents">Back</button>
                                    <button class="btn btn-primary" (click)="displayModal();">Validate</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>
</div>

<!--CUSTOM TEXT MODALS-->
<clr-modal [(clrModalOpen)]="showModal" [clrModalClosable]="false">
    <h3 class="modal-title">Confirm Fund Share Access:</h3>
    <div class="modal-body text-center" [ngStyle]="{'padding-bottom':'0'}">
        <i class="fa fa-check fa-3x text-success"></i>
        <div *ngIf="!changes['add'] && !changes['remove']">
            No changes have been made to the Investors' Fund Access permissions.
        </div>
        <div *ngIf="changes['add']">
            <br>
            You are giving {{investorData['companyName']}} permission to invest in the following funds' shares:
            <br><br>
            <clr-datagrid #myDataGrid>
                <clr-dg-column>Fund Name</clr-dg-column>
                <clr-dg-column>Share Name</clr-dg-column>
                <clr-dg-column>ISIN</clr-dg-column>
                <ng-container *ngFor="let row of tableData">
                    <clr-dg-row *ngIf="access[row['id']]['changed'] && access[row['id']]['access']">
                        <clr-dg-cell>
                            {{row['fundName']}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            {{row['shareName']}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            {{row['isin']}}
                        </clr-dg-cell>
                    </clr-dg-row>
                </ng-container>
            </clr-datagrid>
        </div>
        <div *ngIf="changes['remove']">
            <br>
            You are removing {{investorData['companyName']}}'s permission to invest in the following funds' shares:
            <br><br>
            <clr-datagrid #myDataGrid>
                <clr-dg-column>Fund Name</clr-dg-column>
                <clr-dg-column>Share Name</clr-dg-column>
                <clr-dg-column>ISIN</clr-dg-column>
                <ng-container *ngFor="let row of tableData">
                    <clr-dg-row *ngIf="access[row['id']]['changed'] && !access[row['id']]['access']">
                        <clr-dg-cell>
                            {{row['fundName']}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            {{row['shareName']}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            {{row['isin']}}
                        </clr-dg-cell>
                    </clr-dg-row>
                </ng-container>
            </clr-datagrid>
        </div>
        <br><br>
        <button id="btnKycCloseModal" class="btn btn-info" type="button" (click)="showModal = false;">
            <span mltag="txt_close">Close</span>
        </button>
        <button id="btnKycCloseModal" class="btn btn-success" disabled="{{(changes['add'] || changes['remove']?'':'disabled')}}" type="button" (click)="showModal = false;">
            <span mltag="" (click)="saveAccess();">Confirm Access</span>
        </button>
        <br><br>
    </div>
</clr-modal>
