.pointer{
    cursor: pointer;
}

.fund-table{
    width: 100%;
    margin-top: 10px;
}

.slider {
    top: inherit !important;
}

.switch-container {
    position: relative;
}

label.switch {
    position: absolute !important;
    margin: 4px !important;
}
