.resetButton {
    float: right;
    background-color: #D96F35;
    color: #fff;
    border: none;
}

.quantity-group {
    display: flex;
    align-items: center;
    width: 95%;

    input {
        flex-shrink: 1;
    }
    button {
        margin: 0 0 0 15px;
        flex-shrink: 0;
    }
}

.choice {
    & > label {
        display: block;
        line-height: 20px;
        font-size: 12px;
    }

    .btn-group {
        margin-top: 2px;
    }
}

.btn {
    .btn-sm {
        margin-right: 0px;
    }
}

.kiidModal{
  .fileviewer-main {
    width: 100%;
    height: 960px;
  }
  .fileviewer-contents {
    width: 100%;
    height: 880px;
  }
  .modal-footer button {
    margin: 0 0 12px 0;
  }
  button::first-letter {
    text-transform: capitalize;
  }
}
