.fundCreateComponent {

    form.fundForm, form.umbrellaForm, form.umbrellaEditForm {
        padding: 0 !important;
        margin: 0 auto !important;
        width: 100%;
        div.well, div.well .row .well {
            outline: none;
        }
        .panel-body .form-group:last-child .dropdown-menu {
            position: inherit;
        }
    }

    .fundForm .well {
        background: #fff;
        border-radius: 3px;
        padding: 0;
        margin: 20px;
        overflow: auto;
        border: 1px solid #dce1eb;
    }

    .field-error {
        color: red;
        height: 0;
        margin-top: -8px !important;
    }

    .btn-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        p {
            height: 1.5rem;
            line-height: 1.5rem;
            margin-right: 30px;
            margin-bottom: 0;
        }
        a {
            margin: 0;
        }
    }

    .submit-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        button {
            width: 150px;
            margin: 10px 10px;
        }
    }

    form .form-group > .checkbox {
        margin-left: 24px;
    }

    form .form-group > .radio-inline {
        margin-left: 24px;
        width: initial;
    }

    .checkbox label:first-child {
        padding-left: 0;
    }

    .radio-inline label:after {
        content: '';
    }

    .umbrellaEditForm input {
      background-color: #eceeef !important;
    }

    form .form-group > input[disabled] {
      background-color: #eceeef;
    }
}