.fundCreateComponent {

    h2 {
        width: calc(100% - 12px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .field-error {
        color: red;
        height: 0;
    }

    .btn-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        p {
            height: 1.5rem;
            line-height: 1.5rem;
            margin-right: 30px;
            margin-bottom: 0;
        }
        a {
            margin: 0;
        }
    }

    form {
        width: 100%;
        .form-group > .checkbox {
            margin-left: 24px;
        }
        .form-group > .radio-inline {
            margin-left: 24px;
            width: initial;
        }
    }

    .checkbox label:first-child {
        padding-left: 0;
    }

    .radio-inline label:after {
        content: '';
    }

    textarea {
        min-height: 40px;
        max-height: 160px;
    }

}