<div class="header-breadcrumbs">
    <h1>
        <i class="fa fa-bars"></i>
        <span [hidden]="!isCreate()" mltag="txt_addnewshare">Add new Share</span>
        <span [hidden]="!isUpdate()" mltag="txt_viewshare">View Share</span>
    </h1>
</div>

<clr-tabs *ngIf="loadUI()">
    <clr-tab>
        <button clrTabLink id="tabFundShareButton">
            <span mltag="txt_shares">Shares</span>
        </button>
        <clr-tab-content class="outer">
            <div class="row">
                <div class="col-sm-12">
                    <p mltag="txt_sharedesc">Please fill in the following information to create a new Share.</p>
                </div>
            </div>
            <div class="well" *ngIf="hasUmbrellaFund()">
                <div class="row panel-header">
                    <div class="col-sm-12">
                        <a href="#" (click)="openPanel(panels['umbrella'], $event)">
                            <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['umbrella'])"></i>
                            <h2 id="toggleFund"><span mltag="txt_umbrellafund">Umbrella Fund</span>: {{model.umbrella.umbrellaFundName.value()}}</h2>
                        </a>
                    </div>
                </div>
                <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['umbrella'])">
                    <app-dynamic-form [model]="model.umbrella"></app-dynamic-form>
                </div>
            </div>
            <div class="well">
                <div class="row panel-header">
                    <div class="col-sm-12">
                        <a href="#" (click)="openPanel(panels['fund'], $event)">
                            <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['fund'])"></i>
                            <h2 id="toggleFund"><span mltag="txt_fund">Fund</span>: {{model.fund.name.value()}}</h2>
                        </a>
                    </div>
                </div>
                <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['fund'])">
                    <app-dynamic-form [model]="model.fund"></app-dynamic-form>
                </div>
            </div>

            <clr-tabs>
                <clr-tab>
                    <button clrTabLink id="tabKeyFactsButton">
                        <span>
                            <span mltag="txt_keyfacts">Key Facts</span>
                            <span class="required" [hidden]="model.keyFacts.mandatory.isValid()">*</span>
                        </span>
                    </button>
                    <clr-tab-content>
                        <div class="well">
                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['keyFacts'].mandatory, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['keyFacts'].mandatory)"></i>
                                        <h2 id="toggleKeyFactsMandatory" mltag="txt_keyfactsmaininformation">Key Facts: Main Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['keyFacts'].mandatory)">
                                <app-dynamic-form [model]="model.keyFacts.mandatory"></app-dynamic-form>
                            </div>

                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['keyFacts'].optional, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['keyFacts'].optional)"></i>
                                        <h2 id="toggleKeyFactsOptional" mltag="txt_keyfactsoptionalinformation">Key Facts: Optional Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['keyFacts'].optional)">
                                <app-dynamic-form [model]="model.keyFacts.optional"></app-dynamic-form>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>

                <clr-tab>
                    <button clrTabLink id="tabCharacteristicsButton">
                        <span><span mltag="txt_characteristics">Characteristics</span>

                            <span class="required" [hidden]="model.characteristic.mandatory.isValid()">*</span>
                        </span>
                    </button>
                    <clr-tab-content>
                        <div class="well">
                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['characteristic'].mandatory, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['characteristic'].mandatory)"></i>
                                        <h2 id="toggleCharacteristicMandatory" mltag="txt_characteristicsmaininformation64d7884a77">Characteristics: Main Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['characteristic'].mandatory)">
                                <app-dynamic-form [model]="model.characteristic.mandatory"></app-dynamic-form>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>

                <clr-tab>
                    <button clrTabLink id="tabCalendarButton">
                        <span><span mltag="txt_calendar">Calendar</span>

                            <span class="required" [hidden]="model.calendar.mandatory.isValid() && model.calendar.subscriptionTradeCycle.isValid() && model.calendar.redemptionTradeCycle.isValid()">*</span>
                        </span>
                    </button>
                    <clr-tab-content>
                        <div class="well">
                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['calendar'].mandatory, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['calendar'].mandatory)"></i>
                                        <h2 id="toggleCalendarMandatory" mltag="txt_calendarmaininformation">Calendar: Main Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['calendar'].mandatory)">
                                <app-ofi-am-trade-cycle [tradeType]="'Subscription'" (modelEmitter)="calendarSubscriptionModelEvent($event)">


                                </app-ofi-am-trade-cycle>

                                <app-ofi-am-trade-cycle [tradeType]="'Redemption'" (modelEmitter)="calendarRedemptionModelEvent($event)">


                                </app-ofi-am-trade-cycle>

                                <app-dynamic-form [model]="model.calendar.mandatory"></app-dynamic-form>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>

                <clr-tab>
                    <button clrTabLink id="tabFeesButton">
                        <span><span mltag="txt_fees">Fees</span>

                            <span class="required" [hidden]="model.fees.mandatory.isValid()">*</span>
                        </span>
                    </button>
                    <clr-tab-content>
                        <div class="well">
                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['fees'].mandatory, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['fees'].mandatory)"></i>
                                        <h2 id="toggleFeesMandatory" mltag="txt_feesmaininformation">Fees: Main Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['fees'].mandatory)">
                                <app-dynamic-form [model]="model.fees.mandatory"></app-dynamic-form>
                            </div>

                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['fees'].optional, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['fees'].optional)"></i>
                                        <h2 id="toggleFeesOptional" mltag="txt_feesoptionalinformation">Fees: Optional Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['fees'].optional)">
                                <app-dynamic-form [model]="model.fees.optional"></app-dynamic-form>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>

                <clr-tab>
                    <button clrTabLink id="tabProfileButton">
                        <span><span mltag="txt_profile">Profile</span>

                            <span class="required" [hidden]="model.profile.mandatory.isValid()">*</span>
                        </span>
                    </button>
                    <clr-tab-content>
                        <div class="well">
                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['profile'].mandatory, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['profile'].mandatory)"></i>
                                        <h2 id="toggleProfileMandatory" mltag="txt_profilemaininformation">Profile: Main Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['profile'].mandatory)">
                                <app-dynamic-form [model]="model.profile.mandatory"></app-dynamic-form>
                            </div>

                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['profile'].optional, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['profile'].optional)"></i>
                                        <h2 id="toggleProfileOptional" mltag="txt_profileoptionalinformation">Profile: Optional Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['profile'].optional)">
                                <app-dynamic-form [model]="model.profile.optional"></app-dynamic-form>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>

                <clr-tab>
                    <button clrTabLink id="tabRespresentationButton">
                        <span mltag="txt_representation">Representation</span>
                    </button>
                    <clr-tab-content>
                        <div class="well">
                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['representation'].optional, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['representation'].optional)"></i>
                                        <h2 id="toggleRepresentationOptional" mltag="txt_representationoptionalinformat11d2d1d8c4">Representation: Optional Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['representation'].optional)">
                                <app-dynamic-form [model]="model.representation.optional"></app-dynamic-form>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>

                <clr-tab>
                    <button clrTabLink id="tabFTaxationButton">
                        <span mltag="txt_taxation">Taxation</span>
                    </button>
                    <clr-tab-content>
                        <div class="well">
                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['taxation'].optional, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['taxation'].optional)"></i>
                                        <h2 id="toggleTaxationOptional" mltag="txt_taxationoptionalinformation">Taxation: Optional Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['taxation'].optional)">
                                <app-dynamic-form [model]="model.taxation.optional"></app-dynamic-form>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>

                <clr-tab>
                    <button clrTabLink id="tabListingButton">
                        <span mltag="txt_listing">Listing</span>
                    </button>
                    <clr-tab-content>
                        <div class="well">
                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['listing'].optional, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['listing'].optional)"></i>
                                        <h2 id="toggleListingOptional" mltag="txt_listingoptionalinformation">Listing: Optional Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['listing'].optional)">
                                <app-dynamic-form [model]="model.listing.optional"></app-dynamic-form>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>

                <clr-tab>
                    <button clrTabLink id="tabPRIIPButton">
                        <span mltag="txt_priips">PRIIPS</span>
                    </button>
                    <clr-tab-content>
                        <div class="well">
                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['priip'].optional, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['priip'].optional)"></i>
                                        <h2 id="togglePriipOptional" mltag="txt_priipsoptionalinformation">PRIIPS: Optional Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['priip'].optional)">
                                <app-dynamic-form [model]="model.priip.optional"></app-dynamic-form>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>

                <clr-tab>
                    <button clrTabLink id="tabSolvencyButton">
                        <span mltag="txt_solvencyii">Solvency II</span>
                    </button>
                    <clr-tab-content>
                        <div class="well">
                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['solvency'].optional, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['solvency'].optional)"></i>
                                        <h2 id="toggleSolvencyOptional" mltag="txt_solvencyiioptionalinformation">Solvency II: Optional Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['solvency'].optional)">
                                <app-dynamic-form [model]="model.solvency.optional"></app-dynamic-form>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>

                <clr-tab>
                    <button clrTabLink id="tabDocumentsButton">
                        <span><span mltag="txt_documents">Documents</span>

                            <span class="required" [hidden]="model.documents.mandatory.isValid()">*</span>
                        </span>
                    </button>
                    <clr-tab-content>
                        <div class="well">
                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['documents'].mandatory, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['documents'].mandatory)"></i>
                                        <h2 id="toggleDocumentsMandatory" mltag="txt_documentsmaininformation">Documents: Main Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['documents'].mandatory)">
                                <app-dynamic-form [model]="model.documents.mandatory"></app-dynamic-form>
                            </div>

                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="openPanel(panels['documents'].optional, $event)">
                                        <i class="fa fa-chevron-right" [class.rotate]="isPanelOpen(panels['documents'].optional)"></i>
                                        <h2 id="toggleDocumentsOptional" mltag="txt_documentsoptionalinformation">Documents: Optional Information</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body" [class.hidden]="!isPanelOpen(panels['documents'].optional)">
                                <app-dynamic-form [model]="model.documents.optional"></app-dynamic-form>
                            </div>
                        </div>
                    </clr-tab-content>
                </clr-tab>
            </clr-tabs>

            <div class="form-group row actions bottom">
                <div class="col-sm-12">
                    <button (click)="cancelFundShare()" class="btn btn-default action-button cancel" id="cancelFundShareBottom" mltag="txt_cancel">Cancel</button>

                    <button type="button" class="btn btn-primary action-button save" id="saveFundShareBottom" (click)="saveFundShare()" [disabled]="!model.isValid()">

                        <i class="fa fa-save"></i>
                        <span [hidden]="!isCreate()" mltag="txt_addnewshare">Add new Share</span>
                        <span [hidden]="!isUpdate()" mltag="txt_updateshare">Update Share</span>
                    </button>
                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>