:host {
    clr-tabs {
        margin: 20px 0;

        button .required {
            color: red;
            font-size: 18px;
        }
    }
    clr-tab-content {
        &.outer {
            padding-right: 0;
        }
        &:not(.outer) {
            width: calc(100% - 20px);
        }
    }
    .actions {
        border-bottom: 1px dotted #DDD;
        margin: 20px 0 20px;
        padding: 0 0 20px;
        width: calc(100% - 20px);

        .btn { margin-top: 0 }

        &.bottom {
            border-bottom: none;
            border-top: 1px dotted #DDD;
            padding: 20px 0 0;
        }

        > div {
            padding: 0;
        }
    }

    app-ofi-am-trade-cycle {
        border: 1px solid #dce1eb;
        border-radius: 4px;
        display: block;
        margin-bottom: 1.5em;
        padding: 1.5em;
        width: 100%;
    }
}