:host {
    clr-tabs {
        margin: 20px 0;
        position: relative;

        button .required {
            color: red;
            font-size: 18px;
        }
    }
    clr-tab-content {
        padding-bottom: 95px;

        &.outer {
            padding-right: 0;
        }
        &:not(.outer) {
            width: calc(100% - 20px);
        }
    }
    .actions {
        border-bottom: 1px dotted #DDD;
        margin: 20px 0 20px;
        padding: 0 0 20px;
        width: calc(100% - 20px);

        .btn {
            margin-top: 0
        }

        &.bottom {
            border-bottom: none;
            border-top: 1px dotted #DDD;
            padding: 20px 0 0;
        }

        > div {
            padding: 0;
        }
    }

    .previous-next {
        border-top: 1px solid #DDD;
        bottom: 15px;
        display: flex;
        padding-top: 15px;
        position: absolute;
        width: calc(100% - 20px);

        .buttons {
            margin: 0 auto;
            width: 300px;
        }
    }

    app-ofi-am-trade-cycle {
        border: 1px solid #dce1eb;
        border-radius: 4px;
        display: block;
        margin-bottom: 1.5em;
        padding: 1.5em;
        width: 100%;
    }

    .tab-header-container {
        margin: 0;
        padding: .5rem;
    }

    .tab-header-container .btn-container {
        width: 100%;
        margin: 0;
        padding: .5rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        ng-select {
            display: inline-block;
            width: auto;
        }
    }

    app-dynamic-form.share-status {
        width: auto;
    }

    .share-status-warning {
        color: #999;
        float: left;
        font-size: 12px;
        margin-left: -120px;
        padding-top: 40px;
    }

    form.selectFund {
        width: 100%;
    }
}
