:host {
    clr-tabs {
        margin-bottom: 20px;

        button .required {
            color: red;
            font-size: 18px;
        }
    }
    clr-tab-content {
        &.outer {
            padding-right: 0;
        }
        &:not(.outer) {
            width: calc(100% - 20px);
        }
    }
    .row.actions {
        border-bottom: 1px dotted #DDD;
        margin: 0 0 20px;
        padding: 0 0 20px;
        width: calc(100% - 20px);

        .btn { margin: 0; }

        &.bottom {
            border-bottom: none;
            border-top: 1px dotted #DDD;
            padding: 20px 0 0;
        }

        > div {
            padding: 0;

            button { margin: 0; }
        }
    }
}