$form-steps-color: #bebebe;
$form-steps-active-color: #3aac5d;

$form-steps-counter-dimension: 50px;
$form-steps-counter-border: 4px;

form-steps{
    display: block;
    overflow: hidden;

    .steps-slider {
        width: 100%;
        display: flex;
        transition: transform 0.5s;

        .steps-slide {
            height: 0;

            flex-shrink: 0;
            width: 100%;

            &.active{
                height: 100%;
                overflow-y: visible;
            }
        }
    }

    .steps-progress {
            counter-reset: step;
            position: relative;
            display: block;

            .steps {
                position: relative;
                z-index: 1;

                .step {
                    float: left;
                    position : relative;
                    font-size: 1.1em;
                    font-weight: bolder;
                    text-align: center;

                    p{
                        margin: 0;
                    }

                    &::before {
                        counter-increment: step;
                        content: counter(step);

                        border-radius: 50%;
                        color: $form-steps-color;
                        font-weight: bolder;
                        font-size: 1.4em;
                        background-color: white;
                        margin-bottom: 10px;

                        width: $form-steps-counter-dimension;
                        height: $form-steps-counter-dimension;
                        border: $form-steps-counter-border solid $form-steps-color;

                        display: inline-block;

                        text-align: center;
                        line-height: $form-steps-counter-dimension - $form-steps-counter-border * 2;

                    }

                    &::after{
                        content: '';
                        position: absolute;
                        top: $form-steps-counter-dimension / 2;
                        left: -50%;
                        transform: translateY(-50%);
                        z-index: -1;
                        width: 100%;
                        height: 6px;
                        background: #979797;
                    }

                    &:first-child::after{
                        content : none;
                    }

                    &.active{
                        color : $form-steps-active-color;

                        &::before{
                            border-color : $form-steps-active-color;
                            background-color: $form-steps-active-color;
                            color: white;
                            content: "\2714";
                        }

                        & + .step::after{
                            background: $form-steps-active-color;
                        }
                    }
                }
            }
        }

    .hidden{
        display: none;
    }
}



.steps-buttons{
    width: 100%;
    text-align: center;
    margin: 20px auto;
}