<div [formGroup]="form" class="well">
    <div class="row panel-header">
        <div class="col-sm-9">
            <a href="#" (click)="open = !open; $event.preventDefault();">
                <i class="fa fa-chevron-right" [class.rotate]="open"></i>
                <h2>Banking information</h2>
            </a>
        </div>
        <div class="col-sm-3 text-right">
            <div class="pgContainer" [formpercent]="{form: form}"></div>
        </div>
    </div>

    <div class="row panel-body" [class.hidden]="!open">

        <div class="col-xs-12">
            <div class="row">
                <div class="form-group col-xs-6">
                    <label for="custodianHolderAccount" class="control-label">{{'Custodian holder account'}}</label>
                    <ng-select id="custodianHolderAccount" [items]="custodianHolderAccountList" [formControl]="form.get('custodianHolderAccount')"></ng-select>
                </div>
            </div>
            <div *ngIf="shouldDisplay()" formGroupName="custodianHolderCustom">
                <div class="row">
                    <div class="form-group col-xs-4">
                        <input type="text" formControlName="custodianName" placeholder="{{'Please fill in the custodian\'s name'}}">
                        <span class="field-error" *ngIf="hasError(['custodianHolderCustom', 'custodianName'])">{{'Field is required' | translate}}</span>
                    </div>
                    <div class="form-group col-xs-4">
                        <input type="text" formControlName="custodianIban" placeholder="{{'Please fill in the custodian\'s IBAN'}}">
                        <span class="field-error" *ngIf="hasError(['custodianHolderCustom', 'custodianIban'])">{{'Field is required' | translate}}</span>
                    </div>
                </div>
                <p>
                    {{'Please fill in the custodian\'s office address:'}}
                </p>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <input type="text" formControlName="custodianAddressLine1" placeholder="{{'Address line 1'}}">
                        <span class="field-error" *ngIf="hasError(['custodianHolderCustom', 'custodianAddressLine1'])">{{'Field is required' | translate}}</span>
                    </div>
                    <div class="form-group col-xs-4">
                        <input type="text" formControlName="custodianAddressLine2" placeholder="{{'Address line 2'}}">
                    </div>
                    <div class="form-group col-xs-4">
                        <input type="text" formControlName="custodianZipCode" placeholder="{{'Please fill in a ZIP code'}}">
                        <span class="field-error" *ngIf="hasError(['custodianHolderCustom', 'custodianZipCode'])">{{'Field is required' | translate}}</span>
                    </div>
                    <div class="form-group col-xs-4">
                        <input type="text" formControlName="custodianCity" placeholder="{{'Please fill in a city'}}">
                        <span class="field-error" *ngIf="hasError(['custodianHolderCustom', 'custodianCity'])">{{'Field is required' | translate}}</span>
                    </div>
                    <div class="form-group col-xs-4">
                        <ng-select [items]="countries" formControlName="custodianCountry" placeholder="{{'Please select a country' | translate}}"></ng-select>
                        <span class="field-error" *ngIf="hasError(['custodianHolderCustom', 'custodianCountry'])">{{'Field is required' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>