[beneficiary-line]{
    cursor: pointer;
}

.right{
    text-align: right;
}

table{
    table-layout: fixed;
}

tbody tr:not(.empty){
    &:hover{
        background-color: #555555;
        color: #9A9A9A;
    }
}

.empty{
    td{
        padding: 30px;
    }
}