<td>{{beneficiaryType | translate}}</td>
<td>{{name}}</td>
<td>{{parentText}}</td>
<td>{{countryTaxResidence | translate}}</td>
<td>{{nationality | translate}}</td>
<td>{{holdingPercentage}} %</td>
<td class="no-hover">{{holdingType}}</td>
<td class="no-hover">{{votingPercentage}} %</td>
<td class="hover" (click)="handleActionsClick($event)" colspan="2">
    <div class="actions">
        <button class="btn btn-primary btn-sm" (click)="addChild($event)"><i class="fa fa-plus"></i> {{'Add child' | translate}}</button>
        <button class="btn btn-sm" (click)="editStakeholder($event)">{{'Edit' | translate}}</button>
        <button class="btn btn-sm" (click)="removeStakeholder($event)">
            <i class="fa fa-trash"></i>
            {{'Delete' | translate}}
        </button>
    </div>
</td>