<div [formGroup]="form">

    <div class="row">
        <div class="form-group Acol-sm-4">
            <label for="beneficiaryType">{{ 'Beneficiary Type' | translate }}</label>
            <ng-select class="large-select"
                        id="beneficiaryType"
                        [items]="beneficiaryTypesList"
                        formControlName="beneficiaryType"
                        placeholder="{{ 'Select the beneficiary\'s type' | translate }}"></ng-select>
        </div>
    </div>

    <div *ngIf="!isDisabled('legalPerson')" formGroupName="legalPerson">

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="firstName-benef-{{index}}">{{ 'Registered Company Name or Legal Name' | translate }}</label>
                <input type="text"
                        id="legalName-benef-{{index}}"
                        formControlName="legalName"
                        placeholder="{{ 'Fill in company name or legal name' | translate }}">
                <span class="field-error" *ngIf="hasError(['legalPerson', 'legalName'], ['required'])">{{ 'Field is required' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['legalPerson', 'legalName'], ['maxlength'])">{{ 'Name is too long' | translate }}</span>
            </div>
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="leiCode-benef-{{index}}">{{ 'LEI Code' | translate }}</label>
                <input type="text"
                        id="leiCode-benef-{{index}}"
                        formControlName="leiCode"
                        placeholder="{{ 'Fill in company LEI code' | translate }}">
                <span class="field-error" *ngIf="hasError(['legalPerson', 'leiCode'], ['required'])">{{ 'Field is required' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['legalPerson', 'leiCode'], ['pattern'])">{{ 'LEI must be 20 characters long' | translate }}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="address-benef-{{index}}">{{ 'Stakeholder Address' | translate }}</label>
                <input type="text"
                        id="address-benef-{{index}}"
                        [formControl]="form.get('common.address')"
                        placeholder="{{ 'Fill in an address' | translate }}">
                <span class="field-error" *ngIf="hasError(['common', 'address'], ['required'])">{{ 'Field is required' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['common', 'address'], ['maxlength'])">{{ 'Address is too long' | translate }}</span>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label" for="address2-benef-{{index}}">&nbsp;</label>
                <input type="text"
                        id="address2-benef-{{index}}"
                        [formControl]="form.get('common.address2')"
                        placeholder="{{ 'Address Line 2' | translate }}">
                <span class="field-error" *ngIf="hasError(['common', 'address2'], ['required'])">{{ 'Field is required' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['common', 'address2'], ['maxlength'])">{{ 'Address is too long' | translate }}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="zipCode-benef-{{index}}">{{ 'ZIP Code' | translate }}</label>
                <input type="text"
                        id="zipCode-benef-{{index}}"
                        [formControl]="form.get('common.zipCode')"
                        placeholder="{{ 'Fill in a ZIP code' | translate }}">
                <span class="field-error" *ngIf="hasError(['common', 'zipCode'], ['required'])">{{ 'Field is required' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['common', 'zipCode'], ['maxlength'])">{{ 'ZIP code is too long' | translate }}</span>
            </div>
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="city-benef-{{index}}">{{ 'City' | translate }}</label>
                <input type="text"
                        id="city-benef-{{index}}"
                        [formControl]="form.get('common.city')"
                        placeholder="{{ 'Fill in a city' | translate }}">
                <span class="field-error" *ngIf="hasError(['common', 'city'], ['required'])">{{ 'Field is required' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['common', 'city'], ['maxlength'])">{{ 'City is too long' | translate }}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="country-benef-{{index}}"> {{ 'Country' | translate }}</label>
                <ng-select id="country-benef-{{index}}"
                            [items]="countries"
                            [formControl]="form.get('common.country')"
                            placeholder="{{ 'Select a country' | translate }}"></ng-select>
                <span class="field-error" *ngIf="hasError(['common', 'country'])">{{ 'Field is required' | translate }}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="nationalIdNumber-benef-{{index}}">{{ 'National Identification Number' | translate }}</label>
                <ng-select id="nationalIdNumber-benef-{{index}}" 
                            [items]="identificationNumberList" 
                            formControlName="nationalIdNumber" 
                            placeholder="{{ 'Select identification number type' | translate }}"></ng-select>
                <span class="field-error" *ngIf="hasError(['legalPerson', 'nationalIdNumber'], ['required'])">{{ 'Field is required' | translate }}</span>
            </div>

            <div *ngIf="!isDisabled(['legalPerson', 'nationalIdNumberText'])" class="form-group required-field col-sm-6">
                <label class="control-label" for="nationalIdNumberText-benef-{{index}}">&nbsp;</label>
                <input type="text" 
                        formControlName="nationalIdNumberText" 
                        placeholder="{{'Fill in an identification number' | translate}}">
                <span class="field-error" *ngIf="hasError(['legalPerson', 'nationalIdNumberText'], ['required'])">{{ 'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['legalPerson', 'nationalIdNumberText'], ['validSiren'])">{{ 'SIREN must be 9 digits long' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['legalPerson', 'nationalIdNumberText'], ['validSiret'])">{{ 'SIRET must be 14 digits long' | translate }}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label for="holdingPercentage-benef-{{index}}">{{ 'Holding Percentage' | translate }}</label>
                <input id="holdingPercentage-benef-{{index}}" 
                        type="number" 
                        [formControl]="form.get('common.holdingPercentage')" 
                        placeholder="{{ 'Define a value (%)' | translate }}">
                <span class="field-error" *ngIf="hasError(['common', 'holdingPercentage'], ['required'])">{{ 'Field is required' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['common', 'holdingPercentage'], ['min', 'max'])">{{ 'Value must be between 0 and 100' | translate }}</span>
            </div>

            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="holdingType-benef-{{index}}">{{' Holding Type' | translate }}</label>
                <ng-select id="holdingType-benef-{{index}}" 
                            [items]="holdingTypesList" 
                            [formControl]="form.get('common.holdingType')" 
                            placeholder="{{ 'Select a type' | translate }}"></ng-select>
                <span class="field-error" *ngIf="hasError(['common', 'holdingType'], ['required'])">{{ 'Field is required' | translate }}</span>
            </div>
        </div>

    </div>

    <div *ngIf="!isDisabled('naturalPerson')" formGroupName="naturalPerson">

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="firstName-benef-{{index}}">{{ 'First Name' | translate }}</label>
                <input type="text" 
                        id="firstName-benef-{{index}}" 
                        formControlName="firstName" 
                        placeholder="{{ 'Fill in first name' | translate }}">
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'firstName'], ['required'])">{{ 'Field is required' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'firstName'], ['maxlength'])">{{ 'Field is too long' | translate }}</span>
            </div>
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="lastName-benef-{{index}}">{{ 'Last Name' | translate }}</label>
                <input type="text" 
                        id="lastName-benef-{{index}}" 
                        formControlName="lastName" 
                        placeholder="{{ 'Fill in last name' | translate }}">
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'lastName'], ['required'])">{{ 'Field is required' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'lastName'], ['maxlength'])">{{ 'Field is too long' | translate }}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="address-benef-{{index}}">{{ 'Beneficiary\'s Address' | translate }}</label>
                <input type="text"
                        id="address-benef-{{index}}"
                        [formControl]="form.get('common.address')"
                        placeholder="{{ 'Fill in beneficiary\'s address' | translate }}">
                <span class="field-error" *ngIf="hasError(['common', 'address'])">{{ 'Field is required' | translate }}</span>
            </div>

            <div class="form-group col-sm-6">
                <label class="control-label" for="address2-benef-{{index}}">&nbsp;</label>
                <input type="text"
                        id="address2-benef-{{index}}"
                        [formControl]="form.get('common.address2')"
                        placeholder="{{ 'Address Line 2' | translate }}">
                <span class="field-error" *ngIf="hasError(['common', 'address2'], ['required'])">{{ 'Field is required' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['common', 'address2'], ['maxlength'])">{{ 'Address is too long' | translate }}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="zipCode-benef-{{index}}">{{ 'ZIP Code' | translate }}</label>
                <input type="text"
                        id="zipCode-benef-{{index}}"
                        [formControl]="form.get('common.zipCode')"
                        placeholder="{{ 'Fill in a ZIP code' | translate }}">
                <span class="field-error" *ngIf="hasError(['common', 'zipCode'], ['required'])">{{ 'Field is required' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['common', 'zipCode'], ['maxlength'])">{{ 'ZIP code is too long' | translate }}</span>
            </div>
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="city-benef-{{index}}">{{ 'City' | translate }}</label>
                <input type="text"
                        id="city-benef-{{index}}" 
                        [formControl]="form.get('common.city')" 
                        placeholder="{{ 'Fill in a city' }}">
                <span class="field-error" *ngIf="hasError(['common', 'city'], ['required'])">{{ 'Field is required' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['common', 'city'], ['maxlength'])">{{ 'City is too long' | translate }}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="country-benef-{{index}}">{{ 'Country' | translate }}</label>
                <ng-select id="country-benef-{{index}}"
                            [items]="countries"
                            [formControl]="form.get('common.country')"
                            placeholder="{{ 'Select a country' | translate }}"></ng-select>
                <span class="field-error" *ngIf="hasError(['common', 'country'])">{{ 'Field is required' | translate }}</span>
            </div>
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="nationality-benef-{{index}}">{{ 'Nationality' | translate }}</label>
                <ng-select id="nationality-benef-{{index}}"
                            [items]="countries"
                            [formControl]="form.get('naturalPerson.nationality')"
                            placeholder="{{ 'Select a country' | translate }}"></ng-select>
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'nationality'])">{{ 'Field is required' | translate }}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label for="dateOfBirth-benef-{{index}}" class="control-label">{{ 'Date of Birth' | translate }}</label>

                <div class="input-group date-pick-wrapper">
                    <span class="fa fa-calendar" aria-hidden="true"></span>
                    <input autocomplete="off"
                            [dpDayPicker]="configDate"
                            id="dateOfBirth-benef-{{index}}"
                            formControlName="dateOfBirth"
                            placeholder="{{configDate.format}}"
                            mode="day"
                            theme="dp-material">
                </div>
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'dateOfBirth'])">{{ 'Field is required' | translate }}</span>
            </div>

            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="cityOfBirth-benef-{{index}}">{{ 'City of Birth' | translate}}</label>
                <input type="text"
                        id="cityOfBirth-benef-{{index}}"
                        placeholder="{{ 'Fill in a city' }}">
                        formControlName="cityOfBirth">
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'cityOfBirth'], ['required'])">{{ 'Field is required' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'cityOfBirth'], ['maxlength'])">{{ 'City is too long' | translate }}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="countryOfBirth-benef-{{index}}">{{ 'Country of Birth' | translate }}</label>
                <ng-select id="countryOfBirth-benef-{{index}}"
                            [items]="countries"
                            formControlName="countryOfBirth"
                            placeholder="{{ 'Select a country' | translate }}"></ng-select>
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'countryOfBirth'])">{{ 'Field is required' | translate }}</span>
            </div>

            <div class="form-group required-field col-sm-6">
                <label for="beneficiary-document-benef-{{index}}" class="control-label">{{ 'Identity Proof Document' | translate }}</label>
                <div class="filedrop-wrapper">
                    <setl-file-drop filePermission="0"
                                    class="form-control"
                                    id="beneficiary-document-benef-{{index}}"
                                    (onDrop)="uploadFile($event)"
                                    [preset]="form.get(['naturalPerson', 'document']).value"
                                    [inline]="true"
                                    ngDefaultControl>
                    </setl-file-drop>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label for="holdingPercentage-benef-{{index}}">{{ 'Holding Percentage' | translate }}</label>
                <input id="holdingPercentage-benef-{{index}}" 
                        type="number" 
                        [formControl]="form.get('common.holdingPercentage')" 
                        placeholder="{{ 'Define a value (%)' | translate }}">
                <span class="field-error" *ngIf="hasError(['common', 'holdingPercentage'], ['required'])">{{ 'Field is required' | translate }}</span>
                <span class="field-error" *ngIf="hasError(['common', 'holdingPercentage'], ['min', 'max'])">{{ 'Value must be between 0 and 100' | translate }}</span>
            </div>

            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="holdingType-benef-{{index}}">{{ 'Holding Type' | translate }}</label>
                <ng-select id="holdingType-benef-{{index}}" 
                            [items]="holdingTypesList" 
                            [formControl]="form.get('common.holdingType')" 
                            placeholder="{{ 'Select a type' | translate }}"></ng-select>
                <span class="field-error" *ngIf="hasError(['common', 'holdingType'], ['required'])">{{ 'Field is required' | translate }}</span>
            </div>
        </div>
    </div>
</div>