<div [formGroup]="form">

    <div class="row">
        <div class="form-group Acol-sm-4">
            <label for="beneficiaryType">{{'Beneficiary type' | translate}}</label>
            <ng-select class="large-select" id="beneficiaryType" [items]="beneficiaryTypesList" formControlName="beneficiaryType" placeholder="{{'Please fill in beneficiary\'s type' | translate}}"></ng-select>
        </div>
    </div>

    <div *ngIf="!isDisabled('legalPerson')" formGroupName="legalPerson">

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="firstName">{{'Registered company name or legal name' | translate}}</label>
                <input type="text" id="legalName" formControlName="legalName" placeholder="Please fill in beneficiary's company name or legal name">
                <span class="field-error" *ngIf="hasError(['legalPerson', 'legalName'], ['required'])">{{'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['legalPerson', 'legalName'], ['maxlength'])">{{'Field is too long' | translate}}</span>
            </div>
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="leiCode">{{'LEI Code' | translate}}</label>
                <input type="text" id="leiCode" formControlName="leiCode" placeholder="{{'Please fill in beneficiary\'s company LEI code'}}">
                <span class="field-error" *ngIf="hasError(['legalPerson', 'leiCode'], ['required'])">{{'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['legalPerson', 'leiCode'], ['pattern'])">{{'Incorrect LEI, should be 20 characters long' | translate}}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="address">{{'Beneficiary address' | translate}}</label>
                <input type="text" id="address" [formControl]="form.get('common.address')" placeholder="{{'Please fill in beneficiary\'s address'}}">
                <span class="field-error" *ngIf="hasError(['common', 'address'], ['required'])">{{'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['common', 'address'], ['maxlength'])">{{'Field is too long' | translate}}</span>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label" for="address2">&nbsp;</label>
                <input type="text" id="address2" [formControl]="form.get('common.address2')" placeholder="{{'Address line 2'}}">
                <span class="field-error" *ngIf="hasError(['common', 'address2'], ['required'])">{{'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['common', 'address2'], ['maxlength'])">{{'Field is too long' | translate}}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="zipCode">{{'ZIP Code' | translate}}</label>
                <input type="text" id="zipCode" [formControl]="form.get('common.zipCode')" placeholder="{{'Please fill in a ZIP Code'}}">
                <span class="field-error" *ngIf="hasError(['common', 'zipCode'], ['required'])">{{'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['common', 'zipCode'], ['maxlength'])">{{'Field is too long' | translate}}</span>
            </div>
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="city">{{'City' | translate}}</label>
                <input type="text" id="city" [formControl]="form.get('common.city')" placeholder="{{'Please fill in a city'}}">
                <span class="field-error" *ngIf="hasError(['common', 'city'], ['required'])">{{'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['common', 'city'], ['maxlength'])">{{'Field is too long' | translate}}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="country-{{index}}">{{'Country' | translate}}</label>
                <ng-select id="country-{{index}}" [items]="countries" [formControl]="form.get('common.country')" placeholder="{{'Select a country' | translate}}"></ng-select>
                <span class="field-error" *ngIf="hasError(['common', 'country'])">{{'Field is required' | translate}}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="nationalIdNumber-{{index}}">{{'National Identification Number' | translate}}</label>
                <ng-select id="nationalIdNumber-{{index}}" [items]="nationalIdNumberList" formControlName="nationalIdNumber" placeholder="{{'Please select a value' | translate}}"></ng-select>
                <span class="field-error" *ngIf="hasError(['legalPerson', 'nationalIdNumber'], ['required'])">{{'Field is required' | translate}}</span>
            </div>

            <div *ngIf="!isDisabled(['legalPerson', 'nationalIdNumberText'])" class="form-group required-field col-sm-6">
                <label class="control-label" for="nationalIdNumberText-{{index}}">{{'Please specify your National Identification Number'}}</label>
                <input type="text" formControlName="nationalIdNumberText" placeholder="{{'National Identification Number' | translate}}">
                <span class="field-error" *ngIf="hasError(['legalPerson', 'nationalIdNumberText'], ['required'])">{{'Field is required' | translate}}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label for="holdingPercentage">{{'Holding percentage' | translate}}</label>
                <input id="holdingPercentage" type="number" [formControl]="form.get('common.holdingPercentage')" placeholder="%">
                <span class="field-error" *ngIf="hasError(['common', 'holdingPercentage'], ['required'])">{{'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['common', 'holdingPercentage'], ['min', 'max'])">{{'Value must be between 0 and 100' | translate}}</span>
            </div>

            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="holdingType-{{index}}">{{'Holding type' | translate}}</label>
                <ng-select id="holdingType-{{index}}" [items]="holdingTypesList" [formControl]="form.get('common.holdingType')" placeholder="{{'Please select beneficiary\'s holding type' | translate}}"></ng-select>
                <span class="field-error" *ngIf="hasError(['common', 'holdingType'], ['required'])">{{'Field is required' | translate}}</span>
            </div>
        </div>

    </div>

    <div *ngIf="!isDisabled('naturalPerson')" formGroupName="naturalPerson">

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="firstName">{{'First name' | translate}}</label>
                <input type="text" id="firstName" formControlName="firstName" placeholder="{{'Please specify beneficiary\'s first name' | translate}}">
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'firstName'], ['required'])">{{'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'firstName'], ['maxlength'])">{{'Field is too long' | translate}}</span>
            </div>
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="lastName">{{'Last name' | translate}}</label>
                <input type="text" id="lastName" formControlName="lastName" placeholder="{{'Please specify beneficiary\'s last name' | translate}}">
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'lastName'], ['required'])">{{'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'lastName'], ['maxlength'])">{{'Field is too long' | translate}}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="address">{{'Beneficiary\'s Address' | translate}}</label>
                <input type="text" id="address" [formControl]="form.get('common.address')" placeholder="{{'Please fill in beneficiary\'s address'}}">
                <span class="field-error" *ngIf="hasError(['common', 'address'])">{{'Field is required' | translate}}</span>
            </div>

            <div class="form-group col-sm-6">
                <label class="control-label" for="address2">&nbsp;</label>
                <input type="text" id="address2" [formControl]="form.get('common.address2')" placeholder="{{'Address line 2'}}">
                <span class="field-error" *ngIf="hasError(['common', 'address2'], ['required'])">{{'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['common', 'address2'], ['maxlength'])">{{'Field is too long' | translate}}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="zipCode">{{'ZIP Code' | translate}}</label>
                <input type="text" id="zipCode" [formControl]="form.get('common.zipCode')" placeholder="{{'Please fill in a ZIP Code'}}">
                <span class="field-error" *ngIf="hasError(['common', 'zipCode'], ['required'])">{{'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['common', 'zipCode'], ['maxlength'])">{{'Field is too long' | translate}}</span>
            </div>
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="city">{{'City' | translate}}</label>
                <input type="text" id="city" [formControl]="form.get('common.city')" placeholder="{{'Please fill in a city'}}">
                <span class="field-error" *ngIf="hasError(['common', 'city'], ['required'])">{{'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['common', 'city'], ['maxlength'])">{{'Field is too long' | translate}}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="country-{{index}}">{{'Country' | translate}}</label>
                <ng-select id="country-{{index}}" [items]="countries" [formControl]="form.get('common.country')" placeholder="{{'Select a country' | translate}}"></ng-select>
                <span class="field-error" *ngIf="hasError(['common', 'country'])">{{'Field is required' | translate}}</span>
            </div>
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="nationality">{{'Nationality' | translate}}</label>
                <ng-select id="nationality" [items]="countries" [formControl]="form.get('naturalPerson.nationality')" placeholder="{{'Select a country' | translate}}"></ng-select>
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'nationality'])">{{'Field is required' | translate}}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label for="dateOfBirth-{{index}}" class="control-label">{{'Date of birth' | translate}}</label>

                <div class="input-group date-pick-wrapper">
                    <span class="fa fa-calendar" aria-hidden="true"></span>
                    <input autocomplete="off" [dpDayPicker]="configDate" id="dateOfBirth-{{index}}" formControlName="dateOfBirth" placeholder="{{configDate.format}}" mode="day" theme="dp-material">
                </div>
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'dateOfBirth'])">{{'Field is required' | translate}}</span>
            </div>

            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="cityOfBirth-{{index}}">{{'City of birth' | translate}}</label>
                <input type="text" id="cityOfBirth-{{index}}" formControlName="cityOfBirth">
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'cityOfBirth'], ['required'])">{{'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'cityOfBirth'], ['maxlength'])">{{'Field is too long' | translate}}</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="countryOfBirth-{{index}}">{{'Country of birth' | translate}}</label>
                <ng-select id="countryOfBirth-{{index}}" [items]="countries" formControlName="countryOfBirth" placeholder="{{'Select a country' | translate}}"></ng-select>
                <span class="field-error" *ngIf="hasError(['naturalPerson', 'countryOfBirth'])">{{'Field is required' | translate}}</span>
            </div>

            <div class="form-group required-field col-sm-6">
                <label for="beneficiary-document-{{index}}" class="control-label">{{'Identity proof document' | translate}}</label>
                <div class="filedrop-wrapper">
                    <setl-file-drop filePermission="0" class="form-control" id="beneficiary-document-{{index}}"
                                    (onDrop)="uploadFile($event)"
                                    [preset]="form.get(['naturalPerson', 'document']).value"
                                    ngDefaultControl
                    ></setl-file-drop>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group required-field col-sm-6">
                <label for="holdingPercentage">{{'Holding percentage' | translate}}</label>
                <input id="holdingPercentage" type="number" [formControl]="form.get('common.holdingPercentage')" placeholder="%">
                <span class="field-error" *ngIf="hasError(['common', 'holdingPercentage'], ['required'])">{{'Field is required' | translate}}</span>
                <span class="field-error" *ngIf="hasError(['common', 'holdingPercentage'], ['min', 'max'])">{{'Value must be between 0 and 100' | translate}}</span>
            </div>

            <div class="form-group required-field col-sm-6">
                <label class="control-label" for="holdingType-{{index}}">{{'Holding type' | translate}}</label>
                <ng-select id="holdingType-{{index}}" [items]="holdingTypesList" [formControl]="form.get('common.holdingType')" placeholder="{{'Please select beneficiary\'s holding type' | translate}}"></ng-select>
                <span class="field-error" *ngIf="hasError(['common', 'holdingType'], ['required'])">{{'Field is required' | translate}}</span>
            </div>
        </div>
    </div>

</div>