<div [formGroup]="form" class="well">
    <div class="row panel-header clr-align-items-center">
        <div class="col-sm-9">
            <a href="#" (click)="open = !open; $event.preventDefault();">
                <i class="fa fa-chevron-right" [class.rotate]="open"></i>
                <h2>{{ 'General Information' | translate }}</h2>
            </a>
        </div>
        <div class="col-sm-3 text-right">
            <div class="pgContainer" [formpercent]="{form: form, animated : false, stripes: false}"></div>
        </div>
    </div>

    <div class="row panel-body" [class.hidden]="!open">
        <div class="col-xs-12">

            <div class="row">
                <div class="form-group required-field col-sm-6">
                    <label class="control-label" for="registeredCompanyName">{{ 'Registered Company Name or Legal Name' | translate }}</label>
                    <input type="text"
                            id="registeredCompanyName"
                            formControlName="registeredCompanyName"
                            placeholder="{{ 'Fill in a company name or legal name' | translate }}">
                    <span class="field-error" *ngIf="hasError('registeredCompanyName', ['required'])">{{ 'Field is required' | translate }}</span>
                    <span class="field-error" *ngIf="hasError('registeredCompanyName', ['maxlength'])">{{ 'Name is too long' | translate }}</span>
                </div>

                <div class="form-group col-sm-6">
                    <label class="control-label" for="commercialName">{{ 'Commercial Name' | translate }}</label>
                    <input type="text"
                            id="commercialName"
                            formControlName="commercialName"
                            placeholder="{{ 'Fill in your commercial name' | translate }}">
                </div>

            </div>

            <div class="row">
                <div class="form-group required-field col-sm-6">
                    <label class="control-label" for="legalForm">{{ 'Legal Form' | translate }}</label>
                    <ng-select class="multiline"
                                id="legalForm"
                                [items]="legalFormList"
                                [formControl]="form.get('legalForm')"
                                [isDisabled]="isFormReadonly"
                                placeholder="{{ 'Select a legal form' | translate }}">
                    </ng-select>
                    <span class="field-error" *ngIf="hasError('legalForm')">{{ 'Field is required' | translate }}</span>
                </div>

                <div class="form-group required-field col-sm-6">
                    <label class="control-label" for="leiCode">{{ 'LEI Code' | translate }}</label>
                    <input type="text"
                            id="leiCode"
                            formControlName="leiCode"
                            placeholder="{{ 'If non applicable please fill in the value &quot;N/A&quot; here' | translate }}">
                    <span class="field-error" *ngIf="hasError('leiCode', ['required'])">{{ 'Field is required' | translate }}</span>
                    <span class="field-error" *ngIf="hasError('leiCode', ['pattern'])">{{ 'LEI must be 20 characters long' | translate }}</span>
                </div>
            </div>

            <div class="row">
                <div class="form-group required-field col-sm-6">
                    <label class="control-label" for="otherIdentificationNumberType">{{'Other Identification Number Type' | translate}}</label>
                    <ng-select id="otherIdentificationNumberType" [items]="identificationNumberTypeList" formControlName="otherIdentificationNumberType" placeholder="{{'Type' | translate}}"
                               [isDisabled]="isFormReadonly"
                    ></ng-select>
                    <span class="field-error" *ngIf="hasError(['otherIdentificationNumberType'], ['required'])">{{'Field is required' | translate}}</span>
                </div>

                <div *ngIf="!isDisabled(['otherIdentificationNumberTypeSpecify'])" class="form-group required-field col-sm-6">
                    <label class="control-label" for="otherIdentificationNumberTypeSpecify">{{'Your Number Type' | translate}}</label>
                    <input type="text" formControlName="otherIdentificationNumberTypeSpecify" placeholder="{{ 'Specify your identification number type' | translate }}">
                    <span class="field-error" *ngIf="hasError(['otherIdentificationNumberTypeSpecify'], ['required'])">{{ 'Field is required'
                        | translate }}</span>
                </div>
            </div>

            <div class="row">
                <div *ngIf="!isDisabled(['otherIdentificationNumberText'])" class="form-group required-field col-sm-6">
                    <label class="control-label" for="otherIdentificationNumberText">&nbsp;</label>
                    <input type="text"
                            formControlName="otherIdentificationNumberText"
                            placeholder="{{ 'Fill in your identification number' | translate }}">
                    <span class="field-error" *ngIf="hasError(['otherIdentificationNumberText'], ['required'])">{{ 'Field is required' | translate }}</span>
                    <span class="field-error" *ngIf="hasError(['otherIdentificationNumberText'], ['validSiren'])">{{ 'SIREN must be 9 digits long' | translate }}</span>
                    <span class="field-error" *ngIf="hasError(['otherIdentificationNumberText'], ['validSiret'])">{{ 'SIRET must be 14 digits long' | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group required-field col-sm-6">
                    <label class="control-label" for="shareCapital">{{'Share Capital' | translate}}</label>
                    <input type="number" formControlName="shareCapital" placeholder="{{ 'Define a value (€)' | translate }}">
                    <span class="field-error" *ngIf="hasError('shareCapital', ['required'])">{{ 'Field is required' | translate }}</span>
                    <span class="field-error" *ngIf="hasError('shareCapital', ['min'])">{{ 'Number should not be negative' | translate }}</span>
                </div>

                <div class="form-group col-sm-6">
                    <label class="control-label" for="financialRating">{{'Financial Rating' | translate}}</label>
                    <ng-select id="financialRating"
                                [items]="financialRatingList"
                                formControlName="financialRating"
                                [isDisabled]="isFormReadonly"
                                placeholder="{{ 'Select your financial rating' | translate }}">
                    </ng-select>
                </div>
            </div>

            <div class="row">
                <div class="form-group required-field col-sm-6">
                    <label class="control-label" for="registeredCompanyAddressLine1">{{ 'Registered Company Headquarter\'s Address' | translate }}</label>
                    <input type="text"
                            id="registeredCompanyAddressLine1"
                            formControlName="registeredCompanyAddressLine1"
                            placeholder="{{ 'Fill in your company headquarter\'s address' | translate }}">
                    <span class="field-error" *ngIf="hasError('registeredCompanyAddressLine1', ['required'])">{{ 'Field is required' | translate }}</span>
                    <span class="field-error" *ngIf="hasError('registeredCompanyAddressLine1', ['maxlength'])">{{ 'Address is too long' | translate }}</span>
                </div>

                <div class="form-group col-sm-6">
                    <label>&nbsp;</label>
                    <input type="text"
                            id="registeredCompanyAddressLine2"
                            formControlName="registeredCompanyAddressLine2"
                            placeholder="{{ 'Address Line 2' | translate }}">
                    <span class="field-error" *ngIf="hasError('registeredCompanyAddressLine2', ['maxlength'])">{{ 'Address is too long' | translate }}</span>
                </div>
            </div>

            <div class="row">
                <div class="form-group required-field col-sm-4">
                    <label>{{ 'ZIP Code' | translate }}</label>
                    <input type="text"
                            formControlName="registeredCompanyZipCode"
                            placeholder="{{ 'Fill in a ZIP Code' | translate }}">
                    <span class="field-error" *ngIf="hasError('registeredCompanyZipCode', ['required'])">{{ 'Field is required' | translate }}</span>
                    <span class="field-error" *ngIf="hasError('registeredCompanyZipCode', ['maxlength'])">{{ 'ZIP is too long' | translate }}</span>
                </div>

                <div class="form-group required-field col-sm-4">
                    <label>{{ 'City' | translate }}</label>
                    <input type="text"
                            formControlName="registeredCompanyCity"
                            placeholder="{{ 'Fill in a city' | translate }}">
                    <span class="field-error" *ngIf="hasError('registeredCompanyCity', ['required'])">{{ 'Field is required' | translate }}</span>
                    <span class="field-error" *ngIf="hasError('registeredCompanyCity', ['maxlength'])">{{ 'City is too long' | translate }}</span>
                </div>

                <div class="form-group required-field col-sm-4">
                    <label>{{ 'Country' | translate }}</label>
                    <ng-select [items]="countries"
                                formControlName="registeredCompanyCountry"
                                [isDisabled]="isFormReadonly"
                               placeholder="{{ 'Select a country' | translate }}">
                    </ng-select>
                    <span class="field-error" *ngIf="hasError('registeredCompanyCountry')">{{ 'Field is required' | translate }}</span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="checkbox-inline">
                        <input type="checkbox"
                                id="commercialDomiciliation"
                                formControlName="commercialDomiciliation">
                        <label for="commercialDomiciliation">
                            {{ 'Does the client have a commercial address?' | translate }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group required-field col-sm-4" *ngIf="!isDisabled(['commercialAddressLine1'])">
                    <label>{{ 'Commercial Address' | translate }}</label>
                    <input type="text"
                            formControlName="commercialAddressLine1"
                            placeholder="{{ 'Fill in your commercial address' | translate }}">
                    <span class="field-error" *ngIf="hasError('commercialAddressLine1', ['required'])">{{ 'Field is required' | translate }}</span>
                    <span class="field-error" *ngIf="hasError('commercialAddressLine1', ['maxlength'])">{{ 'Address is too long' | translate }}</span>
                </div>

                <div class="form-group col-sm-4" *ngIf="!isDisabled(['commercialAddressLine2'])">
                    <label>&nbsp;</label>
                    <input type="text"
                            formControlName="commercialAddressLine2"
                            placeholder="{{'Address Line 2' | translate}}">
                    <span class="field-error" *ngIf="hasError('commercialAddressLine2', ['required'])">{{ 'Field is required' | translate }}</span>
                    <span class="field-error" *ngIf="hasError('commercialAddressLine2', ['maxlength'])">{{ 'Address is too long' | translate }}</span>
                </div>
            </div>

            <div class="row">
                <div class="form-group required-field col-sm-4" *ngIf="!isDisabled(['commercialZipCode'])">
                    <label>{{ 'ZIP Code' | translate }}</label>
                    <input type="text"
                            formControlName="commercialZipCode"
                            placeholder="{{ 'Fill in a ZIP Code' | translate }}">
                    <span class="field-error" *ngIf="hasError('commercialZipCode', ['required'])">{{ 'Field is required' | translate }}</span>
                    <span class="field-error" *ngIf="hasError('commercialZipCode', ['maxlength'])">{{ 'ZIP is too long' | translate }}</span>
                </div>

                <div class="form-group required-field col-sm-4" *ngIf="!isDisabled(['commercialCity'])">
                    <label>{{ 'City' | translate }}</label>
                    <input type="text"
                            formControlName="commercialCity"
                            placeholder="{{ 'Fill in a city' | translate }}">
                    <span class="field-error" *ngIf="hasError('commercialCity', ['required'])">{{ 'Field is required' | translate }}</span>
                    <span class="field-error" *ngIf="hasError('commercialCity', ['maxlength'])">{{ 'City is too long' | translate }}</span>
                </div>

                <div class="form-group required-field col-sm-4" *ngIf="!isDisabled(['commercialCountry'])">
                    <label>{{ 'Country' | translate }}</label>
                    <ng-select [items]="countries"
                                formControlName="commercialCountry"
                                [isDisabled]="isFormReadonly"
                                placeholder="{{ 'Select a country' | translate }}">
                    </ng-select>
                    <span class="field-error" *ngIf="hasError('commercialCountry', ['required'])">{{ 'Field is required' | translate }}</span>
                </div>
            </div>

            <div class="row">
                <div class="form-group required-field col-sm-6">
                    <label class="control-label" for="countryTaxResidence">{{ 'Country of Tax Residence' | translate }}</label>
                    <ng-select id="countryTaxResidence"
                                [items]="countries"
                                formControlName="countryTaxResidence"
                                [isDisabled]="isFormReadonly"
                                placeholder="{{' Select a tax residence country' | translate}}">
                    </ng-select>
                    <span class="field-error" *ngIf="hasError('countryTaxResidence')">{{ 'Field is required' | translate }}</span>
                </div>

                <div class="form-group required-field col-sm-6">
                    <label class="control-label" for="countryRegistration">{{ 'Country of Registration' | translate }}</label>
                    <ng-select id="countryRegistration"
                                [items]="countries"
                                formControlName="countryRegistration"
                                [isDisabled]="isFormReadonly"
                                placeholder="{{' Select a country' | translate}}">
                    </ng-select>
                    <span class="field-error" *ngIf="hasError('countryRegistration')">{{ 'Field is required' | translate }}</span>
                </div>
            </div>

        </div>
    </div>
</div>
