<div class="header-breadcrumbs">
    <h1><i class="fa fa-wpforms"></i> <span mltag="txt_ui_forms">Forms</span></h1>
</div>

<div class="padding">
    <a href="#" class="toggle-info-panes" (click)="toggleInfoPanes($event)">{{ showInfoPanes ? '[-] hide info panes' : '[+] show info panes' }}</a>
    <app-ui-info-pane [hidden]="!showInfoPanes" [message]="'This info pane does not make up part of these guidelines. If you see this pane displayed in any of the below items, it is just for informational purposes. To view the source code for this page, go to @setl/core-layout/layouts/ui-form/components/forms.'"></app-ui-info-pane>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink id="standardform">
            <i class="fa fa-bars"></i> <span mltag="txt_ui_standardform">Standard Form</span>
        </button>

        <clr-tab-content *clrIfActive>
            <form [formGroup]="basicForm" (ngSubmit)="submitForm()">
                <section class="form-block">
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="input" mltag="txt_ui_inputfield">Input field</label>
                        <input type="text" name="input" id="input" formControlName="input" />
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="control-label required-field" for="inputRequired" mltag="txt_ui_inputfieldreq">Input field (required)</label>
                        <input type="text" name="inputRequired" id="inputRequired" formControlName="inputRequired" />
                        <span class="field-error">Field is required</span>
                        <br />
                        <app-ui-info-pane [hidden]="!showInfoPanes" [message]="'Add \'required-field\' class to the \'label\' or the \'.form-group\' to show the asterix.'"></app-ui-info-pane>
                    </div>
                    
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="inputIcon" mltag="txt_ui_inputicon">Input icon</label>
                        <div class="input-group">
                            <span class="fa fa-calendar"></span>
                            <input name="inputIcon" id="inputIcon" formControlName="inputIcon" />
                        </div>
                    </div>
                    
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="select" mltag="txt_ui_select">Dropdown</label>
                        <ng-select id="select"
                            [items]="mockSelectItems"
                            [allowClear]="true"
                            placeholder="Select"
                            [formControl]="basicForm.controls['select']"
                            mltag="txt_ui_select">
                        </ng-select>
                    </div>
                    
                    <div class="form-group col-sm-6">
                        <button id="submit" type="submit" class="btn btn-primary" mltag="txt_ui_submit">Submit Button</button>
                    </div>

                    <app-ui-info-pane [hidden]="!showInfoPanes" [message]="'Form fields should be 50% of the width of their container. This can be achieved with the \'col-sm-6\' class.'"></app-ui-info-pane>
                </section>
            </form>
        </clr-tab-content>
    </clr-tab>
    
    <clr-tab>
        <button clrTabLink id="longform">
            <i class="fa fa-bars"></i> <span mltag="txt_ui_longform">Long Form</span>
        </button>
        
        <clr-tab-content *clrIfActive>
            <form [formGroup]="longForm" (ngSubmit)="submitForm()">
                <section class="form-block">
                    <div class="row">
                        <div class="form-group required-field col-sm-6">
                            <label class="control-label" for="firstName" mltag="txt_ui_firstname">First name</label>
                            <input type="text" name="firstName" id="firstName" formControlName="firstName" />
                            <span class="field-error">Field is required</span>
                        </div>
                        
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" for="lastName" mltag="txt_ui_lastname">Last name</label>
                            <input type="text" name="lastName" id="lastName" formControlName="lastName" />
                            <span class="field-error">Field is required</span>
                        </div>                                    
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" for="password" mltag="txt_ui_password">Password</label>
                            <input type="password" name="password" id="password" formControlName="password" />
                            <span class="field-error">Field is required</span>
                        </div>
                        
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" for="passwordConfirm" mltag="txt_ui_passwordconfirm">Confirm password</label>
                            <input type="password" name="passwordConfirm" id="passwordConfirm" formControlName="passwordConfirm" />
                            <span class="field-error">Field is required</span>
                        </div>
                        
                        <app-ui-info-pane [hidden]="!showInfoPanes" [message]="'Simply wrap 2 \'form-group col-sm-6\' in a \'row\' class to achieve side-by-side fields.'"></app-ui-info-pane>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="control-label" for="input" mltag="txt_ui_inputfield">Input field</label>
                        <input type="text" name="input" id="input" formControlName="input" />
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="control-label required-field" for="inputRequired" mltag="txt_ui_inputfieldreq">Input field (required)</label>
                        <input type="text" name="inputRequired" id="inputRequired" formControlName="inputRequired" />
                        <span class="field-error">Field is required</span>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="control-label" for="inputIcon" mltag="txt_ui_inputicon">Input icon</label>
                        <div class="input-group">
                            <span class="fa fa-calendar"></span>
                            <input name="inputIcon" id="inputIcon" formControlName="inputIcon" />
                        </div>
                        
                        <app-ui-info-pane [hidden]="!showInfoPanes" [message]="'Add icons to inputs that need it such as Date and Time.'"></app-ui-info-pane>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="control-label" for="select" mltag="txt_ui_select">Dropdown</label>
                        <ng-select id="select"
                            [items]="mockSelectItems"
                            [allowClear]="true"
                            placeholder="Select"
                            [formControl]="longForm.controls['select']"
                            mltag="txt_ui_select">
                        </ng-select>
                    </div>

                    <div class="form-group col-sm-6">
                        <button id="submit" type="submit" class="btn btn-primary" mltag="txt_ui_submit">Submit Button</button>
                    </div>
                </section>
            </form>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>