<div *ngIf="!alternate" id="blockchain-status-tracker" [class.active]="showStatusView" (click)="showStatusView = !showStatusView">
    <div class="fail" [class.update]="failUpdate">{{ failCount }}</div>
    <div class="pending" [class.update]="pendingUpdate">{{ pendingCount }}</div>
    <div class="success" [class.update]="successUpdate">{{ successCount }}</div>
</div>

<div *ngIf="alternate" id="blockchain-status-tracker" class="alternate" [class.active]="showStatusView" (click)="showStatusView = !showStatusView">
    <div class="fail" [class.update]="failUpdate">
        Failed <span>{{ failCount }}</span>
    </div>
    <div class="pending" [class.update]="pendingUpdate">
        Pending <span>{{ pendingCount }}</span>
    </div>
    <div class="success" [class.update]="successUpdate">
        Complete <span>{{ successCount }}</span>
    </div>
</div>

<clr-modal *ngIf="display === 'modal'" [(clrModalOpen)]="showStatusView" [clrModalSize]="'lg'">
    <h3 class=" modal-title">{{ 'Blockchain transaction status' | translate }}</h3>
    <div class="modal-body">
        <div class="alert alert-danger" *ngIf="maxTransactions">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                    </div>
                    <span class="alert-text">{{ 'Unable to display new transactions as the limit has been reached' | translate }}</span>
                </div>
            </div>
        </div>

        <ng-container *ngTemplateOutlet="transactionsDatagrid"></ng-container>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="showStatusView = false">OK</button>
    </div>
</clr-modal>

<div *ngIf="display === 'dropdown'" class="dropdown" [class.active]="showStatusView" [class.alternate]="alternate">
    <ng-container *ngTemplateOutlet="transactionsDatagrid"></ng-container>
    <div class="footer">
        <button class="btn btn-link" (click)="navigateToReport()">VIEW ALL</button>
    </div>
</div>

<ng-template #transactionsDatagrid>
    <clr-datagrid #myDataGrid *ngIf="showStatusView">
        <clr-dg-column class="sm-col">{{ 'Status' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'TX Hash' | translate }}        </clr-dg-column>
        <clr-dg-column class="sm-col">
           {{ 'Date Requested' | translate }}
        </clr-dg-column>

        <clr-dg-row *clrDgItems="let tx of txList">
            <clr-dg-cell class="sm-col">
                <span *ngIf="tx.success" class="label label-success">{{ 'Success' | translate }}</span>
                <span *ngIf="!tx.success && !tx.fail" class="label label-warning">{{ 'Pending' | translate }}</span>
                <span *ngIf="tx.fail" class="label label-danger">{{ 'Fail' | translate }}</span>
            </clr-dg-cell>
            <clr-dg-cell>{{ tx.hash }}</clr-dg-cell>
            <clr-dg-cell class="sm-col">{{ tx.date }}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer *ngIf="display === 'modal'">
            <div rowsPerPage="5" (rowsUpdate)="pageSize = $event"></div>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            <clr-dg-pagination #pagination [clrDgPageSize]="pageSize"></clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>
</ng-template>