<div class="header-breadcrumbs">
    <h1 id="manage-users"><i class="fa fa-users"></i> <span mltag="txt_manageuser">Manage User</span></h1>
</div>

<div class="wrapper wrapper-content">

    <clr-tabs *ngIf="tabsControl.length">
        <clr-tab *ngFor="let tabdata of tabsControl; let id = index">
            <button clrTabLink id="user-tab-{{id}}" [routerLink]="['/user-administration/users', id]">
                <i class="fa {{tabdata.title.icon}}"></i> {{tabdata.title.text}}
            </button>
            <clr-tab-content *clrIfActive="tabdata.active">
                
                <!-- Search Users -->
                <div class="row">
                    <div class="col-sm-12"> 
                        <div class="custom-search left" *ngIf="id === 0">                    
                            
                            <input type="form-control text" 
                                    placeholder="Enter username or email" 
                                    #searchBox (keyup.enter)="handleSearch(searchBox.value); searchBox.value = '';"
                                    (keyup)="showCross = (searchBox.value != '' ? true : false);" 
                                    id="messagesSearch" 
                                    mltag="txt_searchcurrentboxname">
                                        
                            <button (click)="handleSearch(searchBox.value); searchBox.value = ''; showCross = false;" class="" id="messagesSearchBtn">
                                <i class="fa fa-search"></i>
                            </button>
                            
                            <i *ngIf="showCross" class="fa fa-times searchCross" (click)="showCross = false; searchBox.value = ''"></i>

                            <span *ngIf="search" class="search-filter" [class.show]="search"><a href="#" (click)="clearSearch($event); searchBox.value='' ">
                                <i class="fa fa-search">
                                </i> {{search}} <i class="fa fa-times"></i></a>
                            </span>

                        </div>
                    </div>
                </div>    

                <!-- User list tab. -->
                <ng-container *ngIf="id === 0">
                    <ng-container *ngTemplateOutlet="staticUserListTab">

                    </ng-container>
                </ng-container>

                <!-- User add tab. -->
                <ng-container *ngIf="id === 1">
                    <ng-container
                        *ngTemplateOutlet="staticUserAddTab; context: {'formControl': tabdata.formControl, 'tabid': id}">

                    </ng-container>
                </ng-container>

                <!-- User edit tabs. -->
                <ng-container *ngIf="id >= 2">
                    <ng-container
                        *ngTemplateOutlet="dynamicEditTab; context: {'formControl': tabdata.formControl, 'tabid': id}">

                    </ng-container>
                </ng-container>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>

    <!-- User Data Table. -->
    <ng-template #staticUserListTab>
        <div class="panel-body">

            <clr-datagrid #usersDataGrid (clrDgRefresh)="datagridRefresh($event)">
                <clr-dg-column mltag="txt_username">Username</clr-dg-column>
                <clr-dg-column mltag="txt_email">Email</clr-dg-column>
                <clr-dg-column mltag="txt_account">Account</clr-dg-column>
                <clr-dg-column mltag="txt_status">Status</clr-dg-column>
                <clr-dg-column class="right" mltag="txt_actions">Actions</clr-dg-column>

                <clr-dg-row *ngFor="let user of paginatedUsersList; let i = index">
                    <clr-dg-cell><span id="username-{{user.index}}">{{user.userName}}</span></clr-dg-cell>
                    <clr-dg-cell>{{user.emailAddress}}</clr-dg-cell>
                    <clr-dg-cell>{{user.accountName}}</clr-dg-cell>
                    <clr-dg-cell>
                        <span *ngIf="user.accountLocked == 0" class="label label-success"
                              mltag="txt_enabled">Enabled</span>
                        <span *ngIf="user.accountLocked != 0" class="label label-warning"
                              mltag="txt_disabled">Disabled</span>
                    </clr-dg-cell>
                    <clr-dg-cell class="right">
                        <button id="edit-{{user.userID}}" (click)="handleEdit(user.userID)"
                                class="btn btn-success btn-sm">
                            <i class="fa fa-pencil-square-o"></i>
                            <span mltag="txt_edit">Edit</span>
                        </button>
                        <button id="delete-{{user.userID}}" (click)="handleDelete(user.userID)"
                                class="btn btn-danger btn-sm">
                            <i class="fa fa-trash-o"></i>
                            <span mltag="txt_delete">Delete</span>
                        </button>
                    </clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>
                    <div rowsPerPage="10" (rowsUpdate)="dgPageSize = $event; dgPageFrom = 0; setPaginatedUsersList(); requestPaginatedUsersList(); currentPage = 1;"></div>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    <clr-dg-pagination #pagination [clrDgPageSize]="dgPageSize" [(clrDgPage)]="currentPage" [clrDgTotalItems]="dgTotalItems"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </div>
    </ng-template>

    <!-- User Add Form. -->
    <ng-template #staticUserAddTab let-formControl="formControl" let-tabid="tabid">
        <div class="user-tab-panel-body panel-body">
            <form id="new-user-form" (ngSubmit)="handleNewUser(tabid)" [formGroup]="formControl" autocomplete="off">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div class="tooltip left tooltip-md">
                                <i class="fa fa-info-circle"></i>
                                <span class="tooltip-content">Username cannot exceed 45 characters, cannot contain spaces and can only contain letters, numbers and the following characters: . - _ @</span>
                                <label class="control-label required-field tooltip-wrapped" mltag="txt_username">Username</label>
                            </div>
                            <input id="new-user-username" type="text" formControlName="username"
                                   placeholder="Username" class="form-control username mlp_translated"
                                   mltag="txt_username">
                            <div *ngIf="formControl.controls.username.hasError('required') && formControl.controls.username.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                            <div *ngIf="formControl.controls.username.hasError('pattern') && !formControl.controls.username.hasError('required') && formControl.controls.username.touched"
                                 class="field-error">Invalid username format
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="control-label required-field"
                                   mltag="txt_email">Email</label>
                            <input id="new-user-email" type="email" formControlName="email" name="email"
                                   placeholder="Enter email..."
                                   class="form-control email mlp_translated"
                                   mltag="txt_enteremail">
                            <div *ngIf="formControl.controls.email.hasError('required') && formControl.controls.email.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                            <div *ngIf="!formControl.controls.email.valid && formControl.controls.email.touched && !formControl.controls.email.hasError('required')"
                                 class="field-error">Invalid email format
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" mltag="txt_account">Account</label>
                            <ng-select
                                id="new-user-account-select"
                                [items]="accountTypes"
                                [allowClear]="true"
                                placeholder="Select Type"
                                [formControl]="formControl.controls['accountType']"
                                (selected)="setFormAccountId( tabid, $event )"
                                mltag="txt_selecttype"
                            ></ng-select>
                            <div *ngIf="formControl.controls.accountType.hasError('required') && formControl.controls.accountType.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" mltag="txt_usertype">User Type</label>
                            <ng-select
                                id="new-user-usertype-select"
                                [items]="userTypes"
                                [allowClear]="true"
                                placeholder="Select Type"
                                [formControl]="formControl.controls['userType']"
                                mltag="txt_selecttype"
                            ></ng-select>
                            <div *ngIf="formControl.controls.userType.hasError('required') && formControl.controls.userType.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" mltag="txt_password">Password</label>
                            <input id="new-user-password" type="password" formControlName="password" name="password"
                                   autocomplete="off" placeholder="Password"
                                   class="form-control password1 mlp_translated" mltag="txt_password">
                            <div *ngIf="formControl.controls.password.hasError('required') && formControl.controls.password.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                            <div *ngIf="formControl.controls.password.hasError('mismatch') && !formControl.controls.password.hasError('required') && !formControl.controls.passwordConfirm.pristine"
                                 class="field-error" mltag="txt_passworddoesnotmatch">Password does not match
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" mltag="txt_repeatpassword">Repeat
                                Password</label>
                            <input id="new-user-password-repeat" type="password" formControlName="passwordConfirm"
                                   autocomplete="off" placeholder="Repeat Password"
                                   class="form-control password2 mlp_translated" mltag="txt_repeatpassword">
                            <div *ngIf="formControl.controls.passwordConfirm.hasError('required') && formControl.controls.passwordConfirm.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                            <div *ngIf="formControl.controls.passwordConfirm.hasError('mismatch') && !formControl.controls.passwordConfirm.hasError('required') && !formControl.controls.passwordConfirm.pristine"
                                 class="field-error" mltag="txt_passworddoesnotmatch">Password does not match
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">
                                <span class="ml" mltag="txt_accs">Access</span>
                            </label>
                            <div>
                                <ng-container
                                    *ngTemplateOutlet="accessAdminTabs; context: {'formControl': formControl, 'tabid': tabid}"></ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="form-group button-group">
                        <div class="col-sm-12">
                            <button id="new-user-submit" type="submit" class="btn btn-primary"
                                    [disabled]="!formControl.valid">
                                <i class="fa fa-save"></i> <span class="ml_translated" mltag="txt_save">Save</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <!-- User Edit Form. -->
    <ng-template #dynamicEditTab let-formControl="formControl" let-tabid="tabid">
        <div class="user-tab-panel-body panel-body">
            <form id="edit-user{{tabid}}-form" (ngSubmit)="handleEditUser(tabid)" [formGroup]="formControl">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" mltag="txt_username">Username</label>
                            <input id="edit-user{{tabid}}-username" type="text" formControlName="username"
                                   placeholder="Username" class="form-control username mlp_translated"
                                   readonly="readonly" mltag="txt_username">
                            <div *ngIf="formControl.controls.username.hasError('required') && formControl.controls.username.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" mltag="txt_email">Email</label>
                            <input id="edit-user{{tabid}}-email" type="email" formControlName="email" name="email"
                                   placeholder="Enter email..." class="form-control email mlp_translated"
                                   mltag="txt_enteremail">
                            <div *ngIf="formControl.controls.email.hasError('required') && formControl.controls.email.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                            <div *ngIf="!formControl.controls.email.valid && formControl.controls.email.touched && !formControl.controls.email.hasError('required')"
                                 class="field-error">Invalid email format
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" mltag="txt_account">Account</label>
                            <ng-select
                                id="edit-user{{tabid}}-account-select"
                                [items]="accountTypes"
                                [allowClear]="true"
                                placeholder="Select Type"
                                [formControl]="formControl.controls['accountType']"
                                (selected)="setFormAccountId( tabid, $event )"
                                mltag="txt_selecttype"
                            ></ng-select>
                            <div *ngIf="formControl.controls.accountType.hasError('required') && formControl.controls.accountType.touched"
                                 class="field-error" mltag="txt_thisfieldisrequired">This field is required
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" mltag="txt_usertype">User Type</label>
                            <ng-select
                                id="edit-user{{tabid}}-usertype-select"
                                [items]="userTypes"
                                [allowClear]="true"
                                placeholder="Select Type"
                                [formControl]="formControl.controls['userType']"
                                mltag="txt_selecttype"
                            ></ng-select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">
                                <span class="ml" mltag="txt_accs">Access</span>
                            </label>
                            <div>
                                <ng-container
                                    *ngTemplateOutlet="accessAdminTabs; context: {'formControl': formControl, 'tabid': tabid}"></ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="form-group button-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary"
                                    [disabled]="!formControl.controls.username.valid || !formControl.controls.email.valid || !formControl.controls.accountType.valid || !formControl.controls.userType.valid">
                                <i class="fa fa-save"></i> <span class="ml_translated" mltag="txt_save">Save</span>
                            </button>
                            <button (click)="closeTab(tabid)" class="btn btn-secondary" mltag="txt_close">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <!-- This nested tab set cannot be directly inside the main one :( -->
    <ng-template #accessAdminTabs let-formControl="formControl" let-tabid="tabid">
        <clr-tabs>
            <clr-tab>
                <a clrTabLink><i class="fa fa-users"></i> <span mltag="txt_administrative">Administrative</span></a>
                <clr-tab-content *clrIfActive="true">
                    <div class="panel-body"><span mltag="txt_administrativegroups">Administrative Groups</span>

                        <ng-select
                            [items]="filteredAdminGroupsList"
                            [multiple]="true"
                            [allowClear]="true"
                            placeholder="Select Type"
                            [containerWidth]="'100%'"
                            [formControl]="formControl.controls['adminGroups']"
                            mltag="txt_selecttype"
                        ></ng-select>
                    </div>
                </clr-tab-content>
            </clr-tab>

            <clr-tab>
                <a clrTabLink><i class="fa fa-user"></i> <span mltag="txt_transactional">Transactional</span></a>
                <clr-tab-content *clrIfActive>
                    <div class="panel-body"><span mltag="txt_groupinchain">Group in Chain</span>

                        <ng-select
                            [items]="filteredChainList"
                            [allowClear]="true"
                            placeholder="Select Chain"
                            [active]="selectedChainItem"
                            (selected)="setFormChainId(tabid, $event)"
                            mltag="txt_selectchain"
                        ></ng-select>
                        <span mltag="txt_transactionalgroups">Transactional Groups</span>

                        <ng-select
                            [items]="tabsControl[tabid].filteredTxList"
                            [multiple]="true"
                            [allowClear]="true"
                            placeholder="Select Type"
                            [containerWidth]="'100%'"
                            [formControl]="formControl.controls['txGroups']"
                            mltag="txt_selecttype"
                        ></ng-select>
                    </div>
                </clr-tab-content>
            </clr-tab>

            <clr-tab>
                <a clrTabLink><i class="fa fa-briefcase"></i> <span mltag="txt_wallets">Wallets</span></a>
                <clr-tab-content *clrIfActive>
                    <div class="panel-body">
                        <div class="m-b-10">
                            <span mltag="txt_fullaccesswallets">Full access wallets</span>
                            <ng-select
                                [items]="tabsControl[tabid].filteredWalletsByAccount"
                                (selected)="addedWalletSelection(1, tabid, $event)"
                                [multiple]="true"
                                [allowClear]="true"
                                placeholder="Choose Wallets"
                                [containerWidth]="'100%'"
                                [formControl]="formControl.controls['walletsFull']"
                                mltag="txt_choosewallets"
                            ></ng-select>
                        </div>

                        <div class="m-b-10">
                            <span mltag="txt_readonlywallets">Read Only Wallets</span>
                            <ng-select
                                [items]="tabsControl[tabid].filteredWalletsByAccount"
                                (selected)="addedWalletSelection(0, tabid, $event)"
                                [multiple]="true"
                                [allowClear]="true"
                                placeholder="Choose Wallets"
                                [containerWidth]="'100%'"
                                [formControl]="formControl.controls['walletsRead']"
                                mltag="txt_choosewallets"
                            ></ng-select>
                        </div>

                        <div class="m-b-10">
                            <span mltag="txt_groupwalletpermissionfullaccesb031c8a683">Group Wallet Permission (Full Access)</span>
                            <ng-select
                                [items]="accountTypes"
                                (selected)="addedGroupWalletSelection(1, tabid, $event)"
                                [multiple]="true"
                                [allowClear]="true"
                                placeholder="Choose Accounts"
                                [containerWidth]="'100%'"
                                [formControl]="formControl.controls['groupWalletsFull']"
                                mltag="txt_chooseaccounts"
                            ></ng-select>
                        </div>

                        <div>
                            <span mltag="txt_groupwalletpermissionreadonly">Group Wallet Permission (Read only)</span>
                            <ng-select
                                [items]="accountTypes"
                                (selected)="addedGroupWalletSelection(0, tabid, $event)"
                                [multiple]="true"
                                [allowClear]="true"
                                placeholder="Choose Accounts"
                                [containerWidth]="'100%'"
                                [formControl]="formControl.controls['groupWalletsRead']"
                                mltag="txt_chooseaccounts"
                            ></ng-select>
                        </div>
                    </div>
                </clr-tab-content>
            </clr-tab>

            <clr-tab>
                <a clrTabLink><i class="fa fa-chain"></i> <span mltag="txt_chains">Chains</span></a>
                <clr-tab-content *clrIfActive>
                    <div class="panel-body">
                        <span mltag="txt_chains">Chains</span>
                        <ng-select
                            [items]="filteredChainList"
                            [multiple]="true"
                            [allowClear]="true"
                            placeholder="Choose Chains..."
                            [containerWidth]="'100%'"
                            [formControl]="formControl.controls['chainAccess']"
                            mltag="txt_choosechains"
                        ></ng-select>
                    </div>
                </clr-tab-content>
            </clr-tab>

            <clr-tab>
                <a clrTabLink><i class="fa fa-bars"></i> <span mltag="txt_menu">Menu</span></a>
                <clr-tab-content *clrIfActive>
                    <div class="panel-body">
                        <span mltag="txt_menu">Menu</span>
                        <ng-select
                            [items]="filteredMenuGroupsList"
                            [multiple]="false"
                            [allowClear]="true"
                            placeholder="Choose Menu..."
                            [containerWidth]="'100%'"
                            [formControl]="formControl.controls['menuGroups']"
                            mltag="txt_choosemenu"
                        ></ng-select>
                    </div>
                </clr-tab-content>
            </clr-tab>
        </clr-tabs>
    </ng-template>
</div>