.subtitle {
    margin: 0 20px;
}

.slider {
    top: inherit !important;
}

.fakeLink {
    color: #007cbb;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

label.switch {
    position: absolute !important;
    margin: 4px !important;
}

.btn-margin {
    margin-right: 10px;
    background-color: #56a4df;
    color: #fff;
    border-color: #56a4df;
}

.no-margin {
    margin: 0px;
}

.well-children {
    background: white;
    overflow: visible;
    display: inline-block;
    width: calc(100% - 40px);
}