<header class="header-6">

    <div class="branding">
        <button (click)="controlMenu()"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <a href="#/home" class="nav-link">
            <img src={{topbarLogoUrl}} style="height: 50%;" alt="Topbar logo">
        </a>
    </div>
    <form class="search" [formGroup]="searchForm">
        <!--<label for="search_input">-->
        <!--<input id="search_input" type="text" placeholder="Search for keywords..." mltag="txt_searchforkeywords">-->
        <!--</label>-->
    </form>
    <div class="header-actions">

        <clr-dropdown class="user-profile">
            <div class="user" clrDropdownToggle>
                <img src="assets/images/male.png">
                <p>{{username}} <i class="fa fa-angle-down"></i></p>
                <span mltag="txt_last">Last</span> <span>{{lastLogin}}</span>
            </div>

            <div class="dropdown-menu">
                <a [routerLink]="['/account/my-account']" clrDropdownItem mltag="txt_myaccount">My Account</a>
            </div>
        </clr-dropdown>

        <div class="wallet">
            <div>
                <ng-select [allowClear]="false"
                           [items]="walletSelectItems"
                           (selected)="selected($event)"
                           (removed)="removed($event)"
                           placeholder="No wallet selected"
                           [formControl]="selectedWalletId"
                           [multiple]="false"
                           inlineLabel="Wallet"
                           inlineLabelMlTag="txt_wallet"
                           mltag="txt_nowalletselected">
                </ng-select>
            </div>
        </div>

        <div class="right-buttons">
            <div class="dropdown">
                <a [routerLink]="['/messages']" class="nav-button dropdown-toggle">
                    <clr-icon shape="email" class="icon" [ngClass]="hasMail"></clr-icon>
                    <p mltag="txt_messages">Messages</p>
                </a>
            </div>

            <clr-dropdown>
                <div class="nav-button" clrDropdownToggle>
                    <clr-icon shape="user" class="icon"></clr-icon>
                    <p mltag="txt_profile">Profile</p>
                </div>

                <div class="dropdown-menu">
                    <a *ngFor="let item of profileMenu" [routerLink]="[item.routerLink]" [id]="item.element_id" clrDropdownItem [attr.mltag]="item.label_txt">{{item.label}}</a>
                </div>
            </clr-dropdown>

            <clr-dropdown class="bottom-right">
                <a class="nav-button" clrDropdownToggle>
                    <clr-icon shape="cog" class="icon"></clr-icon>
                    <p mltag="txt_settings">Properties</p>
                </a>
                <div class="dropdown-menu" style="margin-right: 10px">
                    <a clrDropdownItem mltag="txt_languages" (click)="toggleSidebar.emit($event)">Language</a>
                    <a [routerLink]="['/logout']" clrDropdownItem mltag="txt_logout">Log out</a>
                </div>
            </clr-dropdown>
        </div>

        <button class="header-overflow-trigger" type="button">
            <span></span>
        </button>
    </div>
</header>

<clr-modal [(clrModalOpen)]="showCountdownModal">
    <div class="modal-title">
        <i class="fa fa-exclamation-triangle modal-icon text-warning"></i>
        <h4 class="modal-title-text">
            <span class="ml_translated" mltag="txt_sessionexpiringsoon">Session expiring soon</span></h4>
    </div>
    <div class="modal-body">
        <p>Your session will expire in <span class="text-warning">{{remainingSecond && remainingSecond}}</span> seconds.
        </p>
        <p>Press <span class="text-primary font-weight-bold">Continue</span> to continue using this site.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">
            <span class="ml_translated" (click)="handleExtendSession()" mltag="txt_continue">Continue</span>
        </button>
        <button type="button" class="btn btn-outline" (click)="showCountdownModal = false" mltag="txt_close">Close
        </button>
    </div>
</clr-modal>
