.modal-title {
    padding: 30px 15px;
    text-align: center;
}

.modal-icon {
    font-size: 84px;
    color: #1AB399;
}

.modal-dialog .modal-content {
    padding: 0 !important;
}

.modal-header {
    padding: 20px;
}

.modal-header {

}

.modal-title-text {
    font-size: 26px;
}

.modal-title-text {
    margin: 0;
    line-height: 1.42857143;
    padding: 10px 0;
}

.modal-body {
    background: #f8fafb;
    padding: 20px 30px 30px 30px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.modal-footer {
    padding: 20px;
    text-align: right;
}

clr-modal.large .modal-dialog {
    width: 1100px;
}

