/* Fix for ng2-select dropdowns. */
.ui-select-toggle {
    width: 300px !important;
    margin-right: 0;
    height: 35px;
    border: 1px solid #b9b9b9 !important;
}

.ui-select-search {
    width: 300px !important;
}

.ui-select-toggle .ui-select-placeholder,
.ui-select-toggle .ui-select-match-text {
    margin: 0;
    font-size: 12.5px;
    letter-spacing: normal;
    text-transform: none;
    line-height: 35px;
    color: #565656;
}

.ui-select-toggle > a.btn-link {
    margin: 0;
}

.ui-select-search {
    /* Importants are needed as the component ng2-select has inline styling... */
    //min-width: 240px !important;
    border: 1px solid #b9b9b9 !important;
    padding: 0 12px !important;
}

.ui-select-choices {
    padding: 4px 0;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #9a9a9a;
}

.ui-select-match .btn a {
    padding: 0;
    color: rgb(136, 162, 249);
    min-width: 30px;
    margin-right: -10px !important;
    margin-top: 1px;
    z-index: 1;
    position: absolute;
    background: white;
    right: 11px;
    border: 0px;
}

.ui-select-match .btn a:hover {
    border: 0px solid white !important;
    background: white;
}

.ui-select-choices-row {
    font-size: 13px;
}

.ui-select-choices-row.active > a {
    background-color: #6098f7;
}

.ui-select-toggle .ui-select-placeholder, .ui-select-toggle .ui-select-match-text {
    line-height: 40px;
}

.ui-select-choices-row > a {
    line-height: 24px;
}

.ui-disabled {
    height: 87% !important;
    top: 6px !important;
    background: none;
}
