<div>
    <form [formGroup]="searchForm" id="searchForm">
        <div class="row bordered form-group">

            <div class="col-sm-3">
                <label for="input-startdate">{{ 'Date From' | translate }}

                </label>
                <div class="input-group date-pick-wrapper">
                    <span class="fa fa-calendar" aria-hidden="true"></span>
                    <input id="input-startdate" 
                            formControlName="startDate" 
                            [dpDayPicker]="configDate" 
                            [placeholder]="translate.translate('Choose a date')"
                            mode="day" 
                            theme="dp-material">
                </div>
            </div>
            <div class="col-sm-3">
                <label for="input-enddate">{{ 'Date To' | translate }}

                </label>
                <div class="input-group date-pick-wrapper">
                    <span class="fa fa-calendar" aria-hidden="true"></span>
                    <input id="input-enddate" 
                            formControlName="endDate" 
                            [dpDayPicker]="configDate" 
                            [placeholder]="translate.translate('Choose a date')"
                            mode="day" 
                            theme="dp-material">
                </div>
            </div>
        </div>

    </form>
</div>

<clr-datagrid class="expandable" clrDgSortIcon>
    <clr-dg-column [clrDgField]="'field'" clrDgSortIcon>
        {{ 'Umbrella Name' | translate }}
        <span class="column-label"></span>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'field'" clrDgSortIcon>
        {{ 'Field' | translate }}
        <span class="column-label"></span>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'oldValue.label'" clrDgSortIcon>
        {{ 'Old Value' | translate }}
        <span class="column-label"></span>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'newValue.label'" clrDgSortIcon>
        {{ 'New Value' | translate }}
        <span class="column-label"></span>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'modifiedBy'" clrDgSortIcon>
        {{ 'Modified By' | translate }}
        <span class="column-label"></span>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'dateModified'" clrDgSortIcon>
        {{ 'Date' | translate }}
        <span class="column-label"></span>
    </clr-dg-column>

    <clr-dg-row *clrDgItems="let item of filteredAuditItems">
        <clr-dg-cell>{{item.umbrellaName}}</clr-dg-cell>
        <clr-dg-cell>{{item.field}}</clr-dg-cell>
        <clr-dg-cell>{{item.oldValue}}</clr-dg-cell>
        <clr-dg-cell>{{item.newValue}}</clr-dg-cell>
        <clr-dg-cell>{{item.modifiedBy}}</clr-dg-cell>
        <clr-dg-cell>{{item.dateModified}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>