<div class="steps-container" [class.fixed]="fixStepsProgress" (wheel)="debounceScroll($event)">
    <form-steps-progress [config]="progress" (jumpToStep)="goToStep($event)">
        <div *ngIf="_onboardingMode" class="kyc-step complete no-link"><span></span> {{ 'User Profile' | translate }}</div>
    </form-steps-progress>
</div>

<div class="form-container">
    <div class="steps-slider">
        <ng-container *ngTemplateOutlet="stepsComponentsArray[position]?.template"></ng-container>
    </div>

    <div class="button-container">
        <button *ngIf="!isBeginning()" class="btn" (click)="askPrevious()" [disabled]="disabled">
            {{'Back' | translate}}
        </button>
        <button #submit class="btn btn-primary" (click)="askNext()" [disabled]="disabled || !isStepValid()">
            <span *ngIf="!isEnd()">
                {{'Next' | translate}}
            </span>
            <span *ngIf="isEnd()">
                {{'Submit' | translate}}
            </span>
        </button>
    </div>
</div>
