<div class="header-breadcrumbs">
    <h1><i class="fa fa-archive"></i> <span mltag="txt_ui_button">Layout One
    </span></h1>
</div>

<div class="padding">
    <a href="#" class="toggle-info-panes" (click)="toggleInfoPanes($event)">{{ showInfoPanes ? '[-] hide info panes' :
        '[+] show info panes' }}</a>
    <app-ui-info-pane [hidden]="!showInfoPanes"
                      [message]="'This info pane does not make up part of these guidelines. If you see this pane displayed in any of the below items, it is just for informational purposes. To view the source code for this page, go to @setl/core-layout/layouts/ui-form.'"></app-ui-info-pane>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink id="button">
            <i class="fa fa-bars"></i> <span mltag="txt_ui_button">Layout</span>
        </button>

        <clr-tab-content *clrIfActive>
            <form>
                <p>Lets add some text at the top if it required. No problems lots of space here</p>

                <h2><i class="fa fa-archive"></i> Form Area</h2>

                <section class="form-block">
                    <div class="row">
                        <div class="form-group required-field col-sm-6">
                            <label class="control-label" for="firstName" mltag="txt_ui_firstname">First name</label>
                            <input type="text" name="firstName" id="firstName" formControlName="firstName"/>
                            <span class="field-error">Field is required</span>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" for="lastName" mltag="txt_ui_lastname">Last
                                name</label>
                            <input type="text" name="lastName" id="lastName" formControlName="lastName"/>
                            <span class="field-error">Field is required</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" for="password"
                                   mltag="txt_ui_password">Password</label>
                            <input type="password" name="password" id="password" formControlName="password"/>
                            <span class="field-error">Field is required</span>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="control-label required-field" for="passwordConfirm"
                                   mltag="txt_ui_passwordconfirm">Confirm password</label>
                            <input type="password" name="passwordConfirm" id="passwordConfirm"
                                   formControlName="passwordConfirm"/>
                            <span class="field-error">Field is required</span>
                        </div>

                        <app-ui-info-pane [hidden]="!showInfoPanes"
                                          [message]="'Simply wrap 2 \'form-group col-sm-6\' in a \'row\' class to achieve side-by-side fields.'"></app-ui-info-pane>
                    </div>

                    <div class="form-group col-sm-6">
                        <button id="submit" type="submit" class="btn btn-primary" mltag="txt_ui_submit">Submit
                            Button
                        </button>
                    </div>
                </section>
            </form>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
