<div [class.active]="connectionStatus.nodeDead" class="connection-banner red">
    <h2><i class="icon lost"></i>{{ 'It seems you got lost...' | translate }}</h2>
    <p [class.loading]="connectionStatus.loading">{{ connectionStatus.nodeTimerString }}</p>
</div>
<div [class.active]="connectionStatus.internetDead && !connectionStatus.nodeDead" class="connection-banner red">
    <h2><i class="icon lost"></i>{{ 'It seems you got lost...' | translate }}</h2>
    <p class="loading">{{ 'You\'ve been disconnected from the internet, please wait or try to refresh your browser' | translate }}</p>
</div>
<div [class.active]="(connectionStatus.nodeReconnected || connectionStatus.internetReconnected) && (!connectionStatus.internetDead && !connectionStatus.nodeDead)" class="connection-banner green">
    <h2><i class="icon tick"></i>{{ 'Lucky you. You\'re back!' | translate }}</h2>
    <p>{{ 'You can now continue your journey on' | translate }} {{ appConfig.platform }}</p>
</div>

