<div class="header-breadcrumbs">
    <h1 id="manage-orders"><i class="fa fa-university"></i>
        <span mltag="txt_manageorders">Manage Orders</span> - {{ connectedWalletName }}</h1>
</div>

<div class="wrapper wrapper-content">

    <clr-tabs *ngIf="tabsControl.length">
        <clr-tab *ngFor="let tabdata of tabsControl; let id = index">
            <button clrTabLink id="-{{id}}"><i class="fa {{tabdata.title.icon}}"></i> {{tabdata.title.text}}</button>
            <clr-tab-content *clrIfActive="tabdata.active">
                <ng-container *ngIf="id === 0">
                    <!-- Coupon Payment list tab. -->
                    <ng-container
                        *ngTemplateOutlet="staticOrdersList"
                    ></ng-container>
                </ng-container>

                <ng-container *ngIf="id >= 1">
                    <!-- Create Coupon Payment tab. -->
                    <ng-container
                        *ngTemplateOutlet="dynamicViewOrder; context: {'orderData': tabdata.orderData, 'tabid': id}"
                    ></ng-container>
                </ng-container>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>

    <!-- Orders Data Table. -->
    <ng-template #staticOrdersList>
        <div class="panel-body">

            <form id="search-orders-form">
                <div class="form-horizontal">
                    <div class="row bordered">
                        <div class="form-group col-sm-4">
                            <label>
                                <span mltag="txt_fundname">Fund Name</span>
                            </label>
                            <div class="input-button-group">
                                <input id="orders-search-fundname" (keyup)="requestSearch()" [formControl]="tabsControl[0].searchForm.controls['name']" name="search-fundname" type="text" placeholder="Fund Name" mltag="txt_fundname"/>
                                <button (click)="requestSearch()"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>
                                <span title="poop" mltag="txt_status">Status</span>
                            </label>
                            <div>
                                <ng-select
                                    id="orders-search-status"
                                    class="fluid-width"
                                    [items]="orderStatuses"
                                    [allowClear]="true"
                                    (selected)="getOrdersBySearch()"
                                    (removed)="getOrdersBySearch()"
                                    [formControl]="tabsControl[0].searchForm.controls['status']"
                                    placeholder="Status"
                                    mltag="txt_status"></ng-select>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>
                                <span mltag="txt_type">Type</span>
                            </label>
                            <div>
                                <ng-select
                                    id="orders-search-type"
                                    class="fluid-width"
                                    [items]="orderTypes"
                                    [allowClear]="true"
                                    (selected)="getOrdersBySearch()"
                                    (removed)="getOrdersBySearch()"
                                    [formControl]="tabsControl[0].searchForm.controls['type']"
                                    placeholder="Type"
                                    mltag="txt_type"></ng-select>
                            </div>
                        </div>
                    </div>
                </div>

                <clr-datagrid #ordersDataGrid>
                    <clr-dg-column style="min-width: 120px;"><span mltag="txt_action">Action</span></clr-dg-column>
                    <clr-dg-column style="min-width: 170px;"><span mltag="txt_investor">Investor</span></clr-dg-column>
                    <clr-dg-column style="min-width: 200px;"><span mltag="txt_fundname">Fund name</span></clr-dg-column>
                    <clr-dg-column><span mltag="txt_quantity">Quantity</span></clr-dg-column>
                    <clr-dg-column><span mltag="txt_amount">Amount</span></clr-dg-column>
                    <clr-dg-column><span mltag="txt_price">Price</span></clr-dg-column>
                    <clr-dg-column><span mltag="txt_cutoffdate">Cut-off date</span></clr-dg-column>
                    <clr-dg-column><span mltag="txt_deliverydate">Delivery date</span></clr-dg-column>
                    <clr-dg-column style="min-width: 100px;"><span mltag="txt_status">Status</span></clr-dg-column>

                    <clr-dg-row *clrDgItems="let order of ordersList">
                        <clr-dg-cell class="manageOrderStatus">
                            <!-- Order type -->
                            <span *ngIf="order.type == 3" class="label label-info" mltag="txt_subscription"> Subscription</span>
                            <span *ngIf="order.type == 4" class="label label-success" mltag="txt_redemption"> Redemption</span>

                            <!-- Action -->
                            <div class="btn-group btn-sm compact">
                                <!-- If order status is 1, allow cancel. -->
                                <button *ngIf="order.status == 1" id="order-cancel-{{order.arrangementID}}" (click)="handleCancelOrder(order.arrangementID)" class="btn">
                                    <i class="fa fa-times"></i>
                                </button>
                                <!-- else, disable cancel. -->
                                <button *ngIf="order.status != 1" id="order-cancel-{{order.arrangementID}}" class="btn" disabled="disabled">
                                    <i class="fa fa-times"></i>
                                </button>

                                <!-- View order. -->
                                <button id="order-view-{{order.arrangementID}}" (click)="handleViewOrder(order.arrangementID)" class="btn">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- Investor -->
                            {{ order.metaData.investorWalletName }}<br>
                            <b class="text_small">Ref</b> {{ padNumberLeft(order.arrangementID, 5) }}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- Fund name -->
                            {{ order.metaData.assetISIN }}<br/>
                            <span class="text_small">{{ order.asset }}</span>
                        </clr-dg-cell>

                        <clr-dg-cell>
                            <!-- Quantity -->
                            {{ order.metaData.units | moneyValue}}
                        </clr-dg-cell>

                        <clr-dg-cell>
                            <!-- Amount -->
                            {{ order.metaData.total | moneyValue}}
                        </clr-dg-cell>

                        <clr-dg-cell>
                            <!-- Price -->
                            {{ order.price | moneyValue}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- Cut-off date -->
                            {{ order.cutoffDate }}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- Delivery date -->
                            {{ order.deliveryDate }}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- Status -->
                            <span *ngIf="order.status == 1" class="label label-warning">
                                <span class="txt_initiated" mltag="txt_initiated">Initiated</span>
                            </span>

                            <span *ngIf="order.status == 2" class="label label-info">
                                <span class="ml" mltag="txt_waitingfornav">Waiting for NAV</span>
                            </span>

                            <span *ngIf="order.status == 3" class="label label-info">
                                <span class="txt_waitingnav" mltag="txt_waitingforsettlement">Waiting for settlement</span>
                            </span>

                            <!-- <span *ngIf="order.status == 5" class="label label-info">
                                <span class="txt_waiting_for_payment">Waiting for payment</span>
                            </span> -->

                            <span *ngIf="order.status == 0" class="label label-error">
                                <span class="ml" mltag="txt_cancelled">Cancelled</span>
                            </span>

                            <span *ngIf="order.status == -1" class="label label-success">
                                <span class="ml" mltag="txt_ordersettled">Order settled</span>
                            </span>

                            <span *ngIf="order.status == -2" class="label label-error">
                                <span class="ml" mltag="txt_orderexpired">Order expired</span>
                            </span>
                        </clr-dg-cell>
                    </clr-dg-row>

                    <clr-dg-footer>
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        <clr-dg-pagination #pagination [clrDgPageSize]="10" [(clrDgPage)]="datagridPage"></clr-dg-pagination>
                    </clr-dg-footer>
                </clr-datagrid>
            </form>
        </div>
    </ng-template>

    <!-- Orders Data Table. -->
    <ng-template #dynamicViewOrder let-orderData="orderData" let-tabid="tabid">
        <div class="panel-body">

            <form id="view-order-form">
                <div class="row form-group">
                    <div class="col-sm-12">
                        <div>
                            <!-- Order type -->
                            <h2 *ngIf="orderData.type == 3" mltag="txt_subscription"> Subscription</h2>
                            <h2 *ngIf="orderData.type == 4" mltag="txt_redemption"> Redemption</h2>
                        </div>
                    </div>
                </div>

                <hr class="dashed"/>

                <div class="row form-group">
                    <div class="col-sm-6">
                        <label>
                            <span mltag="txt_registrar">Registrar</span>
                        </label>
                        <div>
                            <span class="readonly-field">{{orderData.metaData.registrar}}</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>
                            <span mltag="txt_fundshare">Fund share</span>
                        </label>
                        <div>
                            <span class="readonly-field">{{orderData.asset}}</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>
                            <span mltag="txt_isincode">ISIN Code</span>
                        </label>
                        <div>
                            <span class="readonly-field">{{orderData.metaData.assetISIN}}</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>
                            <span mltag="txt_currency">Currency</span>
                        </label>
                        <div>
                            <span class="readonly-field">{{orderData.metaData.currency}}</span>
                        </div>
                    </div>
                </div>

                <hr class="dashed"/>

                <div class="row form-group">
                    <div class="col-sm-6">
                        <label>
                            <span mltag="txt_quantity">Quantity</span>
                        </label>
                        <div>
                            <span class="readonly-field">{{orderData.metaData.units | moneyValue}}</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>
                            <span mltag="txt_netassetvalue">Net Asset Value</span>
                        </label>
                        <div>
                            <span class="readonly-field">{{orderData.price | moneyValue}}</span>
                        </div>
                    </div>
                </div>

                <hr class="dashed"/>

                <div class="row form-group">
                    <div class="col-sm-6">
                        <label>
                            <span mltag="txt_grossamount">Gross Amount</span>
                        </label>
                        <div>
                            <span class="readonly-field">{{orderData.metaData.total | moneyValue}}</span>
                        </div>
                    </div>
                </div>

                <hr class="dashed"/>

                <div class="row form-group">
                    <div class="col-sm-12">
                        <label>
                            <span mltag="txt_cutoffdate">Cut-Off Date</span>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <span mltag="txt_date"> Date</span>
                        <div>
                            <span class="readonly-field">{{ getOrderDate( orderData.cutoffDate ) }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <span mltag="txt_timeutc"> Time (UTC)</span>
                        <div>
                            <span class="readonly-field">{{ getOrderTime( orderData.cutoffDate ) }}</span>
                        </div>
                    </div>
                </div>

                <hr class="dashed"/>

                <div class="row form-group">
                    <div class="col-sm-12">
                        <label>
                            <span mltag="txt_valuationdate">Valuation Date</span>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <span mltag="txt_date"> Date</span>
                        <div>
                            <span class="readonly-field">{{ getOrderDate( orderData.valuationDate ) }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <span mltag="txt_timeutc"> Time (UTC)</span>
                        <div>
                            <span class="readonly-field">{{ getOrderTime( orderData.valuationDate ) }}</span>
                        </div>
                    </div>
                </div>

                <hr class="dashed"/>

                <div class="row form-group">
                    <div class="col-sm-12">
                        <label>
                            <span mltag="txt_settlementdate">Settlement Date</span>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <span mltag="txt_date"> Date</span>
                        <div>
                            <span class="readonly-field">{{ getOrderDate( orderData.deliveryDate ) }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <span mltag="txt_timeutc"> Time (UTC)</span>
                        <div>
                            <span class="readonly-field">{{ getOrderTime( orderData.deliveryDate ) }}</span>
                        </div>
                    </div>
                </div>

                <hr class="dashed"/>

                <div class="row form-group">
                    <div class="col-sm-6">
                        <label>
                            <span mltag="txt_entryfee375">Entry Fee (3.75%)</span>
                        </label>
                        <div>
                            <span class="readonly-field">{{ calcEntryFee((orderData.metaData.units * orderData.price)) | moneyValue }}</span>
                        </div>
                    </div>
                </div>

                <hr class="dashed"/>

                <div class="row form-group">
                    <div class="col-sm-6">
                        <label>
                            <span mltag="txt_comment">Comment</span>
                        </label>
                        <div>
                            <span class="readonly-field">{{ orderData.metaData.ref }}</span>
                        </div>
                    </div>
                </div>

                <hr class="dashed"/>

                <div class="form-group button-group">
                    <div class="col-sm-12">
                        <a (click)="closeTab(tabid)" class="btn btn-secondary" mltag="txt_close"> Close</a>
                        <button *ngIf="orderData.status == 1" id="order-cancel-{{orderData.arrangementID}}" (click)="handleCancelOrder(orderData.arrangementID)" class="btn btn-warning" mltag="txt_cancel"> Cancel</button>
                        <button *ngIf="orderData.status == 3" id="order-approve-{{orderData.arrangementID}}" (click)="handleApproveOrder(orderData.arrangementID)" class="btn btn-primary" mltag="txt_approve"> Approve</button>
                    </div>
                </div>
            </form>

        </div>
    </ng-template>

</div>
