.sortable {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.additionalInfos {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dddddd;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 20px 10px 20px 0;
}
.additionalInfos table {
    border-collapse: collapse;
    width: 100%;
}

.additionalInfos td, .additionalInfos th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}