<div class="header-breadcrumbs">
    <h1 id="manage-orders"><i class="fa fa-list-ul"></i>
        <span mltag="txt_orderbook">Order Book</span> - {{ connectedWalletName }}</h1>
</div>

<!--<button type="button" class="btn btn-info m-1" (click)="placeFakeOrder()">Place a fake Order</button>-->

<div class="wrapper wrapper-content">

    <clr-tabs *ngIf="tabsControl.length">
        <clr-tab *ngFor="let tabdata of tabsControl; let id = index">
            <button clrTabLink id="-{{id}}" [routerLink]="['/manage-orders', (id === 0) ? 'new' : tabdata.orderData.orderID]"><i class="fa {{tabdata.title.icon}}"></i> {{tabdata.title.text}} <i class="fa fa-times-circle text-warning" *ngIf="id > 0" id="orderCloseTabBtn_{{id}}" (click)="closeTab(id)" [ngStyle]="{'margin-left': '14px', 'font-size':'18px'}"></i></button>
            <clr-tab-content *clrIfActive="tabdata.active">
                <ng-container *ngIf="id === 0">
                    <!-- Coupon list tab. -->
                    <ng-container
                        *ngTemplateOutlet="staticOrdersList"
                    ></ng-container>
                </ng-container>

                <ng-container *ngIf="id >= 1">
                    <!-- Create new tab -->
                    <ng-container
                        *ngTemplateOutlet="dynamicViewOrder; context: {'orderData': tabdata.orderData, 'tabid': id}"
                    ></ng-container>
                </ng-container>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>

    <!-- Orders Data Table. -->
    <ng-template #staticOrdersList>
        <div class="panel-body">

            <form [formGroup]="tabsControl[0].searchForm" id="search-orders-form">
                <div class="form-horizontal">
                    <div class="row bordered">
                        <div class="form-group col-sm-3">
                            <label>
                                <span mltag="txt_isin">ISIN</span>
                            </label>
                            <div class="input-button-group">
                                <input id="orders-search-isin" [formControl]="tabsControl[0].searchForm.controls['isin']" name="search-sharename" type="text" placeholder="ISIN" mltag="txt_isin" style="width: 100% !important"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>
                                <span mltag="txt_sharename">Share Name</span>
                            </label>
                            <div class="input-button-group">
                                <input id="orders-search-sharename" [formControl]="tabsControl[0].searchForm.controls['sharename']" name="search-sharename" type="text" placeholder="Share Name" mltag="txt_sharename" style="width: 100% !important"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>
                                <span title="poop" mltag="txt_status">Status</span>
                            </label>
                            <div>
                                <ng-select
                                    id="orders-search-status"
                                    class="fluid-width"
                                    [items]="orderStatuses"
                                    [allowClear]="true"
                                    [formControl]="tabsControl[0].searchForm.controls['status']"
                                    placeholder="Status"
                                    mltag="txt_status"></ng-select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>
                                <span mltag="txt_type">Order type</span>
                            </label>
                            <div>
                                <ng-select
                                    id="orders-search-type"
                                    class="fluid-width"
                                    [items]="orderTypes"
                                    [allowClear]="true"
                                    [formControl]="tabsControl[0].searchForm.controls['type']"
                                    placeholder="Type"
                                    mltag="txt_type"></ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="well mb-1">
                        <!-- Panel header -->
                        <div class="row panel-header">
                            <div class="col-xs-6">
                                <a href="#"
                                   (click)="isOptionalFilters = !isOptionalFilters; $event.preventDefault();">
                                    <i class="fa fa-chevron-right" [class.rotate]="isOptionalFilters"></i>
                                    <h2> Optional filters</h2>
                                </a>
                            </div>
                        </div>

                        <!-- Panel body -->
                        <div class="row panel-body" [class.hidden]="!isOptionalFilters">
                            <div class="form-group col-sm-4">
                                <label>
                                    <span>Date Type</span>
                                </label>
                                <div>
                                    <ng-select
                                            id="orders-search-date-types"
                                            class="fluid-width"
                                            [items]="dateTypes"
                                            [allowClear]="true"
                                            [formControl]="tabsControl[0].searchForm.controls['dateType']"
                                            placeholder="Type"
                                            mltag="txt_type"></ng-select>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="orders-search-from-date">
                                    <span>From date</span>
                                </label>
                                <div class="input-group date-pick-wrapper">
                                    <span class="fa fa-calendar" aria-hidden="true"></span>
                                    <input id="orders-search-from-date" formControlName="fromDate" [dpDayPicker]="configDate"
                                           placeholder="Choose a date" mode="day" theme="dp-material"/>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="orders-search-to-date">
                                    <span>To date</span>
                                </label>
                                <div class="input-group date-pick-wrapper">
                                    <span class="fa fa-calendar" aria-hidden="true"></span>
                                    <input id="orders-search-to-date" formControlName="toDate" [dpDayPicker]="configDate"
                                           placeholder="Choose a date" mode="day" theme="dp-material"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-success mb-1" (click)="exportOrders()">
                            <i class="fa fa-download"></i> Export Orders CSV
                        </button>
                    </div>
                </div>

                <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" clrDgSortIcon #ordersDataGrid>
                    <clr-dg-column [clrDgField]="'orderRef'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: false}">
                            <span>Order Ref</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'orderType'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: false}">
                            <span>Order Type</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'investor'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: false}">
                            <span>Investor</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'isin'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: false}">
                            <span>ISIN</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'shareName'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: false}">
                            <span>Share Name</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'assetManagementCompany'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: true}">
                            <span>Asset Management Company</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'shareCurrency'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: false}">
                            <span>Share Currency</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'quantity'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: false}">
                            <span>Quantity</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'latestNAV'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: true}">
                            <span>Latest NAV</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'grossAmount'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: false}">
                            <span>Gross Amount</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'feesAmount'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: true}">
                            <span>Fees Amount</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'orderDate'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: false}">
                            <span>Order Date</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'cutOffDate'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: false}">
                            <span>Cut-off Date</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'navDate'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: true}">
                            <span>NAV Date</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'settlementDate'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: false}">
                            <span>Settlement Date</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <clr-dg-column [clrDgField]="'orderStatus'" clrDgSortIcon clrDgSortNoSearch>
                        <ng-container *clrDgHideableColumn="{hidden: false}">
                            <span>Status</span> <span class="column-label"></span>
                        </ng-container>
                    </clr-dg-column>
                    <!-- ACTIONS -->
                    <clr-dg-column><span class="text-center">Cancel?</span></clr-dg-column>

                    <!--<clr-dg-column style="min-width: 120px;"><span mltag="txt_action">Action</span></clr-dg-column>-->
                    <!--<clr-dg-column style="min-width: 170px;"><span mltag="txt_investor">Investor</span></clr-dg-column>-->
                    <!--<clr-dg-column style="min-width: 200px;"><span mltag="txt_fundname">Fund name</span></clr-dg-column>-->
                    <!--<clr-dg-column><span mltag="txt_quantity">Quantity</span></clr-dg-column>-->
                    <!--<clr-dg-column><span mltag="txt_amount">Amount</span></clr-dg-column>-->
                    <!--<clr-dg-column><span mltag="txt_price">Price</span></clr-dg-column>-->
                    <!--<clr-dg-column><span mltag="txt_cutoffdate">Cut-off date</span></clr-dg-column>-->
                    <!--<clr-dg-column><span mltag="txt_deliverydate">Delivery date</span></clr-dg-column>-->
                    <!--<clr-dg-column style="min-width: 100px;"><span mltag="txt_status">Status</span></clr-dg-column>-->

                    <clr-dg-row *ngFor="let order of ordersList; let i = index">
                        <clr-dg-cell>
                            <!-- orderRef -->
                            <a (click)="buildLink(order, i)" class="fakeLink">
                                {{padNumberLeft(order.orderID, 5)}}
                            </a>
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- orderType -->
                            <span *ngIf="order.orderType == 3" mltag="txt_subscription"> Subscription</span>
                            <span *ngIf="order.orderType == 4" mltag="txt_redemption"> Redemption</span>
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- investor -->
                            {{showInvestor(order)}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- isin -->
                            {{order.isin}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- shareName -->
                            {{order.fundShareName}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- assetManagementCompany -->
                            {{showManagementCompany(order)}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- shareCurrency -->
                            {{showCurrency(order)}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- quantity -->
                            {{order.quantity | moneyValue: 5}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- latestNAV -->
                            {{order.estimatedPrice | moneyValue: 2}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- grossAmount -->
                            {{order.amountWithCost | moneyValue: 4}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- feesAmount -->
                            {{order.feePercentage * order.amountWithCost}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- orderDate -->
                            {{getOnlyDate(order.orderDate)}} {{getOnlyTime(order.orderDate)}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- cutOffDate -->
                            {{getOnlyDate(order.cutoffDate)}} {{order.cutoffDate | date:'longTime'}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- NAVDate -->
                            {{getOnlyDate(order.valuationDate)}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- settlementDate -->
                            {{getOnlyDate(order.settlementDate)}}
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <span *ngIf="order.orderStatus == -3" class="label">
                                <span mltag="txt_all">All</span>
                            </span>
                            <span *ngIf="order.orderStatus == 1" class="label label-warning">
                                <span mltag="txt_initiated">Initiated</span>
                            </span>
                            <span *ngIf="order.orderStatus == 2" class="label label-info">
                                <span mltag="txt_waitingfornav">Waiting NAV</span>
                            </span>
                            <span *ngIf="order.orderStatus == 3" class="label label-info">
                                <span mltag="txt_waitingforsettlement">Waiting settlement</span>
                            </span>
                            <span *ngIf="order.orderStatus == -1" class="label label-success">
                                <span mltag="txt_ordersettled">Settled</span>
                            </span>
                            <span *ngIf="order.orderStatus == 6" class="label label-error">
                                <span mltag="txt_unpaid">Unpaid</span>
                            </span>
                            <span *ngIf="order.orderStatus == 0" class="label label-error">
                                <span mltag="txt_cancelled">Cancelled</span>
                            </span>
                        </clr-dg-cell>
                        <clr-dg-cell>
                            <!-- Actions -->
                            <button type="button" *ngIf="order.orderStatus == 1; else cancelDisabled" (click)="cancelOrder(i)" class="btn btn-sm btn-danger">Cancel</button>
                            <ng-template #cancelDisabled>
                                <button type="button" class="btn btn-sm btn-info" disabled>Cancel</button>
                            </ng-template>
                        </clr-dg-cell>
                        <clr-dg-row-detail *clrIfExpanded>
                            <div class="additionalInfos">
                                <div class="row">
                                    <div class="form-group col-sm-3">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td><b>Asset Management Company</b></td>
                                                <td>{{showManagementCompany(order)}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td><b>Latest NAV</b></td>
                                                <td>{{order.estimatedPrice | moneyValue: 2}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td><b>Fees Amount</b></td>
                                                <td>{{order.feePercentage * order.amountWithCost | moneyValue: 4}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td><b>NAV Date</b></td>
                                                <td>{{getOnlyDate(order.valuationDate)}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </clr-dg-row-detail>
                    </clr-dg-row>

                    <clr-dg-footer>
                        <!-- Optional customization of hide/show columns toggle -->
                        <clr-dg-column-toggle>
                            <clr-dg-column-toggle-title>
                                <span>Show/hide fields:</span>
                            </clr-dg-column-toggle-title>
                            <!--<clr-dg-column-toggle-button clrType="selectAll">-->
                            <!--<button type="button" class="btn btn-primary">-->
                            <!--Select All-->
                            <!--</button>-->
                            <!--</clr-dg-column-toggle-button>-->
                            <clr-dg-column-toggle-button clrType="ok">
                                <button type="button" class="btn btn-primary" style="padding:0 20px">
                                    <clr-icon shape="check"></clr-icon>
                                </button>
                            </clr-dg-column-toggle-button>
                        </clr-dg-column-toggle>
                        <!--{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}-->
                        <clr-dg-pagination #pagination [clrDgPageSize]="itemPerPage" [clrDgLastPage]="lastPage"></clr-dg-pagination>
                    </clr-dg-footer>
                </clr-datagrid>
            </form>
        </div>
    </ng-template>

    <!-- Orders Data Table. -->
    <ng-template #dynamicViewOrder let-orderData="orderData" let-tabid="tabid">
        <div class="panel-body">

            <!--<div class="m-1">{{orderData | json}}</div>-->
            <!--<div class="m-1">{{fundShare | json}}</div>-->

            <div class="well mb-1">
                <!-- Panel header -->
                <div class="row panel-header">
                    <div class="col-xs-6">
                        <a href="#" (click)="clientInformation  = !clientInformation ; $event.preventDefault();">
                            <i class="fa fa-chevron-right" [class.rotate]="clientInformation "></i>
                            <h2> Client Information</h2>
                        </a>
                    </div>
                </div>

                <!-- Panel body -->
                <div class="panel-body" [class.hidden]="!clientInformation">
                    <div class="row mb-1">
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Company name</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{orderData.investorCompanyName}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="well ml-1">
                        <!-- Panel header -->
                        <div class="row panel-header">
                            <div class="col-xs-6">
                                <a href="#" (click)="clientDetailsInformation  = !clientDetailsInformation ; $event.preventDefault();">
                                    <i class="fa fa-chevron-right" [class.rotate]="clientDetailsInformation "></i>
                                    <h2> Details</h2>
                                </a>
                            </div>
                        </div>

                        <!-- Panel body -->
                        <div class="panel-body" [class.hidden]="!clientDetailsInformation">
                            <div class="form-group col-sm-12">
                                <div class="row mb-1">
                                    <div class="form-group col-sm-6">
                                        <label>
                                            <span>First name</span>
                                        </label>
                                        <div>
                                            <span class="readonly-field">{{orderData.firstName}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>
                                            <span>Last name</span>
                                        </label>
                                        <div>
                                            <span class="readonly-field">{{orderData.lastName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="well mb-1">
                <!-- Panel header -->
                <div class="row panel-header">
                    <div class="col-xs-6">
                        <a href="#" (click)="generalInvestmentInformation  = !generalInvestmentInformation ; $event.preventDefault();">
                            <i class="fa fa-chevron-right" [class.rotate]="generalInvestmentInformation "></i>
                            <h2> General Investment Information</h2>
                        </a>
                    </div>
                </div>

                <!-- Panel body -->
                <div class="panel-body" [class.hidden]="!generalInvestmentInformation">
                    <div class="row mb-1">
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Asset Management Company</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{showManagementCompany(orderData)}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Investor</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{showInvestor(orderData)}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="form-group col-sm-6">
                            <label>
                                <span>(Entry/Exit) fees</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{orderData.feePercentage}}%</span>
                            </div>
                        </div>
                    </div>
                    <div class="well ml-1">
                        <!-- Panel header -->
                        <div class="row panel-header">
                            <div class="col-xs-6">
                                <a href="#" (click)="mifid  = !mifid ; $event.preventDefault();">
                                    <i class="fa fa-chevron-right" [class.rotate]="mifid "></i>
                                    <h2> MIFID II Costs & Charges</h2>
                                </a>
                            </div>
                        </div>

                        <!-- Panel body -->
                        <div class="panel-body" [class.hidden]="!mifid">
                            <div class="form-group col-sm-12">
                                <div class="row mb-1">
                                    <div class="form-group col-sm-6">
                                        <label>
                                            <span>One-off charges</span>
                                        </label>
                                        <div>
                                            <span class="readonly-field">{{fundShare.mifiidChargesOneOff}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>
                                            <span>Ongoing charges</span>
                                        </label>
                                        <div>
                                            <span class="readonly-field">{{fundShare.mifiidChargesOngoing}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group col-sm-6">
                                        <label>
                                            <span>Costs related to transactions initiated</span>
                                        </label>
                                        <div>
                                            <span class="readonly-field">{{fundShare.mifiidTransactionCosts}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>
                                            <span>Charges related to ancillary services</span>
                                        </label>
                                        <div>
                                            <span class="readonly-field">{{fundShare.mifiidServicesCosts}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="form-group col-sm-6">
                                        <label>
                                            <span>Incidental costs</span>
                                        </label>
                                        <div>
                                            <span class="readonly-field">{{fundShare.mifiidIncidentalCosts}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="well mb-1">
                <!-- Panel header -->
                <div class="row panel-header">
                    <div class="col-xs-6">
                        <a href="#" (click)="productInformation  = !productInformation ; $event.preventDefault();">
                            <i class="fa fa-chevron-right" [class.rotate]="productInformation "></i>
                            <h2> Product Information</h2>
                        </a>
                    </div>
                </div>

                <!-- Panel body -->
                <div class="panel-body" [class.hidden]="!productInformation">
                    <div class="row mb-1">
                        <div class="form-group col-sm-6">
                            <label>
                                <span>ISIN</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{orderData.isin}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Share Name</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{orderData.fundShareName}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Asset Class</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{fundShare.keyFactOptionalData.assetClass}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>
                                <span>SRRI</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{fundShare.keyFactOptionalData.srri}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="form-group col-sm-6">
                            <label>
                                <span>SRI</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{fundShare.keyFactOptionalData.sri}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Share Currency</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{showCurrency(orderData)}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="form-group col-sm-6">
                            <label>
                                <span>NAV</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{orderData.orderID}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>
                                <span>NAV Date</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{getOnlyDate(orderData.valuationDate)}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Decimalization</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{fundShare.decimalization}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well mb-1">
                <!-- Panel header -->
                <div class="row panel-header">
                    <div class="col-xs-6">
                        <a href="#" (click)="datesInformation  = !datesInformation ; $event.preventDefault();">
                            <i class="fa fa-chevron-right" [class.rotate]="datesInformation "></i>
                            <h2> Dates Information</h2>
                        </a>
                    </div>
                </div>

                <!-- Panel body -->
                <div class="panel-body" [class.hidden]="!datesInformation">
                    <div class="row mb-1">
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Order Date</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{getOnlyDate(orderData.orderDate)}} {{getOnlyTime(orderData.orderDate)}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Cut-off Date</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{getOnlyDate(orderData.cutoffDate)}} {{orderData.cutoffDate | date:'longTime'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="form-group col-sm-6">
                            <label>
                                <span>NAV Date</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{orderData.valuationDate | date:'shortDate'}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Settlement Date</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{getOnlyDate(orderData.settlementDate)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well mb-1">
                <!-- Panel header -->
                <div class="row panel-header">
                    <div class="col-xs-6">
                        <a href="#" (click)="orderInformation  = !orderInformation ; $event.preventDefault();">
                            <i class="fa fa-chevron-right" [class.rotate]="orderInformation "></i>
                            <h2> Order Information</h2>
                        </a>
                    </div>
                </div>

                <!-- Panel body -->
                <div class="panel-body" [class.hidden]="!orderInformation">
                    <div class="row mb-1">
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Order Reference</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{orderData.orderID}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Order Type</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{showTypes(orderData)}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Quantity</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{orderData.quantity | moneyValue: 5}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Amount</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{amountWithCost | moneyValue: 4}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Gross Amount</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{orderData.amountWithCost | moneyValue: 4}}</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Fee Amount</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{orderData.feePercentage * orderData.amountWithCost | moneyValue: 4}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="form-group col-sm-6">
                            <label>
                                <span>Net Amount</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{orderData.amountWithCost + (orderData.feePercentage * orderData.amountWithCost)  | moneyValue: 4}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="form-group col-sm-12">
                            <label>
                                <span>Comment</span>
                            </label>
                            <div>
                                <span class="readonly-field">{{orderData.orderNote}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

</div>
