<ng-container *ngIf="config">
    <div [ngSwitch]="config.type">
        <!-- KYC approved -->
        <div *ngSwitchCase="'kycApproved'">
            <p class="padding"><span mltag="txt_hello">Hello</span> {{config.investorFirstName}},</p>

            <p class="padding">
                <span mltag="txt_wehavethepleasuretoinformyouth66f22600c6">We have the pleasure to inform you that</span> {{config.amCompanyName}} <span mltag="txt_approvedthekycdocumentspertain0de3204a14">approved the KYC documents pertaining
                to
                </span> {{config.investorCompanyName}}.
            </p>

            <p class="padding">{{config.amCompanyName}} 
                <span mltag="txt_willshortlyenableyoutoaccessfue630933a91">will shortly enable you to access funds’ shares, in order for your company to
                be able to
                invest on the IZNES platform.
                </span>
            </p>

            <p class="padding" mltag="txt_thankyou">Thank you,</p>
            <p class="padding" mltag="txt_theiznesteam">The IZNES team.</p>
        </div>

        <!-- KYC investor yes -->
        <div *ngSwitchCase="'kycInvestorYes'">
            <p class="padding">{{messageBody.greeting}}</p>
            <p class="padding">{{messageBody.line1}}</p>
            <p class="padding">{{messageBody.line2}}</p>
            <p class="padding">{{messageBody.line3}}</p>

            <button type="button" class="btn btn-primary btn-block" (click)="handleRedirectButtonClick()">{{messageBody.buttonLabel}}
            </button>

            <p class="padding">{{messageBody.thanks}}</p>
            <p class="padding">{{messageBody.signature}}</p>
        </div>

        <!-- KYC investor no -->
        <div *ngSwitchCase="'kycInvestorNo'">
            <p class="padding">{{messageBody.greeting}}</p>
            <p class="padding">{{messageBody.line1}}</p>
            <p class="padding">{{messageBody.line2}}</p>

            <ul class="padding">{{messageBody.line3}}
                <li>{{messageBody.email}}</li>
                <li>{{messageBody.phoneNumber}}</li>
            </ul>

            <p class="padding">{{messageBody.line4}}</p>

            <button type="button" class="btn btn-primary btn-block" (click)="handleRedirectButtonClick()">{{messageBody.buttonLabel}}</button>

            <p class="padding">{{messageBody.thanks}}</p>
            <p class="padding">{{messageBody.signature}}</p>
        </div>

        <!-- User finished his KYC -->
        <div *ngSwitchCase="'kycUserFinished'">
            <p class="padding">{{messageBody.greeting}}</p>
            <p class="padding">{{messageBody.line1}}</p>
            <p class="padding">{{messageBody.line2}}</p>

            <button type="button" class="btn btn-primary btn-block" (click)="handleRedirectButtonClick()">
                {{messageBody.buttonLabel}}
            </button>

            <p class="padding">{{messageBody.thanks}}</p>
            <p class="padding">{{messageBody.signature}}</p>
        </div>

        <!-- Asking user to do the KYC -->
        <div *ngSwitchCase="'kycInvestorCompletion'">
            <p class="padding">{{messageBody.greeting}}</p>
            <p class="padding">{{messageBody.line1}}</p>
            <p class="padding">{{messageBody.line2}}</p>

            <button type="button" class="btn btn-primary btn-block" [routerLink]="['/my-requests/list']">
                {{messageBody.buttonLabel}}
            </button>

            <p class="padding">{{messageBody.thanks}}</p>
            <p class="padding">{{messageBody.signature}}</p>
        </div>

        <!-- Investor is updating his request -->
        <div *ngSwitchCase="'kycContinuedFromRequest'">
            <p class="padding">{{messageBody.greeting}}</p>
            <p class="padding">{{messageBody.line1}}</p>
            <p class="padding">{{messageBody.line2}}</p>

            <button type="button" class="btn btn-primary btn-block" (click)="handleRedirectButtonClick()">
                {{messageBody.buttonLabel}}
            </button>

            <p class="padding">{{messageBody.thanks}}</p>
            <p class="padding">{{messageBody.signature}}</p>
        </div>

        <!-- Investor is updating his request -->
        <div *ngSwitchCase="'kycContinuedFromAskMoreInfo'">
            <p class="padding">{{messageBody.greeting}}</p>
            <p class="padding">{{messageBody.line1}}</p>
            <p class="padding">{{messageBody.line2}}</p>

            <button type="button" class="btn btn-primary btn-block" (click)="handleRedirectButtonClick()">
                {{messageBody.buttonLabel}}
            </button>

            <p class="padding">{{messageBody.thanks}}</p>
            <p class="padding">{{messageBody.signature}}</p>
        </div>


    </div>
</ng-container>