<ng-container *ngIf="config">
    <div [ngSwitch]="config.type">
        <!-- KYC approved -->
        <div *ngSwitchCase="'kycApproved'">
            <p class="padding">Hello {{config.investorFirstName}},</p>

            <p class="padding">
                We have the pleasure to inform you that {{config.amCompanyName}} approved the KYC documents pertaining
                to {{config.investorCompanyName}}.
            </p>

            <p class="padding">
                {{config.amCompanyName}} will shortly enable you to access funds’ shares, in order for your company to
                be able to
                invest on the IZNES platform.
            </p>

            <p class="padding">Thank you,</p>
            <p class="padding">The IZNES team.</p>
        </div>

        <!-- KYC investor yes -->
        <div *ngSwitchCase="'kycInvestorYes'">
            <p class="padding">{{messageBody.greeting}}</p>
            <p class="padding">{{messageBody.line1}}</p>
            <p class="padding">{{messageBody.line2}}</p>
            <p class="padding">{{messageBody.line3}}</p>

            <button type="button" class="btn btn-primary btn-block" (click)="handleRedirectButtonClick()">
                {{messageBody.buttonLabel}}
            </button>

            <p class="padding">{{messageBody.thanks}}</p>
            <p class="padding">{{messageBody.signature}}</p>
        </div>

        <!-- KYC investor no -->
        <div *ngSwitchCase="'kycInvestorNo'">
            <p class="padding">{{messageBody.greeting}}</p>
            <p class="padding">{{messageBody.line1}}</p>
            <p class="padding">{{messageBody.line2}}</p>

            <ul class="padding">
                {{messageBody.line3}}

                <li>{{messageBody.email}}</li>
                <li>{{messageBody.phoneNumber}}</li>
            </ul>

            <p class="padding">{{messageBody.line4}}</p>

            <button type="button" class="btn btn-primary btn-block" (click)="handleRedirectButtonClick()">
                {{messageBody.buttonLabel}}
            </button>

            <p class="padding">{{messageBody.thanks}}</p>
            <p class="padding">{{messageBody.signature}}</p>
        </div>
    </div>
</ng-container>