.text-overflow {
  width: calc(100% - 12px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

textarea {
  min-height: 40px;
  max-height: 160px;
}

.lei {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  label.switch:first-child {
      margin: 4px !important;
      width: 15%;
      &:after {
        content: '';
      }
  }
  > div:last-child {
      width: 85%;
  }
  .slider {
    top: unset;
    bottom: unset;
  }
}

.tab-header-container {
  width: 100%;
  margin: 0;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  p, div {
    display: inline-block;
    width: auto;
  }
}
