:host form .form-group input, :host ng-select {
    background: #FFF !important;
}
:host form .form-group input[readonly] {
    background: #EEE !important;
}

:host .modal-body {
    overflow-x: visible;
    overflow-y: visible;
}