<form [formGroup]="filtersForm" id="precentra-funds-filters">
  <div class="row">
      <div class="col-lg-4">
      <div class="input-button-group">
        <ng-select id="precentra-funds-list" [items]="fundsList" [allowClear]="true"
          [placeholder]="translate.translate('All Funds')" [formControl]="filtersForm.controls['selectList']">
        </ng-select>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- <div class="input-button-group">
        <ng-select id="precentra-funds-date-type" [items]="fundSpecificDates" [allowClear]="true"
          [placeholder]="translate.translate('Please select a type of date')"
          [formControl]="filtersForm.controls['specificDate']">
        </ng-select>
      </div> -->
      <div class="form-group">
        <div>
            <input type="text"
                    class="form-control"
                    value="ISIN"
                    [readonly]="false"  [placeholder]="ISIN">
        </div>
    </div>
    </div>  
    <div class="col-lg-4">
      <div class="input-group date-pick-wrapper">
        <span class="fa fa-calendar" aria-hidden="true"></span>
        <input id="precentra-funds-date-from" formControlName="dateFrom" [dpDayPicker]="fromConfigDate"
          [placeholder]="(!isPeriod) ? translate.translate('Choose a date') : translate.translate('Date From')"
          mode="day" theme="dp-material">
      </div>
    </div>
  </div>
  <clr-datagrid>
    <clr-dg-column>User ID</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Creation date</clr-dg-column>
    <clr-dg-column>Favorite color</clr-dg-column>
  
    <clr-dg-row >
      <clr-dg-cell>test</clr-dg-cell>
      <clr-dg-cell>test</clr-dg-cell>
      <clr-dg-cell>test</clr-dg-cell>
      <clr-dg-cell>test</clr-dg-cell>
    </clr-dg-row>
  
    <clr-dg-footer> Print length here</clr-dg-footer>
  </clr-datagrid>
</form>