/*  Include the core OpenCSD styles. */
@import "../node_modules/\@setl/core-layout/css/core_import";
@import '@clr/ui/clr-grid-deprecated.css';


.kyc-steps {
    float: left;
    width: calc(20% - 40px);
    padding: 20px;
    background-color: #e8e8e8;
    border-right: 1px solid #868686;
    height: 800px;
}

.kyc-header {
    float: left;
    width: 80%;
    background: white;
    border-bottom: 1px solid gainsboro;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}

.kyc-container {
    float: left;
    width: 80%;
    padding: 20px;
}

.steps-container {
    position: absolute;
    width: calc(20% - 40px);
    padding: 20px;
    background-color: #e8e8e8;
    border-right: 1px solid #868686;
    height: 800px;
    z-index: 9000;
}

.header-container {
    position: absolute;
    right:0px;
}

.kyc-form-header {
    float: left;
    width: 100%;
    background: white;
    border-bottom: 1px solid gainsboro;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}

.form-container {
    float: left;
    width: 80%;
    margin-left: 20%;
}