<div class="header-breadcrumbs">
    <h1 mltag="txt_home">Home</h1>
</div>


<clr-tabs>
    <clr-tab>
        <button clrTabLink><i class="fa fa-document"></i> Setl File Drop</button>
        <clr-tab-content *clrIfActive>

            <setl-file-drop
                (onDrop)="filesDropped($event)"
                [formControl]="filesFormGroup.controls['singleFile']"
            ></setl-file-drop>

            <setl-file-drop
                (onDrop)="filesDropped($event)"
                [multiple]="true"
                [formControl]="filesFormGroup.controls['multipleFiles']"
            ></setl-file-drop>

            {{ filesFormGroup.value | json }}

        </clr-tab-content>
    </clr-tab>

    <clr-tab>
        <button clrTabLink><i class="fa fa-table"></i> Datagrid</button>
        <clr-tab-content *clrIfActive>
            <clr-datagrid>
                <clr-dg-column>Actions</clr-dg-column>
                <clr-dg-column>Status</clr-dg-column>
                <clr-dg-column>Type</clr-dg-column>
                <clr-dg-column>NAV</clr-dg-column>
                <clr-dg-column>User ID</clr-dg-column>
                <clr-dg-column [clrDgField]="'name'">
                    Name
                    <clr-dg-string-filter [clrDgStringFilter]="myFilter"
                    ></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column>Creation date</clr-dg-column>
                <clr-dg-column>
                    Favorite color
                    <clr-dg-string-filter [clrDgStringFilter]="colorFilter"
                    ></clr-dg-string-filter>
                </clr-dg-column>

                <clr-dg-row *clrDgItems="let user of users">
                    <clr-dg-cell>
                        <div class="btn-group btn-sm">
                            <button class="btn">Details</button>
                            <button class="btn">Edit</button>
                        </div>
                    </clr-dg-cell>
                    <clr-dg-cell>

                        <a href="#badges" class="label label-orange"><i class="fa fa-arrow-right"></i>Palo AltoX<span class="badge"></span>
                        </a>

                    </clr-dg-cell>
                    <clr-dg-cell>{{user.id}}</clr-dg-cell>
                    <clr-dg-cell>{{user.name}}</clr-dg-cell>

                    <clr-dg-cell>{{user.id}}</clr-dg-cell>
                    <clr-dg-cell>{{user.name}}</clr-dg-cell>
                    <clr-dg-cell>{{user.creation}}</clr-dg-cell>
                    <clr-dg-cell>
                        <span class="color-square" [style.backgroundColor]="user.color"></span>
                    </clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    of {{pagination.totalItems}} users
                    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>

        </clr-tab-content>
    </clr-tab>

    <clr-tab>
        <button clrTabLink><i class="fa fa-trash-o"></i> Random Stuff</button>
        <clr-tab-content *clrIfActive>
            <p>This is a Clarity seed application. This is the default page that loads for the application.</p>

            <span class="label label-info">Info</span>
            <span class="label label-success">Success</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Error</span>

            <button class="btn">Regular</button>
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-success">Success</button>
            <button class="btn btn-info">Info</button>
            <button class="btn btn-warning">Warning</button>
            <button class="btn btn-danger">Danger</button>
            <button class="btn" disabled>Disabled</button>

            <div class="btn-group btn-primary">
                <button class="btn">Add</button>
                <button class="btn">Edit</button>
                <button class="btn">Download</button>
                <button class="btn">Delete</button>
            </div>


            <h4>Progress Bar</h4>
            <div class="progress demo">
                <progress max="100" value="0" data-displayval="0%"></progress>
            </div>

            <h4>Labeled</h4>
            <div class="progress labeled">
                <progress max="100" value="0" data-displayval="0%"></progress>
                <span></span>
            </div>

            <h4>Fade Out</h4>
            <div class="progress progress-fade">
                <progress max="100" value="0" data-displayval="0%"></progress>
            </div>


            <clr-dropdown>
                <button class="btn btn-outline-primary" clrDropdownToggle>
                    Dropdown
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <div class="dropdown-menu">
                    <label class="dropdown-header">Dropdown header</label>
                    <a href="javascript://" clrDropdownItem>Action 1</a>
                    <a href="javascript://" clrDropdownItem>Action 2</a>
                    <a href="javascript://" class="disabled" clrDropdownItem>Disabled</a>
                    <div class="dropdown-divider"></div>
                    <a href="javascript://" clrDropdownItem>Link 1</a>
                    <a href="javascript://" clrDropdownItem>Link 2</a>
                </div>
            </clr-dropdown>


            <form>
                <section class="form-block">
                    <label>A Form</label>
                    <div class="form-group">
                        <label for="aForm_1">This is a form field</label>
                        <input type="text" id="aForm_1" placeholder="Enter value here" size="45">
                    </div>
                    <div class="form-group">
                        <label for="aForm_2">Another form field</label>
                        <input type="password" id="aForm_2" placeholder="Enter another value here" size="35">
                    </div>
                    <div class="form-group">
                        <label for="aForm_3">A select box</label>
                        <div class="select">
                            <select id="aForm_3">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="aForm_4">Textarea</label>
                        <textarea id="aForm_4" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Button</button>
                </section>
            </form>


        </clr-tab-content>
    </clr-tab>

    <clr-tab>
        <button clrTabLink clrTabLinkId="link3"><i class="fa fa-pencil"></i> Form</button>
        <clr-tab-content *clrIfActive>


            <form>
                <section class="form-block">
                    <label>A Form</label>
                    <div class="form-group">
                        <label for="aForm_1">This is a form field</label>
                        <input type="text" id="aForm_1" placeholder="Enter value here" size="45">
                    </div>
                    <div class="form-group">
                        <label for="aForm_2">Another form field</label>
                        <input type="password" id="aForm_2" placeholder="Enter another value here" size="35">
                    </div>
                    <div class="form-group">
                        <label for="aForm_3">A select box</label>
                        <div class="select">
                            <select id="aForm_3">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="aForm_4">Textarea</label>
                        <textarea id="aForm_4" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success" (click)="toggler()">Send</button>
                </section>
            </form>


            <!--<div class="modal">-->
            <!--<div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">-->
            <!--<div class="modal-content">-->
            <!--...-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-backdrop" aria-hidden="true"></div>-->

            <clr-modal [(clrModalOpen)]="basic" [clrModalSize]="'sm'">
                <h3 class="modal-title">Confirmation</h3>
                <div class="modal-body">
                    <p>But not much to say...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>
                </div>
            </clr-modal>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>


<div class="header-breadcrumbs">
    <h1>Home</h1>
</div>


<clr-tabs>
    <clr-tab *ngFor="let tabdata of tabs; let id = index">
        <button clrTabLink id="testlink{{id}}">{{ tabdata.title }}</button>
        <clr-tab-content *clrIfActive>
            <ng-container *ngTemplateOutlet="dynamicTabContent; context: {'tab': tabdata}"></ng-container>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

<ng-template #dynamicTabContent let-tab="tab">
    <div>
        {{ tab.content }}
    </div>
</ng-template>


<clr-tabs>
    <clr-tab>
        <button clrTabLink clrTabLinkId="link-1"><i class="fa fa-table"></i> Datagrid</button>
        <clr-tab-content *clrIfActive>
        </clr-tab-content>
    </clr-tab>

    <clr-tab>
        <button clrTabLink clrTabLinkId="link-2"><i class="fa fa-trash-o"></i> Random Stuff</button>
        <clr-tab-content *clrIfActive>
            <p>This is a Clarity seed application. This is the default page that loads for the application.</p>

            <span class="label label-info">Info</span>
            <span class="label label-success">Success</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Error</span>

            <button class="btn">Regular</button>
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-success">Success</button>
            <button class="btn btn-info">Info</button>
            <button class="btn btn-warning">Warning</button>
            <button class="btn btn-danger">Danger</button>
            <button class="btn" disabled>Disabled</button>

            <div class="btn-group btn-primary">
                <button class="btn">Add</button>
                <button class="btn">Edit</button>
                <button class="btn">Download</button>
                <button class="btn">Delete</button>
            </div>


            <h4>Progress Bar</h4>
            <div class="progress demo">
                <progress max="100" value="0" data-displayval="0%"></progress>
            </div>

            <h4>Labeled</h4>
            <div class="progress labeled">
                <progress max="100" value="0" data-displayval="0%"></progress>
                <span></span>
            </div>

            <h4>Fade Out</h4>
            <div class="progress progress-fade">
                <progress max="100" value="0" data-displayval="0%"></progress>
            </div>


            <clr-dropdown>
                <button class="btn btn-outline-primary" clrDropdownToggle>
                    Dropdown
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <div class="dropdown-menu">
                    <label class="dropdown-header">Dropdown header</label>
                    <a href="javascript://" clrDropdownItem>Action 1</a>
                    <a href="javascript://" clrDropdownItem>Action 2</a>
                    <a href="javascript://" class="disabled" clrDropdownItem>Disabled</a>
                    <div class="dropdown-divider"></div>
                    <a href="javascript://" clrDropdownItem>Link 1</a>
                    <a href="javascript://" clrDropdownItem>Link 2</a>
                </div>
            </clr-dropdown>


            <form>
                <section class="form-block">
                    <label>A Form</label>
                    <div class="form-group">
                        <label for="aForm_1">This is a form field</label>
                        <input type="text" id="aForm_1" placeholder="Enter value here" size="45">
                    </div>
                    <div class="form-group">
                        <label for="aForm_2">Another form field</label>
                        <input type="password" id="aForm_2" placeholder="Enter another value here" size="35">
                    </div>
                    <div class="form-group">
                        <label for="aForm_3">A select box</label>
                        <div class="select">
                            <select id="aForm_3">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="aForm_4">Textarea</label>
                        <textarea id="aForm_4" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Button</button>
                </section>
            </form>
        </clr-tab-content>
    </clr-tab>

    <clr-tab>
        <button clrTabLink clrTabLinkId="link-3"><i class="fa fa-table"></i> Datagrid</button>
        <clr-tab-content *clrIfActive>
            <form>
                <section class="form-block">
                    <label>A Form</label>
                    <div class="form-group">
                        <label for="aForm_1">This is a form field</label>
                        <input type="text" id="aForm_1" placeholder="Enter value here" size="45">
                    </div>
                    <div class="form-group">
                        <label for="aForm_2">Another form field</label>
                        <input type="password" id="aForm_2" placeholder="Enter another value here" size="35">
                    </div>
                    <div class="form-group">
                        <label for="aForm_3">A select box</label>
                        <div class="select">
                            <select id="aForm_3">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="aForm_4">Textarea</label>
                        <textarea id="aForm_4" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success" (click)="toggler()">Send</button>
                </section>
            </form>


            <!--<div class="modal">-->
            <!--<div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">-->
            <!--<div class="modal-content">-->
            <!--...-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-backdrop" aria-hidden="true"></div>-->

            <clr-modal [(clrModalOpen)]="basic" [clrModalSize]="'sm'">
                <h3 class="modal-title">Confirmation</h3>
                <div class="modal-body">
                    <p>But not much to say...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>
                </div>
            </clr-modal>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
