<div class="form-group col-sm-6">
    <label class="control-label" for="requesttype" mltag="txt_requesttype">Request Type</label>
    <ng-select id="requesttype"
        [items]="requestTypes"
        [allowClear]="true"
        placeholder="Select Type"
        [formControl]="requestTypeForm.controls['type']"
        (selected)="onRequestTypeSelect($event)"
   mltag="txt_selecttype">
    </ng-select>
</div>

<div [ngSwitch]="selectedRequestType">
    <div class="form-group col-sm-6" *ngSwitchCase="1">
        <label class="control-label" for="requestFromRelationship" mltag="txt_requestfromrelationship">Request From Connection</label>
        <ng-select id="requestFromRelationship"
            [items]="walletRelationships"
            [allowClear]="true"
            placeholder="Select Connection"
            [formControl]="requestTypeForm.controls['fromRelationship']"
            (selected)="onRelationshipSelect($event)"
       mltag="txt_selectrelationship">
        </ng-select>
    </div>

    <div *ngSwitchCase="2">
        <div class="form-group col-sm-6">
            <label class="control-label" for="walletFrom" mltag="txt_requestfromleiindirectory">Request From LEI</label>
            <ng-select id="walletFrom"
                [items]="walletDirectoryList"
                [allowClear]="true"
                placeholder="Select Wallet"
                [formControl]="requestTypeForm.controls['walletFrom']"
                (selected)="onWalletSelect($event)"
           mltag="txt_selectwallet">
            </ng-select>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label" for="addressTo" mltag="txt_receivetoaddress">Receive To Address</label>
            <ng-select id="addressTo"
                [items]="walletAddressList"
                [allowClear]="true"
                placeholder="Select Address"
                [formControl]="requestTypeForm.controls['addressTo']"
                (selected)="onAddressSelect($event)"
           mltag="txt_selectaddress">
            </ng-select>
        </div>
    </div>
</div>