.switch-container {
  position: absolute;
  display: inline-block;
  margin-top: 4px;
  cursor:pointer;
}
.slider {
  left: 0;
  top: 5px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor:pointer;
}

.btn {
  border: 1px dashed gray;
  color: gray;
  background-color: white;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: .8em;
  line-height: 0;
  cursor:pointer;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 6px;
  height: 36px;
  opacity: 0;
  cursor:pointer;
}
.upload-btn-wrapper:hover .btn {
  border: 1px dashed white;
  color: white;
  background-color: rgba(0, 0, 0, 0.35);
}

.label clr-icon {
  cursor: pointer;
}