
  .heplTxtColor{
    color: red;
  }
  
  clr-tabs ul {
    padding-left : 0px !important;
  }

  clr-tabs ul.nav {
    padding-left: 0px !important;
  }

  clr-tabs ul {
    padding-left: 0px !important;
  }

  clr-tabs section {
    margin-left: 0px !important;
  }
  clr-tabs ul button {
    border-top-left-radius: 13px !important
  }
 clr-tabs > section {
    margin: 0px !important;
  } 

  .label-top {
    margin-top: 16px !important;
  }

  .sidenav-button {
    background: #7a7777f5;
    color: white;
    border-color: #848888;
  }  
  .help-page-container {
    background-color: white;
    padding: 20px;
    width: 100%;
 }
 .help-page-header-span {
  font-size: 26px;
   font-weight: bold;
 }
 
 .help-page-header-sub-span {
  margin-left: 42px; 
  font-style: italic;
 }
 
 .help-page-tabs-div {
  background: white; 
  margin-top: 15px;
 }
 .faq{
  border-top:  2px solid rgb(158, 155, 155);
 }
 .Tutorials{
  margin-left: 40px;
 }

 .help-page-tabs {
  border: 1px solid rgb(158, 155, 155);
  margin-top: 21px;
  border-radius: 0.7rem; 
  background: white;
   max-width: 70em;
   padding-top: 20px !important; 
   min-height: 30rem;
 }

 .help-page-individual-tab {
  padding-left: 0px !important;
 }

 .help-page-individual-tab-button {
  border-top-left-radius: 13px !important
 }
 .help-page-individual-tab-content {
  margin: 0px !important;
 }



  