<div class="help-page-container">
    <div>
        <p>
            <clr-icon shape="help" size="32"></clr-icon>
            <span class="help-page-header-span">
                {{'Help Page & Documentation' | translate}}
            </span>
            <br> <span class="help-page-header-sub-span"><strong>
                For any assistance needed, please contact <u> ops@iznes.io </u> </strong> </span>
        </p>
    </div>
    <div class="help-page-tabs-div" >
        <clr-tabs class="help-page-tabs">

            <clr-tab class="help-page-individual-tab">
                <button clrTabLink id="link1" class="help-page-individual-tab-button">Documentation</button>
                <clr-tab-content id="content1" *clrIfActive="true" class="help-page-individual-tab-content">
                    <form>
                        <div class="form-group row">
                            <label for="staticFile" class="col-sm-8 col-form-label label-top">{{'KYC OPERATIONAL
                                PROCESS AND
                                VALUE
                                CHAIN' | translate}}</label>
                            <div class="col-sm-4">
                                <setl-file-viewer
                                    fileHash="e0b2154ec11a7dfb701714e364354dcf76f5b463dbe094a7976404fd9f827760"
                                    isHelpDocument=true>
                                </setl-file-viewer>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticFile" class="col-sm-8 col-form-label label-top">
                                {{'CLIENT CLAIMS MANAGEMENT POLICY' | translate }}
                            </label>
                            <div class="col-sm-4">
                                <setl-file-viewer
                                    fileHash="1f768de6f555a6c67ecbcb2172def86e6edd91bc7ec700a435fe6c366072526f"
                                    isHelpDocument=true>
                                </setl-file-viewer>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticFile" class="col-sm-8 col-form-label label-top">
                                {{'POLICY FOR THE PREVENTION AND MANAGEMENT OF CONFLICTS OF INTEREST' | translate }}
                            </label>
                            <div class="col-sm-4">
                                <setl-file-viewer
                                    fileHash="59b4f4b5338b89ef6925148f0db33fcae1d7d4fb6fe62af26d2c20519cc9a8d6"
                                    isHelpDocument=true>
                                </setl-file-viewer>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticFile" class="col-sm-8 col-form-label label-top">
                                {{'DATA PROTECTION STATEMENT' | translate }}
                            </label>
                            <div class="col-sm-4">
                                <setl-file-viewer
                                    fileHash="e8d6ba9ecd8d2cd58b71aba4f08745d463ce7fab98b958b3ab8a99d4e5b04866"
                                    isHelpDocument=true>
                                </setl-file-viewer>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticFile" class="col-sm-8 col-form-label label-top">
                                {{'FORM W-8BEN-E' | translate }}
                            </label>
                            <div class="col-sm-4">
                                <setl-file-viewer
                                    fileHash="38f185903864bd86d718ee68ab759eb7a64d19f4b47677470fd71d66afa7a61b"
                                    isHelpDocument=true>
                                </setl-file-viewer>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticFile" class="col-sm-8 col-form-label label-top">
                                {{'WOLFSBERG QUESTIONNAIRE' | translate }}
                            </label>
                            <div class="col-sm-4">
                                <setl-file-viewer
                                    fileHash="893fec6a3971f39e6416777dae69e32f83d906b1b429731eaba81bd411051c1a"
                                    isHelpDocument=true>
                                </setl-file-viewer>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticFile" class="col-sm-8 col-form-label label-top">
                                {{'CRS-E SELF-CERTIFICATION FORM' | translate }}
                            </label>
                            <div class="col-sm-4">
                                <setl-file-viewer
                                    fileHash="a9c7097f1d3b3b5eaf1e99a90307a04340a575993dad026b6185f20d47379003"
                                    isHelpDocument=true>
                                </setl-file-viewer>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticFile" class="col-sm-8 col-form-label label-top">
                                {{'IZNES USER GUIDE FOR INVESTORS' | translate }}
                            </label>
                            <div class="col-sm-4">

                                <setl-file-viewer
                                    fileHash="1526905e946fb9d03b784ad3e35473f4f9b1267407e250852348a4e43bc7ec84"
                                    isHelpDocument=true>
                                </setl-file-viewer>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticFile" class="col-sm-8 col-form-label label-top">
                                {{'IZNES USER GUIDE FOR MANAGEMENT COMPANIES' | translate }}
                            </label>
                            <div class="col-sm-4">
                                <setl-file-viewer
                                    fileHash="1905b3108b2f354327ac32269eb64b84e9e1dd4d98723a6f7b961b4796847a93"
                                    isHelpDocument=true>
                                </setl-file-viewer>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticFile" class="col-sm-8 col-form-label label-top">
                                {{'API AND RABBITMQ DOCUMENTATION ' | translate }}
                            </label>
                            <div class="col-sm-4">
                                <setl-file-viewer
                                    fileHash="35bb4a539777f43f0135e242ea93ebd96fd0f1cdaaaae60d849904f70447148f"
                                    isHelpDocument=true>
                                </setl-file-viewer>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticFile" class="col-sm-8 col-form-label label-top">
                                {{'MT DOCUMENTATION' | translate }}
                            </label>
                            <div class="col-sm-4">
                                <setl-file-viewer
                                    fileHash="eb7524a5d21d81fa242d9fb05241ca6d94b6207d97c9b58c5ff42126c2416961"
                                    isHelpDocument=true>
                                </setl-file-viewer>
                            </div>
                        </div>

                    </form>
                </clr-tab-content>
            </clr-tab>

            <clr-tab class="faq">
                <button clrTabLink> <strong>FAQs </strong></button>
                <clr-tab-content *clrIfActive>

                    <clr-tree-node [clrExpanded]="false" size="25">
                        <strong> How to invite collaborators to the IZNES platform ? </strong>
                        <clr-tree-node [clrExpanded]="true">
                            <p>
                                As the Administrator of the IZNES platform within your company, you can invite employees
                                to create their account on IZNES. <br>
                                1- Go to the <button class="btn btn-sm sidenav-button">Administration > Teams</button>
                                module and click on <button class="btn btn-primary btn-sm">Add a new team</button> <br>
                                2- Give a name and a reference to this team then, add a description<br>
                                3 - At the bottom of this page, you will be able to define the permissions<br>
                                of the team on the IZNES platform. Then, Click on <button
                                    class="btn btn-primary btn-sm">Create Team</button>when you are done.<br>
                                A pop-up will appear to confirm the creation of this team.<br>

                                You will be able to change the permissions of the different teams by going
                                back to them and clicking on <button class="btn btn-primary btn-sm">Update
                                    team</button>after modification.<br>
                                <strong> You can now add a new user to this team. </strong><br>
                                4- Go to the <button class="btn btn-sm sidenav-button">Administration > Users</button>
                                module and click on <button class="btn btn-primary btn-sm">Add a new user</button> <br>
                                Note: you can create several users at the same time by attaching them to the same
                                team.<br>
                                5- Fill in the required data and select one or more teams to which the user will
                                belong.<br>
                                <span style="text-decoration: underline;">Option 1:</span> Click on <button
                                    class="btn btn-primary btn-sm">Create User(s)</button> to register the user. No
                                invitation will be sent to
                                the user.<br>
                                The user will have a "pending" status.<br>
                                <span style="text-decoration: underline;">Option 2:</span> Click <button
                                    class="btn btn-primary btn-sm">Create and Send Invitation(s)</button> to create the
                                user and send them an
                                invitation to <br>
                                create their account on IZNES.<br>
                                A pop-up will appear to confirm the creation of the user. <br>
                                When the invitation is sent to the user, they will need to click on the link in the
                                invitation email<br>
                                to create their password and activate their account on the IZNES platform.<br>
                            </p>
                        </clr-tree-node>
                    </clr-tree-node>

                    <clr-tree-node [clrExpanded]="false">
                        <strong> How to reset two-factor autentication? </strong>
                        <clr-tree-node [clrExpanded]="true">
                            <p>
                                You can reset your two-factor authentication from the IZNES platform login page. <br>
                                1- Login to your IZNES account <br>
                                2- You will be redirected to the the page dedicated to the two-factor authentication.
                                <br>
                                Click on "<a class="signup">Lost access to your code?</a>" <br>
                                3- Enter your username <br>
                                4- An email inviting you to reset the two-factor code has been sent to the address
                                linked to your account. Click on the link contained in this email.<br>
                                5- Go to the login page and log in. You will have access to a new QR code to scan with
                                your authentication
                                app. <br>
                                <strong> The new 6 digits-code linked to your account will be available on your
                                    authentication app. </strong>

                            </p>
                        </clr-tree-node>
                    </clr-tree-node>

                    <clr-tree-node [clrExpanded]="false">
                        <strong> How to reset my password? </strong>
                        <clr-tree-node [clrExpanded]="true">
                            <p>
                                <strong> If you have forgotten your password, it is possible to reset it from the IZNES
                                    platform login page. </strong> <br>
                                1– Go to the login page and click on “<a class="signup">Forgot your password?</a>” Fill
                                in your
                                username <br>
                                2- You will receive an e-mail inviting you to reset your password. Click on
                                the link contained in this e-mail. <br>
                                3- Enter a new password and click on <button
                                    class="btn btn-primary btn-sm">Send</button> <br>
                                4- You will receive an e-mail confirming that your password has been changed.<br>
                                You can login with your new password. <br>
                                <strong> It is also possible to change your password once logged-in from
                                    the “My information” page. </strong> <br>
                                1- Access your profile settings, on the top left corner by
                                clicking on the icon <clr-icon shape="user"> </clr-icon> and accessing "My information".
                                <br>
                                2- You have to scroll down the “View/Edit Information” tab to find the password change
                                feature. <br>
                                3- Enter the old password and the new one. <br>
                                4- Click on <button class="btn btn-primary btn-sm">Update</button> <br>
                                You will be able to login with your new password. <br>
                            </p>

                        </clr-tree-node>
                    </clr-tree-node>

                    <clr-tree-node [clrExpanded]="false">
                        <strong> How to find my IDs and keys to use the APIs? </strong>
                        <clr-tree-node [clrExpanded]="true">
                            <p>
                                The APIs require the API IDs and keys specific to the users who use the platform. <br>
                                1- Once logged in with your user account, access your information by clicking on the
                                icon > <clr-icon shape="user"> </clr-icon> and
                                accessing “My information” <br>
                                2- Access the 3rd tab of this page " >__ API ". <br>
                                3- On this tab, you will have access to the information about your User ID, Wallet ID
                                and API Key of your wallet. <br> <br>
                                [For Investors] If you want to use the NewOrder API, access <button
                                    class="btn btn-sm sidenav-button">My
                                    Sub-portfolios</button>
                                module to find the information related to the sub-portfolios (portfolio) <br>
                                4- Click on the sub-portfolio you want to use for the API to see its blockchain address
                                <br>
                                You can use all these information to generate tokens for using IZNES APIs.

                            </p>
                        </clr-tree-node>
                    </clr-tree-node>

                    <clr-tree-node [clrExpanded]="false">
                        <strong> [Investors] How to change my bank details? </strong>
                        <clr-tree-node [clrExpanded]="true">
                            <p>
                                As an Investor, you can modify the bank account information related to your
                                sub-portfolios. Please note that you will also have to modify this information in your
                                Client File to keep it up to date and compliant. <br>
                                1 - Access the <button class="btn btn-sm sidenav-button">My Sub-portfolios </button>
                                module <br>
                                2- Click on the <button class="btn btn-success btn-sm"><i
                                        class="fa fa-edit"></i><span>Edit</span></button> button of the sub-portfolio
                                you want to modify. <br>
                                3- You can also delete the sub-portfolio by clicking on <button
                                    class="btn btn-danger btn-sm"><i
                                        class="fa fa-trash-o"></i><span>Delete</span></button>. <br>
                                <span style="color: red;"> Please note that you will not be able to delete a
                                    sub-portfolio on which you have an available position. Also, after a deletion,
                                    you will not be able to use the same sub-portfolio name to create a new one. </span>
                                <br>
                                3- If you decide to edit your sub-portfolio, you will have access to the latest banking
                                information entered in IZNES. You can modify all the necessary information. <br>
                                4- Once the changes are done, you can click on the <button
                                    class="btn btn-success btn-sm">Update</button> button to save your new
                                banking information. <br>
                            </p>
                        </clr-tree-node>
                    </clr-tree-node>

                    <clr-tree-node [clrExpanded]="false">
                        <strong> [Investors] How to place an order on the IZNES platform? </strong>

                        <clr-tree-node [clrExpanded]="true">
                            <p>
                                Before placing your first order, you will need to create a sub-portfolio. This
                                sub-portfolio will require a name and an IBAN.
                                You can create as many sub-portfolios as you want. <br>
                                1- Click on <button class="btn btn-sm sidenav-button">My Sub-portfolios </button> module
                                <br>
                                2- Once you access this module, you will be able to add a new sub-portfolio by clicking
                                on <button class="btn btn-primary btn-sm">Add a new subportfolio </button><br>
                                3- When you click on <button class="btn btn-primary btn-sm">Add a new subportfolio
                                </button>, a new window will appear to fill in your
                                bank information (i.e. the cash
                                account of the investing portfolio) as well as the information related to the bank that
                                holds the account. <br>
                                4- Click on <button class="btn btn-success btn-sm">Create</button> to add this
                                sub-portfolio. <br>
                                5- Once your sub-portfolio is created, you can then modify it by clicking on <button
                                    class="btn btn-success btn-sm"><i class="fa fa-edit"></i><span>Edit</span></button>
                                or
                                delete it by clicking on <button class="btn btn-danger btn-sm"><i
                                        class="fa fa-trash-o"></i><span>Delete</span></button> from the main page. <br>
                                <span style="color: red;"> Note: you can add as many sub-portfolios as you want. </span>
                                <br>
                                <strong> Once your first sub-portfolio is created, you will be able to place orders on
                                    the products you have access to. </strong> <br>
                                6- Access the <button class="btn btn-sm sidenav-button">Order book</button> module and
                                the <button class="btn btn-sm sidenav-button">Place Order</button>
                                sub-module in the left menu. <br>
                                7- For each share you have access to, you can click <button
                                    class="btn btn-success btn-sm" style="margin: 0px;"><i
                                        class="fa fa-sign-in"></i>Subscribe</button> to place a subscription
                                order, <button class="btn btn-danger btn-sm" style="margin: 0px;"><i
                                        class="fa fa-sign-out"></i> Redeem </button>to place a redemption order or
                                <button class="btn btn-orange btn-sm" style="margin: 0px;"><i
                                        class="fa fa-circle-o-notch"></i><span> Sell/Buy</span></button> to place a
                                buy/sell order (if
                                available).
                                <br>
                                <span style="color: red"> You
                                    can only make a redemption once you have subscribed to that same stock, or in other
                                    words, if you do not have a position, you cannot make a redemption. </span> <br>
                                8- When you click on <button class="btn btn-success btn-sm" style="margin: 0px;"><i
                                        class="fa fa-sign-in"></i> Subscribe </button> or <button
                                    class="btn btn-danger btn-sm" style="margin: 0px;"><i class="fa fa-sign-out"></i>
                                    Redeem </button>, you will be redirected to an order placement
                                screen. On this screen, you will have to fill in the information related to the order
                                you want to place (dates / quantity or amount). <br>
                                You will also have to choose the sub-portfolio to invest with. (see previous section)
                                <br>
                                9- Once finished, check the box concerning the KIID and click on <button
                                    class="btn btn-primary btn-sm">Place Order</button> <br>
                                10- A new pop-up window appears to confirm your order. Click <button
                                    class="btn btn-primary btn-sm">Confirm </button> if you agree with
                                the order details. <br>
                                11- Your order is now confirmed with an <span class="label label-warning">Initiated
                                </span> status. You can cancel it before
                                the cut-off date and time by clicking on <button
                                    class="btn btn-danger btn-sm">Cancel</button>. <br>
                            </p>
                        </clr-tree-node>
                    </clr-tree-node>

                    <clr-tree-node [clrExpanded]="false">
                        <strong>[Mangement Companies] How to Import NAVs via a CSV file? </strong>
                        <clr-tree-node [clrExpanded]="true">
                            <p> Thanks to the management of the Net Asset Value, the Management Companies can add the
                                net asset values by importing a CSV file. You will find in the appendix of this article
                                the example of CSV file to use. <br>
                                1. Go to <button class="btn btn-sm sidenav-button">My products</button> module, then
                                <button class="btn btn-sm sidenav-button">Net Asset Value</button>.
                                <br>
                                2. Click on the <button class="btn btn-primary btn-sm">Upload NAVs </button> to download
                                the CSV file containing the NAVs you want to
                                fill in. <br>
                                The CSV file should be formatted as followed: <br>
                                Date;VL;Devise;Nbre parts;Coupon;Capi Distrib;Rdt Net;Rdt Brut;Actif Net;Actif Net
                                Global; Code Isin <br>
                                3. Choose the CSV file you want to import and then click on the <button
                                    class="btn btn-primary btn-sm">Download </button> button. <br>
                                The VLs will be filled in with a <span class="label label-success">Validated </span>
                                status. <br>

                            </p>
                        </clr-tree-node>
                    </clr-tree-node>

                    <clr-tree-node [clrExpanded]="false">
                        <strong>[Mangement Companies] How to invite fund managers on the IZNES platform? </strong>

                        <clr-tree-node [clrExpanded]="true">
                            <p> As a Management Company, it is possible to invite a collaborator as a Portfolio Manager.
                                The Portfolio Manager will have a specific User, which will allow him to act on behalf
                                of the Funds he manages. <br>
                                1- Go to the module <button class="btn btn-sm sidenav-button">My Clients > Portfolio
                                    Managers</button>, then click on
                                <button class="btn btn-sm">Invite a portfolio
                                    Manager</button> <br>
                                2- Fill in the email address that will be used to create the User, then select the type
                                of Portfolio Manager "Fund of Funds Manager". <br>
                                <span style="color: red"> The e-mail address filled-in must not already be used for
                                    another user account. </span> <br>
                                3- Then select the funds on whose behalf the Manager will be able to act <br>
                                4- Click on <button class="btn btn-success btn-sm">Create Mandate
                                    PortfolioManagers</button> <br>
                                <strong> The Portfolio Manager will receive an email inviting him to
                                    create his account on IZNES. </strong> <br>
                                5- Once his account is created, the administrator of the management company will be able
                                to find this portfolio manager in the module <button
                                    class="btn btn-sm sidenav-button">My clients > Portfolio Managers
                                </button> <br>
                                6- By clicking on a Portfolio Manager, the Management Company administrator will be able
                                to modify the funds to which he has access. <br>
                                7- By clicking on <button class="btn btn-success btn-sm">Manage Shares
                                    Authorisation</button>, the Management Company's administrator
                                will be able to modify the shares to which the fund under management has access. <br>

                            </p>
                        </clr-tree-node>
                    </clr-tree-node>

                    <clr-tree-node [clrExpanded]="false">
                        <strong>[Mangement Companies] How to invite mandate managers on the IZNES platform? </strong>
                        <clr-tree-node [clrExpanded]="true">
                            <p>
                                As a management company, it is possible to invite an employee as Portfolio Manager. The
                                Portfolio Manager will then have a specific user who will allow him/her to act on behalf
                                of the mandate he/she manages. <br>
                                1- Go to <button class="btn btn-sm sidenav-button">My clients > Client
                                    Referential</button>, then click on <button class="btn btn-sm"> Create Investor
                                    under mandate </button>.
                                <br>
                                2- Select the type of investor between "Institutional Investor" or "Individual
                                Investor". <br>
                                3- If the mandate is an Institutional Investor, enter the Company name and a reference
                                if necessary, then click on <button class="btn btn-primary btn-sm">Create Mandate
                                    Investors</button>. <br>
                                3"- If the mandate is an individual investor, enter the first and last name
                                of the investor and a reference if necessary, then click <button
                                    class="btn btn-primary btn-sm">Create Mandate Investors</button>. <br>
                                <strong> The mandate is now created as a Client. You can invite a new Portfolio Manager
                                    to act on
                                    behalf of the client. </strong> <br>
                                4- Go to <button class="btn btn-sm sidenav-button">My Clients > Portfolio
                                    Managers</button> module, then click on
                                <button class="btn btn-sm">Invite a Portfolio Manager</button>. <br>
                                5- Enter the email address that will be used to create the
                                User and select the type of Portfolio manager "Discretionary Manager". <br>
                                3- Choose the mandates on behalf of which he can act. <br>
                                4- Click on <button class="btn btn-primary btn-sm">Create Mandate
                                    PortfolioManagers</button> <br>
                                5- When you return to the main page, you will have access to all Portfolio
                                Managers. By clicking on the Discretionary Manager, you can change the mandates
                                on behalf of which he/she can act. <br>
                                6- By clicking on <button class="btn btn-success btn-sm">Manage Share
                                    Authorisations</button>, you can change the shares
                                that the mandate can access.
                            </p>
                        </clr-tree-node>
                    </clr-tree-node>

                    <clr-tree-node [clrExpanded]="false">
                        <strong>[Mangement Companies] How to invite investors on the IZNES platform? </strong>
                        <clr-tree-node [clrExpanded]="true">
                            <p>
                                As a Management Company, you can invite your Clients to create their account on the
                                IZNES platform. To do so, you must have access to My Clients module. <br>
                                1- Go to the <button class="btn btn-sm sidenav-button">My Clients > Client
                                    Referential</button> module, then click on
                                <button class="btn btn-sm"> Invite Investors </button>.
                                <br>
                                2- Fill in your client's email address, investor type and the language you want to send
                                the invitation. Then, click on <button class="btn btn-primary btn-sm"> Send invitation
                                    by email</button>. <br>
                                <span style="color: red;"> Note: the person who receives this invitation will become a
                                    SuperAdmin within
                                    their company. </span><br>
                                3- You can find the sent invitations andtheir status at the bottom of the invitation
                                page. <br>
                                The investor will receive an email inviting him to create his account on the IZNES
                                platform. He will then have to fill in his client file (KYC) in order to use IZNES.
                            </p>
                        </clr-tree-node>
                    </clr-tree-node>
                </clr-tab-content>
            </clr-tab>
            <clr-tab>
                <button clrTabLink>Tutorials</button>
                <clr-tab-content *clrIfActive>
                    <div class="Tutorials">
                        <p><a href="https://youtu.be/Z6G5AgRkIs0" target="_new">How to invite collaborators to the IZNES
                                platform?</a></p>
                        <p><a href="https://youtu.be/_vF0QjAaT4E" target="_new">[Investors] How to change my bank
                                details?</a>
                        </p>
                        <p><a href="https://youtu.be/lyczAPjxAVM" target="_new">[Investors] How to place an order on the
                                IZNES
                                platform?</a></p>
                        <p><a href="https://youtu.be/kUokcGdclJA" target="_new">[Mangement Companies] How to invite
                                mandate
                                managers on the IZNES platform?</a></p>
                        <p><a href="https://youtu.be/pQLuHNmWxYQ" target="_new">[Mangement Companies] How to invite
                                investors on
                                the IZNES platform?</a></p>
                    </div>
                </clr-tab-content>
            </clr-tab>
        </clr-tabs>
    </div>

    <!-- 
        <div class="tabset" style=" border: 2px solid rgb(158, 155, 155);
border-radius: 0.7rem;   ">
       
        <input type="radio" name="tabset" id="tab1" aria-controls="documentation" checked>
        <label for="tab1">Documentation</label>
        <input type="radio" name="tabset" id="tab2" aria-controls="faq">
        <label for="tab2"> FAQs</label>
        <input type="radio" name="tabset" id="tab3" aria-controls="tutorials">
        <label for="tab3">Tutorials</label>

        <div class="tab-panels">
            <section id="documentation" class="tab-panel ">
                <form>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-8 col-form-label">{{'KYC OPERATIONAL PROCESS AND VALUE
                            CHAIN' | translate}}</label>
                        <div class="col-sm-4">
                          <setl-file-viewer
                                fileHash="59b4f4b5338b89ef6925148f0db33fcae1d7d4fb6fe62af26d2c20519cc9a8d6">
                            </setl-file-viewer>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-8 col-form-label">
                            {{' CLIENT CLAIMS MANAGEMENT POLICY' | translate }}
                        </label>
                        <div class="col-sm-4">
                            <setl-file-viewer
                                fileHash="e0b2154ec11a7dfb701714e364354dcf76f5b463dbe094a7976404fd9f827760">
                            </setl-file-viewer>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-8 col-form-label">
                            {{'POLICY FOR THE PREVENTION AND MANAGEMENT OF CONFLICTS OF INTEREST' | translate }}
                        </label>
                        <div class="col-sm-4">
                            <setl-file-viewer
                                fileHash="e0b2154ec11a7dfb701714e364354dcf76f5b463dbe094a7976404fd9f827760">
                            </setl-file-viewer>
                           
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-8 col-form-label">
                            {{'DATA PROTECTION STATEMENT' | translate }}
                        </label>
                        <div class="col-sm-4">
                            <setl-file-viewer
                                fileHash="e0b2154ec11a7dfb701714e364354dcf76f5b463dbe094a7976404fd9f827760">
                            </setl-file-viewer>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-8 col-form-label">
                            {{'FORM W-8BEN-E' | translate }}
                        </label>
                        <div class="col-sm-4">
                            <setl-file-viewer
                                fileHash="e0b2154ec11a7dfb701714e364354dcf76f5b463dbe094a7976404fd9f827760">
                            </setl-file-viewer>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-8 col-form-label">
                            {{'WOLFSBERG QUESTIONNAIRE' | translate }}
                        </label>
                        <div class="col-sm-4">
                            <setl-file-viewer
                                fileHash="e0b2154ec11a7dfb701714e364354dcf76f5b463dbe094a7976404fd9f827760">
                            </setl-file-viewer>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-8 col-form-label">
                            {{'CRS-E SELF-CERTIFICATION FORM' | translate }}
                        </label>
                        <div class="col-sm-4">
                            <setl-file-viewer
                                fileHash="e0b2154ec11a7dfb701714e364354dcf76f5b463dbe094a7976404fd9f827760">
                            </setl-file-viewer>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-8 col-form-label">
                            {{'IZNES USER GUIDE FOR INVESTORS' | translate }}
                        </label>
                        <div class="col-sm-4">
                            <setl-file-viewer
                                fileHash="e0b2154ec11a7dfb701714e364354dcf76f5b463dbe094a7976404fd9f827760">
                            </setl-file-viewer>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-8 col-form-label">
                            {{'IZNES USER GUIDE FOR MANAGEMENT COMPANIES' | translate }}
                        </label>
                        <div class="col-sm-4">
                            <setl-file-viewer
                                fileHash="e0b2154ec11a7dfb701714e364354dcf76f5b463dbe094a7976404fd9f827760">
                            </setl-file-viewer>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-8 col-form-label">
                            {{'API AND RABBITMQ DOCUMENTATION ' | translate }}
                        </label>
                        <div class="col-sm-4">
                            <setl-file-viewer
                                fileHash="e0b2154ec11a7dfb701714e364354dcf76f5b463dbe094a7976404fd9f827760">
                            </setl-file-viewer>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-8 col-form-label">
                            {{'MT DOCUMENTATION' | translate }}
                        </label>
                        <div class="col-sm-4">
                            <setl-file-viewer
                                fileHash="e0b2154ec11a7dfb701714e364354dcf76f5b463dbe094a7976404fd9f827760">
                            </setl-file-viewer>
                        </div>
                    </div>

                </form>
            </section>

            <section id="faq" class="tab-panel">

           
                <clr-datagrid>
                    <clr-dg-row *ngFor="let faq of faqList" [clrDgExpanded]="expandAll">
                        <clr-dg-cell>{{faq.name}}</clr-dg-cell>
                        <clr-dg-row-detail *clrIfExpanded>
                            <div [innerHTML]="faq.details"></div>

                        </clr-dg-row-detail>
                    </clr-dg-row>
                </clr-datagrid>
            </section>
            <section id="tutorials" class="tab-panel">
                <p><a href="https://youtu.be/Z6G5AgRkIs0" target="_new">How to invite collaborators to the IZNES
                        platform?</a></p>
                <p><a href="https://youtu.be/_vF0QjAaT4E" target="_new">[Investors] How to change my bank details?</a>
                </p>
                <p><a href="https://youtu.be/lyczAPjxAVM" target="_new">[Investors] How to place an order on the IZNES
                        platform?</a></p>
                <p><a href="https://youtu.be/kUokcGdclJA" target="_new">[Mangement Companies] How to invite mandate
                        managers on the IZNES platform?</a></p>
                <p><a href="https://youtu.be/pQLuHNmWxYQ" target="_new">[Mangement Companies] How to invite investors on
                        the IZNES platform?</a></p>
            </section>
        </div>

    </div> -->

</div>