<div class="header-breadcrumbs">
    <h1><i class="fa fa-pencil"></i> {{'Expandable Content' | translate}}
    </h1>
</div>

<clr-tabs>
    <clr-tab>
        <button clrTabLink id="modal">
            <i class="fa fa-bars"></i> {{'Expandable Content' | translate}}
        </button>

        <clr-tab-content *clrIfActive>

            <div class="well">
                <!-- Panel header -->
                <div class="row panel-header">
                    <div class="col-xs-12">
                        <a href="#" (click)="panels[1] = !panels[1]; $event.preventDefault();">
                            <i class="fa fa-chevron-right" [class.rotate]="panels[1]"></i>
                            <h2>{{'Title 1' | translate}}</h2>
                        </a>
                    </div>
                </div>

                <!-- Panel body -->
                <div class="panel-body" [class.hidden]="!panels[1]">
                    <div class="row">

                        <div class="col-xs-12">{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat nisl in diam
                            placerat eleifend. Donec feugiat quam at ornare mollis. Fusce semper sollicitudin sapien vel
                            vestibulum. Aenean leo eros, lacinia id fermentum ut, porta in est. Suspendisse id nisi
                            purus. Proin eu augue ut risus elementum maximus a vitae lectus. Duis sit amet augue vitae
                            velit tempor aliquet. Sed vel ullamcorper ante. Duis at lorem in tellus cursus egestas.
                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            Maecenas velit enim, pharetra malesuada orci eu, dictum vehicula sem. Nulla et risus sapien.
                            Fusce maximus est id ante faucibus, sit amet rhoncus nisl sodales. Pellentesque vehicula
                            urna eu arcu consectetur, nec aliquam risus porttitor. Proin hendrerit ultricies hendrerit.' | translate}}



















                        </div>


                        <div class="well">
                            <!-- Panel header -->
                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="panels[2] = !panels[2]; $event.preventDefault();">
                                        <i class="fa fa-chevron-right" [class.rotate]="panels[2]">
                                        </i>
                                        <h2>{{'Title 2' | translate}}</h2>
                                    </a>
                                </div>
                            </div>

                            <!-- Panel body -->
                            <div class="panel-body" [class.hidden]="!panels[2]">
                                <div class="row">

                                    <div class="col-xs-12">{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat nisl
                                        in diam placerat eleifend. Donec feugiat quam at ornare mollis. Fusce semper
                                        sollicitudin sapien vel vestibulum. Aenean leo eros, lacinia id fermentum ut,
                                        porta in est. Suspendisse id nisi purus. Proin eu augue ut risus elementum
                                        maximus a vitae lectus. Duis sit amet augue vitae velit tempor aliquet. Sed vel
                                        ullamcorper ante. Duis at lorem in tellus cursus egestas. Class aptent taciti
                                        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas
                                        velit enim, pharetra malesuada orci eu, dictum vehicula sem. Nulla et risus
                                        sapien. Fusce maximus est id ante faucibus, sit amet rhoncus nisl sodales.
                                        Pellentesque vehicula urna eu arcu consectetur, nec aliquam risus porttitor.
                                        Proin hendrerit ultricies hendrerit.' | translate}}























                                    </div>

                                    <div class="well">
                                        <!-- Panel header -->
                                        <div class="row panel-header">
                                            <div class="col-xs-6">
                                                <a href="#" (click)="panels[3] = !panels[3]; $event.preventDefault();">
                                                    <i class="fa fa-chevron-right" [class.rotate]="panels[3]">
                                                    </i><h2>{{'Title 3' | translate}}</h2>
                                                </a>
                                            </div>
                                        </div>

                                        <!-- Panel body -->
                                        <div class="panel-body" [class.hidden]="!panels[3]">
                                            <div class="row">

                                                <div class="col-xs-12">{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                                                    placerat nisl in diam placerat eleifend. Donec feugiat quam at
                                                    ornare mollis. Fusce semper sollicitudin sapien vel vestibulum.
                                                    Aenean leo eros, lacinia id fermentum ut, porta in est. Suspendisse
                                                    id nisi purus. Proin eu augue ut risus elementum maximus a vitae
                                                    lectus. Duis sit amet augue vitae velit tempor aliquet. Sed vel
                                                    ullamcorper ante. Duis at lorem in tellus cursus egestas. Class
                                                    aptent taciti sociosqu ad litora torquent per conubia nostra, per
                                                    inceptos himenaeos. Maecenas velit enim, pharetra malesuada orci eu,
                                                    dictum vehicula sem. Nulla et risus sapien. Fusce maximus est id
                                                    ante faucibus, sit amet rhoncus nisl sodales. Pellentesque vehicula
                                                    urna eu arcu consectetur, nec aliquam risus porttitor. Proin
                                                    hendrerit ultricies hendrerit.' | translate}}



























                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="well">
                <!-- Panel header -->
                <div class="row panel-header">
                    <div class="col-xs-12">
                        <a href="#" (click)="panels[4] = !panels[4]; $event.preventDefault();">
                            <i class="fa fa-chevron-right" [class.rotate]="panels[4]"></i>
                            <h2>{{'Title 1' | translate}}</h2>
                        </a>
                    </div>
                </div>

                <!-- Panel body -->
                <div class="panel-body" [class.hidden]="!panels[4]">
                    <div class="row">

                        <div class="col-xs-12">{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat nisl in diam
                            placerat eleifend. Donec feugiat quam at ornare mollis. Fusce semper sollicitudin sapien vel
                            vestibulum. Aenean leo eros, lacinia id fermentum ut, porta in est. Suspendisse id nisi
                            purus. Proin eu augue ut risus elementum maximus a vitae lectus. Duis sit amet augue vitae
                            velit tempor aliquet. Sed vel ullamcorper ante. Duis at lorem in tellus cursus egestas.
                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            Maecenas velit enim, pharetra malesuada orci eu, dictum vehicula sem. Nulla et risus sapien.
                            Fusce maximus est id ante faucibus, sit amet rhoncus nisl sodales. Pellentesque vehicula
                            urna eu arcu consectetur, nec aliquam risus porttitor. Proin hendrerit ultricies hendrerit.' | translate}}



















                        </div>


                        <div class="well">
                            <!-- Panel header -->
                            <div class="row panel-header">
                                <div class="col-xs-6">
                                    <a href="#" (click)="panels[5] = !panels[5]; $event.preventDefault();">
                                        <i class="fa fa-chevron-right" [class.rotate]="panels[5]">
                                        </i>
                                        <h2>{{'Title 2' | translate}}</h2>
                                    </a>
                                </div>
                            </div>

                            <!-- Panel body -->
                            <div class="panel-body" [class.hidden]="!panels[5]">
                                <div class="row">

                                    <div class="col-xs-12">{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat nisl
                                        in diam placerat eleifend. Donec feugiat quam at ornare mollis. Fusce semper
                                        sollicitudin sapien vel vestibulum. Aenean leo eros, lacinia id fermentum ut,
                                        porta in est. Suspendisse id nisi purus. Proin eu augue ut risus elementum
                                        maximus a vitae lectus. Duis sit amet augue vitae velit tempor aliquet. Sed vel
                                        ullamcorper ante. Duis at lorem in tellus cursus egestas. Class aptent taciti
                                        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas
                                        velit enim, pharetra malesuada orci eu, dictum vehicula sem. Nulla et risus
                                        sapien. Fusce maximus est id ante faucibus, sit amet rhoncus nisl sodales.
                                        Pellentesque vehicula urna eu arcu consectetur, nec aliquam risus porttitor.
                                        Proin hendrerit ultricies hendrerit.' | translate}}























                                    </div>

                                    <div class="well">
                                        <!-- Panel header -->
                                        <div class="row panel-header">
                                            <div class="col-xs-6">
                                                <a href="#" (click)="panels[6] = !panels[6]; $event.preventDefault();">
                                                    <i class="fa fa-chevron-right" [class.rotate]="panels[6]"></i>

                                                    <h2>{{'Title 3' | translate}}</h2>
                                                </a>
                                            </div>
                                        </div>

                                        <!-- Panel body -->
                                        <div class="panel-body" [class.hidden]="!panels[6]">
                                            <div class="row">

                                                <div class="col-xs-12">{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                                                    placerat nisl in diam placerat eleifend. Donec feugiat quam at
                                                    ornare mollis. Fusce semper sollicitudin sapien vel vestibulum.
                                                    Aenean leo eros, lacinia id fermentum ut, porta in est. Suspendisse
                                                    id nisi purus. Proin eu augue ut risus elementum maximus a vitae
                                                    lectus. Duis sit amet augue vitae velit tempor aliquet. Sed vel
                                                    ullamcorper ante. Duis at lorem in tellus cursus egestas. Class
                                                    aptent taciti sociosqu ad litora torquent per conubia nostra, per
                                                    inceptos himenaeos. Maecenas velit enim, pharetra malesuada orci eu,
                                                    dictum vehicula sem. Nulla et risus sapien. Fusce maximus est id
                                                    ante faucibus, sit amet rhoncus nisl sodales. Pellentesque vehicula
                                                    urna eu arcu consectetur, nec aliquam risus porttitor. Proin
                                                    hendrerit ultricies hendrerit.' | translate}}



























                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </clr-tab-content>
    </clr-tab>
</clr-tabs>