clr-dg-row.selected {
    background: rgba(34,139,34,0.05) !important
}

.col-actions { 
    width: 75px;

    .switch {
        margin-left: 0;

        .slider {
            left: 2px;
            top: 1px;
        }
    }
}

.col.search-name { margin-left: -.5rem; }
.col.show-active { line-height: 40px; }
.col.justify-end { margin-right: -20px; }