<clr-datagrid>
    <clr-dg-column>{{'Asset Management Companies' | translate}}</clr-dg-column>
    <clr-dg-column>{{'Status' | translate}}</clr-dg-column>
    <clr-dg-column>{{'Update Date' | translate}}</clr-dg-column>
    <clr-dg-column>{{'Actions' | translate}}</clr-dg-column>

    <clr-dg-row *clrDgItems="let kyc of kycList">
        <clr-dg-cell>{{kyc.companyName}}</clr-dg-cell>
        <clr-dg-cell [ngSwitch]="kyc.status">
            <span class="label label-danger" *ngSwitchCase="statusList.Rejected">{{'Rejected' | translate}}</span>
            <span class="label label-success" *ngSwitchCase="statusList.Approved">{{'Accepted' | translate}}</span>
            <span class="label label-info" *ngSwitchCase="statusList.Draft">{{'Draft' | translate}}</span>
            <span class="label label-warning" *ngSwitchCase="statusList.WaitingForApproval">{{'Waiting Approval' | translate}}</span>
            <span class="label label-warning" *ngSwitchCase="statusList.WaitingForMoreInfo">{{'Waiting Information' | translate}}</span>
        </clr-dg-cell>

        <clr-dg-cell>{{kyc.lastUpdated}}</clr-dg-cell>
        <clr-dg-cell class="actions">
            <div *ngIf="buttonToDisplay(kyc.status) === 'view'">
                <button class="btn btn-sm">
                    {{'View' | translate}}
                </button>
            </div>
            <div *ngIf="buttonToDisplay(kyc.status) === 'complete'">
                <button class="btn btn-orange btn-sm">
                    {{'To complete' | translate}}
                </button>
            </div>
        </clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>