<div class="header-breadcrumbs">
    <h1><i class="fa fa-list"></i> {{ 'My Requests' | translate }}</h1>
</div>

<div class="wrapper wrapper-content">

    <clr-tabs>
        <clr-tab>
            <button clrTabLink>
                {{ 'Overview' | translate }}
            </button>

            <ng-template [(clrIfActive)]="isListDisplayed">
                <clr-tab-content>
                    <div class="information mb-1">
                        <p class="m-0">
                            {{ 'In this submodule, you can select the Asset Management Companies you want to work with and follow the status of your requests' | translate }}
                        </p>
                        <button (click)="newRequestModal = true" class="btn btn-primary m-0" id="kyc-newRequestBtn">
                            {{ 'Make New Request' | translate }}
                        </button>
                    </div>

                    <my-requests-list [kycList]="kycList" (selectedKyc)="selectedKyc($event)"></my-requests-list>
                </clr-tab-content>
            </ng-template>
        </clr-tab>

        <clr-tab *ngFor="let tab of tabs; let index = index">
            <button clrTabLink>
                {{ 'Detail' | translate }}: {{tab.companyName}}
                <i class="fa fa-times-circle text-warning" id="MyRequestsCloseBtn_{{index}}" (click)="closeTab(index)" [ngStyle]="{'margin-left': '14px', 'font-size':'18px'}"></i>
            </button>

            <ng-template [(clrIfActive)]="tab.displayed">
                <clr-tab-content>
                    <my-requests-details [kycID]="tab.kycID"></my-requests-details>
                </clr-tab-content>
            </ng-template>
        </clr-tab>
    </clr-tabs>

</div>

<clr-modal [(clrModalOpen)]="newRequestModal">
    <div class="modal-title">{{'Make a new request' | translate}}</div>
    <div class="modal-body">

        <div class="p-1">
            <clr-alert [clrAlertSizeSmall]="true" [clrAlertType]="'alert-info'" [clrAlertClosable]="false">
                <div class="alert-item">
                    <span class="alert-text">
                        {{ 'In order to save you time and not fill in the form again, you can duplicate an already sent request.' | translate }}
                    </span>
                </div>
            </clr-alert>
        </div>

        <form [formGroup]="choices" class="mb-3">
            <div class="radio-inline opt-btn-element">
                <input type="radio" id="opt-type-scratch" value="scratch" formControlName="choice">
                <label for="opt-type-scratch">{{'Make a request from scratch' | translate}}</label>
            </div>
            <div class="radio-inline opt-btn-element">
                <input type="radio" id="opt-type-duplicate" value="duplicate" formControlName="choice">
                <label for="opt-type-duplicate">{{'Duplicate a request' | translate}}</label>
            </div>

            <div class="selector">
                <ng-select [items]="kycListSelect" [formControl]="choices.get('selected')" placeholder="{{'Select previous request' | translate}}" [disabled]="choices.get('choice').value === 'scratch'"></ng-select>
                <small class="txtRed" *ngIf="hasError()">
                    {{'Select a KYC to duplicate' | translate}}
                </small>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn" (click)="newRequestModal = false">{{'Cancel' | translate}}</button>
        <button class="btn btn-primary" (click)="handleConfirm()">{{'Validate' | translate}}</button>
    </div>
</clr-modal>