.information{
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.radio-inline{
    display: block;
}

.selector{
    margin-top: 0.5rem
}

.modal-body{
    overflow-y: visible;
}